<?xml version='1.0' encoding='utf-8'?>
<widget id="com.wnyfoodweb.foodweb" version="2.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:android="http://schemas.android.com/apk/res/android" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>FoodWeb</name>
    <description>
        Our mission is to help alleviate hunger and prevent the waste of food.
        With our proprietary platform and our network of volunteers, we will enable local businesses to easily and quickly donate their excess food to local charities.
    </description>
    <author email="foodweb.manager@gmail.com" href="https://www.wnyfoodweb.com">
        FoodWeb Team
    </author>
    <plugin name="cordova-plugin-whitelist" spec="1" />
    <content src="index.html" />
    <access origin="*" />
    <allow-navigation href="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <allow-intent href="fb:*" />
    <allow-intent href="twitter:*" />
    <allow-intent href="youtube:*" />
    <allow-intent href="linkedin:*" />
    <allow-intent href="pinterest:*" />
    <allow-intent href="instagram:*" />
    <allow-intent href="snapchat:*" />
    <icon src="res/icon.png" />
    <platform name="android">
        <allow-intent href="market:*" />
        <edit-config file="app/src/main/AndroidManifest.xml" mode="merge" target="/manifest/application">
            <application android:usesCleartextTraffic="true" />
        </edit-config>
        <preference name="CodePushDeploymentKey" value="YsZZBYU-bVuHZZOapXW_qYeuzA_lTgBE2ND2K" />
        <resource-file src="google-services.json" target="app/google-services.json" />
        <resource-file src="res/android/icon/notification/icon-mdpi.png" target="app/src/main/res/drawable-mdpi/notification.png" />
        <resource-file src="res/android/icon/notification/icon-hdpi.png" target="app/src/main/res/drawable-hdpi/notification.png" />
        <resource-file src="res/android/icon/notification/icon-xhdpi.png" target="app/src/main/res/drawable-xhdpi/notification.png" />
        <resource-file src="res/android/icon/notification/icon-xxhdpi.png" target="app/src/main/res/drawable-xxhdpi/notification.png" />
        <resource-file src="res/android/icon/notification/icon-xxxhdpi.png" target="app/src/main/res/drawable-xxxhdpi/notification.png" />
        <splash density="mdpi" src="res/android/splash/drawable-mdpi/splash.9.png" />
        <splash density="hdpi" src="res/android/splash/drawable-hdpi/splash.9.png" />
        <splash density="xhdpi" src="res/android/splash/drawable-xhdpi/splash.9.png" />
        <splash density="xxhdpi" src="res/android/splash/drawable-xxhdpi/splash.9.png" />
        <splash density="xxxhdpi" src="res/android/splash/drawable-xxxhdpi/splash.9.png" />
        <preference name="ShowSplashScreenSpinner" value="false" />
        <preference name="AutoHideSplashScreen" value="false" />
        <preference name="SplashMaintainAspectRatio" value="true" />
        <preference name="AndroidLaunchMode" value="singleTop" />
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
        <preference name="CodePushDeploymentKey" value="9_b4tYbhozF87Ds-JMbRrq7EAbaht3cEfCSfs" />
        <resource-file src="google-services.json" target="app/google-services.json" />
        <icon height="57" src="res/ios/icon/icon.png" width="57" />
        <icon height="114" src="res/ios/icon/icon@2x.png" width="114" />
        <icon height="40" src="res/ios/icon/icon-40.png" width="40" />
        <icon height="80" src="res/ios/icon/icon-40@2x.png" width="80" />
        <icon height="120" src="res/ios/icon/icon-40@3x.png" width="120" />
        <icon height="50" src="res/ios/icon/icon-50.png" width="50" />
        <icon height="100" src="res/ios/icon/icon-50@2x.png" width="100" />
        <icon height="60" src="res/ios/icon/icon-60.png" width="60" />
        <icon height="120" src="res/ios/icon/icon-60@2x.png" width="120" />
        <icon height="180" src="res/ios/icon/icon-60@3x.png" width="180" />
        <icon height="72" src="res/ios/icon/icon-72.png" width="72" />
        <icon height="144" src="res/ios/icon/icon-72@2x.png" width="144" />
        <icon height="76" src="res/ios/icon/icon-76.png" width="76" />
        <icon height="152" src="res/ios/icon/icon-76@2x.png" width="152" />
        <icon height="167" src="res/ios/icon/icon-83.5@2x.png" width="167" />
        <icon height="29" src="res/ios/icon/icon-small.png" width="29" />
        <icon height="58" src="res/ios/icon/icon-small@2x.png" width="58" />
        <icon height="87" src="res/ios/icon/icon-small@3x.png" width="87" />
        <icon height="1024" src="res/ios/icon/icon-1024.png" width="1024" />
        <splash height="1136" src="res/ios/splash/Default-568h@2x~iphone.png" width="640" />
        <splash height="1334" src="res/ios/splash/Default-667h.png" width="750" />
        <splash height="2208" src="res/ios/splash/Default-736h.png" width="1242" />
        <splash height="1242" src="res/ios/splash/Default-Landscape-736h.png" width="2208" />
        <splash height="1536" src="res/ios/splash/Default-Landscape@2x~ipad.png" width="2048" />
        <splash height="2048" src="res/ios/splash/Default-Landscape@~ipadpro.png" width="2732" />
        <splash height="768" src="res/ios/splash/Default-Landscape~ipad.png" width="1024" />
        <splash height="2048" src="res/ios/splash/Default-Portrait@2x~ipad.png" width="1536" />
        <splash height="2732" src="res/ios/splash/Default-Portrait@~ipadpro.png" width="2048" />
        <splash height="1024" src="res/ios/splash/Default-Portrait~ipad.png" width="768" />
        <splash height="960" src="res/ios/splash/Default@2x~iphone.png" width="640" />
        <splash height="480" src="res/ios/splash/Default~iphone.png" width="320" />
        <splash height="2732" src="res/ios/splash/Default@2x~universal~anyany.png" width="2732" />
    </platform>
    <universal-links>
        <host name="www.wnyfoodweb.com" scheme="https" />
        <host name="www.wnyfoodweb.com" scheme="http" />
        <host name="10.0.0.2" scheme="https" />
        <host name="10.0.0.2" scheme="http" />
        <host name="127.0.0.1" scheme="https" />
        <host name="127.0.0.1" scheme="http" />
    </universal-links>
</widget>
