<?xml version='1.0' encoding='utf-8'?>
<widget id="com.wnyfoodweb.foodweb" version="2.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:android="http://schemas.android.com/apk/res/android" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>FoodWeb</name>
    <description>
        Our mission is to help alleviate hunger and prevent the waste of food.
        With our proprietary platform and our network of volunteers, we will enable local businesses to easily and quickly donate their excess food to local charities.
    </description>
    <author email="foodweb.manager@gmail.com" href="https://www.wnyfoodweb.com">
        FoodWeb Team
    </author>
    <plugin name="cordova-plugin-whitelist" spec="1" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <icon src="res/icon/icon.png" />
    <platform name="android">
        <allow-intent href="market:*" />
        <edit-config file="app/src/main/AndroidManifest.xml" mode="merge" target="/manifest/application">
            <application android:usesCleartextTraffic="true" />
        </edit-config>
        <resource-file src="google-services.json" target="app/google-services.json" />
        <resource-file src="res/icon/notification/android/icon-mdpi.png" target="app/src/main/res/drawable-mdpi/notification.png" />
        <resource-file src="res/icon/notification/android/icon-hdpi.png" target="app/src/main/res/drawable-hdpi/notification.png" />
        <resource-file src="res/icon/notification/android/icon-xhdpi.png" target="app/src/main/res/drawable-xhdpi/notification.png" />
        <resource-file src="res/icon/notification/android/icon-xxhdpi.png" target="app/src/main/res/drawable-xxhdpi/notification.png" />
        <resource-file src="res/icon/notification/android/icon-xxxhdpi.png" target="app/src/main/res/drawable-xxxhdpi/notification.png" />
        <splash src="res/splash/android/drawable-mdpi/splash.9.png" density="mdpi" />
        <splash src="res/splash/android/drawable-hdpi/splash.9.png" density="hdpi" />
        <splash src="res/splash/android/drawable-xhdpi/splash.9.png" density="xhdpi" />
        <splash src="res/splash/android/drawable-xxhdpi/splash.9.png" density="xxhdpi" />
        <splash src="res/splash/android/drawable-xxxhdpi/splash.9.png" density="xxxhdpi" />
        <preference name="ShowSplashScreenSpinner" value="false" />
        <preference name="AutoHideSplashScreen" value="false" />
        <preference name="SplashMaintainAspectRatio" value="true" />
        <preference name="AndroidLaunchMode" value="singleTop" />
        <hook src="scripts/fix-google-services-dependency.js" type="before_build" />
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
    </platform>
    <universal-links>
        <host name="www.wnyfoodweb.com" scheme="https" />
        <host name="www.wnyfoodweb.com" scheme="http" />
        <host name="10.0.0.2" scheme="https" />
        <host name="10.0.0.2" scheme="http" />
    </universal-links>
    <allow-navigation href="http://localhost:8100" sessionid="3948c099" />
</widget>
