<foodweb-page-list class="donations">

  <foodweb-page-list-title>
    {{ pageTitleService.title }}
  </foodweb-page-list-title>

  <foodweb-page-list-toolbar listItemsLabel="Donations">
    <foodweb-search-bar
      placeholder="Search Donations..."
      [formControl]="filtersForm.get('fullTextQuery')"
      (search)="listQueryService.refresh()"
    ></foodweb-search-bar>
  </foodweb-page-list-toolbar>

  <foodweb-page-list-content>
    <div class="col-lg-6" *ngFor="let donation of listQueryService.items">
      <foodweb-donation-teaser [donation]="donation"></foodweb-donation-teaser>
    </div>
  </foodweb-page-list-content>

  <foodweb-page-list-empty *ngIf="listQueryService.noneFound">
    Could Not Find Any Donations
  </foodweb-page-list-empty>

  <foodweb-paginator [length]="listQueryService.totalCount"></foodweb-paginator>

  <foodweb-page-list-filters>
    <foodweb-donation-filters
      [formGroup]="filtersForm"
      (clear)="filtersForm.resetFacetFilters()"
      (filter)="listQueryService.refresh()"
    ></foodweb-donation-filters>
  </foodweb-page-list-filters>

</foodweb-page-list>
