@import "variables.scss";

.account-teaser {
  .mat-card-header {

    .mat-card-subtitle {
      font-weight: 500;
    }

    &.no-subtitle {
      margin-bottom: 4px;

      .mat-card-title {
        margin-top: 6px;
      }
    }
  }

  .mat-card-content {
    margin-bottom: 8px;
  }
}
