<div class="page container">
  <mat-accordion multi>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>How can I volunteer with FoodWeb?</mat-panel-title>
      </mat-expansion-panel-header>

      <p class="answer">
        There are two main ways that you can volunteer with FoodWeb. The first is by signing up
        to donate sandwich meals to our drop-off hubs. This means that you would prepare sandwich
        meals and deliver them to a specified drop-off location on the Saturdays that you register for.
        The second way to volunteer is to register your home as a drop-off hub. This means that people
        would drop their meals off at your home and you would deliver all of them to the Norman Paolini
        Jr House of Recovery (Good Shepherd Residence), which is located at St. Luke's Mission of Mercy.
      </p>
    </mat-expansion-panel>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>What should I make for the sandwich drive?</mat-panel-title>
      </mat-expansion-panel-header>

      <p class="answer">
        We ask that you prepare at least 20 individually wrapped sandwiches (i.e. turkey
        sandwiches, peanut butter & jelly sandwiches, ham & cheese sandwiches, etc.). Please also try
        to include a snack, such as a granola bar or chips, and a piece of fruit (preferably not bananas)
        with each sandwich.
      </p>
    </mat-expansion-panel>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>How can I sign up to volunteer?</mat-panel-title>
      </mat-expansion-panel-header>

      <p class="answer">
        Click the “<i>Volunteer</i>” button on our website and then click the “<i>Register</i>” button under the
        type of volunteer work you would like to do (either making sandwiches or signing up as a
        drop-off hub). You will then be given more steps to complete in order to sign up as well as
        further instructions.
      </p>
    </mat-expansion-panel>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>When do I drop off my sandwiches?</mat-panel-title>
      </mat-expansion-panel-header>

      <p class="answer">
        If you are volunteering to make sandwiches and drop them off at a local hub, you will get
        to select a hub based on the day you are volunteering. Collection days are on Saturdays and
        your drop-off time window will be based on the hub you select when signing up to volunteer.
      </p>
    </mat-expansion-panel>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>How can I donate to FoodWeb?</mat-panel-title>
      </mat-expansion-panel-header>

      <p class="answer">
        You can donate to us through our <a href="https://www.gofundme.com/f/help-foodweb-expand-its-reach-and-operations" target="_blank">GoFundMe</a>
        page which is linked on our website.
      </p>
    </mat-expansion-panel>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>Can organizations / businesses volunteer with FoodWeb?</mat-panel-title>
      </mat-expansion-panel-header>

      <p class="answer">
        Yes! Organizations and businesses can help by either fundraising for us or by signing up
        to make sandwiches for our hubs.
      </p>
    </mat-expansion-panel>
  </mat-accordion>
</div>
