@import "constants.scss";

.list-filters-title {
  position: relative;
  font-size: 18px;
  line-height: 18px;
  font-weight: bold;
  color: $accent-darker;
  text-align: center;
  margin: 15px -10px 10px;
  padding: 10px;
  background-color: #efefef;

  &.primary {
    margin-top: -6px;

    .close-button {
      position: absolute;
      display: none;
      top: -1px;
      right: 8px;

      @media only screen and (max-width: $mat-mobile) {
        display: block;
      }
    }
  }

  @media only screen and (max-width: $mat-mobile) {
    font-size: 18px;
    line-height: 18px;
  }
}
