<ion-header>
  <foodweb-hybrid-header defaultBackHref="../..">
    <ion-label>Pledge Donation</ion-label>
    <ion-buttons slot="end">
      <ion-button type="submit" fill="clear" (click)="donate()">Submit</ion-button>
    </ion-buttons>
  </foodweb-hybrid-header>
</ion-header>

<ion-content>
  <form [formGroup]="formGroup" class="donation-hub-donate-form" (ngSubmit)="donate()">

    <ion-card>
      <ion-card-header>
        <ion-card-title>
          <ion-label>Describe Your Donation</ion-label>
        </ion-card-title>
      </ion-card-header>

      <ion-card-content>
        <foodweb-hybrid-donation-hub-pledge-form [formGroup]="formGroup"></foodweb-hybrid-donation-hub-pledge-form>
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>
        <ion-card-title>
          <ion-label>Please Agree To Our Volunteer Guidelines</ion-label>
        </ion-card-title>
      </ion-card-header>

      <ion-card-content>
        <ul class="call-to-action-list">
          <li>
            <a href="https://www.fda.gov/food/buy-store-serve-safe-food/safe-food-handling">Food Safety Measures</a>
          </li>
          <li>
            <a href="https://www.cdc.gov/coronavirus/2019-ncov/symptoms-testing/symptoms.html">COVID-19 Symptoms</a>
          </li>
        </ul>

        <foodweb-hybrid-requirements-checklist
          formControlName="agreementChecklist"
          [checklistMembers]="agreementChecklistMembers"
          checkAll="I agree to all above.">
        </foodweb-hybrid-requirements-checklist>
      </ion-card-content>
    </ion-card>

    <div class="action-footer">
      <ion-button type="submit" color="primary" expand="block">Submit Donation</ion-button>
    </div>

  </form>
</ion-content>
