@import "variables.scss";

.primary-info {
  --padding-top: 8px;
  --padding-bottom: var(--padding-top);

  margin-bottom: 25px;
  border-top: 1px solid var(--ion-border-color);
  border-bottom: 1px solid var(--ion-border-color);

  .foodweb-profile-img {
    width: 60px;
    margin-left: 0;
    margin-right: 10px;
  }

  .account-descr {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    overflow: hidden;
    color: #666;
    font-size: 14px;
    line-height: 1.15;
  }
}

.account-not-verified {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  color: var(--ion-danger-color);
  font-weight: bold;

  ion-label {
    display: block;
    font-size: 16px;
  }

  ion-button {
    height: 20px;
  }
}

.secondary-list {
  > ion-item {
    --detail-icon-opacity: 1;
  }

  .message-us {
    --detail-icon-color: var(--ion-color-primary);
  }

  .donors {
    --detail-icon-color: var(--ion-color-donor);
  }

  .receivers {
    --detail-icon-color: var(--ion-color-receiver);
  }

  .about {
    --detail-icon-color: var(--ion-color-secondary);
  }

  .privacy-statement {
    --detail-icon-color: var(--ion-color-tertiary);
  }

  .logout {
    --detail-icon-color: var(--ion-color-danger);
  }
}
