@import "constants.scss";

.donation-details-container {
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;

  .donation-details-form {
    .donation-primary-label {
      font-weight: bold;
      font-size: 18px;
    }

    .delete-button {
      margin-right: 7px;
    }

    .primary-donation-details {
      .donation-details-subtitle {
        margin-right: 7px;
      }
  
      .donation-status {
        position: absolute;
        right: 0px;
        top: 0px;
        font-size: 13px;
    
        @media only screen and (max-width: 450px) {
          position: relative;
          font-size: 11px;
        }
      }

      .readonly-donation {
        margin-bottom: -7px;
  
        .inline-label {
          margin-bottom: 0px;
        }
  
        > div:not(.col-br) {
          margin-bottom: 7px;
          display: inline-block;
        }

        .created-date-time,
        .updated-date-time {
          max-height: 18px;
          overflow: hidden;
        }
      }
    }
  }

  .delivery-map-card {
    border-top: 2px solid rgba(0, 0, 0, 0.2);
    border-right: 2px solid rgba(0, 0, 0, 0.2);
    border-bottom: 1px solid rgba(0, 0, 0, 0.07);
    border-left: 2px solid rgba(0, 0, 0, 0.2);
    border-radius: 0;

    .mat-card-content {
      margin: -17px;
    }
  }

  .pickup-information-container,
  .drop-off-information-container {
    .row {
      margin-bottom: -12px;

      > div {
        margin-bottom: 12px;
      }
    }
  }

  .donor-info-container,
  .receiver-info-container,
  .deliverer-info-container {
    .account-name {
      font-weight: bold;
    }

    .mat-card-actions {
      padding: 0;
    }
  }

  .deliverer-info-container {
    margin-left: auto;
    margin-right: auto;
  }

  @media only screen and (max-width: $mat-mobile) {
    .mat-card-title {
      font-size: 16px;
    }

    .inline-label,
    .inline-label + * {
      font-size: 13px;
    }

    .donation-description-container span {
      font-size: 14px;
    }
  }
}

.mat-card-content {
  margin-bottom: 0;
}
