<StackLayout class="text-field-inner">
  <GridLayout class="nt-input" [columns]="columnsSchema" [foodwebAppVisibile]="visible" [ngClass]="gridNgClass" [rows]="rowsSchema">
    <Label #labelRef
      class="label"
      column="0"
      row="0"
      text="{{ label }} "
      [foodwebAppVisibile]="label"
    ></Label>

    <TextField #textFieldRef
      [autocapitalizationType]="autocapitalizationType"
      [autocorrect]="autocorrect"
      [colSpan]="textFieldColSpan"
      [column]="textFieldColumn"
      [editable]=editable
      [foodwebAppVisibile]="textFieldVisible"
      [formControl]="formControl"
      [hint]="hint"
      [keyboardType]="keyboardType"
      [letterSpacing]="letterSpacing"
      [lineHeight]="lineHeight"
      [maxLength]="maxLength"
      [returnKeyType]="returnKeyType"
      [row]="textFieldRow"
      [secure]="secure"
      [secureWithoutAutofill]="secureWithoutAutofill"
      [text]="text"
      [textAlignment]="textAlignment"
      [textDecoration]="textDecoration"
      [textTransform]="textTransform"
      [whiteSpace]="whiteSpace"
      (blur)="blur.emit($event)"
      (focus)="focusOutput.emit($event)"
      (returnPress)="onReturnPress($event)"
      (tap)="textFieldTap.emit($event)"
      (textChange)="textChange.emit($event)"
    ></TextField>

    <Label #readonlyRef
      class="readonly-value"
      [column]="textFieldColumn"
      [colSpan]="textFieldColSpan"
      [foodwebAppVisibile]="readonlyLabelVisible"
      [row]="textFieldRow"
      [text]="readonlyText"></Label>

    <StackLayout *ngIf="editableToggle" class="editable-toggle-container pull-right" row="0" [column]="editableToggleColumn">
      <foodweb-app-edit-save-button
        [control]="formControl"
        [editable]="editable"
        (edit)="setEditable($event)"
        (save)="save.emit($event)"></foodweb-app-edit-save-button>
    </StackLayout>
  </GridLayout>

  <StackLayout *ngIf="errorsVisible" class="error-container text-danger">
    <Label *ngIf="requiredErrorVisible; else otherErrs" [text]="requiredErrorMsg"></Label>
    <ng-template #otherErrs>
      <ng-content select=".error"></ng-content>
    </ng-template>
  </StackLayout>
</StackLayout>
