@import "constants.scss";

.text-field-inner {
  GridLayout.nt-input {
    $value-padding: 7;

    .label {
      padding: $value-padding 0;
    }

    TextField {
      background-color   : $input-background;
      border-bottom-width: 0;
      padding            : $value-padding 0;
      placeholder-color  : $input-placeholder-color;

      &.ng-valid {
        margin-bottom: 0;
      }
    }

    .readonly-value {
      color  : black;
      padding: $value-padding 0;
    }

    .editable-toggle-container {
      height: 30;
    }

    &.editable {
      Label.readonly-value {
        background-color: $input-background;
      }

      &.error {
        Label.readonly-value {
          background-color: $input-error-background;
        }
      }
    }

    &.error {
      TextField {
        background-color: $input-error-background;
      }

      &.horizontal {
        .editable-toggle-container {
          background-color: $input-error-background;
        }
      }
    }

    &.horizontal {
      TextField,
      Label.readonly-value {
        padding     : $value-padding;
        padding-left: 0;
      }

      &.editable {
        .editable-toggle-container {
          background-color: $input-background;
        }
      }
    }

    &.underline {
      border-bottom-color: $input-border-color;
      border-bottom-width: 1;
    }
  }

  .error-container {
    font-size: 10;
    margin   : -5 $input-gutter-width 0;
  }
}
