.donation-container {
  .donation-form {
    .donate-form-description {
      overflow-y: hidden;
    }
  }

  .donation-display {
    .inline-label {
      width: 120px;
    }

    @media only screen and (max-width: 767px) {
      .d-inline-block.desktop {
        display: block;
      }
    }
  }
}
