@import "variables.scss";

.login-menu-button {
  .mat-icon {
    font-size: 35px;
    vertical-align: -13px;
    margin-left: -10px;
  }

  @media only screen and (max-width: $md) {
    margin-top: -3px;
  }
}
