<form [formGroup]="donationHubForm" class="donation-hub-registration-form page" (submit)="register()">

  <div class="page-title">{{ pageTitleService.title }}</div>

  <p class="standalone-statement">
    <strong>Donation Hubs</strong> are designated locations for sandwich-makers to drop off their bagged lunches between <strong>1:30-2:30 pm</strong> on the date of the sandwich drive.
    Volunteers from the hubs must transport the sandwiches to <strong>St. Luke’s Mission for Mercy</strong> before <strong>3:30 pm</strong>.
    <br><br>
    Drivers will go to the <strong>Good Shepherd House</strong>. It is located by turning left after entering St. Luke’s parking lot, turning left through a side road, and finally taking a quick left.
    Drop off the sandwiches on the porch, and then call <strong>Gino</strong> at <strong><a href="tel:716-830-1413">(716) 830-1413</a></strong> to let him know to pick them up.
  </p>

  <mat-card *ngIf="minRegisterDate < christmasDayDate" class="christmas-special">
    <mat-card-title>
      <strong>SPECIAL: Christmas Eve Schedule</strong>
    </mat-card-title>

    <mat-card-content>
      <ul>
        <li><strong>Pledgers</strong>: Drop off your donations between <strong>10:30-11:30 am</strong>.</li>
        <li><strong>Hub Owners</strong>: Deliver all donation drop-offs to St. Luke's at <strong>12:30 pm</strong>.</li>
      </ul>
    </mat-card-content>
  </mat-card>

  <mat-card>
    <mat-card-title>
      Let Us Know Your Availability
    </mat-card-title>

    <mat-card-content>
      <div class="row">
        <div class="col-md-6 col-12">
          <foodweb-date
            floatLabels="never"
            formControlName="dropOffDate"
            placeholder="Drop-off Date"
            [dateFilter]="filterDateSaturday"
            [editable]="true"
            [minDate]="minRegisterDate"
          ></foodweb-date>
        </div>
      </div>
    </mat-card-content>
  </mat-card>

  <mat-card>
    <mat-card-title>Give Drop-Off Instructions</mat-card-title>
    <mat-card-content>
      <mat-form-field class="fill" floatLabel="never">
        <textarea matInput formControlName="dropOffInstructions" placeholder="e.g. Ring doorbell and leave the lunches on the porch."></textarea>
      </mat-form-field>
    </mat-card-content>
  </mat-card>

  <mat-card>
    <mat-card-title>Contact Info</mat-card-title>
    <mat-card-content>
      <foodweb-contact-info formGroupName="contactOverride" [editable]="true"></foodweb-contact-info>
    </mat-card-content>
  </mat-card>

  <mat-card>
    <mat-card-title>
      Please Agree To Our Volunteer Guidelines
    </mat-card-title>

    <mat-card-content>
      <ul class="call-to-action-list">
        <li>
          <a class="call-to-action" href="https://www.fda.gov/food/buy-store-serve-safe-food/safe-food-handling">Safety Measures</a>
        </li>
        <li>
          <a class="call-to-action" href="https://www.cdc.gov/coronavirus/2019-ncov/symptoms-testing/symptoms.html">COVID-19 Symptoms</a>
        </li>
      </ul>
      <foodweb-requirements-checklist
        formControlName="agreementChecklist"
        [checklistMembers]="agreementChecklistMembers"
        checkAll="Agree to all">
      </foodweb-requirements-checklist>
    </mat-card-content>
  </mat-card>

  <div class="action-footer align-right">
    <button mat-raised-button type="submit" color="primary">Register</button>
  </div>

</form>
