<div class="password-container" [foodwebDisplayEditTransition]="editable" [form]="passwordFormTmpl" [display]="passwordDisplay">
  <div #passwordFormTmpl [formGroup]="passwordForm" class="password-form row" [attr.aria-hidden]="!editable">
    <div class="col-sm-6">
      <mat-form-field class="fill">
        <input matInput [placeholder]="passwordLabel" formControlName="password" type="password" autocomplete="new-password">
        <mat-error *ngIf="passwordForm.get('password').hasError('pattern')">
          At least 6 characters required
        </mat-error>
      </mat-form-field>
    </div>
    <div class="col-sm-6">
      <mat-form-field class="fill">
        <input matInput placeholder="Confirm Password" formControlName="confirmPassword" type="password" [errorStateMatcher]="passwordForm.passwordMatchErrStateMatcher">
        <mat-error *ngIf="passwordForm.hasError('passwordConfirmMatch')">
          {{ passwordForm.getError('passwordConfirmMatch') }}
        </mat-error>
      </mat-form-field>
    </div>
  </div>

  <div #passwordDisplay class="password-display" [attr.aria-hidden]="editable">
    <div class="inline-label">Password:</div>
    <div class="d-inline-block">******</div>
  </div>
</div>
