<foodweb-app-page pageTitle="FoodWeb Signup" [inScrollView]="false">
  <foodweb-app-account-creation-form
    *ngIf="!sessionService.loggedIn"
    (createAccount)="signup($event)"
    accountTypeSelTitle="Select Your Account Type"
    submitButtonTxt="Signup">
  </foodweb-app-account-creation-form>
</foodweb-app-page>

<!-- <div class="signup page container">
  <foodweb-account-creation-form
    *ngIf="!sessionService.loggedIn"
    (createAccount)="signup($event)"
    accountTypeSelTitle="Select Your Account Type"
    submitButtonTxt="Signup">
  </foodweb-account-creation-form>

  <mat-card *ngIf="sessionService.loggedIn">
    <mat-card-title>Welcome to FoodWeb!</mat-card-title>
    <mat-card-content>
      <p>Please confirm your signup by following the link sent to your email.</p>
      <div class="signup-success-button-container align-right">
        <button mat-button *ngIf="!sessionService.account.verified" color="accent" type="button" (click)="signupVerificationService.resendVerificationEmail()">
          Resend Verification Email
        </button>
        <a [routerLink]="['/home']">
          <button mat-raised-button color="primary" type="button">
            Home
          </button>
        </a>
      </div>
    </mat-card-content>
  </mat-card>
</div> -->
