@import "../../../../../../web/src/app/filtered-list/child-components/filtered-list/filtered-list.component.scss";

ion-refresher {
  position: static;
}

.end-list-message {
  font-size: 14px;
  color: var(--ion-color-secondary);
}
