<ion-header [class]="class" [ngClass]="ngClass">
  <ion-toolbar class="main-header-section">
    <ion-buttons slot="start">
      <ion-back-button
        *ngIf="!hideBackHref"
        [defaultHref]="defaultBackHref"
        class="header-primary-button">
      </ion-back-button>
      <ng-content select="[slot='start']"></ng-content>
    </ion-buttons>

    <ng-content></ng-content>

    <div class="non-blocking-page-progress-indicator" *ngIf="pageProgressService.showNonBlockingProgress">
      <ion-progress-bar [color]="pageProgressService.color" type="intermediate"></ion-progress-bar>
    </div>
  </ion-toolbar>
</ion-header>
