.donate-form {
  position: relative;
  text-align: center;
  width: 100%;
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;

  .donate-card {
    display: inline-block;
    text-align: left;
    width: 100%;

    .donate-form-title {
      text-align: center;
    }

    .safety-checklist-err {
      font-size: 12px;
      margin-top: -7px;
    }
  }

  .action-footer {
    button {
      min-width: 100px;
    }
  }

  &.submitted {
    .donate-card {
      max-width: 600px;

      .view-donation-link {
        display: inline-block;
        margin-left: 7px;
      }
    }
  }
}
