<div class="about-container">
  <div class="page-title block-label">
    About FoodWeb
  </div>
  
  <p class="mission-statement">
    Our mission is to help alleviate hunger and prevent the waste of food. With our proprietary platform and our network of volunteers,
    we will enable local businesses to easily and quickly donate their excess food to local charities.
  </p>
  
  <mat-card class="origin-story-container">
    <mat-card-title class="mobile-origin-story-title">
      <span>Our Origin Story</span>
    </mat-card-title>
    <hr>
    <mat-card-content>
      <img src="/assets/IconImgMd.png" class="origin-story-img">

      <div class="desktop-origin-story-title">
        Our Origin Story
      </div>

      <p>
        In 2015, Reena was on the board of the United Way (yes, she's kind of a big deal) and was helping to start a new initiative challenging young professionals
        to get involved in the community.  That initiative turned into a massive "pitch" convention.  (OK, it was more of a gala.  Or like a small festival.
        Actually, it was a happy hour.  And it wasn’t at a bar.  And the drinks weren’t free.)  The idea was to give a forum to anyone willing to pitch an idea to the
        community (also known as happy hour attendees), who would then vote on the ideas and the top 3 would be provided with United Way support to turn the idea into a reality. 
      </p>
  
      <p>
        In anticipation of this event, PJ and Reena came up with the FoodWeb concept.  Well, actually, PJ came up with the idea, but since Reena put him on the spot
        and demanded that he come up with something, she likes to take credit.  PJ was struck by how much food was thrown out - at sporting events, meetings, weddings -
        when it could be given to people who were hungry.  So, PJ pitched his idea: Let’s mobilize volunteer drivers to volunteer a few minutes of their time, on their
        own schedule, to take food from places that would throw it out and give it to people who will use it!   The crowd went wild....and FoodWeb was born!
      </p>
  
      <p>
        Well...not quite yet.  While PJ (and Reena and lots of happy hour attendees) loved the idea, they needed a little help to put it into action.
        So...enter Shayan Ghose.  Shayan and Reena go back (like...really back; Reena used to babysit Shayan, and according to her she still has to babysit him).
        Reena knew that Shayan was back in the Buffalo area and looking for a project to sink his teeth into, and so she connected him to PJ at...wait for it...another
        United Way pitch event!  PJ and Shayan connected immediately....joined together by their shared dismay that really good food was being wasted when they
        (and others, of course) could be eating it.  And FoodWeb was born!
      </p>
  
      <p>
        Actually, still not quite yet. Shayan put together a team of volunteer coders and software developers (i.e., really smart high school students who were willing
        to code for pizza) who spent a TON of time creating a website to coordinate donors, drivers, and receivers.  Shayan then brought in Mark Nemmer (Shayan had to beg,
        it was pathetic), who became our fearless head of technology, to bring together all the hard work and get the website into final form!  And surely then, FoodWeb was born!
      </p>
  
      <p>
        But it wasn’t yet.  We needed Maggie!!!  Our fearless attorney (one of the number of attorneys involved in FoodWeb) who figured out the guidelines for legal and safe
        food donation and also put FoodWeb on the path toward incorporation.  But the group was finally complete when Andrew, another fearless attorney (told you) joined and
        came up with the brilliant idea to involve school districts in the project!
      </p>
  
      <p>
        And with that...FoodWeb was born!!!!
      </p>
    </mat-card-content>
  </mat-card>
</div>
