@import "variables.scss";

.volunteer-container {
  .volunteer-display {
    .col-sm-6 {
      margin-bottom: 12px;

      &:last-child {
        margin-bottom: 0;
      }
    }

    .d-inline-block {
      vertical-align: top;
    }
  }
}
