<ion-item [formField]="formControl" *ngIf="editable; else displayTmpl" [ngClass]="{ stacked: labelPosition !== 'fixed' }">
  <ion-label [position]="labelPosition">{{ label }}</ion-label>
  <ion-datetime
    [displayFormat]="displayFormat"
    [formControl]="formControl.preConvertControl"
    [min]="minDate | date : 'YYYY-MM-dd'"
    [minuteValues]="minuteValues">
  </ion-datetime>
</ion-item>

<ng-template #displayTmpl>
  <span [ngClass]="{ bold: boldDate | toBoolean }" [style.minWidth]="minDateWidth" class="date-display">
    {{ value | foodwebFormatDate }}
  </span>

  <span *ngIf="value" [ngClass]="{ bold: boldTime | toBoolean }" class="time-display">
    {{ value }}
  </span>
</ng-template>
