<ion-item *ngIf="editable; else displayTmpl" [ngClass]="{ stacked: labelPosition !== 'fixed' }">
  <ion-label [position]="labelPosition" color="secondary">{{ label }}</ion-label>
  <ion-datetime
    [displayFormat]="displayFormat"
    [formControl]="dateTimeFormControl"
    [max]="maxDate | date : 'YYYY-MM-dd'"
    [min]="minDate | date : 'YYYY-MM-dd'"
    [minuteValues]="0 | range : 60 : minutesGap">
  </ion-datetime>
</ion-item>

<ng-template #displayTmpl>
  <span
    *ngIf="value && !excludeDate && !excludeDateDisplay"
    [ngClass]="{ bold: boldDate | toBoolean }"
    [style.minWidth]="minDateWidth"
    class="date-display">
    {{ value | foodwebFormatDate }}
  </span>

  <span
    *ngIf="value && !excludeTime && !excludeTimeDisplay"
    [ngClass]="{ bold: boldTime | toBoolean }"
    class="time-display">
    {{ value | foodwebFormatTime }}
  </span>
</ng-template>
