<foodweb-filtered-list class="accounts">

  <foodweb-filtered-list-toolbar listItemsLabel="Accounts">
    <foodweb-search-bar
      placeholder="Search Accounts..."
      [formControl]="filtersForm.get('fullTextQuery')"
      (search)="updateFilterQueryParams(filtersForm.toAccountReadRequest())"
    ></foodweb-search-bar>
  </foodweb-filtered-list-toolbar>

  <foodweb-filtered-list-content>
    <div class="col-lg-6" *ngFor="let account of accounts">
      <foodweb-account-teaser [account]="account" [addressFirst]="true" [hasEmailSubtitle]="true"></foodweb-account-teaser>
    </div>
  </foodweb-filtered-list-content>

  <foodweb-filtered-list-empty *ngIf="noneFound">
    Could Not Find Any Accounts
  </foodweb-filtered-list-empty>

  <foodweb-paginator [length]="totalCount"></foodweb-paginator>

  <foodweb-list-filters>
    <foodweb-account-filters
      [formGroup]="filtersForm"
      (clear)="filtersForm.resetFacetFilters()"
      (filter)="updateFilterQueryParams(filtersForm.toAccountReadRequest())"
    ></foodweb-account-filters>
  </foodweb-list-filters>

</foodweb-filtered-list>
