<food-web-filter-list class="accounts" listItemsLabel="Accounts" [totalCount]="totalCount">
  <food-web-filter-list-title>{{ pageTitleService.title }}</food-web-filter-list-title>

  <food-web-filter-list-content>
    <div class="col-lg-6" *ngFor="let account of accounts">
      <a [routerLink]="['/account/details/', account.id]" [state]="account" class="account-link">
        <mat-card id="account-{{ account.id }}" class="account-card">
          <mat-card-header>
            <img mat-card-avatar [src]="account.profileImgUrl" alt="Account Icon">
            <mat-card-title>{{ accountHelper.accountName(account) }}</mat-card-title>
            <mat-card-subtitle class="account-email">{{ account.contactInfo.email }}</mat-card-subtitle>
          </mat-card-header>
          <mat-card-content>
            <div class="accounts-display row">
              <div *ngIf="account.contactInfo.streetAddress" class="col-sm-6">
                <div class="inline-label">Address:</div>
                <div class="d-inline-block">
                  <div>{{ account.contactInfo.streetAddress }}</div>
                  <div>
                    <div class="d-inline-block">{{ account.contactInfo.city }},&nbsp;</div>
                    <div class="d-inline-block">{{ account.contactInfo.stateProvince }}&nbsp;</div>
                    <div class="d-inline-block">{{ account.contactInfo.postalCode }}</div>
                  </div>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="inline-label">Phone Number:</div>
                <div class="d-inline-block">{{ account.contactInfo.phoneNumber }}</div>
              </div>
            </div>
          </mat-card-content>
        </mat-card>
      </a>
    </div>
  </food-web-filter-list-content>

  <food-web-filter-list-filters>
    <food-web-account-filters (filter)="filterAccounts($event)"></food-web-account-filters>
  </food-web-filter-list-filters>
</food-web-filter-list>
