@import "variables.scss";

.delivery-details {
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
  overflow-x: hidden;

  .delivery-primary-label {
    font-weight: bold;
    font-size: 18px;
  }

  .delivery-map-card {
    border-top: 2px solid rgba(0, 0, 0, 0.2);
    border-right: 2px solid rgba(0, 0, 0, 0.2);
    border-bottom: 1px solid rgba(0, 0, 0, 0.07);
    border-left: 2px solid rgba(0, 0, 0, 0.2);

    .mat-card-content {
      margin: -17px -16px -16px;
      border-top: 1px solid #e4e4e4;
    }
  }

  .donor-info-container,
  .receiver-info-container {
    .donation-submitter {
      margin-bottom: 12px;
    }
  }

  .volunteer-info-container,
  .donation-description-container {
    margin-left: auto;
    margin-right: auto;
  }

  @media only screen and (max-width: $mat-mobile) {
    .mat-card-title {
      font-size: 16px;
    }

    .inline-label,
    .inline-label + * {
      font-size: 13px;
    }
  }

  hr {
    margin: 2rem 0;

    &.offset-top {
      margin-top: calc(2rem - 20px);

      @media only screen and (max-width: $mat-mobile) {
        margin-top: calc(2rem - 8px);
      }
    }

    @media only screen and (max-width: $mat-mobile) {
      margin-left: -5px;
      margin-right: -5px;
    }
  }
}

.mat-card-content {
  margin-bottom: 0;
}
