<div class="edit-save-button-container">
  <ng-container *ngIf="!editing">
    <button mat-icon-button *ngIf="!useButtonText" type="button" color="primary" class="edit-button" matTooltip="Edit" (click)="edit.emit(true)">
      <mat-icon>edit</mat-icon>
    </button>
    <button mat-raised-button *ngIf="useButtonText" type="button" color="primary" class="edit-button" (click)="edit.emit(true)">
      Edit
    </button>
  </ng-container>
  <ng-container *ngIf="editing">
    <ng-container *ngIf="!useButtonText">
      <button mat-icon-button type="button" color="warn" class="cancel-button" matTooltip="Cancel Edit" (click)="edit.emit(false)">
        <mat-icon>cancel</mat-icon>
      </button>
      <button mat-icon-button type="submit" color="primary" class="save-button" (click)="save.emit()" matTooltip="Save Edit" [disabled]="isSaveDisabled">
        <mat-icon>save</mat-icon>
      </button>
    </ng-container>
    <ng-container *ngIf="useButtonText">
      <button mat-button type="button" color="warn" class="cancel-button" (click)="edit.emit(false)">
        Cancel
      </button>
      <button mat-raised-button type="submit" color="primary" class="save-button" (click)="save.emit()" [disabled]="isSaveDisabled">
        Save
      </button>
    </ng-container>
  </ng-container>
</div>
