<mat-form-field class="fill">
  <input matInput
    type="text"
    autocomplete="none"
    [placeholder]="placeholder"
    [matAutocomplete]="autocomplete"
    [formControl]="formControl">
</mat-form-field>

<mat-autocomplete #autocomplete="matAutocomplete">
  <mat-option *ngFor="let account of accountAutocompleteStore.value" [value]="account | foodwebAccountName">
    <div class="account-name">{{ account | foodwebAccountName }}</div>
    <div class="account-contact-info">
      <div class="account-email">{{ account.contactInfo.email }}</div>
      <div class="account-address">{{ account.contactInfo.streetAddress }}, {{ account.contactInfo.city }} {{ account.contactInfo.stateProvince }}</div>
    </div>
  </mat-option>
</mat-autocomplete>
