@import "variables.scss";

.mat-option {
  position: relative;
  height: auto;
  border-bottom: 1px solid rgba(0, 0, 0, 0.07);

  .account-name {
    position: relative;
    display: inline-block;
    font-weight: bold;
    width: 40%;
    padding-right: 10px;
    box-sizing: border-box;
    vertical-align: top;
  }

  .account-contact-info {
    position: relative;
    display: inline-block;
    text-align: right;
    width: 60%;
    color: #666;
    font-size: 14px;

    .account-email,
    .account-address {
      position: relative;
      width: 100%;
      height: 24px;
      box-sizing: border-box;
    }
  }
}
