<mat-card class="account-teaser">
  <mat-card-header [ngClass]="{ 'no-subtitle': !hasSubtitle }">
    <img mat-card-avatar [src]="account.profileImgUrl" alt="Receiver Icon">
    <mat-card-title>{{ customTitle ? customTitle : accountName }}</mat-card-title>
    <mat-card-subtitle *ngIf="hasSubtitle">
      <a *ngIf="hasEmailSubtitle; else nonEmailSubtitle" href="mailto:{{ account.contactInfo.email }}">
        {{ account.contactInfo.email }}
      </a>
      <ng-template #nonEmailSubtitle>{{ accountName }}</ng-template>
    </mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <ng-content></ng-content>
    <food-web-contact-info
      [addressAnchorType]="addressAnchorType"
      [addressFirst]="addressFirst"
      [contactInfo]="account.contactInfo"
      [hideAddress]="hideAddress"
      [hideEmail]="hasEmailSubtitle"
    ></food-web-contact-info>
  </mat-card-content>
  <mat-card-actions>
    <div class="align-right">
      <a [routerLink]="accountRouterLink" [state]="{ account: account }" class="no-hover">
        <button mat-raised-button class="compact" type="button" color="primary"><strong>View Account</strong></button>
      </a>
    </div>
  </mat-card-actions>
</mat-card>
