/* You can add global styles to this file, and also import other style files */
@import "../../node_modules/bootstrap/dist/css/bootstrap.min.css";
@import "../../node_modules/angular2-busy/build/style/busy.css";
@import "https://fonts.googleapis.com/icon?family=Material+Icons";

html, body {
    padding: 0;
    margin: 0;
}

.no-pad {
    padding-right: 0px;
    padding-left: 0px;
    margin-right: 0px;
    margin-left: 0px;
}

.inline-error {
    display: inline-block;
    margin-left: 20px;
}

.checkbox-compress {
    margin: 0px;
    padding: 0px;
}

.no-select {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                            supported by Chrome and Opera */
}

.center-text {
    text-align: center;
    vertical-align: middle;
}

button {
    outline: none;
}

button:hover, a:hover {
    cursor: pointer;
    cursor: hand;
}


/* Shared styles for all modal dialogs in Food Web */

.modal-header {
    background-color: #222222;
    color: white;
}

.modal-close {
    position: absolute;
    top: 0px;
    right: 0px;
    color: white;
	display: block;
    border-radius: 50%;
    font-size: 40px;
    margin: 0px;
    padding: 0px;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    outline: none !important;
    background-color: rgba(0,0,0,0);
    border: none;
    -webkit-transition: -webkit-transform .8s ease-in-out;
    transition: transform .8s ease-in-out;
}

.modal-close:hover {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
}


/* Shared styles between Receiver and Cart interfaces */

/* When the screen gets small and the filters panel goes into mobile mode, then center the food listings */
@media only screen and (max-width: 991px) {
    #food-listings {
        padding-left: 40px; /* Make room for filters expansion button */
    }
}

@media only screen and (max-width: 575px) {
    #food-listings {
        text-align: center;
    }
}

#food-listings-filters {
    border-right: 1px solid #D5D5D5;
}
