@import './styles/constants.scss';
@import './styles/material.scss';
@import '~bootstrap-css-only/css/bootstrap.min.css';
@import '~font-awesome/css/font-awesome.min.css';

html, body {
  margin: 0px;
  padding: 0px;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.align-left {
  text-align: left;
}

.align-center {
  text-align: center;
}

.align-right {
  text-align: right;
}

.fill {
  width: 100%;
}

.block-label {
  display: block;
  font-weight: bold;
  color: $accent-darkest;
}

.inline-label {
  display: inline-block;
  margin-bottom: 2px;
  color: $accent;

  & + * {
    margin-left: 7px;
  }
}
