@import "variables.scss";

.filtered-list {
  @media only screen and (max-width: $md) {
    height: auto;
  }

  &.mat-sidenav-container {
    overflow: visible;
  }

  .mat-drawer {
    width: 320px;

    @media only screen and (max-width: $mat-mobile) {
      width: 100vw;
    }
  }
}
