@import "constants.scss";

.filtered-list {
  .none-found {
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    color: $accent;

    @media only screen and (max-width: $mat-mobile) {
      font-size: 18px;
    }
  }

  .mat-drawer {
    width: 320px;

    @media only screen and (max-width: $mat-mobile) {
      width: 100vw;
    }
  }
}
