<mat-sidenav-container class="filtered-list" [autosize]="true">
  <mat-sidenav-content>
    <div class="page container">

      <ng-content select="foodweb-filtered-list-title"></ng-content>

      <ng-content select="foodweb-filtered-list-toolbar"></ng-content>

      <ng-content select="foodweb-filtered-list-content"></ng-content>

      <ng-content select="foodweb-filtered-list-empty"></ng-content>

      <ng-content select="foodweb-paginator"></ng-content>

      <ng-content></ng-content>

    </div>
  </mat-sidenav-content>

  <mat-sidenav [opened]="filteredListService.opened" (openedChange)="this.filteredListService.opened = $event" mode="over" position="end" [autoFocus]="false">
    <ng-content select="foodweb-list-filters"></ng-content>
  </mat-sidenav>
</mat-sidenav-container>
