<div class="layout" ng-controller="myCtrl">
<br/>
  <h2>Create your account</h2>
  <hr/>
  <form ngNativeValidate (submit)="signupUser($event)" >
  <br/>
      Enter Your First Name:<br/>
      <input type="text" name="firstName" [(ngModel)]="signupModel.firstName" required autofocus autocomplete="on"> 
      <br/>

      Enter your Last Name:<br/> 
      <input type="text" name="lastName" [(ngModel)]="signupModel.lastName" required autocomplete="on" #lastName>
      <br/>

      Enter your email address:<br/>
      <input type="text" name="email" [(ngModel)]="signupModel.email" required autocomplete="on" #email>
      <br/>

      Create a username:<br/> 
      <input type="text" name="username" [(ngModel)]="signupModel.username" required autocomplete="on" #username>
      <br/>

      Create a password:<br/> 
      <input type="password" name="password" [(ngModel)]="signupModel.password" required #password>
      <br/>

      <button type="submit">Sign Up</button>
      <br/>
  </form>

  <div *ngIf="signupModel.signupError != null" id="signupErr">{{signupModel.signupError}}</div>

</div>

