<ion-header>
  <foodweb-hybrid-header defaultBackHref="/account/list">
    <ion-label>Account</ion-label>
  </foodweb-hybrid-header>
</ion-header>

<ion-content class="account-detials">
  <form [formGroup]="formGroup" *ngIf="originalAccount" class="account-form">
    <div class="account-main align-center">
      <div class="page-title keep-mobile">
        <foodweb-hybrid-username *ngIf="hasAccountOwnership" formControlName="username"></foodweb-hybrid-username>
        <ng-container *ngIf="!hasAccountOwnership">
          <div *ngIf="originalAccount.organization">
            {{ originalAccount.organization.name }}
          </div>
        </ng-container>
      </div>
      <div class="profile-img-container">
        <foodweb-hybrid-profile-img formControlName="profileImg" [editable]="hasAccountOwnership"></foodweb-hybrid-profile-img>
      </div>
    </div>

    <div class="account-type">
      <foodweb-hybrid-account-type formControlName="accountType"></foodweb-hybrid-account-type>
    </div>

    <hr>

    <div *ngIf="hasAccountOwnership && originalAccount.verified === false" class="account-not-verified">
      <ion-label color="danger">Account Not Verified</ion-label>
      <ion-button (click)="signupVerificationService.resendVerificationEmail()" fill="clear">
        Resend Verification Email
      </ion-button>
    </div>

    <div class="row account-section-content">
      <div class="col-xl-6">
        <ion-card *ngIf="accountType !== 'Volunteer'">
          <ion-card-header>
            <ion-card-title class="block-label">
              <ion-label>Organization</ion-label>
            </ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <foodweb-hybrid-organization formGroupName="organization" [accountType]="accountType"></foodweb-hybrid-organization>
            <ng-container *ngIf="originalAccount">
              <a *ngIf="!hasAccountOwnership" [routerLink]="['/donation/list']" [queryParams]="seeDonationsLinkParams" class="call-to-action">
                See Donations
              </a>
              <a *ngIf="hasAccountOwnership" [routerLink]="['/donation/list/my']" class="call-to-action">
                See My Donations
              </a>
            </ng-container>
          </ion-card-content>
        </ion-card>

        <ion-card *ngIf="accountType === 'Volunteer'">
          <ion-card-header>
            <ion-card-title class="block-label">
              <ion-label>Volunteer Info</ion-label>
            </ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <foodweb-hybrid-volunteer formGroupName="volunteer"></foodweb-hybrid-volunteer>
            <a *ngIf="hasAccountOwnership && originalAccount" [routerLink]="['/delivery/list/my']" class="call-to-action">
              See My Deliveries
            </a>
          </ion-card-content>
        </ion-card>
      </div>
      <div class="col-xl-6">
        <ion-card>
          <ion-card-header>
            <ion-card-title class="block-label">
              <ion-label>Contact Info</ion-label>
            </ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <foodweb-hybrid-contact-info formGroupName="contactInfo"></foodweb-hybrid-contact-info>
          </ion-card-content>
        </ion-card>
      </div>
    </div>

    <div class="row account-section-content">
      <div class="col-sm-12">
        <ion-card class="operation-hours-card">
          <ion-card-header>
            <ion-card-title class="block-label">
              <ion-label>Delivery Availability</ion-label>
            </ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <foodweb-hybrid-operation-hours-info formGroupName="operationHours"></foodweb-hybrid-operation-hours-info>
          </ion-card-content>
        </ion-card>
      </div>
    </div>
  </form>

  <div *ngIf="accountNotFound" class="standalone-statement">
    Account not found
  </div>
</ion-content>
