<ion-header>
  <foodweb-hybrid-header defaultBackHref="..">
    <ion-label>{{ pageTitleService.title }}</ion-label>
  </foodweb-hybrid-header>
</ion-header>

<ion-content class="deliveries">
  <ion-refresher slot="fixed" [disabled]="loading" (ionRefresh)="handleIonRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <!-- <foodweb-filtered-list-toolbar listItemsLabel="Deliveries">
    <foodweb-search-bar
      [placeholder]="searchPlaceholder"
      [formControl]="filtersForm.get('fullTextQuery')"
      (search)="updateFilterQueryParams(filtersForm.value)">
    </foodweb-search-bar>
  </foodweb-filtered-list-toolbar> -->

  <div *ngIf="!myDeliveries && !noneFound" class="standalone-statement">
    Choose a delivery to schedule.
  </div>

  <div *ngIf="noneFound" class="standalone-statement">
    Could not find any deliveries.
  </div>

  <ion-virtual-scroll *ngIf="donations?.length" [items]="donations" approxItemHeight="400px">
    <foodweb-hybrid-delivery-teaser
      *virtualItem="let item"
      [donation]="item">
    </foodweb-hybrid-delivery-teaser>
  </ion-virtual-scroll>

  <!-- <foodweb-list-filters>
    <foodweb-delivery-filters
      [formGroup]="filtersForm"
      [myDeliveries]="myDeliveries"
      (clear)="filtersForm.resetFacetFilters()"
      (filter)="updateFilterQueryParams($event)">
    </foodweb-delivery-filters>
  </foodweb-list-filters> -->

  <ion-infinite-scroll [disabled]="loadMoreDisabled" (ionInfinite)="handleIonInfinite($event)" threshold="100px">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
