<foodweb-hybrid-header defaultBackHref="..">
  <ion-title>{{ pageTitle }}</ion-title>
  <ion-buttons *ngIf="myDeliveries" slot="end">
    <ion-button [routerLink]="['/', 'delivery', 'list']" [queryParams]="{ donationStatus: 'Matched' }" fill="clear">
      <ion-icon name="add-circle"></ion-icon>
    </ion-button>
  </ion-buttons>
</foodweb-hybrid-header>

<ion-content>

  <foodweb-hybrid-filtered-list
    class="deliveries"
    [disabled]="listQueryService.loading"
    [itemCount]="listQueryService.items.length"
    (loadMore)="handleLoadMore($event)"
    (refresh)="handleRefresh($event)">

    <!-- <foodweb-filtered-list-toolbar listItemsLabel="Deliveries">
      <foodweb-search-bar
        [placeholder]="searchPlaceholder"
        [formControl]="filtersForm.get('fullTextQuery')"
        (search)="updateFilterQueryParams(filtersForm.value)">
      </foodweb-search-bar>
    </foodweb-filtered-list-toolbar> -->

    <div *ngIf="!myDeliveries && !listQueryService.noneFound" class="standalone-statement">
      Choose a delivery to schedule.
    </div>

    <div *ngIf="listQueryService.noneFound" class="standalone-statement">
      Could not find any deliveries.
    </div>

    <foodweb-hybrid-delivery-teaser
      *ngFor="let donation of listQueryService.items"
      [donation]="donation">
    </foodweb-hybrid-delivery-teaser>

    <!-- <foodweb-list-filters>
      <foodweb-delivery-filters
        [formGroup]="filtersForm"
        [myDeliveries]="myDeliveries"
        (clear)="filtersForm.resetFacetFilters()"
        (filter)="updateFilterQueryParams($event)">
      </foodweb-delivery-filters>
    </foodweb-list-filters> -->

  </foodweb-hybrid-filtered-list>

</ion-content>
