@import "../../../../styles/constants.scss";

.event-card {
  background-color: #e4e4e4;
  max-width: 300px;
  width: 100%;
  border: 1px solid #ccc;
  margin-left: auto;
  margin-right: auto;

  .event-avatar {
    $event-icon-size: 60px;
    width: ($event-icon-size - 10px);
    height: $event-icon-size;

    .event-icon {
      font-size: $event-icon-size;
      width: $event-icon-size;
      height: $event-icon-size;
    }

    .event-day {
      position: absolute;
      top: 20px;
      left: 12px;
      width: 35px;
      padding-top: 2px;
      font-weight: bold;
      font-size: 30px;
      line-height: 26px;
      text-align: center;
      background-color: white;
      color: black;
    }
  }

  .event-time,
  .event-location {
    display: block;

    .mat-icon {
      float: left;
    }

    span, a {
      font-weight: bold;
      display: block;
      padding-left: 30px;
    }
  }

  .event-action-container {
    position: relative;

    .event-button {
      width: 100%;
      font-weight: bold;
    }
  }

  .signup-complete-message {
    color: green;
  }
}
