# See http://help.github.com/ignore-files/ for more about ignoring files.

# scratch space
scratch.*

# database dump binary
dump

# compiled output
dist
www
*.zip

# temp space
tmp
.tmp
*.tmp
*.tmp.*
$RECYCLE.BIN/

# resources
public

# dependencies
nodejs
node_modules
__ngcc_entry_points__.json

# personal/sensitive data
.env
*.env
*.env.*
env.js
env.json
env.yaml
env.yml
google-services.json
GoogleService-Info.plist
app.yaml
startup.sh
nginx-ssl-setup.sh
environment.device.ts

# IDEs and editors
.idea
.project
.classpath
.c9/
*.launch
.settings/

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# misc
/.sass-cache
/connect.lock
coverage
/libpeerconnection.log
npm-debug.log
testem.log
/typings
stellar.yaml
dump.*
!/server/tools/database/js/dump.js
*.log
log.txt
/.sourcemaps
/.versions

# e2e
/e2e/*.js
/e2e/*.map

# System Files
*.sw[mnpcod]
.DS_Store
Thumbs.db

# ORM Files
ormlogs.log
docker-ormconfig.json

# Mobile build artifacts
platforms
plugins

# ionic data
UserInterfaceState.xcuserstate
/.ionic

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml

# Serverless Deployment Files (AWS Lambda Functions)
.serverless
lambda-layers
serverless_sdk
s_*
