#slick-left-panel {
    position: relative;
    z-index: 100;
    padding-left: 10px;
    padding-right: 10px;
    word-wrap: break-word;
    background-color: inherit;
}

#slick-left-panel-button {
    position: absolute;
    height: 100%;
    width: 25px;
    min-width: 0px;
    right: -25px;
    top:0;
    visibility: hidden;
    z-index: 101;
    border-top-left-radius: 0%;
    border-bottom-left-radius: 0%;
    transition: right 0.5s linear;
    -webkit-transition: right 0.5s linear;
    -moz-transition: right 0.5s linear;
    -ms-transition: right 0.5s linear;
    -o-transition: right 0.5s linear;
    outline: none;
}

@media only screen and (max-width: 991px) {

    #slick-left-panel {
        position: absolute;
        padding-right: 25px; /* Make room for the button overlap! */
        width: calc(100vw - 20px);
        right: 100%; /* The default state in mobile mode is to be off the screen to the left */
        transition: transform 0.3s linear;
        -webkit-transition: -webkit-transform 0.3s linear;
        -moz-transition: -moz-transform 0.3s linear;
        -ms-transition: -ms-transform 0.3s linear;
        -o-transition: -o-transform 0.3s linear;
        background: white;
    }

    .toggle-into-view {
        transform: translateX(100%);
        -webkit-transform: translateX(100%);
        -moz-transform: translateX(100%);
        -ms-transform: translateX(100%);
        -o-transform: translateX(100%);
    }

    #slick-left-panel-button {
        visibility: visible;
    }

}