@import "../../../../../../web/src/app/notification/components/notification-list/notification-list.component.scss";

ion-content {
  --padding-top: 0;
  --padding-bottom: 0;

  .reload-prompt {
    --min-height: 0;
    position: sticky;
    top: 0;
    height: 0;
    font-size: 12px;
    text-align: center;
    z-index: 10;
    transition: height .5s ease-in-out;

    &.show {
      height: 40px;
    }
  }

  ion-virtual-scroll {
    border-top: none;
  }

  foodweb-hybrid-notification {
    display: block;
    min-height: 64px;
  }
}
