@import "../../../../../../web/src/app/notification/components/notification-list/notification-list.component.scss";

ion-content {
  --padding-top: 0;
  --padding-bottom: 0;

  &.notifications {
    background-color: transparent
  }
}
