<foodweb-hybrid-header [hideBackHref]="true">
  <ion-title>Notifications</ion-title>
</foodweb-hybrid-header>

<ion-content>

  <foodweb-hybrid-page-list
    class="notifications"
    [disabled]="listQueryService.loading"
    [pageSize]="notificationFilters.value.limit || notificationService.defaultReadLimit"
    (loadMore)="handleLoadMore($event)"
    (refresh)="handleRefresh($event)">

    <ion-item (click)="listQueryService.refresh()" [ngClass]="{ show: this.notificationService.hasUnseenNotifications }" class="reload-prompt" color="tertiary">
      <ion-label>New Notifications Available: Tap to Refresh</ion-label>
    </ion-item>

    <div *ngIf="listQueryService.noneFound" class="not-found">
      Could Not Find Any Notifications.
    </div>

    <ion-virtual-scroll [items]="listQueryService.items" approxItemHeight="64px">
      <foodweb-hybrid-notification
        *virtualItem="let item"
        [notification]="item"
        (flag)="notificationService.toggleNotificationFlaggedState($event)"
        (select)="notificationService.handleNotificationSelect($event)">
      </foodweb-hybrid-notification>
    </ion-virtual-scroll>

  </foodweb-hybrid-page-list>

</ion-content>
