<GridLayout rows="*,auto" columns="*" class="dialog-panel">

  <StackLayout class="dialog-content" column="0" row="0">
    <!-- iosPreferredDatePickerStyle="inline (3)" -->
    <TimePicker #timePicker
      iosPreferredDatePickerStyle="3"
      [time]="time"></TimePicker>
  </StackLayout>

  <StackLayout class="dialog-actions" column="0" row="1">
    <Button text="cancel" (tap)="modalDialogParams.closeCallback()" class="-primary"></Button>
    <Button text="ok" (tap)="modalDialogParams.closeCallback(timePicker.time)" class="-primary"></Button>
  </StackLayout>

</GridLayout>
