<foodweb-page-list class="accounts">

  <div class="page-title">
    {{ accountListLabelService.pageTitle }}
  </div>

  <foodweb-page-list-toolbar listItemsLabel="Accounts">
    <foodweb-search-bar
      [placeholder]="accountListLabelService.searchPlaceholder"
      [formControl]="filtersForm.get('fullTextQuery')"
      (search)="listQueryService.refresh()">
    </foodweb-search-bar>
  </foodweb-page-list-toolbar>

  <div class="row">
    <div class="col-lg-6" *ngFor="let account of listQueryService.items">
      <foodweb-account-teaser [account]="account" [addressFirst]="true" [hasEmailSubtitle]="true"></foodweb-account-teaser>
    </div>
  </div>

  <div *ngIf="listQueryService.noneFound" class="not-found">
    Could Not Find Any Accounts
  </div>

  <foodweb-paginator [length]="listQueryService.totalCount"></foodweb-paginator>

  <foodweb-page-list-filters>
    <foodweb-account-filters
      [formGroup]="filtersForm"
      (clear)="filtersForm.resetFacetFilters()"
      (filter)="listQueryService.refresh()">
    </foodweb-account-filters>
  </foodweb-page-list-filters>

</foodweb-page-list>
