@import "constants.scss";

.fundraise {
  width: calc(100% + #{$page-horz-pad});
  height: calc(100vh - #{$header-height - 120px});
  margin: -120px -15px;
  padding: $page-vert-pad 0 0;

  @media only screen and (max-width: $mat-mobile) {
    height: calc(100vh - #{$header-height-mobile - 120px});
  }
}
