.tab-content {
  margin-top: 18;

  &.account {
    margin-top: 0;
  }

  .tab-actions {
    margin-top: 10;
  }
}

.account-type-label {
  margin-top: 15;
}

.availability-instr {
  color: #666;
  padding: 0 16;

  &.update-later {
    margin-top: 12;
    margin-bottom: 8;
  }
}
