**/dist
**/node_modules
**/README.md
**/.env
**/.env.example
**/*.log

.ebextensions
.elasticeanstalk
.github
.platform
.serverless
.vscode
client
FoodWebJobs
.dockerignore
.editorconfig
.gitignore
.npmrc
CODE_OF_CONDUCT.md
docker-compose.yml
Dockerfile
LICENSE
README.md
serverless.yml
tslint.json

server/.well-known
server/lambda-layers
server/nodemon.json
server/ormconfig.json
server/projects/admin
server/tools/database

shared/src/admin
