<form [formGroup]="filtersForm" class="account-filters" (ngSubmit)="filter.emit(filtersForm.value)">
  <food-web-filter-list-filters-title [primary]="true">
    Account Filters
  </food-web-filter-list-filters-title>

  <mat-form-field class="fill">
    <input matInput placeholder="Organization Name" formControlName="organizationName">
  </mat-form-field>

  <mat-form-field class="fill">
    <input matInput type="email" placeholder="Email Address" formControlName="email">
  </mat-form-field>

  <food-web-filter-list-filters-sort [formGroup]="filtersForm" [sortByOpts]="sortByOpts"></food-web-filter-list-filters-sort>

  <food-web-filter-list-filters-buttons (clear)="filtersForm.reset()"></food-web-filter-list-filters-buttons>
</form>
