<div [formGroup]="dateTimeRangeForm" *ngIf="editable; else readonlyDateTimeRange" class="date-time-range-form row">
  <div class="date-time-field col-sm-12">
    <foodweb-date-time #startDateTime
      formControlName="startDateTime"
      [allowClear]="allowClear"
      [allowUndefTime]="allowUndefTime"
      [datePlaceholder]="startDatePlaceholder"
      [editable]="true"
      [timePlaceholder]="startTimePlaceholder"
      [minDate]="minDate"
      [maxDate]="maxDate"
      [floatLabels]="floatLabels"
      [errorStateMatcher]="dateTimeRangeForm.rangeErrStateMatcher"
      (ngModelChange)="dateTimeRangeForm.fillMissingRangePart()">
    </foodweb-date-time>
  </div>
  <div class="date-time-field col-sm-12">
    <foodweb-date-time #endDateTime
      formControlName="endDateTime"
      [allowClear]="allowClear"
      [allowUndefTime]="allowUndefTime"
      [datePlaceholder]="endDatePlaceholder"
      [editable]="true"
      [timePlaceholder]="endTimePlaceholder"
      [minDate]="minDate"
      [maxDate]="maxDate"
      [floatLabels]="floatLabels"
      [errorStateMatcher]="dateTimeRangeForm.rangeErrStateMatcher"
      (ngModelChange)="dateTimeRangeForm.fillMissingRangePart()">
    </foodweb-date-time>
    <mat-error *ngIf="dateTimeRangeForm.hasError('dateTimeRangeOrder')" class="range-order-err">
      End date-time must be later than start date-time
    </mat-error>
  </div>

  <!-- If configured to show a date time range radio dialog, then include the intercept overlay here for showing dialog. -->
  <div
    *ngIf="dateTimeRangeRadioConfig && this.dateTimeRangeForm.enabled"
    class="date-time-range-radio-intercept"
    (click)="openDateTimeRangeDialog($event)"
  ></div>
</div>

<ng-template #readonlyDateTimeRange>
  <div *ngIf="value" class="date-time-range-display">
    <foodweb-date-time
      [boldTime]="boldTime"
      [editable]="false"
      [excludeTimeDisplay]="dateTimeRangeForm.startEndDateSame"
      [value]="value.startDateTime">
    </foodweb-date-time>
    <!-- For no display of end date due to same begin and end date, make sure we group times together so they end up on same line if line break occurs. -->
    <span class="d-inline-block">
      <foodweb-date-time
        *ngIf="dateTimeRangeForm.startEndDateSame"
        [boldTime]="boldTime"
        [editable]="false"
        [excludeDateDisplay]="true"
        [value]="value.startDateTime">
      </foodweb-date-time>
      <span class="display-to"> -- </span>
      <foodweb-date-time
        [boldTime]="boldTime"
        [editable]="false"
        [excludeDateDisplay]="dateTimeRangeForm.startEndDateSame"
        [value]="value.endDateTime">
      </foodweb-date-time>
    </span>
  </div>
</ng-template>
