.date-time-range-form {
  position: relative;

  .range-order-err {
    margin-top: -16px;
    font-size: 75%;
  }

  .display-to {
    display: inline-block;
    margin-left: 5px;
    margin-right: 5px;
  }

  .date-time-range-radio-intercept {
    position: absolute;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    cursor: pointer;
  }
}

.date-time-range-display {
  food-web-date-time {
    display: inline-block;
  }
}
