<div class="event-registrations page">
  <div class="page-title block-label">
    {{ pageTitleService.title }}
  </div>

  <food-web-table-container>
    <mat-card class="datatable-card">
      <mat-card-title>
        <food-web-table-title searchPlaceholder="Filter table..." searchIcon="filter_list">
          <span [innerHTML]="eventRegistrationsTitle"></span>
        </food-web-table-title>
      </mat-card-title>
      <food-web-progress-indicator [trigger]="eventRegistrationService.loading" class="datatable-progress"></food-web-progress-indicator>
      <mat-card-content>
        <food-web-table mat-table [dataSource]="registrationsDataSource" matSort></food-web-table>
      </mat-card-content>
    </mat-card>
  </food-web-table-container>
</div>
