<div class="event-registrations page">
  <div class="page-title block-label">Event Registrations</div>

  <foodweb-table-container>
    <mat-card class="datatable-card">
      <mat-card-title>
        <foodweb-table-title searchPlaceholder="Filter table..." searchIcon="filter_list">
          <span [innerHTML]="eventRegistrationsTitle"></span>
        </foodweb-table-title>
      </mat-card-title>
      <foodweb-progress-indicator [trigger]="eventRegistrationService.loading" class="datatable-progress"></foodweb-progress-indicator>
      <mat-card-content>
        <foodweb-table mat-table [dataSource]="registrationsDataSource" matSort></foodweb-table>
      </mat-card-content>
    </mat-card>
  </foodweb-table-container>
</div>
