<foodweb-page-list class="accounts">

  <div class="page-title">
    {{ accountListLabelService.pageTitle }}
  </div>

  <foodweb-page-list-toolbar listItemsLabel="Accounts">
    <foodweb-search-bar
      placeholder="Search Accounts..."
      [formControl]="filtersForm.get('fullTextQuery')"
      (search)="listQueryService.refresh()">
    </foodweb-search-bar>

    <a [routerLink]="['/account', 'compose-message']" queryParamsHandling="preserve" class="compose-message-link">
      <button mat-button type="button" matTooltip="Compose Message">
        <mat-icon>email</mat-icon>
      </button>
    </a>
  </foodweb-page-list-toolbar>

  <div class="row">
    <div class="col-lg-6" *ngFor="let account of listQueryService.items">
      <foodweb-account-teaser [account]="account" [addressFirst]="true" [hasEmailSubtitle]="true"></foodweb-account-teaser>
    </div>
  </div>

  <div *ngIf="listQueryService.noneFound" class="not-found">
    Could Not Find Any Accounts
  </div>

  <foodweb-paginator [length]="listQueryService.totalCount"></foodweb-paginator>

  <foodweb-page-list-filters>
    <foodweb-admin-account-filters
      [formGroup]="filtersForm"
      (clear)="filtersForm.resetFacetFilters({ resetAccountType: true })"
      (filter)="listQueryService.refresh()">
    </foodweb-admin-account-filters>
  </foodweb-page-list-filters>

</foodweb-page-list>
