<foodweb-filtered-list class="accounts">
  <foodweb-filtered-list-title>{{ accountListLabelService.pageTitle }}</foodweb-filtered-list-title>

  <foodweb-filtered-list-toolbar listItemsLabel="Accounts">
    <foodweb-search-bar
      placeholder="Search Accounts..."
      [formControl]="filtersForm.get('fullTextQuery')"
      (search)="listQueryService.refresh()"
    ></foodweb-search-bar>

    <a [routerLink]="['/account', 'compose-message']" queryParamsHandling="preserve" class="compose-message-link">
      <button mat-button type="button" matTooltip="Compose Message">
        <mat-icon>email</mat-icon>
      </button>
    </a>
  </foodweb-filtered-list-toolbar>

  <foodweb-filtered-list-content>
    <div class="col-lg-6" *ngFor="let account of listQueryService.items">
      <foodweb-account-teaser [account]="account" [addressFirst]="true" [hasEmailSubtitle]="true"></foodweb-account-teaser>
    </div>
  </foodweb-filtered-list-content>

  <foodweb-filtered-list-empty *ngIf="listQueryService.noneFound">
    Could Not Find Any Accounts
  </foodweb-filtered-list-empty>

  <foodweb-paginator [length]="listQueryService.totalCount"></foodweb-paginator>

  <foodweb-list-filters>
    <foodweb-admin-account-filters
      [formGroup]="filtersForm"
      (clear)="filtersForm.resetFacetFilters({ resetAccountType: true })"
      (filter)="listQueryService.refresh()"
    ></foodweb-admin-account-filters>
  </foodweb-list-filters>

</foodweb-filtered-list>
