<form>
  <h1 mat-dialog-title>{{ selectConfig.selectTitle }}</h1>

  <mat-dialog-content>
    <food-web-date-time-select
      name="Date Time Select"
      [(ngModel)]="selectedDateTime"
      [ariaLabel]="selectConfig.selectTitle"
      [rangeMins]="selectConfig.rangeMins"
      [rangeWindowStart]="selectConfig.rangeWindowStart"
      [rangeWindowEnd]="selectConfig.rangeWindowEnd">
    </food-web-date-time-select>
  </mat-dialog-content>

  <mat-dialog-actions>
    <div class="align-right">
      <button mat-button color="warn" type="button" mat-dialog-close>
        Cancel
      </button>
      <button mat-raised-button color="primary" type="submit" [disabled]="!selectedDateTime" [mat-dialog-close]="selectedDateTime">
        Submit
      </button>
    </div>
  </mat-dialog-actions>
</form>
