h1 {
  padding-bottom: 5px;
  margin-top: -5px;
  margin-left: -8px;
  width: calc(100% + 16px);
  text-align: center;
}

.mat-dialog-content {
  padding-left: 0;
  padding-right: 0;
  margin-top: -20px;
}

.mat-dialog-actions {
  position: relative;
  padding: 12px 0;
  width: calc(100% + 8px);

  & > div {
    width: 100%;
  }
}

@media only screen and (max-width: 450px) {
  h1 {
    text-align: left;
  }
}
