<div class="notifications page">
  <div *ngIf="!notificationsMenu" class="notifications-title page-title">
    {{ pageTitleService.title }}
  </div>

  <mat-action-list>
    <mat-divider></mat-divider>
    <ng-container *ngFor="let notification of notifications">
      <foodweb-notification
        [notification]="notification"
        (flag)="notificationService.toggleNotificationFlaggedState($event)"
        (select)="notificationService.handleNotificationSelect($event)">
      </foodweb-notification>
      <mat-divider></mat-divider>
    </ng-container>
  </mat-action-list>

  <foodweb-paginator [length]="totalCount"></foodweb-paginator>
</div>
