<form [formGroup]="filtersForm" class="delivery-filters" (ngSubmit)="filter.emit(filtersForm.value)">
  <foodweb-list-filters-title [primary]="true">
    Delivery Filters
  </foodweb-list-filters-title>

  <mat-form-field class="fill">
    <mat-select placeholder="Donation Status" formControlName="donationStatus">
      <mat-option *ngFor="let status of donationStatuses" [value]="status">{{ status }}</mat-option>
      <mat-option [value]="null">--</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field class="fill">
    <input matInput placeholder="Donor Organization" formControlName="donorOrganizationName">
  </mat-form-field>

  <div class="row">
    <div class="col-6">
      <mat-form-field class="fill">
        <input matInput placeholder="Donor Last Name" formControlName="donorLastName">
      </mat-form-field>
    </div>

    <div class="col-6">
      <mat-form-field class="fill">
        <input matInput placeholder="Donor First Name" formControlName="donorFirstName">
      </mat-form-field>
    </div>
  </div>

  <mat-form-field class="fill">
    <input matInput placeholder="Receiver Organization" formControlName="receiverOrganizationName">
  </mat-form-field>

  <foodweb-list-filters-title>
    Delivery Window Filters
  </foodweb-list-filters-title>

  <div class="row">
    <div class="col-12">
      <foodweb-date-time
        [allowClear]="true"
        [allowUndefTime]="true"
        [editable]="true"
        [inlineFields]="true"
        [minDate]="null"
        floatLabels="never"
        formControlName="deliveryWindowOverlapStart"
        primaryLabel="Overlap Start"
      ></foodweb-date-time>
    </div>
    <div class="col-12">
      <foodweb-date-time
        [allowClear]="true"
        [allowUndefTime]="true"
        [editable]="true"
        [inlineFields]="true"
        [minDate]="null"
        floatLabels="never"
        formControlName="deliveryWindowOverlapEnd"
        primaryLabel="Overlap End"
      ></foodweb-date-time>
    </div>
  </div>

  <foodweb-list-sort [formGroup]="filtersForm" [sortByOpts]="sortByOpts"></foodweb-list-sort>

  <foodweb-list-filters-footer (clear)="filtersForm.reset()"></foodweb-list-filters-footer>
</form>
