<mat-form-field [floatLabel]="floatLabel" class="fill">
  <mat-select
    [formControl]="formControl"
    [placeholder]="placeholder"
    (opened)="onPanelOpened(filterInput)"
    (selectionChange)="onChangeCb($event.value)"
    (ngModelChange)="syncFilterStr()">

    <mat-select-trigger>
      {{ formControl.value | foodWebAccountName }}
    </mat-select-trigger>

    <mat-form-field class="fill no-pad no-label-border filter-form-field" floatLabel="never">
      <input matInput
        #filterInput
        type="text"
        autocomplete="none"
        [formControl]="filterCtrl"
        [placeholder]="filterPlaceholder"
        (keydown)="$event.stopPropagation()"
        (ngModelChange)="accountAutocompleteService.refreshAutocompleteItems($event, accountType)">
        <foodweb-progress-indicator class="filter-progress-indicator" [trigger]="accountAutocompleteService.loading"></foodweb-progress-indicator>
    </mat-form-field>

    <mat-option *ngFor="let account of accountAutocompleteStore.value" [value]="account" class="auto-height">
      <div class="account-name">{{ account | foodWebAccountName }}</div>
      <div class="account-contact-info">
        <div class="account-email">{{ account.contactInfo.email }}</div>
        <div class="account-address">{{ account.contactInfo.streetAddress }}, {{ account.contactInfo.city }} {{ account.contactInfo.stateProvince }}</div>
      </div>
    </mat-option>

    <mat-option [hidden]="!formControl.value" class="clear-option" [value]="undefined">Clear Value</mat-option>
  </mat-select>
</mat-form-field>
