<form [formGroup]="filtersForm" class="account-filters" (ngSubmit)="filter.emit(filtersForm.toReadRequest())">
  <foodweb-list-filters-title [primary]="true">
    Account Filters
  </foodweb-list-filters-title>

  <mat-form-field class="fill" *ngIf="!filtersForm.isVolunteerAccountType">
    <input matInput type="text" placeholder="Organization Name" formControlName="organizationName">
  </mat-form-field>

  <div class="row" *ngIf="!filtersForm.isOrganizationAccountType">
    <div class="col-6">
      <mat-form-field class="fill">
        <input matInput type="text" placeholder="Volunteer First" formControlName="volunteerFirstName">
      </mat-form-field>
    </div>
    <div class="col-6">
      <mat-form-field class="fill">
        <input matInput type="text" placeholder="Volunteer Last" formControlName="volunteerLastName">
      </mat-form-field>
    </div>
  </div>

  <mat-form-field class="fill">
    <input matInput type="email" placeholder="Email Address" formControlName="email">
  </mat-form-field>

  <ng-container *ngIf="!filtersForm.isDonorAccountType">
    <foodweb-list-filters-title>
      Operation Hours Filters
    </foodweb-list-filters-title>

    <foodweb-operation-hours
      [allowClear]="true"
      [formGroup]="filtersForm.get('operationHours')"
      [editable]="true"
      timeWidth="50%"
      weekdayPadding="0"
      weekdayWidth="100%"
    ></foodweb-operation-hours>
  </ng-container>

  <foodweb-list-sort [formGroup]="filtersForm" [sortByOpts]="sortByOpts"></foodweb-list-sort>

  <foodweb-list-filters-footer (clear)="clear.emit()"></foodweb-list-filters-footer>
</form>
