@import "variables.scss";

:host {
  position: relative;
  display: block;
  margin: 20px 0;
  text-align: center;

  ion-button {
    margin-left: 20px;

    &:first-child {
      margin-left: 0;
    }
  }
}
