<foodweb-hybrid-header defaultBackHref="..">
  <ion-title>{{ pageTitle }}</ion-title>
  <ion-buttons *ngIf="myPledges" slot="end">
    <ion-button [routerLink]="['/', 'donation-hub', 'list']" fill="clear">
      <ion-icon name="add-circle"></ion-icon>
    </ion-button>
  </ion-buttons>
</foodweb-hybrid-header>

<ion-content>

  <foodweb-hybrid-page-list
    class="donation-hub-pledges"
    [disabled]="listQueryService.loading"
    [itemCount]="listQueryService.items.length"
    (loadMore)="handleLoadMore($event)"
    (refresh)="handleRefresh($event)">

    <div *ngIf="listQueryService.noneFound" class="standalone-statement">
      Could Not Find Any Donation Pledges.
    </div>

    <foodweb-hybrid-donation-hub-pledge-teaser
      *ngFor="let pledge of listQueryService.items"
      [pledge]="pledge">
    </foodweb-hybrid-donation-hub-pledge-teaser>

  </foodweb-hybrid-page-list>

</ion-content>
