<div [formGroup]="formGroup" class="row">
  <div class="date-time-field col-sm-6">
    <food-web-date-time
     #startDateTime
     formControlName="startDateTime"
     [editing]="true"
     [datePlaceholder]="startDatePlaceholder"
     [timePlaceholder]="startTimePlaceholder"
     [minDate]="minDate"
     [maxDate]="maxDate"
     [floatLabels]="floatLabels"
     [required]="formGroup.required"
     [errorStateMatcher]="formGroup.rangeErrStateMatcher">
    </food-web-date-time>
  </div>
  <div class="date-time-field col-sm-6">
    <food-web-date-time
     #endDateTime
     formControlName="endDateTime"
     [editing]="true"
     [datePlaceholder]="endDatePlaceholder"
     [timePlaceholder]="endTimePlaceholder"
     [minDate]="minDate"
     [maxDate]="maxDate"
     [floatLabels]="floatLabels"
     [required]="formGroup.required"
     [errorStateMatcher]="formGroup.rangeErrStateMatcher">
    </food-web-date-time>
    <mat-error *ngIf="formGroup.hasError('dateTimeRangeOrder')" class="range-order-err">
      End date-time must be later than start date-time
    </mat-error>
  </div>
</div>
