<ion-header>
  <foodweb-hybrid-header defaultBackHref="..">
    <ion-label>Password</ion-label>
    <ion-buttons slot="end">
      <ion-button fill="clear" color="primary" [disabled]="formGroup.pristine" (click)="save()">Save</ion-button>
    </ion-buttons>
  </foodweb-hybrid-header>
</ion-header>

<ion-content>
  <form [formGroup]="formGroup" autocomplete="off">
    <foodweb-hybrid-password
      [formGroup]="formGroup"
      [editable]="true">
    </foodweb-hybrid-password>
  </form>
</ion-content>
