:host {
  background-color: inherit;

  .edit-save-button-container {
    display: inline-block;
    background-color: inherit;
  
    button {
      z-index: 2;

      &.mat-icon-button {
        background-color: inherit;
      }
    }
  }
}
