<div class="volunteer-container" [foodwebDisplayEditTransition]="editable" [form]="volunteerForm" [display]="volunteerDisplay">
  <div #volunteerForm class="row volunteer-form" [formGroup]="volunteerForm" [attr.aria-hidden]="!editable">
    <div class="col-sm-6">
      <mat-form-field class="fill">
        <input matInput placeholder="First Name" formControlName="firstName" type="text" autocomplete="off">
      </mat-form-field>
    </div>
    <div class="col-sm-6">
      <mat-form-field class="fill">
        <input matInput placeholder="Last Name" formControlName="lastName" type="text" autocomplete="off">
      </mat-form-field>
    </div>
    <div class="col-12">
      <mat-slide-toggle formControlName="signedAgreement" class="fill">Attended Training</mat-slide-toggle>
    </div>
  </div>

  <div #volunteerDisplay class="volunteer-display row" [attr.aria-hidden]="editable">
    <div class="col-sm-6">
      <div class="inline-label">Name:</div>
      <div class="d-inline-block">{{ volunteerForm.get('firstName').value }} {{ volunteerForm.get('lastName').value }}</div>
    </div>
    <div class="col-sm-6">
      <div class="inline-label">Attended Training:</div>
      <div class="d-inline-block">
        <span *ngIf="volunteerForm.get('signedAgreement').value" class="check-yes">
          <mat-icon>check</mat-icon> <span>Yes</span>
        </span>
        <span *ngIf="!volunteerForm.get('signedAgreement').value" class="cross-no">
          <mat-icon>close</mat-icon> <span>No</span>
        </span>
      </div>
    </div>
  </div>
</div>
