<div class="donation-hub-portal page">
  <div class="page-title">Sandwich Army</div>

  <div class="row">
    <div class="col-12 align-center">
      <p>
        The Sandwich Army's mission is to provide a consistent, reliable source of food for the homeless.
        Every Saturday volunteers donate sandwiches to volunteer run drop-off hubs between <strong>1:30 PM - 2:30 PM</strong>.
        After the drop-off time, the hubs deliver the sandwiches to <strong>St. Luke's Mission of Mercy</strong>.
      </p>

      <p>
        Out goal is to provide at least <strong>100 sandwiches</strong> every Saturday.
        If you are interested in volunteering, please read the information below.
      </p>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <mat-card class="drop-off-hub-info-card">
        <mat-card-title>
          <mat-icon>device_hub</mat-icon>
          Register Drop-Off Hub
        </mat-card-title>
        <mat-card-content>
          <p>
            <strong>Register</strong> your address as a Drop-Off Hub for an upcoming <strong>Saturday</strong>.
          </p>
          <p>
            You are expected to do the following:
          </p>
          <ul>
            <li>Collect lunches delivered by other volunteers between <strong>1:30 PM - 2:30 PM</strong>.</li>
            <li>Deliver all lunches to <a href="https://maps.google.com/maps/dir//St.+Luke's+Mission+of+Mercy+325+Walden+Ave+Buffalo,+NY+14211/@42.9024871,-78.8245522,16z/data=!4m5!4m4!1m0!1m2!1m1!1s0x89d30d70d435ecf7:0xb1270cd602297d90" target="_blank">St. Luke's</a> between <strong>2:30 PM - 3:30 PM</strong>.</li>
          </ul>
          <p>
            Additionally, feel free to make sandwiches and donate them to your own hub.
          </p>
          <p>
            <strong> We prefer that volunteers register as drop-off hubs if they can commit to driving their sandwiches directly to St. Luke's.</strong>
          </p>
        </mat-card-content>
        <mat-card-actions class="align-right align-center-xs">
          <a [routerLink]="['/donation-hub', 'list', 'my']">
            <button mat-button type="button" class="compact" color="accent">View My Hubs</button>
          </a>
          <a [routerLink]="['/donation-hub', 'create']">
            <button mat-raised-button type="button" class="compact" color="primary">Register</button>
          </a>
        </mat-card-actions>
      </mat-card>
    </div>

    <div class="col-md-6">
      <mat-card class="donation-pledge-info-card">
        <mat-card-title>
          <fa-icon [icon]="faHandHoldingHeart"></fa-icon>
          Donate Sandwiches
        </mat-card-title>
        <mat-card-content>
          <p>
            <strong>Donate</strong> bagged sandwich lunches to our <strong>Drop-Off Hubs</strong> each <strong>Saturday</strong>.
          </p>
          <p>
            You are expected to do the following:
          </p>

          <ul>
            <li>Make a <strong>minimum of 20 sandwiches</strong> of your choice.</li>
            <li>Wrap each sandwich in either aluminum foil or plastic wrap.</li>
            <li>Supply a <strong>small snack</strong> and <strong>piece of fruit</strong> with each sandwich.</li>
            <li>Combine the wrapped sandwich, snack, and piece of fruit in a paper bag.</li>
          </ul>

          <p>
            Please prepare all sandwiches in a sanitary environment, and keep all perishable items refrigerated until drop-off.
            Also, we prefer that you avoid the heavy use of condiments and bananas as your choice of fruit.
          </p>
        </mat-card-content>
        <mat-card-actions class="align-right align-center-xs">
          <a [routerLink]="['/donation-hub', 'pledge', 'list', 'my']">
            <button mat-button type="button" class="compact" color="accent">View My Donations</button>
          </a>
          <a [routerLink]="['/donation-hub', 'list']">
            <button mat-raised-button type="button" class="compact" color="primary">Donate</button>
          </a>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>

  <div class="row">
    <div class="col-12 align-center">
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2922.5951858620674!2d-78.82942310917664!3d42.90248699675424!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89d30d70d435ecf7%3A0xb1270cd602297d90!2sSt.%20Luke&#39;s%20Mission%20of%20Mercy!5e0!3m2!1sen!2sus!4v1693430642958!5m2!1sen!2sus" width="100%" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
  </div>
</div>
