<div class="donation-hub-portal page">
  <div class="page-title">FoodWeb Sandwich Army</div>

  <div class="row">
    <div class="col-md-6">
      <mat-card class="drop-off-hub-info-card">
        <mat-card-title>
          <mat-icon>device_hub</mat-icon>
          Donation Drop-Off Hub
        </mat-card-title>
        <mat-card-content>
          <p>
            You can <strong>register</strong> your home as a drop-off hub for an upcoming <strong>Saturday</strong>,
            and other volunteers will pledge donations to it.
          </p>
          <p>
            After the drop-off window ends, you are expected to deliver all sandwiches to the <strong>Good Shepherd House</strong>,
            which is located at <strong>St. Luke's Mission for Mercy</strong>.
          </p>
          <p>
            After delivery, you should notify <strong>Gino</strong> about the drop-off at
            <strong><a href="tel:716-830-1413">(716) 830-1413</a></strong>.
          </p>
        </mat-card-content>
        <mat-card-actions class="align-right align-center-xs">
          <a [routerLink]="['/donation-hub', 'list', 'my']">
            <button mat-button type="button" class="compact" color="accent">View My Hubs</button>
          </a>
          <a [routerLink]="['/donation-hub', 'create']">
            <button mat-raised-button type="button" class="compact" color="primary">Register</button>
          </a>
        </mat-card-actions>
      </mat-card>
    </div>

    <div class="col-md-6">
      <mat-card class="donation-pledge-info-card">
        <mat-card-title>
          <fa-icon [icon]="faHandHoldingHeart"></fa-icon>
          Donation Pledge
        </mat-card-title>
        <mat-card-content>
          <p>
            You can <strong>donate</strong> to our <strong>Donation Drop-Off Hubs</strong>,
            which should be available each <strong>Saturday</strong>.
          </p>
          <p>
            You are expected to prepare and package a <strong>minimum of 20 sandwiches</strong> before the drop-off window for your chosen hub.
          </p>
          <p>
            Please also try to <strong>include a snack</strong> such as a piece of fruit with each sandwich.
          </p>
        </mat-card-content>
        <mat-card-actions class="align-right align-center-xs">
          <a [routerLink]="['/donation-hub', 'pledge', 'list', 'my']">
            <button mat-button type="button" class="compact" color="accent">View My Donations</button>
          </a>
          <a [routerLink]="['/donation-hub', 'list']">
            <button mat-raised-button type="button" class="compact" color="primary">Donate</button>
          </a>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</div>
