<div class="contact-info-container" [foodWebDisplayEditTransition]="editing" [form]="contactInfoForm" [display]="contactInfoDisplay">
  <div #contactInfoForm class="row contact-info-form" [formGroup]="formGroup">
    <div class="col-sm-6">
      <mat-form-field class="fill">
        <input matInput placeholder="Email" formControlName="email" type="email">
        <mat-error *ngIf="formGroup.get('email').hasError('email')">
          Not a valid email address
        </mat-error>
      </mat-form-field>
    </div>
    <div class="col-sm-6">
      <mat-form-field class="fill">
        <input matInput placeholder="Phone Number" formControlName="phoneNumber" type="tel">
        <mat-error *ngIf="formGroup.get('phoneNumber').hasError('pattern')">
          Not a valid phone number
        </mat-error>
      </mat-form-field>
    </div>
    <div class="col-sm-12">
      <mat-form-field class="fill">
        <input matInput placeholder="Street Address" formControlName="streetAddress" type="text">
      </mat-form-field>
    </div>
    <div class="col-sm-6">
      <mat-form-field class="fill">
        <input matInput placeholder="City" formControlName="city" type="text">
      </mat-form-field>
    </div>
    <div class="col-sm-3">
      <mat-form-field class="fill">
        <input matInput placeholder="State/Province" formControlName="stateProvince" type="text">
      </mat-form-field>
    </div>
    <div class="col-sm-3">
      <mat-form-field class="fill">
        <input matInput placeholder="Zip/Postal Code" formControlName="postalCode" type="text">
        <mat-error *ngIf="formGroup.get('postalCode').hasError('pattern')">
          Not a valid postal code
        </mat-error>
      </mat-form-field>
    </div>
  </div>

  <div #contactInfoDisplay class="contact-info-display row">
    <ng-container *ngIf="contactInfo">
      <div class="col-sm-6">
        <div class="inline-label">Email:</div>
        <div class="d-inline-block">
          <a class="email" href="mailto:{{ contactInfo.email }}">
            {{ contactInfo.email }}
          </a>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="inline-label">Phone Number:</div>
        <div class="d-inline-block">
          <a class="phone-number" href="tel:{{ contactInfo.phoneNumber }}">
            {{ contactInfo.phoneNumber }}
          </a>
        </div>
      </div>
      <div *ngIf="!hideAddress && contactInfo.streetAddress" class="col-sm-12">
        <div class="inline-label">Address:</div>
        <a class="address" [href]="mapService.genDirectionHref(contactInfo)" target="_blank">
          <food-web-address [contactInfo]="contactInfo"></food-web-address>
        </a>
      </div>
    </ng-container>
  </div>
</div>
