@import "../../../../../../web/src/app/donation-shared/child-components/donation-workflow/donation-workflow.component.scss";

.toggle-show-all-statuses {
  --padding-start: 0;
  margin-bottom: 0;
  font-size: 14px;
  text-decoration: none;
}
