@import "../../../../styles/constants.scss";

:host {
  height    : 100%;
  text-align: center;
  width     : 100%;

  .profile-img-container {

    &,
    Label,
    Image {
      border-radius: 100%;
    }
  }
}
