<h2>{{header}}</h2>
<hr>


<!-- This is the Food Listings (generated via loop) -->
<ng-container *ngFor="let foodListing of foodListings; let i = index">

    <img *ngIf="foodListing.imgUrl != null" [src]="foodListing.imgUrl" class="food-listing-img">

    <div class="food-listing-contents" style="text-align:left;">
        <h5 class="link-content">
            <a (click)="showDetails(i)" title="Click for Details">{{foodListing.foodTitle}}</a>
        </h5>

        <p>
            <base-food-listing-info [foodListing]="foodListing"></base-food-listing-info>

            <ng-content select="[food-listing-info]"></ng-content>
        </p>
    </div>
    <hr>
    
</ng-container>


<!-- This is our modal popup. It is separated into its own (child) component.
     Simply pass down transcluded HTML into this child component here! -->
<food-details #FoodDetailsComponent>

    <ng-container details-modal-body>
        <ng-content select="[details-modal-body]"></ng-content>
    </ng-container>

    <ng-container confirm-modal-body>
        <ng-content select="[confirm-modal-body]"></ng-content>
    </ng-container>

    <ng-container details-modal-footer>
        <ng-content select="[details-modal-footer]"></ng-content>
    </ng-container>
    
    <ng-container confirm-modal-footer>
        <ng-content select="[confirm-modal-footer]"></ng-content>
    </ng-container>

</food-details>
