.food-listing-img {
    display: inline-block;
    vertical-align: top;
}

.food-listing-contents, .food-listing-img {
    display: inline-block;
    margin-left: 1vw;
}

.modal-img {
    margin-right: 10px;
    margin-bottom: 10px;
}
