option_settings:
  aws:elasticbeanstalk:application:environment:
    ADMIN_ACCOUNT_IDS:                '{{resolve:ssm:/foodweb/${ENV}/ADMIN_ACCOUNT_IDS:1}}'
    ADMIN_DOMAIN:                     '{{resolve:ssm:/foodweb/${ENV}/ADMIN_DOMAIN:1}}'
    ADMIN_EMAILS:                     '{{resolve:ssm:/foodweb/${ENV}/ADMIN_EMAILS:1}}'
    CORS_WHITELIST:                   '{{resolve:ssm:/foodweb/${ENV}/CORS_WHITELIST:1}}'
    DATABASE_DATABASE:                '{{resolve:ssm:/foodweb/${ENV}/DATABASE_DATABASE:1}}'
    DATABASE_HOST:                    '{{resolve:ssm:/foodweb/${ENV}/DATABASE_HOST:1}}'
    DATABASE_MIGRATIONS_RUN:          '{{resolve:ssm:/foodweb/${ENV}/DATABASE_MIGRATIONS_RUN:1}}'
    DATABASE_PASSWORD:                '{{resolve:ssm:/foodweb/${ENV}/DATABASE_PASSWORD:1}}'
    DATABASE_PORT:                    '{{resolve:ssm:/foodweb/${ENV}/DATABASE_PORT:1}}'
    DATABASE_REJECT_UNAUTHORIZED:     '{{resolve:ssm:/foodweb/${ENV}/DATABASE_REJECT_UNAUTHORIZED:1}}'
    DATABASE_SSL:                     '{{resolve:ssm:/foodweb/${ENV}/DATABASE_SSL:1}}'
    DATABASE_URL:                     '{{resolve:ssm:/foodweb/${ENV}/DATABASE_URL:1}}'
    DATABASE_USERNAME:                '{{resolve:ssm:/foodweb/${ENV}/DATABASE_USERNAME:1}}'
    DEVELOPMENT:                      '{{resolve:ssm:/foodweb/${ENV}/DEVELOPMENT:1}}'
    DIRECTIONS_API_KEY:               '{{resolve:ssm:/foodweb/${ENV}/DIRECTIONS_API_KEY:1}}'
    DISTANCE_TIME_API_KEY:            '{{resolve:ssm:/foodweb/${ENV}/DISTANCE_TIME_API_KEY:1}}'
    EB_S3_BUCKET_URI:                 '{{resolve:ssm:/foodweb/${ENV}/EB_S3_BUCKET_URI:1}}'
    FIREBASE_SERVICE_ACCOUNT:         '{{resolve:ssm:/foodweb/${ENV}/FIREBASE_SERVICE_ACCOUNT:1}}'
    GEOCODER_API_KEY:                 '{{resolve:ssm:/foodweb/${ENV}/GEOCODER_API_KEY:1}}'
    GEOCODER_PROVIDER:                '{{resolve:ssm:/foodweb/${ENV}/GEOCODER_PROVIDER:1}}'
    MAILGUN_API_KEY:                  '{{resolve:ssm:/foodweb/${ENV}/MAILGUN_API_KEY:1}}'
    MAILGUN_DOMAIN:                   '{{resolve:ssm:/foodweb/${ENV}/MAILGUN_DOMAIN:1}}'
    MAILGUN_SMTP_LOGIN:               '{{resolve:ssm:/foodweb/${ENV}/MAILGUN_SMTP_LOGIN:1}}'
    MAIN_EMAIL:                       '{{resolve:ssm:/foodweb/${ENV}/MAIN_EMAIL:1}}'
    NOREPLY_EMAIL:                    '{{resolve:ssm:/foodweb/${ENV}/NOREPLY_EMAIL:1}}'
    NOREPLY_PASSWORD:                 '{{resolve:ssm:/foodweb/${ENV}/NOREPLY_PASSWORD:1}}'
    NOREPLY_PORT:                     '{{resolve:ssm:/foodweb/${ENV}/NOREPLY_PORT:1}}'
    NOREPLY_SECURE:                   '{{resolve:ssm:/foodweb/${ENV}/NOREPLY_SECURE:1}}'
    NOREPLY_SERVER:                   '{{resolve:ssm:/foodweb/${ENV}/NOREPLY_SERVER:1}}'
    NOREPLY_USERNAME:                 '{{resolve:ssm:/foodweb/${ENV}/NOREPLY_USERNAME:1}}'
    PRODUCTION:                       '{{resolve:ssm:/foodweb/${ENV}/PRODUCTION:1}}'
    PRODUCTION_HOST_ADDRESS:          '{{resolve:ssm:/foodweb/${ENV}/PRODUCTION_HOST_ADDRESS:1}}'
    PRODUCTION_HOST_ADDRESS_READABLE: '{{resolve:ssm:/foodweb/${ENV}/PRODUCTION_HOST_ADDRESS_READABLE:1}}'
    QA:                               '{{resolve:ssm:/foodweb/${ENV}/QA:1}}'
    RAW_DOMAIN:                       '{{resolve:ssm:/foodweb/${ENV}/RAW_DOMAIN:1}}'
    REDIS_SSL:                        '{{resolve:ssm:/foodweb/${ENV}/REDIS_SSL:1}}'
    REDIS_URL:                        '{{resolve:ssm:/foodweb/${ENV}/REDIS_URL:1}}'
    SERVER_HOST_ADDRESS:              '{{resolve:ssm:/foodweb/${ENV}/SERVER_HOST_ADDRESS:1}}'
    SERVER_HOST_ADDRESS_READABLE:     '{{resolve:ssm:/foodweb/${ENV}/SERVER_HOST_ADDRESS_READABLE:1}}'
    SERVER_PORT:                      '{{resolve:ssm:/foodweb/${ENV}/SERVER_PORT:1}}'
    SESSION_SECRET:                   '{{resolve:ssm:/foodweb/${ENV}/SESSION_SECRET:1}}'
    SESSION_TTL_MS:                   '{{resolve:ssm:/foodweb/${ENV}/SESSION_TTL_MS:1}}'
    SUPPORT_EMAIL:                    '{{resolve:ssm:/foodweb/${ENV}/SUPPORT_EMAIL:1}}'
    SUPPORT_PASSWORD:                 '{{resolve:ssm:/foodweb/${ENV}/SUPPORT_PASSWORD:1}}'
    SUPPORT_PORT:                     '{{resolve:ssm:/foodweb/${ENV}/SUPPORT_PORT:1}}'
    SUPPORT_SECURE:                   '{{resolve:ssm:/foodweb/${ENV}/SUPPORT_SECURE:1}}'
    SUPPORT_SERVER:                   '{{resolve:ssm:/foodweb/${ENV}/SUPPORT_SERVER:1}}'
    SUPPORT_USERNAME:                 '{{resolve:ssm:/foodweb/${ENV}/SUPPORT_USERNAME:1}}'
    UNRECORDED_DONATION_COUNT:        '{{resolve:ssm:/foodweb/${ENV}/UNRECORDED_DONATION_COUNT:1}}'
    UNRECORDED_MEAL_COUNT:            '{{resolve:ssm:/foodweb/${ENV}/UNRECORDED_MEAL_COUNT:1}}'
    WWW_DOMAIN:                       '{{resolve:ssm:/foodweb/${ENV}/WWW_DOMAIN:1}}'
    environment:                      '{{resolve:ssm:/foodweb/${ENV}/environment:1}}'
