option_settings:
  aws:elasticbeanstalk:application:environment:
    ADMIN_DOMAIN:                     '{{resolve:ssm:/foodweb/${ENV}/ADMIN_DOMAIN:1}}'
    DEVELOPMENT:                      '{{resolve:ssm:/foodweb/${ENV}/DEVELOPMENT:1}}'
    EB_S3_BUCKET_URI:                 '{{resolve:ssm:/foodweb/${ENV}/EB_S3_BUCKET_URI:1}}'
    MAIN_EMAIL:                       '{{resolve:ssm:/foodweb/${ENV}/MAIN_EMAIL:1}}'
    PRODUCTION:                       '{{resolve:ssm:/foodweb/${ENV}/PRODUCTION:1}}'
    PRODUCTION_HOST_ADDRESS:          '{{resolve:ssm:/foodweb/${ENV}/PRODUCTION_HOST_ADDRESS:1}}'
    PRODUCTION_HOST_ADDRESS_READABLE: '{{resolve:ssm:/foodweb/${ENV}/PRODUCTION_HOST_ADDRESS_READABLE:1}}'
    QA:                               '{{resolve:ssm:/foodweb/${ENV}/QA:1}}'
    RAW_DOMAIN:                       '{{resolve:ssm:/foodweb/${ENV}/RAW_DOMAIN:1}}'
    SERVER_HOST_ADDRESS:              '{{resolve:ssm:/foodweb/${ENV}/SERVER_HOST_ADDRESS:1}}'
    SERVER_HOST_ADDRESS_READABLE:     '{{resolve:ssm:/foodweb/${ENV}/SERVER_HOST_ADDRESS_READABLE:1}}'
    SKIP_ENSURE_NGINX_CONF:           '{{resolve:ssm:/foodweb/${ENV}/SKIP_ENSURE_NGINX_CONF:1}}'
    SKIP_DOWNLOAD_CERTS:              '{{resolve:ssm:/foodweb/${ENV}/SKIP_DOWNLOAD_CERTS:1}}'
    SKIP_HOOKS:                       '{{resolve:ssm:/foodweb/${ENV}/SKIP_HOOKS:1}}'
    SKIP_INSTALL_CERTBOT:             '{{resolve:ssm:/foodweb/${ENV}/SKIP_INSTALL_CERTBOT:1}}'
    SKIP_POSTDEPLOY_HOOKS:            '{{resolve:ssm:/foodweb/${ENV}/SKIP_POSTDEPLOY_HOOKS:1}}'
    SKIP_PREBUILD_HOOKS:              '{{resolve:ssm:/foodweb/${ENV}/SKIP_PREBUILD_HOOKS:1}}'
    SKIP_RENEW_CERTS_CRON:            '{{resolve:ssm:/foodweb/${ENV}/SKIP_RENEW_CERTS_CRON:1}}'
    WWW_DOMAIN:                       '{{resolve:ssm:/foodweb/${ENV}/WWW_DOMAIN:1}}'
    environment:                      '{{resolve:ssm:/foodweb/${ENV}/environment:1}}'
