<div [formGroup]="formGroup" class="row">
  <div class="date-time-field col-sm-6">
    <food-web-date-time
     formControlName="startDateTime"
     [datePlaceholder]="startDatePlaceholder"
     [timePlaceholder]="startTimePlaceholder"
     [initDateToday]="initStartDateToday"
     [defaultTime]="defaultStartTime"
     [minDate]="minDate"
     [maxDate]="maxDate"
     [floatLabels]="floatLabels"
     [required]="required"
     [errorStateMatcher]="rangeErrStateMatcher">
    </food-web-date-time>
  </div>
  <div class="date-time-field col-sm-6">
    <food-web-date-time
     formControlName="endDateTime"
     [datePlaceholder]="endDatePlaceholder"
     [timePlaceholder]="endTimePlaceholder"
     [initDateToday]="initEndDateToday"
     [defaultTime]="defaultEndTime"
     [minDate]="minDate"
     [maxDate]="maxDate"
     [floatLabels]="floatLabels"
     [required]="required"
     [errorStateMatcher]="rangeErrStateMatcher">
    </food-web-date-time>
    <mat-error *ngIf="formGroup.hasError('dateTimeRangeOrder')" class="range-order-err">
      End date-time must be later than start date-time
    </mat-error>
  </div>
</div>
