@import "./variables.scss";

.header {
  .mat-button {
    color      : $accent-darkest;
    font-size  : 20px;
    font-weight: normal;

    .mat-button-wrapper {
      vertical-align: 5px;

      .mat-icon {
        margin-right: 4px;
      }

      .ng-fa-icon {
        margin-right  : 5px;
        vertical-align: -1px;
      }
    }
  }

  .mat-icon-button {
    color      : $accent-darkest;
    height     : 32px;
    line-height: 32px;
    width      : 32px;

    @media only screen and (max-width: $md) {
      height        : 27px;
      line-height   : 27px;
      width         : 27px;
    }

    .mat-icon {
      transform: scale(1.4);

      @media only screen and (max-width: $md) {
        transform: scale(1.1);
      }
    }

    foodweb-profile-img {
      display   : inline-block;
      height    : 100%;
      width     : 100%;
      margin-top: -7px;

      .profile-img img {
        margin-top: -3px !important;

        @media only screen and (max-width: $md) {
          width: 28px !important;
        }
      }
    }
  }

  .notifications-button-container {
    .mat-badge-content.mat-badge-active {
      margin-right: 6px;
      top         : 2px;
    }
  }
}

/* Targets the actual notifications menu container */
.notifications-menu-backdrop+div {
  .cdk-overlay-pane {
    .mat-menu-panel {
      max-height: 70vh;
      max-width : 432px;
      overflow-x: hidden;
      width     : 100vw;

      .mat-menu-content {
        padding-bottom: 0;
        padding-top   : 0;
      }

      @media only screen and (max-width: 462px) {
        border-radius: 0;
        max-height   : calc(100vh - #{$header-height-mobile + 60px});
        max-width    : 100vw;
      }
    }

    @media only screen and (max-width: $sm) {
      top: $header-height !important;
    }

    @media only screen and (max-width: 462px) {
      max-width: 100vw !important;
      right    : 0 !important;
      top      : $header-height-mobile !important;
    }
  }
}

.header-submenu {
  .mat-nav-list {
    margin     : -8px 0;
    padding-top: 0;

    .mat-list-item {
      color    : $accent-darker;
      font-size: 18px;

      .mat-icon,
      .ng-fa-icon {
        margin-right  : 7px;
        vertical-align: -5px;
      }

      .ng-fa-icon {
        padding-left: 2px;
        width       : 24px;
      }
    }
  }
}
