@import "./variables.scss";

.page {
  position  : relative;
  box-sizing: border-box;
  padding   : $page-vert-pad $page-horz-pad;

  &:not(.container) {
    max-width   : 1140px;
    margin-left : auto;
    margin-right: auto;

    @media only screen and (max-width: $mat-mobile) {
      padding-left : $page-horz-pad-mobile;
      padding-right: $page-horz-pad-mobile;
    }
  }

  .page-title {
    font         : 600 28px Avenir;
    margin-bottom: 15px;
    text-align   : center;
    color        : $accent;

    @media only screen and (max-width: $md) {
      &:not(.keep-mobile) {
        display: none;
      }

      font-size: 24px;
    }
  }

  .banner {
    position: relative;
    box-sizing: border-box;
    padding: 50px 0;
    margin: 50px 0;

    &:before {
      position        : absolute;
      box-sizing      : border-box;
      display         : block;
      z-index         : 0;
      content         : "";
      width           : 100vw;
      height          : 100%;
      top             : 0;
      left            : calc(50% - 50vw);
      background      : linear-gradient($primary, $primary-lighter);
    }

    &.semi-transparent-bg {
      &:before {
        background: rgba($primary-lightest, .67);
      }
    }

    .content {
      z-index: 1;
    }
  }
}

h2.section-title {
  font-size    : 24px;
  color        : $accent;
  margin-bottom: 15px;

  @media only screen and (max-width: $md) {
    font-size: 20px;
  }

  @media only screen and (max-width: $mat-mobile) {
    font-size: 18px;
  }
}
