@import "./constants.scss";

$table-card-background: white;
$filter-transition-time: 0.33s;

.table-title-content {
  position: relative;
  margin-left: 0px;
  margin-right: 0px;
  padding: 14px 10px 10px;
  background-color: #f7f7f7;
  border-bottom: 1px solid lightgray;

  .datatable-title {
    font-size: 22px;
    font-weight: 500;
    padding-left: 0px;
    margin: 0px;
    height: 100%;

    @media only screen and (min-width: 576px) {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  .datatable-filter-container {
    text-align: right;
    display: -webkit-flex;
    display: flex;
    justify-content: flex-end;
    padding-right: 0px;
    margin-top: -13px;
    max-height: 38px;

    // Target IE 10 & 11.
    @media only screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
      display: block;
    }

    @media only screen and (max-width: $sm) {
      padding-left: 0px;
      text-align: left;
      justify-content: flex-start;
    }

    @media only screen and (max-width: 575px) {
      margin-top: 0;
    }

    .datatable-filter {
      width: 100%;
      max-width: 20px;
      max-height: 45px;
      flex: 1 1 100px;
      transition: max-width $filter-transition-time ease-in-out;

      &.show-datatable-filter {
        max-width: 300px;

        .mat-form-field-wrapper {
          .mat-form-field-underline {
            opacity: 1;
          }

          .search-icon {
            margin-top: 0px;
            margin-right: 5px;
            text-align: left;
            color: #666;
          }
        }
      }

      .mat-form-field-wrapper {
        padding-bottom: 1em;

        .search-icon {
          margin-top: 12px;
          vertical-align: -4px;
          text-align: center;
          color: black;
          transition: margin-top $filter-transition-time ease-in-out;
          font-size: 24px;

          &:focus {
            outline: none;
          }
        }

        .mat-form-field-infix {
          border-top: none;
          margin-top: 2px;
        }

        .mat-form-field-underline {
          display: block;
          opacity: 0;
        }
      }
    }

    .datatable-title-buttons {
      flex: 0 0 auto;
      margin-top: -6px;
      margin-left: 3px;

      button:not(.mat-button) {
        margin-left: 8px;
      }

      .mat-button {
        padding: 0px 12px;
      }
    }
  }
}

.datatable-progress {
  z-index: 20;
  position: absolute;
  left: 0px;
  width: 100%;
  margin-top: -2px;

  .mat-progress-bar {
    max-height: 2px;
  }
}

.datatable-container {
  overflow-x: auto;

  .mat-table {
    display: table;
    min-width: 100%;

    &.table-single-select, &.table-multi-select {
      .mat-row {
        cursor: pointer;
        transition: background-color 0.7s;

        &:hover {
          background-color: $primary-lightest;
        }

        &:hover {
          transition: background-color 0.4s;
        }

        &.table-row-selected {
          background-color: $primary-lightest;
          &:hover {
            background-color: $primary-lightest;
          }
        }
      }
    }

    .mat-header-row {
      background-color: $table-card-background;
      height: 40px;

      .mat-sort-header {
        cursor: pointer;
      }
    }

    .mat-header-cell, .mat-cell {
      padding: 0px 10px;
      min-width: 150px;

      &.row-actions-cell, &.row-actions-header-cell {
        min-width: 1px;
        width: 1px;
        white-space: nowrap;

        button:not(.mat-button) {
          margin-right: 8px;
        }

        .mat-button {
          padding: 0px 12px;
        }
      }

      &.checkbox-cell, &.checkbox-header-cell {
        width: 25px;
        min-width: 0px;
        padding-left: 15px;
      }

      .mat-checkbox {
        vertical-align: 1px;
        margin-top: -1px;
        margin-right: 8px;
      }
    }

    .mat-header-cell {
      .mat-checkbox {
        .mat-checkbox-inner-container-no-side-margin {
          margin-top: -1px;
        }
      }
    }
  }
}

.mat-paginator {
  background-color: $table-card-background;
}

.datatable-card {
  background-color: $table-card-background;
  padding-bottom: 0px !important;
  border: 1px solid #e4e4e4;

  @media only screen and (max-width: $mat-mobile) {
    padding: 16px 24px 0px 24px;
  }

  > .mat-card-title {
    position: relative;
    margin: -16px !important;
    margin-bottom: 0px !important;
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;

    foodweb-table-title {
      border-radius: inherit;

      .table-title-content {
        border-radius: inherit;
      }
    }
  }

  > .mat-card-content {
    margin: 0px -16px;

    .mat-paginator {
      border-bottom-left-radius: 4px;
      border-bottom-right-radius: 4px;
    }
  }
}

.row-actions-cell, .datatable-title-buttons {
  .mat-button, .mat-raised-button {
    height: 30px;
    line-height: 30px;

    .mat-icon {
      height: 23px;
      margin-top: 1px;
    }
  }

  .mat-mini-fab {
    height: 28px;
    border-radius: 30px;
    line-height: 28px;
    width: 45px;

    .mat-icon {
      margin-top: 2px;
    }

    .mat-button-wrapper {
      padding: 0px !important;
    }
  }
}

:not(.mat-card-title) {
  > foodweb-table-title {
    .datatable-title-buttons {
      button {
        margin-top: 7px;
      }
    }
  }
}
