.teaser.mat-card {
  .mat-card-header {
    margin-bottom: 5px;
  }

  .mat-card-actions {
    padding-top: 0;
    text-align: center;
    display: flex;
    margin-left: 0;
    margin-right: 0;

    > * {
      flex: 1 1 0px;
    }

    button {
      font-weight: 500;
      width: calc(100% - 16px);
      max-width: 300px;
    }
  }
}
