/* Window width thresh consts */
$lg: 1200px;
$md: 991px;
$sm: 767px;
$mat-mobile: 600px;
$xs: 575px;

/* Header/Footer Consts */
$header-height: 60px;
$header-height-mobile: 40px;
$footer-height: 45px;

/* Main (Page) Content Consts */
$page-vert-pad: 20px;
$page-horz-pad: 15px;
$page-horz-pad-mobile: 15px;

/* Define color palette constants */
@import '~@angular/material/theming';

$primary-palette: mat-palette($mat-green, 400, 300, 500);
$accent-palette: mat-palette($mat-brown);
$warn-palette: mat-palette($mat-red);

$light-theme: mat-light-theme($primary-palette, $accent-palette, $warn-palette);

$primary: map-get($primary-palette, default);
$primary-lightest: map-get($primary-palette, 100);
$primary-lighter: map-get($primary-palette, lighter);
$primary-darker: map-get($primary-palette, darker);
$primary-darkest: map-get($primary-palette, 900);

$accent: map-get($accent-palette, default);
$accent-lightest: map-get($accent-palette, 100);
$accent-lighter: map-get($accent-palette, 400);
$accent-darker: map-get($accent-palette, darker);
$accent-darkest: map-get($accent-palette, 900);

$warn: map-get($warn-palette, default);
$warn-lightest: map-get($warn-palette, 100);
$warn-lighter: map-get($warn-palette, lighter);
$warn-darker: map-get($warn-palette, darker);
$warn-darkest: map-get($warn-palette, 900);

$content-background: #eee8e0;

$alert-info-background: #d9edf7;
$alert-info-color: #31708f;

$alert-success-background: #dff0d8;
$alert-success-color: #3c763d;

$alert-warn-background: #fcf8e3;
$alert-warn-color: #8a6d3b;

$alert-danger-background: #f2dede;
$alert-danger-color: #a94442;

$donor-color: $primary-lighter;
$receiver-color: #f79407;
$volunteer-color: #f70d07;

$donation-unmatched-background: rgb(255, 245, 225);
$donation-unmatched-color: rgb(210, 145, 30);

$donation-matched-background: rgb(255, 234, 212);
$donation-matched-color: rgb(255, 120, 40);

$delivery-scheduled-background: rgb(255, 230, 230);
$delivery-scheduled-color: rgb(234, 60, 83);

$delivery-started-background: rgb(240, 235, 255);
$delivery-started-color: rgb(118, 42, 131);

$delivery-picked-up-background: rgb(230, 240, 255);
$delivery-picked-up-color: rgb(49, 112, 143);

$delivery-complete-background: rgb(245, 255, 245);
$delivery-complete-color: rgb(60, 120, 60);

$quill-doc-max-width: 830px;
$quill-doc-padding: 65px;
$quill-doc-horz-padding-mobile: 25px;
$quill-toolbar-single-line-min-width: 1380px;
