<span id="food-details">
<ng-template #detailsHTML let-c="close" let-d="dismss">

    <div class="modal-header">

        <h4 class="modal-title">{{foodListing.foodTitle}}</h4>
        <button type="button" class="modal-close" aria-label="Close" (click)="c('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
        
    </div>

    <div class="modal-body">

        <!-- Standard modal body -->
        <ng-container *ngIf="!showConfirmDialog">

            <img *ngIf="foodListing.imgUrl != null" [src]="foodListing.imgUrl"
                id="details-img" align="left" class="modal-img">
            <p>
                <base-food-listing-info [foodListing]="foodListing"></base-food-listing-info>

                <ng-container *ngIf="foodListing.foodDescription != null">
                    Description: <b>{{foodListing.foodDescription}}</b>
                </ng-container>
            </p>

            <ng-content select="[details-modal-body]"></ng-content>

        </ng-container>

        <!-- Confirm modal body -->
        <ng-container *ngIf="showConfirmDialog">
            <ng-content select="[confirm-modal-body]"></ng-content>
        </ng-container>

    </div>
    
    <div class="modal-footer">
        
        <!-- Standard modal footer -->
        <ng-container *ngIf="!showConfirmDialog">
            <ng-content select="[details-modal-footer]"></ng-content>
        </ng-container>

        <!-- Confirm modal footer -->
        <ng-container *ngIf="showConfirmDialog">
            <ng-content select="[confirm-modal-footer]"></ng-content>
        </ng-container>

        <!-- Only close button is hard coded in dialog. All others are transcluded in from parent component -->
        <button md-raised-button color="primary" class="button-md" (click)="c('Close')">Close</button>

    </div>

</ng-template>
</span>
