<div class="about-container">
  <div class="page-title block-label">
    About FoodWeb
  </div>
  
  <p class="mission-statement">
    Our mission is to help alleviate hunger and prevent the waste of food. With our proprietary platform and our network of volunteers,
    we will enable local businesses to easily and quickly donate their excess food to local charities.
  </p>
  
  <mat-card class="origin-story-container">
    <mat-card-title class="mobile-origin-story-title">
      <span>Our Origin Story</span>
    </mat-card-title>
    <hr>
    <mat-card-content>
      <img src="./assets/IconImgMd.png" class="origin-story-img">

      <div class="desktop-origin-story-title">
        Our Origin Story
      </div>

      <p>
        In 2015, Reena was on the board of the United Way (yes, she's kind of a big deal) and was helping to start a new initiative challenging young professionals
        to get involved in the community.  That initiative turned into a massive "pitch" convention.  (OK, it was more of a gala.  Or like a small festival.
        Actually, it was a happy hour.  And it wasn’t at a bar.  And the drinks weren’t free.)  The idea was to give a forum to anyone willing to pitch an idea to the
        community (also known as happy hour attendees), who would then vote on the ideas and the top 3 would be provided with United Way support to turn the idea into a reality. 
      </p>
  
      <p>
        In anticipation of this event, PJ and Reena came up with the FoodWeb concept.  Well, actually, PJ came up with the idea, but since Reena put him on the spot
        and demanded that he come up with something, she likes to take credit.  PJ was struck by how much food was thrown out - at sporting events, meetings, weddings -
        when it could be given to people who were hungry.  So, PJ pitched his idea: Let’s mobilize volunteer drivers to volunteer a few minutes of their time, on their
        own schedule, to take food from places that would throw it out and give it to people who will use it!   The crowd went wild....and FoodWeb was born!
      </p>
  
      <p>
        Well...not quite yet. While PJ (and Reena and lots of happy hour attendees) loved the idea, they needed a little help to put it into action.
        So...enter Shayan Ghose.  Shayan and Reena go back (like...really back; Reena used to babysit Shayan, and according to her she still has to babysit him).
        Reena knew that Shayan was back in the Buffalo area and looking for a project to sink his teeth into, and so she connected him to PJ at...wait for it...another
        United Way pitch event!  PJ and Shayan connected immediately....joined together by their shared dismay that really good food was being wasted when they
        (and others, of course) could be eating it.  And FoodWeb was born!
      </p>
  
      <p>
        Actually, still not quite yet. Shayan put together a team of volunteer coders and software developers (i.e., really smart high school students who were willing
        to code for pizza) who spent a TON of time creating a website to coordinate donors, drivers, and receivers.  Shayan then brought in Mark Nemmer (Shayan had to beg,
        it was pathetic), who became our fearless head of technology, to bring together all the hard work and get the website into final form!  And surely then, FoodWeb was born!
      </p>
  
      <p>
        The group was finally complete when Andrew, another fearless attorney (told you) joined and
        came up with the brilliant idea to involve school districts in the project!
      </p>
  
      <p>
        And with that...FoodWeb was born!!!!
      </p>
    </mat-card-content>
  </mat-card>

  <div class="our-team-container">
    <div class="page-title block-label">
      Team FoodWeb
    </div>

    <div class="row">
      <div class="col-md-6">
        <mat-card>
          <mat-card-title>Shayan Ghose</mat-card-title>
          <mat-card-subtitle>Executive Chairperson</mat-card-subtitle>
          <mat-card-content>
            <p>
              Shayan grew up in Amherst and graduated from Williamsville North before completing his undergrad and masters education from Cornell University.
              He currently works in the financial sector. In his free time, he spends a bit too much time theorizing about Game of Thrones or watching the NBA and NFL.
              His friends know that he's always ready for a ping pong battle.
            </p>
      
            <p>
              Shayan was first introduced to the idea of food rescue in WNY by PJ Hines and Reena Dutta at a Next Generation United event in 2017.
              The idea caught hold with him and a few months later FoodWeb was born with the mission of facilitating food donations with the use of technology.
            </p>
          </mat-card-content>
        </mat-card>
      </div>
    
      <div class="col-md-6">
        <mat-card>
          <mat-card-title>Mark Nemmer</mat-card-title>
          <mat-card-subtitle>Vice Chairperson and CTO</mat-card-subtitle>
          <mat-card-content>
            <p>
              Mark works as a software developer at the University at Buffalo. He strives to improve and maintain various web apps across the university.
              In his free time he can be found hanging out with family and friends, playing video games, or programming.
            </p>
      
            <p>
              Mark was introduced to the FoodWeb team by Shayan Ghose. He loves to code, and wishes to use his abilities to help others, so the position of
              technical lead is a great fit. Mark is excited to see FoodWeb thrive and bring about positive change within the community.
            </p>
          </mat-card-content>
        </mat-card>
      </div>

      <div class="col-md-6">
        <mat-card>
          <mat-card-title>Andrew Freedman</mat-card-title>
          <mat-card-subtitle>Treasurer</mat-card-subtitle>
          <mat-card-content>
            <p>
              Andrew is a Buffalo native graduating from Williamsville East High School.
              He moved into the city during law school and hasn’t looked back.
              Taking advantage of all that this vibrant city has to offer is Andrew’s forte.
              Whether it’s strolling the waterfront during the summer months, eating at the fantastic restaurants, or spending time at
              the Albright-Knox Art Gallery, Andrew knows how to enjoy city life.  During the day Andrew is a private practice education
              attorney representing school districts throughout the Western New York Area and Southern Tier. 
            </p>
      
            <p>
              Andrew was fortunate enough to be asked by Reena to join the food web team and it’s been honor working with this philanthropic
              group of individuals. While I don’t have the technology skills that some members of our team have, I assist with bringing food
              donors together with food recipients. Thank you for taking the time to read about this incredible project. 
            </p>
          </mat-card-content>
        </mat-card>
      </div>

      <div class="col-md-6">
        <mat-card>
          <mat-card-title>Reena Dutta</mat-card-title>
          <mat-card-subtitle>Secretary</mat-card-subtitle>
          <mat-card-content>
            <p>
              Reena is an attorney by day and... also an attorney by night.
              While she can usually be found reading briefs in her spare time, she does occasionally enjoy some non-legal activities,
              including running (it counts as a hobby if you do it once), yoga, and, of course, food (cooking, but especially eating)!
            </p>
      
            <p>
              Reena's service on the United Way board started this all (as she reminds everyone fairly regularly) because it led to her
              forcing really smart people (pretty much everyone else involved with FoodWeb) to get involved with FoodWeb (for which they
              are now eternally grateful)! Reena is looking forward to watching FoodWeb grow and growing old with her FoodWeb colleagues
              (not that she's old yet... far from it... really).
            </p>
          </mat-card-content>
        </mat-card>
      </div>

      <div class="col-md-6">
        <mat-card>
          <mat-card-title>Patrick Hines</mat-card-title>
          <mat-card-subtitle>Board Member</mat-card-subtitle>
          <mat-card-content>
            <p>
              PJ is an attorney in private practice.
              Outside of practicing law, PJ’s list of leisure activities reads like any basic social media profile.
              Travel, running, consumption of food and beverage, etc.  He limped across the finish line in the 2016 and 2018 Buffalo Marathons,
              and might do so again if his knees ever allow it.  He occasionally treks to exotic locations like Costa Rica, Australia, Peru, and Cleveland.
              You might also find him enjoying the performing arts. While he sits on the board of a ballet company, his true passion is karaoke.
            </p>
      
            <p>
              PJ conceived of FoodWeb a long time ago, and luckily he has been surrounded by a team of amazing people making it happen!
            </p>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </div>
</div>
