.delivery-teaser {
  .donation-status {
    font-size: 11px;
  }

  .delivery-display {
    &> div {
      margin-bottom: 12px;
    }

    .donation-description {
      white-space: nowrap;
      overflow-x: hidden;
      max-width: 100%;
      text-overflow: ellipsis;
    }

    foodweb-address {
      padding-left: 7px;
    }
  }

  .mat-card-actions {
    padding-top: 0;
    margin-top: -16px;

    button {
      font-weight: 500;
    }
  }
}
