<mat-card id="donation-{{ donation.id }}" class="delivery-teaser">
  <mat-card-header>
    <img mat-card-avatar [src]="donation.donorAccount.profileImgUrl" alt="{{ donation | donationMemberName : 'Donor' }} Profile Image">
    <mat-card-title>{{ donation | donationMemberName : 'Donor' }}</mat-card-title>
    <mat-card-subtitle>
      <food-web-donation-status [donationStatus]="donation.donationStatus" class="donation-status"></food-web-donation-status>
    </mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <div class="delivery-display row">
      <div class="col-sm-6">
        <div class="inline-label">Delivery Window Start:</div>
        <div><food-web-date-time [dateTime]="donation.pickupWindowStart" [boldTime]="true"></food-web-date-time></div>
      </div>
      <div class="col-sm-6">
        <div class="inline-label">Delivery Window End:</div>
        <div><food-web-date-time [dateTime]="donation.pickupWindowEnd" [boldTime]="true"></food-web-date-time></div>
      </div>
      <div class="col-sm-6">
        <div class="inline-label">Pick-up:</div>
        <br><food-web-address [contactInfo]="donation.donorAccount.contactInfo"></food-web-address>
      </div>
      <div class="col-sm-6">
        <div class="inline-label">Drop-off:</div>
        <br><food-web-address [contactInfo]="donation.claim.receiverAccount.contactInfo"></food-web-address>
      </div>
    </div>
  </mat-card-content>
  <mat-card-actions>
    <div class="align-right">
      <a [routerLink]="donation | deliveryDetailsRouterLink" [state]="{ donation: donation }" class="no-hover">
        <button mat-raised-button type="button" class="compact" color="primary"><strong>View Delivery</strong></button>
      </a>
    </div>
  </mat-card-actions>
</mat-card>
