<mat-card id="donation-{{ donation.id }}" class="teaser delivery-teaser">
  <mat-card-header>
    <foodweb-profile-img mat-card-avatar [value]="donation.donorAccount.profileImg"></foodweb-profile-img>
    <mat-card-title>{{ donation | donationMemberName : AccountType.Donor }}</mat-card-title>
    <mat-card-subtitle>
      <foodweb-donation-status [donationStatus]="donation.donationStatus" class="donation-status"></foodweb-donation-status>
    </mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <div class="delivery-display row">
      <div class="col-sm-6">
        <div class="inline-label">Delivery Window Start:</div>
        <div><foodweb-date-time [value]="donation.pickupWindowStart" [boldTime]="true"></foodweb-date-time></div>
      </div>
      <div class="col-sm-6">
        <div class="inline-label">Delivery Window End:</div>
        <div><foodweb-date-time [value]="donation.pickupWindowEnd" [boldTime]="true"></foodweb-date-time></div>
      </div>
      <div class="col-sm-6">
        <div class="inline-label">Pick-up:</div>
        <br><foodweb-address [value]="donation.donorAccount.contactInfo"></foodweb-address>
      </div>
      <div class="col-sm-6">
        <div class="inline-label">Drop-off:</div>
        <br><foodweb-address [value]="donation.claim.receiverAccount.contactInfo"></foodweb-address>
      </div>
    </div>
  </mat-card-content>
  <mat-card-actions>
    <a [routerLink]="donation | deliveryDetailsRouterLink" [state]="{ donation: donation }" class="no-hover">
      <button mat-raised-button type="button" class="compact" color="primary">View Delivery</button>
    </a>
  </mat-card-actions>
</mat-card>
