@import "variables.scss";

.delivery-teaser {
  .foodweb-donation-status {
    font-size: 11px;
  }

  .delivery-display {
    &> div {
      margin-bottom: 12px;

      &:last-child {
        margin-bottom: 0;
      }
    }

    .donation-description {
      white-space: nowrap;
      overflow-x: hidden;
      max-width: 100%;
      text-overflow: ellipsis;
    }

    foodweb-address {
      padding-left: 7px;
    }
  }
}
