<mat-radio-group
  class="date-time-selections"
  [attr.ariaLabel]="ariaLabel"
  [formControl]="formControl">
  <mat-list class="mat-radio-list" [ngClass]="{ 'disabled': formControl.disabled }">
    <mat-divider *ngIf="!excludeTopDivider"></mat-divider>
    <mat-list-item matRipple [disabled]="formControl.disabled" *ngFor="let dateTimeRange of dateTimeRanges; let idx = index">
      <mat-radio-button #dateTimeRangeRadio [value]="dateTimeRange" [disableRipple]="true">
        <div>
          <span class="inline-label">Start:</span>
          <foodweb-date-time [value]="dateTimeRange.startDateTime" minDateWidth="73px" [boldTime]="true"></foodweb-date-time>
        </div>
        <div>
          <span class="inline-label">End:</span>
          <foodweb-date-time [value]="dateTimeRange.endDateTime" minDateWidth="73px" [boldTime]="true"></foodweb-date-time>
        </div>
      </mat-radio-button>
      <mat-divider></mat-divider>
    </mat-list-item>
  </mat-list>
</mat-radio-group>
