.date-time-selections .mat-radio-list {
  padding-top: 0;

  .mat-list-item {
    height: 60px;

    .inline-label {
      min-width: 42px;
    }

    foodweb-date-time {
      display: inline-block;
    }
  }
}
