@import "../../../../../../web/src/app/home/components/home/home.component.scss";

ion-avatar {
  position: absolute;

  &,
  ion-img {
    display: inline-block;
    width: 25px;
    height: 25px;
  }

  + ion-label {
    padding-left: 30px;
  }
}

.home {
  .stats-quote {
    color: var(--ion-placeholder-color);
  }
}
