<StackLayout class="dialog-panel">

  <Label [text]="title" class="dialog-title"></Label>

  <StackLayout class="dialog-content">
    <DatePicker #datePicker
      [date]="date"
      [maxDate]="maxDate"
      [minDate]="minDate"></DatePicker>
  </StackLayout>

  <StackLayout class="dialog-actions">
    <Button text="cancel" (tap)="modalDialogParams.closeCallback()" class="-primary"></Button>
    <Button text="ok" (tap)="modalDialogParams.closeCallback(datePicker.date)" class="-primary"></Button>
  </StackLayout>

</StackLayout>
