<food-web-filtered-list class="donations" listItemsLabel="Donations" [totalCount]="totalCount">
  <food-web-filtered-list-title>{{ pageTitleService.title }}</food-web-filtered-list-title>

  <food-web-filtered-list-toolbar>
    <food-web-search-bar
      placeholder="Search Donations..."
      [formControl]="donationFilters.filtersForm.get('fullTextQuery')"
      (search)="filterDonations(donationFilters.filtersForm.value)"
    ></food-web-search-bar>
  </food-web-filtered-list-toolbar>

  <food-web-filtered-list-content>
    <div class="col-lg-6" *ngFor="let donation of donations">
      <food-web-donation-teaser [donation]="donation"></food-web-donation-teaser>
    </div>
  </food-web-filtered-list-content>

  <food-web-list-filters>
    <food-web-donation-filters #donationFilters (filter)="filterDonations($event)"></food-web-donation-filters>
  </food-web-list-filters>
</food-web-filtered-list>
