<foodweb-filtered-list class="donations" listItemsLabel="Donations" [totalCount]="totalCount">
  <foodweb-filtered-list-title>{{ pageTitleService.title }}</foodweb-filtered-list-title>

  <foodweb-filtered-list-toolbar>
    <foodweb-search-bar
      placeholder="Search Donations..."
      [formControl]="donationFilters.filtersForm.get('fullTextQuery')"
      (search)="filterDonations(donationFilters.filtersForm.value)"
    ></foodweb-search-bar>
  </foodweb-filtered-list-toolbar>

  <foodweb-filtered-list-content>
    <div class="col-lg-6" *ngFor="let donation of donations">
      <foodweb-donation-teaser [donation]="donation"></foodweb-donation-teaser>
    </div>
  </foodweb-filtered-list-content>

  <foodweb-list-filters>
    <foodweb-donation-filters #donationFilters [activeFilters]="activeFilters" (filter)="filterDonations($event)"></foodweb-donation-filters>
  </foodweb-list-filters>
</foodweb-filtered-list>
