<food-web-filter-list class="donations" listItemsLabel="Donations" [totalCount]="totalCount">
  <food-web-filter-list-title>{{ pageTitleService.title }}</food-web-filter-list-title>

  <food-web-filter-list-content>
    <div class="col-lg-6" *ngFor="let donation of donations">
      <food-web-donation-teaser [donation]="donation"></food-web-donation-teaser>
    </div>
  </food-web-filter-list-content>

  <food-web-filter-list-filters>
    <food-web-donation-filters (filter)="filterDonations($event)"></food-web-donation-filters>
  </food-web-filter-list-filters>
</food-web-filter-list>
