<mat-sidenav-container [autosize]="true">
  <mat-sidenav-content>
    <div class="page container">

      <ng-content select="foodweb-page-list-title"></ng-content>

      <ng-content select="foodweb-page-list-toolbar"></ng-content>

      <ng-content select="foodweb-page-list-instructions"></ng-content>

      <ng-content select="foodweb-page-list-content"></ng-content>

      <ng-content select="foodweb-page-list-empty"></ng-content>

      <ng-content select="foodweb-paginator"></ng-content>

      <ng-content></ng-content>

    </div>
  </mat-sidenav-content>

  <mat-sidenav [opened]="pageListService.opened" (openedChange)="this.pageListService.opened = $event" mode="over" position="end" [autoFocus]="false">
    <ng-content select="foodweb-page-list-filters"></ng-content>
  </mat-sidenav>
</mat-sidenav-container>
