<div class="notifications-menu-container">
  <div class="header">
    <span class="title">Notifications</span>
    <mat-divider></mat-divider>
  </div>
  <mat-action-list>
    <food-web-notification
      *ngFor="let notification of notificationService.notificationsPreview"
      [notification]="notification"
      [max2Lines]="true">
    </food-web-notification>
  </mat-action-list>
  <div class="footer">
    <mat-divider></mat-divider>
    <a [routerLink]="['/notification/list/my']">See More</a>
  </div>
</div>
