@import "../../../../styles/constants.scss";

$title-font-size: 16px;
$icon-size: 38px;

.notifications-menu-container {
  width: 100%;

  > .header {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 10;
    color: $accent-darkest;
    font-size: 16px;
    font-weight: 500;
    margin-top: -5px;
    padding: 4px 5px 0;
    text-align: center;
    background-color: white;

    > .mat-divider {
      margin: 3px 0 0;
    }
  }

  > .mat-list {
    padding-top: 0;

    .mat-line {
      margin-left: -8px;
    }
  }

  > .footer {
    position: -webkit-sticky;
    position: sticky;
    bottom: 0;
    z-index: 10;
    color: $accent-darkest;
    font-size: 14px;
    padding: 0 5px 4px;
    text-align: center;
    background-color: white;

    > .mat-divider {
      margin: 0 0 3px;
    }
  }

  _:-ms-lang(x), > .header, > .footer { position: relative; }
}
