<div class="container-fluid">
    <div id="cart-row" class="row" style="padding-top:2vh">
        <div class="col-md-3" id="filters">
            <app-food-listings-filters title="Cart Filters" [formGroup]="foodListingsFiltersComponent.filtersForm" id="food-listings-filters" #foodListingsFilters>
                <ng-container *ngIf="setReceiverFlag && setDonorFlag" top>
                    <h4>Listings Status:</h4>
                    <div class="form-group">
                        <label for="claims">
                            <input type="radio" id="claims" name="listingsStatus" checked="checked"
                             formControlName="listingsStatus" [value]="LISTINGS_STATUS.myClaimedListings"/>
                            Claimed
                        </label>
                        <br>
                        <label for="donations">
                            <input type="radio" id="donations" name="listingsStatus"
                             formControlName="listingsStatus" [value]="LISTINGS_STATUS.myDonatedListings"/>
                             Donated
                        </label>
                    </div>
                </ng-container>
            </app-food-listings-filters>
        </div>

        <div id="cart-listings-col" class="col-md-9">
            <app-food-listings [title]="getFoodListingsTitle()" id="food-listings" #foodListings>
                <ng-container details-modal-footer>
                    <button *ngIf="isClaimedCart()" class="btn btn-primary" (click)="unclaimSelectedFoodListing()">Unclaim</button>
                    <button *ngIf="isDonatedCart()" class="btn btn-primary" (click)="removeSelectedFoodListing()">Remove Donation</button>
                </ng-container>
            </app-food-listings>
        </div>
    </div>
</div>