label {
    padding-bottom: 0px;
    margin-bottom: 0px;
}

/* When the screen gets small and the filters panel goes into mobile mode, then center the food listings */
@media only screen and (max-width: 991px) {
    #food-listings {
        padding-left: 40px; /* Make room for filters expansion button */
    }
}

@media only screen and (max-width: 575px) {
    #food-listings {
        text-align: center;
    }
}
