<div class="container-fluid">
    <div id="cart-row" class="row" style="padding-top:2vh">
        <div id="cart-btn-col" class="col-md-4">
            <app-slick-left-panel>
                <button id="btn-set-posted" type="button" class="btn btn-primary" hidden={{!setDonorFlag}} (click)="setDonorMode()">View My Posted Items</button>
                <button id="btn-set-claimed" type="button" class="btn btn-primary" hidden={{!setReceiverFlag}} (click)="setReceiverMode()">View My Ordered Items</button>
                <button id="btn-remove-all" type="button" class="btn btn-danger">Remove All Items</button>
                <button id="btn-finalize-all" type="button" class="btn btn-success">Finalize All Items</button>
            </app-slick-left-panel>
        </div>
        <div id="cart-listings-col" class="col-md-8">
            <app-food-listings #foodListings [title]="newTitle">
                <ng-container details-modal-footer>
                    <button type="button" class="btn btn-secondary">Finalize Listing</button>
                    <button type="button" class="btn btn-secondary">Remove Listing</button>
                </ng-container>
            </app-food-listings>
        </div>
    </div>
</div>