<foodweb-hybrid-header defaultBackHref="..">
  <ion-title>{{ pageTitle }}</ion-title>
  <ion-buttons *ngIf="myDonationHubs" slot="end">
    <ion-button [routerLink]="['/', 'donation-hub', 'create']" fill="clear">
      <ion-icon name="add-circle"></ion-icon>
    </ion-button>
  </ion-buttons>
</foodweb-hybrid-header>

<ion-content>

  <foodweb-hybrid-page-list
    class="donation-hubs"
    [disabled]="listQueryService.loading"
    [itemCount]="listQueryService.items.length"
    (loadMore)="handleLoadMore($event)"
    (refresh)="handleRefresh($event)">

    <div *ngIf="!myDonationHubs && !listQueryService.noneFound" class="standalone-statement low-margin">
      Choose a donation drop-off hub to pledge a donation to.
    </div>

    <div *ngIf="listQueryService.noneFound" class="not-found">
      Could Not Find Any Donation Hub <span style="display: inline-block;">Drop-Off</span> Locations.
    </div>

    <foodweb-hybrid-donation-hub-teaser
      *ngFor="let donationHub of listQueryService.items"
      [donationHub]="donationHub">
    </foodweb-hybrid-donation-hub-teaser>

  </foodweb-hybrid-page-list>

</ion-content>
