<ion-header>
  <foodweb-hybrid-header defaultBackHref="..">
    <ion-label>{{ pageTitleService.title }}</ion-label>
    <ion-buttons *ngIf="myDonationHubs" slot="end">
      <ion-button [routerLink]="['/', 'tabs', 'donation-hub', 'create']" fill="clear">
        <ion-icon name="add-circle"></ion-icon>
      </ion-button>
    </ion-buttons>
  </foodweb-hybrid-header>
</ion-header>

<ion-content>
  <ion-refresher slot="fixed" [disabled]="loading" (ionRefresh)="handleIonRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <div *ngIf="!myDonationHubs && !noneFound" class="standalone-statement">
    Choose a donation drop-off hub to pledge a donation to.
  </div>

  <div *ngIf="noneFound" class="standalone-statement">
    Could Not Find Any Donation Hub <span style="display: inline-block;">Drop-Off</span> Locations.
  </div>

  <ion-virtual-scroll *ngIf="donationHubs?.length" [items]="donationHubs" approxItemHeight="300px">
    <foodweb-hybrid-donation-hub-teaser
      *virtualItem="let item"
      [donationHub]="item">
    </foodweb-hybrid-donation-hub-teaser>
  </ion-virtual-scroll>

  <ion-infinite-scroll [disabled]="loadMoreDisabled" (ionInfinite)="handleIonInfinite($event)" threshold="100px">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
