<GridLayout [foodwebAppVisibile]="visible">
  <foodweb-app-focus-mask
    #focusMask
    [visible]="editable"
    (focusTap)="showDateDialog(dateTextField)">
    <foodweb-app-text-field
      #dateTextField
      editable="false"
      keyboardType="datetime"
      [hint]="placeholder"
      [label]="label"
      [text]="formControl.value | foodwebFormatDate"
    ></foodweb-app-text-field>
  </foodweb-app-focus-mask>

  <Label foodwebAppVisibile="!editable">
    <FormattedString>
      <Span
        [ngClass]="{ bold: bold }"
        [text]="value | foodwebFormatDate"
      ></Span>
    </FormattedString>
  </Label>
</GridLayout>
