<div class="create-account page container" [formGroup]="adminAccountForm.get('accountCreateOptions')">
  <food-web-account-creation-form *ngIf="!createdAccount" [accountForm]="adminAccountForm.accountForm" (createAccount)="createAccount()">
    <mat-slide-toggle
      class="password-options"
      formControlName="autoGenPassword"
      matTooltip="Auto-generates a password for the created account, and sends it to the registered email address.">
      Auto Generate Password
    </mat-slide-toggle>

    <div class="account-verification-options align-right">
      <mat-slide-toggle
        formControlName="autoVerify"
        matTooltip="Auto-verifies the created account, and prevents an account verification email from being sent.">
        Auto Verify Account
      </mat-slide-toggle>
    </div>
  </food-web-account-creation-form>

  <mat-card *ngIf="createdAccount">
    <mat-card-title>Account Creation Successful!</mat-card-title>
    <mat-card-content>
      <div class="signup-success-button-container align-right">
        <button mat-button *ngIf="!adminAccountForm.toAccountCreateOptions().autoVerify"
          color="accent" type="button" (click)="signupVerificationService.resendVerificationEmail()">
          Resend Verification Email
        </button>
        <a [routerLink]="['/']">
          <button mat-raised-button color="primary" type="button">
            Admin Console
          </button>
        </a>
      </div>
    </mat-card-content>
  </mat-card>
</div>
