.align-right {
  width: 100%;
}

.alert-dialog-container {

  .alert-dialog-body {
    margin-bottom: 20px;
    max-width: 620px;
  
    @media only screen and (min-width: 350px) {
      min-width: 280px; 
    }
  }
}
