<form [formGroup]="accountForm" class="account-creation-form" (submit)="createAccount.emit(accountForm)">
  <div class="align-center">
    <div class="page-title block-label signup-header">
      {{ accountType ? formTitle : accountTypeSelTitle }}
    </div>
    <foodweb-account-type [editing]="!accountType" formControlName="accountType" class="account-type"></foodweb-account-type>
  </div>

  <hr *ngIf="accountType">

  <div *ngIf="accountType">
    <div class="row">
      <div class="col-xl-6">
        <mat-card>
          <mat-card-title class="block-label">Login Credentials</mat-card-title>
          <mat-card-content>
            <div class="row">
              <div class="col-sm-12">
                <foodweb-username [editing]="true" formControlName="username"></foodweb-username>
              </div>
              <div class="col-sm-12">
                <ng-content select=".password-options"></ng-content>
              </div>
              <div class="col-sm-12">
                <foodweb-password [editing]="true" [formGroup]="accountForm.get('password')"></foodweb-password>
              </div>
            </div>
          </mat-card-content>
        </mat-card>

        <mat-card *ngIf="accountType !== 'Volunteer'">
          <mat-card-title class="block-label">Organization</mat-card-title>
          <mat-card-content>
            <foodweb-organization [accountType]="accountType" [editing]="true" [formGroup]="accountForm.get('organization')"></foodweb-organization>
          </mat-card-content>
        </mat-card>

        <mat-card *ngIf="accountType === 'Volunteer'">
          <mat-card-title>Volunteer Info</mat-card-title>
          <mat-card-content>
            <foodweb-volunteer [editing]="true" [formGroup]="accountForm.get('volunteer')"></foodweb-volunteer>
          </mat-card-content>
        </mat-card>
      </div>
      <div class="col-xl-6">
        <mat-card>
          <mat-card-title class="block-label">Contact Info</mat-card-title>
          <mat-card-content>
            <foodweb-contact-info [editing]="true" [formGroup]="accountForm.get('contactInfo')"></foodweb-contact-info>
          </mat-card-content>
        </mat-card>
      </div>
    </div>

    <hr *ngIf="accountType != 'Donor'">

    <div class="operation-hours-section" [ngClass]="{ 'full-width': operationHoursFullWidth }">
      <mat-card *ngIf="accountType !== 'Donor'">
        <mat-card-title class="block-label">
          <span *ngIf="accountType !== 'Volunteer'">Donation Delivery Availability</span>
          <span *ngIf="accountType === 'Volunteer'">Delivery Availability</span>
        </mat-card-title>
        <mat-card-subtitle>
          <span *ngIf="accountType === 'Receiver'">Optionally limit the times you will be considered available to receive deliveries.</span>
          <span *ngIf="accountType === 'Volunteer'">Optionally limit the times you will be considered available to perform deliveries.</span>
          <br><span> You can update this setting any time under your account.</span>
        </mat-card-subtitle>
        <mat-card-content>
          <foodweb-operation-hours-info [editing]="true" [formGroup]="accountForm.get('operationHours')"></foodweb-operation-hours-info>
        </mat-card-content>
      </mat-card>
    </div>

    <hr>

    <ng-content></ng-content>

    <div class="row submit-button-container">
      <div class="col-xl-12 align-right">
        <button mat-raised-button color="primary" type="submit">{{ submitButtonTxt }}</button>
      </div>
    </div>
  </div>
</form>
