<ion-card id="donation-{{ donation.id }}" class="teaser donation-teaser">
  <ion-card-header>
    <ion-avatar>
      <foodweb-hybrid-profile-img [value]="donation.donorAccount.profileImg"></foodweb-hybrid-profile-img>
    </ion-avatar>
    <ion-card-title>
      {{ donation | donationMemberName : AccountType.Donor }}
    </ion-card-title>
    <ion-card-subtitle>
      <foodweb-donation-status [donationStatus]="donation.donationStatus" class="donation-status"></foodweb-donation-status>
    </ion-card-subtitle>
  </ion-card-header>

  <ion-card-content>
    <div class="donation-display row">
      <div class="col-sm-12">
        <div class="inline-label">Description:</div>
        <div class="donation-description">{{ donation.description }}</div>
      </div>
      <div class="col-sm-6">
        <div class="inline-label">Pickup Window:</div>
        <div>
          <foodweb-hybrid-date-time-range [value]="(donation | pickupWindow)" [boldTime]="true"></foodweb-hybrid-date-time-range>
        </div>
      </div>
    </div>

    <div class="actions">
      <ion-button [routerLink]="donation | donationRouterLink" [state]="{ donation: donation }" class="compact" expand="block">
        View Donation
      </ion-button>
    </div>
  </ion-card-content>
</ion-card>
