<foodweb-hybrid-header defaultBackHref="/bootstrap/login" backText="Login">
  <ion-title>Password Reset</ion-title>
</foodweb-hybrid-header>

<ion-content>
  <form *ngIf="!passwordResetComplete" [formGroup]="passwordResetForm" (submit)="submit()">
    <ion-card>
      <ion-card-header>
        <ion-card-title>
          Enter New Password
        </ion-card-title>
      </ion-card-header>

      <ion-card-content>
        <foodweb-hybrid-password [formGroup]="passwordResetForm" [editable]="true"></foodweb-hybrid-password>

        <div class="actions">
          <ion-button [disabled]="passwordResetForm.invalid" color="primary" expand="block" type="submit">
            Submit
          </ion-button>
        </div>
      </ion-card-content>
    </ion-card>
  </form>

  <ion-card *ngIf="passwordResetComplete">
    <ion-card-header>
      <ion-card-title>
        Password Reset Complete
      </ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <p>The password reset was successful.</p>
      <p>
        You are now logged in. Follow this <a [routerLink]="['/home']">link</a> to return home.
      </p>
    </ion-card-content>
  </ion-card>
</ion-content>
