<mat-card class="donation-workflow-card">
  <mat-card-content class="donation-workflow-card-content">

    <ul class="donation-workflow">
      <ng-container *ngFor="let step of workflowSteps">
        <li
          *ngIf="canShowWorkflowStep(step)"
          class="step donation-status {{ step.class }}"
          [ngClass]="{ 'active with-border': isWorkflowStepActive(step) }"
        >
          <div class="title">
            <span *ngIf="isWorkflowStepActive(step)" class="inline-label">Current Status:</span>
            <span>{{ step.title }}</span>
          </div>

          <p class="description">{{ getStepDescription(step) }}</p>

          <ng-container *ngIf="isWorkflowStepActive(step)">
            <button mat-button type="button" class="toggle-show-all-statuses" (click)="toggleShowAllStatuses()">
              {{ toggleShowAllStatusesTxt }}
            </button>

            <span class="actions">
              <foodweb-donation-actions
                [donation]="donation"
                [myAccount]="myAccount"
                (action)="action.emit($event)">
              </foodweb-donation-actions>
            </span>
          </ng-container>
        </li>
      </ng-container>
    </ul>

  </mat-card-content>
</mat-card>
