<mat-drawer-container class="left-nav-container">
  <mat-drawer [mode]="mode" [opened]="isOpen">
    <ul>
      <li>
        <a mat-ripple [routerLink]="['/']" (click)="_onNavClick()">
          <span><mat-icon>home</mat-icon> Home</span>
        </a>
      </li>
      <li>
        <a mat-ripple [routerLink]="['/donors']" (click)="_onNavClick()">
          <span><mat-icon>card_giftcard</mat-icon> Donors</span>
        </a>
      </li>
      <li>
        <a mat-ripple [routerLink]="['/receivers']" (click)="_onNavClick()">
          <span><mat-icon>location_on</mat-icon> Receivers</span>
        </a>
      </li>
    </ul>
  </mat-drawer>
  <mat-drawer-content>
    <div class="page-content container">
      <ng-content></ng-content>
    </div>
  </mat-drawer-content>
</mat-drawer-container>
