<div class="notification-settings-container" [foodwebDisplayEditTransition]="editable" [form]="notificationSettingsForm" [display]="notificationSettingsDisplay">
  <div #notificationSettingsForm [formGroup]="formGroup" class="notification-settings-form">
    <mat-slide-toggle formControlName="enableEmail" class="receive-emails fill">
      Receive Emails
    </mat-slide-toggle>
    <mat-slide-toggle formControlName="enablePushNotification" class="receive-push-notifications fill">
      Receive Push Notifications
    </mat-slide-toggle>
    <mat-slide-toggle *ngIf="accountType !== 'Donor'" formControlName="notifyForEachDonation" class="notify-for-each-donation fill">
      Receive Message For Each New {{ accountType === 'Receiver' ? 'Donation' : 'Delivery' }}
    </mat-slide-toggle>
  </div>

  <div #notificationSettingsDisplay class="notification-settings-display row">
    <div class="col-sm-12">
      <foodweb-yes-no [yes]="formGroup.get('enableEmail').value">
        Receive Emails:
      </foodweb-yes-no>
    </div>
    <div class="col-sm-12">
      <foodweb-yes-no [yes]="formGroup.get('enablePushNotification').value">
        Receive Push Notifications:
      </foodweb-yes-no>
    </div>
    <div class="col-sm-12" *ngIf="accountType !== 'Donor'">
      <foodweb-yes-no [yes]="formGroup.get('notifyForEachDonation').value">
        Receive Message For Each New {{ accountType === 'Receiver' ? 'Donation' : 'Delivery' }}:
      </foodweb-yes-no>
    </div>
  </div>
</div>
