@import "variables.scss";

.notifications-button-container {
  line-height: normal;
}

.notifications-menu-content {
  width: 100%;

  >.header {
    position        : -webkit-sticky;
    position        : sticky;
    top             : 0;
    z-index         : 10;
    color           : $accent-darkest;
    font-size       : 16px;
    font-weight     : 500;
    margin-top      : -5px;
    padding         : 4px 5px 3px;
    text-align      : center;
    background-color: white;
    border-bottom   : 1px solid #e4e4e4;

    .notification-settings-link {
      position: absolute;
      color   : $accent-darkest;
      right   : 6px;
      top     : 1px;

      button {
        position   : relative;
        width      : 30px;
        height     : 30px;
        line-height: 30px;
        font-size  : 18px;

        .ng-fa-icon {
          vertical-align: 0;
        }
      }
    }

    >.mat-divider {
      margin: 3px 0 0;
    }
  }

  >.mat-list {
    padding-top: 0;

    .mat-line {
      margin-left: -8px;
    }
  }

  >.footer {
    position        : -webkit-sticky;
    position        : sticky;
    bottom          : 0;
    z-index         : 10;
    color           : $accent-darkest;
    font-size       : 14px;
    text-align      : center;
    background-color: white;
    border-top      : 1px solid #e4e4e4;

    .mat-button {
      height     : 30px;
      width      : 100%;
      line-height: 30px;
    }

    >.mat-divider {
      margin: 0 0 3px;
    }
  }

  _:-ms-lang(x),
  >.header,
  >.footer {
    position: relative;
  }
}
