<span class="notifications-button-container"
  [matBadge]="notificationService.unseenNotificationsCount"
  [matBadgeHidden]="!(notificationService.unseenNotificationsCount)"
  matBadgeSize="small"
  matBadgeColor="warn"
  matBadgeDescription="{{ notificationService.unseenNotificationsCount }} unread"
  matTooltip="Notifications"
>
  <button mat-icon-button class="notifications-button" aria-label="Notifications menu" [matMenuTriggerFor]="notificationsMenu" (menuOpened)="refreshUnseenNotifications()">
    <mat-icon>notifications</mat-icon>
  </button>
</span>

<mat-menu #notificationsMenu="matMenu" class="notifications-menu" backdropClass="notifications-menu-backdrop">
  <div class="notifications-menu-content">
    <div class="header">
      <span class="title">Notifications</span>
      <a [routerLink]="['/account/my']" fragment="notifications" class="notification-settings-link" matTooltip="Notification Settings">
        <button mat-icon-button type="button">
          <fa-icon [icon]="faCog"></fa-icon>
        </button>
      </a>
    </div>
    <mat-action-list>
      <foodweb-notification
        *ngFor="let notification of previewNotifications"
        [notification]="notification"
        [max2Lines]="true"
        (flag)="notificationService.toggleNotificationFlaggedState(notification)"
        (select)="notificationService.handleNotificationSelect(notification)">
      </foodweb-notification>
    </mat-action-list>
    <div class="footer">
      <a [routerLink]="['/notification/list/my']">
        <button mat-button><strong>See More</strong></button>
      </a>
    </div>
  </div>
</mat-menu>
