<mat-card id="donation-{{ donation.id }}" class="donation-teaser">
  <mat-card-header>
    <foodweb-profile-img mat-card-avatar [value]="donation.donorAccount.profileImg"></foodweb-profile-img>
    <mat-card-title>{{ donation | donationMemberName : AccountType.Donor }}</mat-card-title>
    <mat-card-subtitle>
      <foodweb-donation-status [donationStatus]="donation.donationStatus" class="donation-status"></foodweb-donation-status>
    </mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <div class="donation-display row">
      <div class="col-sm-12">
        <div class="inline-label">Description:</div>
        <div class="donation-description">{{ donation.description }}</div>
      </div>
      <div class="col-sm-6">
        <div class="inline-label">Pickup Window Start:</div>
        <div><foodweb-date-time [value]="(donation | pickupWindow).startDateTime" [boldTime]="true"></foodweb-date-time></div>
      </div>
      <div class="col-sm-6">
        <div class="inline-label">Pickup Window End:</div>
        <div><foodweb-date-time [value]="(donation | pickupWindow).endDateTime" [boldTime]="true"></foodweb-date-time></div>
      </div>
    </div>
  </mat-card-content>
  <mat-card-actions>
    <div class="align-right">
      <a [routerLink]="donation | donationDetailsRouterLink" [state]="{ donation: donation }" class="no-hover">
        <button mat-raised-button type="button" class="compact" color="primary">View Donation</button>
      </a>
    </div>
  </mat-card-actions>
</mat-card>
