<mat-card *ngIf="donation?.claim">
  <mat-card-title>Drop-Off Info</mat-card-title>
  <mat-card-content>
    <div class="row">
      <div *ngIf="donation.claim.receiverAccount.organization.deliveryInstructions" class="col-sm-12">
        <div class="inline-label">Instructions:</div>
        <div class="d-inline-block">{{ donation.claim.receiverAccount.organization.deliveryInstructions }}</div>
      </div>
      <div class="col-12">
        <div class="inline-label">Drop-off Window:</div>
        <foodweb-date-time-range class="d-inline-block" [value]="donation | dropOffWindow" [boldTime]="true"></foodweb-date-time-range>
      </div>
      <div *ngIf="donation.claim.delivery?.dropOffTime" class="col-sm-6">
        <div class="inline-label">Dropped Off:</div>
        <foodweb-date-time class="d-inline-block" [value]="donation.claim.delivery.dropOffTime" [boldTime]="true"></foodweb-date-time>
      </div>
    </div>
  </mat-card-content>
</mat-card>
