<mat-card class="drop-off-info">
  <mat-card-title>Drop-Off Info</mat-card-title>
  <mat-card-content>
    <div class="row">
      <div *ngIf="donation.claim.receiverAccount.organization.deliveryInstructions" class="col-sm-12">
        <div class="inline-label">Instructions:</div>
        <div class="d-inline-block">{{ donation.claim.receiverAccount.organization.deliveryInstructions }}</div>
      </div>
      <div class="col-12">
        <div class="inline-label">Drop-off Window:</div>
        <food-web-date-time-range class="d-inline-block" [range]="dropOffWindow" [boldTime]="true"></food-web-date-time-range>
      </div>
      <div *ngIf="donation.claim.delivery?.dropOffTime" class="col-sm-6">
        <div class="inline-label">Dropped Off:</div>
        <food-web-date-time class="d-inline-block" [dateTime]="donation.claim.delivery.dropOffTime" [boldTime]="true"></food-web-date-time>
      </div>
    </div>
  </mat-card-content>
</mat-card>
