<ion-header class="header">
  <ion-toolbar color="primary" class="main-header-section">
    <ion-buttons slot="start">
      <ng-content select=".header-primary-button"></ng-content>
    </ion-buttons>

    <a [routerLink]="['/']" class="site-icon-title">
      <ion-title class="site-title" [ngClass]="{ 'with-sub': !!pageTitleService.title }">
        <div class="site-title-inner">
          <div class="main">{{ siteTitle }}</div>
          <div class="sub" *ngIf="pageTitleService.title">{{ pageTitleService.title }}</div>
        </div>
      </ion-title>
    </a>

    <ion-buttons slot="end">
      <ng-content select=".header-secondary-button"></ng-content>
    </ion-buttons>

    <div class="non-blocking-page-progress-indicator" *ngIf="pageProgressService.showNonBlockingProgress">
      <foodweb-progress-indicator
        [backdropColor]="pageProgressService.backdropColor"
        [blocking]="pageProgressService.blocking"
        [color]="pageProgressService.color"
        [diameter]="pageProgressService.diameter"
        [trigger]="pageProgressService.trigger">
      </foodweb-progress-indicator>
    </div>
  </ion-toolbar>
</ion-header>
