.direction-steps-container {
  table.direction-steps-summary {
    margin-top: 20px;
    font-size: 16px;

    tr td:first-child {
      font-weight: bold;
    }
  }

  ol, ul {
    margin-top: 16px;
    padding-left: 5px;
    margin-bottom: 0;

    li {
      margin-bottom: 10px;
  
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}
