.direction-steps-container {
  ol, ul {
    margin-top: 16px;
    padding-left: 5px;
    margin-bottom: 0;

    li {
      margin-bottom: 10px;
  
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}
