<form [formGroup]="formGroup" class="donate-form page" [ngClass]="{ 'submitted': !!savedDonation }" (submit)="donate()">

  <div class="donate-form-title page-title block-label">
    {{ pageTitleService.title }}
  </div>

  <ng-container *ngIf="!savedDonation">
    <mat-card class="donate-card">
      <mat-card-title>Donation Information</mat-card-title>
      <mat-card-content>
        <food-web-account-select formControlName="donorAccount" accountType="Donor" placeholder="Donor Organization" filterPlaceholder="Search Donors..."></food-web-account-select>
        <food-web-donation-form formGroupName="donateForm" *ngIf="!savedDonation"></food-web-donation-form>
      </mat-card-content>
    </mat-card>

    <ng-container formGroupName="donateForm">
      <mat-card class="donate-card">
        <mat-card-title>Pickup Window</mat-card-title>
        <mat-card-content>
          <food-web-date-time-range #pickupWindowRange formGroupName="pickupWindow" [editing]="true"></food-web-date-time-range>
        </mat-card-content>
      </mat-card>

      <mat-card class="donate-card">
        <mat-card-title>Contact Info</mat-card-title>
        <mat-card-content>
          <food-web-contact-info [editing]="true" formGroupName="donorContactOverride"></food-web-contact-info>
        </mat-card-content>
      </mat-card>
    </ng-container>

    <mat-card class="donate-card">
      <mat-card-title>Donation Claim</mat-card-title>
      <mat-card-content>
        <food-web-account-select formControlName="receiverAccount" accountType="Receiver" placeholder="Donor Organization" filterPlaceholder="Search Receivers..."></food-web-account-select>
      </mat-card-content>
    </mat-card>

    <mat-card class="donate-card" formGroupName="delivery">
      <mat-card-title>Delivery</mat-card-title>
      <mat-card-content>
        <food-web-account-select formControlName="volunteerAccount" accountType="Volunteer" placeholder="Volunteer" filterPlaceholder="Search Volunteers..."></food-web-account-select>
      </mat-card-content>
    </mat-card>
  </ng-container>

  <div *ngIf="savedDonation" class="align-center">
    <hr>
    <div>{{ savedDonation.description }}</div>
  </div>

  <div class="action-footer align-right">
    <ng-container *ngIf="!savedDonation; else savedDonationTmpl">
      <mat-slide-toggle formControlName="sendNotifications" class="send-notifications-toggle">Send Notifications</mat-slide-toggle>
      <button mat-raised-button type="submit" color="primary">Create</button>
    </ng-container>
    <ng-template #savedDonationTmpl>
      <button mat-button type="button" color="accent" (click)="donateAgain()">Create Another</button>
      <a class="view-donation-link" [routerLink]="['/donation/details', savedDonation.id]">
        <button mat-raised-button type="button" color="primary">View Donation</button>
      </a>
    </ng-template>
  </div>

</form>
