<div class="operation-hours-form">
  <div class="weekday-header">
    <div class="block-label">{{ weekday }}</div>
    <button mat-icon-button (click)="addTimeRange()" class="add-time-range" matTooltip="Add Hours" type="button">
      <mat-icon>add</mat-icon>
    </button>
  </div>

  <ul class="time-range-list">
    <li *ngFor="let timeRangeForm of timeRangeArray.controls; let idx = index" class="time-range-item">
      <foodweb-time-range
        defaultStartTime="9:00 AM"
        defaultEndTime="5:00 PM"
        floatLabels="never"
        [allowClear]="allowClear"
        [editable]="editable"
        [formGroup]="timeRangeForm"
        [minutesGap]="minutesGap"
        [preventOverlayClick]="!allowOverlayClick"
        [timeWidth]="timeWidth"></foodweb-time-range>
      <button mat-icon-button *ngIf="timeRangeArray.length > 0" (click)="timeRangeArray.removeAt(idx)" class="remove-time-range" matTooltip="Remove Hours" type="button">
        <mat-icon>close</mat-icon>
      </button>
    </li>
  </ul>
</div>
