<form [formGroup]="pledgeForm" class="donation-hub-donate-form page" (submit)="donate()">

  <div class="page-title">
    {{ pageTitleService.title }}
  </div>

  <mat-card>
    <mat-card-title>
      Describe Your Donation
    </mat-card-title>

    <mat-card-content>
      <foodweb-donation-hub-pledge-form [formGroup]="pledgeForm"></foodweb-donation-hub-pledge-form>
    </mat-card-content>
  </mat-card>

  <mat-card>
    <mat-card-title>
      Please Agree To Our Donation Guidelines
    </mat-card-title>

    <mat-card-content>
      <foodweb-requirements-checklist formControlName="agreementChecklist" [checklistMembers]="agreementChecklistMembers" checkAll="I agree to all above."></foodweb-requirements-checklist>
    </mat-card-content>
  </mat-card>

  <div class="action-footer align-right">
    <button mat-raised-button type="submit" color="primary">Donate</button>
  </div>

</form>
