@import "../constants.scss";

button.mat-raised-button.compact {
  $height: 28px;
  height: $height;
  line-height: $height;
}

.mat-button.no-pad {
  padding: 0px;
}

.form-footer-buttons {
  text-align: right;

  button {
    margin-right: 5px;
  }
}

@media only screen and (max-width: $mat-mobile) {
  button.mat-button,
  button.mat-raised-button {
    font-size: 13px;

    &.compact {
      line-height: 13px;
    }
  }
}
