@import "../constants.scss";

.mat-icon {
  &.mat-donor {
    background-color: inherit;
    color: $donor-color;
  }

  &.mat-receiver {
    background-color: inherit;
    color: $receiver-color;
  }

  &.mat-volunteer {
    background-color: inherit;
    color: $volunteer-color;
  }

  &.mat-business {
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}
