@import '~@angular/material/theming';
@import '../constants.scss';

@include mat-core();
@include angular-material-theme($light-theme);

@import './mat-button.scss';
@import './mat-card.scss';
@import './mat-checkbox.scss';
@import './mat-dialog.scss';
@import './mat-drawer.scss';
@import './mat-expansion-panel.scss';
@import './mat-form-field.scss';
@import './mat-icon.scss';
@import './mat-input.scss';
@import './mat-list.scss';
@import './mat-maps.scss';
@import './mat-radio.scss';
@import './mat-select.scss';
@import './mat-snackbar.scss';

.mat-donor {
  background-color: $donor-color;
  color: black;
}

.mat-receiver {
  background-color: $receiver-color;
  color: black;
}

.mat-volunteer {
  background-color: $volunteer-color;
  color: white;
}
