<div [formGroup]="formGroup" class="receiver-container">
  <div *ngIf="editing" class="receiver-form row">
    <div class="col-md-12">
      <mat-slide-toggle formControlName="autoReceiver" class="auto-receiver fill">
        Automatically Accept Donations
      </mat-slide-toggle>
    </div>
  </div>

  <div *ngIf="!editing" class="receiver-display row">
    <div class="col-sm-12">
      <food-web-yes-no [yes]="formGroup.get('autoReceiver').value">
        Automatically Accept Donations:
      </food-web-yes-no>
    </div>
  </div>
</div>
