<div class="account-type-selections" [ngClass]="{ 'edit': editable, 'display': !editable }">
  <div class="account-categories" *ngIf="editable">
    <h2 class="section-title">
      Are you an individual Volunteer or Business?
    </h2>

    <button mat-button
      *ngFor="let accountCategory of constantsService.ACCOUNT_CATEGORIES"
      [disabled]="!editable"
      [class]="accountCategory | lowercase"
      [ngClass]="{ selected: (accountCategory === selAccountCategory) }"
      (click)="accountCategoryClick(accountCategory)">
      <mat-card>
        <mat-card-title>
          <mat-toolbar [color]="accountCategory | lowercase">{{ accountCategory }}</mat-toolbar>
        </mat-card-title>
        <mat-card-content>
          <mat-icon [color]="accountCategory | lowercase">
            {{ constantsService.ACCOUNT_CATEGORY_ICONS[accountCategory] }}
          </mat-icon>
        </mat-card-content>
        <div class="not-selected-mask"></div>
      </mat-card>
    </button>
  </div>

  <div class="account-types" *ngIf="showAccountTypes">
    <h2 class="section-title" *ngIf="editable">
      Are you a Donor or Receiver?
    </h2>

    <button mat-button
      *ngFor="let accountType of accountTypes"
      [disabled]="!editable"
      [class]="accountType | lowercase"
      [ngClass]="{ selected: (accountType === selAccountType) }"
      (click)="accountTypeClick(accountType)">
      <mat-card>
        <mat-card-title>
          <mat-toolbar [color]="accountType | lowercase">{{ accountType }}</mat-toolbar>
        </mat-card-title>
        <mat-card-content>
          <mat-icon [color]="accountType | lowercase">
            {{ constantsService.ACCOUNT_TYPE_ICONS[accountType] }}
          </mat-icon>
        </mat-card-content>
        <div class="not-selected-mask"></div>
      </mat-card>
    </button>
  </div>

  <div class="account-type-descr {{ selAccountType | lowercase }}" *ngIf="showAccountTypeDescr">
    <div *ngIf="selAccountType === AccountType.Volunteer" class="volunteer-descr">
      <h2 class="section-title">Volunteer</h2>

      <p>
        Our volunteers are the heart and soul of FoodWeb.
        Your dedication and hard work make our mission possible.
      </p>

      <div>
        You can provide vital service to your community:
        <ul>
          <li>Enlist as a donation drop-off hub in the Sandwich Army.</li>
          <li>Pledge a personal donation to the Sandwich Army.</li>
          <li>Deliver donations between businesses & food pantries.</li>
        </ul>
      </div>

      <p>
        We welcome you to the FoodWeb team, and look forward to working with you!
      </p>
    </div>

    <div *ngIf="selAccountType === AccountType.Donor" class="donor-descr">
      <h2 class="section-title">Donor Business</h2>

      <p>
        Local food pantries cherish every donation gifted by our donors.
        Your generosity can inspire hope, and help your neighbors through their trying times.
      </p>

      <p>
        We personally thank you for taking steps to fight poverty and reduce food waste within your community!
      </p>
    </div>

    <div *ngIf="selAccountType === AccountType.Receiver" class="receiver-descr">
      <h2 class="section-title">Receiver Business</h2>

      <p>
        Charitable organizations function as bastions of hope within the community.
        Many of our neighbors rely on you for sustenance during their hard times.
      </p>

      <p>
        We have the deepest gratitude and admiration for your work, and look forward
        to facilitating your mission.
      </p>
    </div>

    <div class="footer">
      <button mat-raised-button color="primary" (click)="confirmSelection()">Continue</button>
    </div>
  </div>
</div>
