:host {
  .account-type-selections {
    position: relative;
    display: inline-block;
    vertical-align: top;

    button {
      display: inline-block;
      padding: 0;
      margin: 0px 16px 16px;

      mat-card {
        display: inline-block;
        min-width: 150px;
        height: 150px;
        margin: 0;
        text-align: center;
        vertical-align: top;

        mat-toolbar {
          font-weight: bold;
        }

        mat-icon {
          $icon-size: 60px;
          font-size: $icon-size;
          width: $icon-size;
          height: $icon-size;
          margin-top: 10px;
        }
      }
    }

    &.display {
      .not-selected-mask {
        display: block;
        position: absolute;
        left: 0px;
        top: 0px;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.25);
        border-radius: inherit;
      }

      button {
        &.selected {
          .not-selected-mask {
            display: none;
          }
        }

        &:not(.selected) {
          box-shadow: none;
          border: 1px solid #e4e4e4;

          @media only screen and (max-width: 410px) {
            display: none;
          }
        }
      }

    }
  }
}
