<div class="operation-hours-form">
  <div class="weekday-header">
    <div class="block-label">{{ weekday }}</div>
    <ion-button (click)="formArray.push()" class="add-time-range" type="button" fill="clear" shape="round">
      <ion-icon name="add-circle"></ion-icon>
    </ion-button>
  </div>

  <ul class="time-range-list">
    <li *ngFor="let timeRangeForm of formArray.controls; let idx = index" class="time-range-item">
      <foodweb-hybrid-time-range [editable]="editable"></foodweb-hybrid-time-range>
      <ion-button *ngIf="formArray.canRemoveAt(idx)" (click)="formArray.removeAt(idx)" class="remove-time-range" type="button" fill="clear" shape="round">
        <ion-icon name="close"></ion-icon>
      </ion-button>
    </li>
  </ul>
</div>
