<div class="operation-hours-form">
  <div class="weekday-header">
    <div class="block-label">{{ weekday }}</div>
    <ion-button (click)="addTimeRange()" class="add-time-range" type="button" fill="clear" shape="round">
      <ion-icon name="add-circle"></ion-icon>
    </ion-button>
  </div>

  <ion-list class="time-range-list">
    <ion-item *ngFor="let timeRangeForm of timeRangeArray.controls; let idx = index" class="time-range-item" lines="none">
      <foodweb-hybrid-time-range [editable]="editable"></foodweb-hybrid-time-range>
      <ion-button *ngIf="timeRangeArray.length > 0" (click)="timeRangeArray.removeAt(idx)" class="remove-time-range" type="button" fill="clear" shape="round">
        <ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-item>
  </ion-list>
</div>
