<div class="contact-info-container" [foodwebDisplayEditTransition]="editable" [form]="contactInfoFormTmpl" [display]="contactInfoDisplay">
  <div #contactInfoFormTmpl class="row contact-info-form" [formGroup]="contactInfoForm">
    <div class="col-sm-6" *ngIf="contactInfoForm.get('email') && !hideEmail">
      <ion-item [ngClass]="{ 'with-err-msg': contactInfoForm.emailErrorMsg }">
        <ion-label color="secondary">Email:</ion-label>
        <ion-input type="email" inputmode="email" formControlName="email"></ion-input>
        <div class="ion-form-error" *ngIf="contactInfoForm.emailErrorMsg">
          {{ contactInfoForm.emailErrorMsg }}
        </div>
      </ion-item>
    </div>
    <div class="col-sm-6" *ngIf="contactInfoForm.get('phoneNumber') && !hidePhone">
      <ion-item [ngClass]="{ 'with-err-msg': contactInfoForm.phoneNumberErrorMsg }">
        <ion-label color="secondary">Phone:</ion-label>
        <ion-input type="tel" inputmode="tel" formControlName="phoneNumber" [ionMask]="PHONE_NUMBER_MASK"></ion-input>
        <div class="ion-form-error" *ngIf="contactInfoForm.phoneNumberErrorMsg">
          {{ contactInfoForm.phoneNumberErrorMsg }}
        </div>
      </ion-item>
    </div>
    <ng-container *ngIf="!hideAddress">
      <div class="col-sm-12" *ngIf="contactInfoForm.get('streetAddress')">
        <ion-item>
          <ion-label color="secondary">Street:</ion-label>
          <ion-input type="text" inputmode="text" formControlName="streetAddress" autocapitalize="words"></ion-input>
        </ion-item>
      </div>
      <div class="col-sm-6" *ngIf="contactInfoForm.get('city')">
        <ion-item>
          <ion-label color="secondary">City:</ion-label>
          <ion-input type="text" inputmode="text" formControlName="city" autocapitalize="words"></ion-input>
        </ion-item>
      </div>
      <div class="col-sm-3" *ngIf="contactInfoForm.get('stateProvince')">
        <ion-item>
          <ion-label color="secondary">State:</ion-label>
          <ion-input type="text" inputmode="text" formControlName="stateProvince" autocapitalize="words"></ion-input>
        </ion-item>
      </div>
      <div class="col-sm-3"  *ngIf="contactInfoForm.get('postalCode')">
        <ion-item [ngClass]="{ 'with-err-msg': contactInfoForm.postalCodeErrorMsg }">
          <ion-label color="secondary">Zip:</ion-label>
          <ion-input type="text" inputmode="number" formControlName="postalCode"></ion-input>
          <div class="ion-form-error" *ngIf="contactInfoForm.postalCodeErrorMsg">
            {{ contactInfoForm.postalCodeErrorMsg }}
          </div>
        </ion-item>
      </div>
    </ng-container>
  </div>

  <div #contactInfoDisplay class="contact-info-display row">
    <ng-container *ngIf="addressFirst" [ngTemplateOutlet]="addressTmpl"></ng-container>
    <div class="col-sm-6" *ngIf="!hideEmail && value.email">
      <div class="inline-label">Email:</div>
      <div class="d-inline-block">
        <a class="email" href="mailto:{{ value.email }}">
          {{ value.email }}
        </a>
      </div>
    </div>
    <div class="col-sm-6" *ngIf="!hidePhone && value.phoneNumber">
      <div class="inline-label">Phone Number:</div>
      <div class="d-inline-block">
        <a class="phone-number" href="tel:{{ value.phoneNumber }}">
          {{ value.phoneNumber }}
        </a>
      </div>
    </div>
    <ng-container *ngIf="!addressFirst" [ngTemplateOutlet]="addressTmpl"></ng-container>
  </div>
</div>

<ng-template #addressTmpl>
  <div *ngIf="!hideAddress && value.streetAddress" [ngClass]="addressColSize">
    <div class="inline-label">Address:</div>
    <foodweb-address [value]="value" [mapAnchorType]="addressAnchorType"></foodweb-address>
  </div>
</ng-template>
