<div class="password-container" [foodWebDisplayEditTransition]="editing" [form]="passwordForm" [display]="passwordDisplay">
  <div #passwordForm [formGroup]="formGroup" class="password-form row" [attr.aria-hidden]="!editing">
    <div class="col-sm-12" *ngIf="formGroup.formMode === 'Account'">
      <mat-form-field class="fill">
        <input matInput placeholder="Current Password" formControlName="oldPassword" type="password">
      </mat-form-field>
    </div>
    <div class="col-sm-6">
      <mat-form-field class="fill">
        <input matInput [placeholder]="passwordLabel" formControlName="password" type="password" autocomplete="new-password">
        <mat-error *ngIf="formGroup.get('password').hasError('pattern')">
          At least 6 characters required
        </mat-error>
      </mat-form-field>
    </div>
    <div class="col-sm-6">
      <mat-form-field class="fill">
        <input matInput placeholder="Confirm Password" formControlName="confirmPassword" type="password" [errorStateMatcher]="formGroup.passwordMatchErrStateMatcher">
        <mat-error *ngIf="formGroup.hasError('passwordConfirmMatch')">
          {{ formGroup.getError('passwordConfirmMatch') }}
        </mat-error>
      </mat-form-field>
    </div>
  </div>

  <div #passwordDisplay class="password-display" [attr.aria-hidden]="editing">
    <div class="inline-label">Passsword:</div>
    <div class="d-inline-block">******</div>
  </div>
</div>
