<food-web-progress-indicator [trigger]="loading" [blocking]="true" [diameter]="150"></food-web-progress-indicator>

<form #loginFormDirective="ngForm" [formGroup]="loginForm" (submit)="submit()" class="login-container">
  <mat-toolbar color="primary">
    <h1 mat-dialog-title>{{ title }}</h1>
    <button mat-icon-button type="button" class="close-button" mat-dialog-close>
      <mat-icon aria-label="Close">close</mat-icon>
    </button>
  </mat-toolbar>

  <div mat-dialog-content *ngIf="!resetMessageSent">
    <mat-form-field>
      <input matInput type="text" placeholder="Username" formControlName="username" cdkFocusInitial>
    </mat-form-field>
    <mat-form-field *ngIf="!isPasswordReset">
      <input matInput type="password" placeholder="Password" formControlName="password">
    </mat-form-field>
    <mat-error *ngIf="sessionService.loginErr && loginFormDirective.submitted" class="login-err">{{ sessionService.loginErr }}</mat-error>
  </div>
  <div mat-dialog-content *ngIf="resetMessageSent">
    <p>A password reset message has been sent to your email.</p>
    <p>Follow the link within the email to reset your password.</p>
  </div>

  <div mat-dialog-actions>
    <div class="align-right" *ngIf="!isPasswordReset">
      <button mat-button type="button" color="accent" (click)="forgotPassword()">Forgot Password</button>
      <button mat-raised-button type="submit" color="primary" [disabled]="loginForm.invalid">Login</button>
    </div>
    <div class="align-right" *ngIf="isPasswordReset && !resetMessageSent">
      <button mat-button type="button" color="accent" (click)="returnToLogin()">Login</button>
      <button mat-raised-button type="submit" color="primary" [disabled]="loginForm.invalid">Send Email</button>
    </div>
    <div class="align-right" *ngIf="resetMessageSent">
      <button mat-button type="submit" color="accent">Resend Email</button>
      <button mat-raised-button type="button" color="primary" mat-dialog-close>Ok</button>
    </div>
  </div>
</form>
