<form [formGroup]="formGroup" class="donation-hub-donate-form page" (submit)="save()">

  <div *ngIf="!donationHubPledgeNotFound; else notFoundTmpl" class="page-title block-label">
    Donation Hub Pledge Edit
  </div>

  <ng-template #notFoundTmpl>
    <div class="page-title block-label">
      <strong>Donation hub pledge not found</strong>
    </div>
  </ng-template>

  <ng-container *ngIf="originalDonationHubPledge">

    <mat-card>
      <mat-card-title>
        Describe Your Donation
      </mat-card-title>

      <mat-card-content>
        <div class="row">
          <div class="col-md-6 col-12">
            <mat-form-field class="fill">
              <input matInput type="text" formControlName="foodType" placeholder="Type of Sandwhich">
            </mat-form-field>
          </div>

          <div class="col-md-6 col-12">
            <mat-form-field class="fill">
              <input matInput type="number" formControlName="foodCount" placeholder="Sandwhich Count">
            </mat-form-field>
          </div>
        </div>
      </mat-card-content>
    </mat-card>

    <div class="action-footer align-right">
      <a [routerLink]="['/donation-hub', 'pledge', originalDonationHubPledge.id]">
        <button mat-button type="button" color="warn">Cancel</button>
      </a>
      <button mat-raised-button type="submit" color="primary">Save</button>
    </div>

  </ng-container>

</form>
