<form [formGroup]="pledgeForm" class="donation-hub-donate-form page" (submit)="save()">

  <div *ngIf="!donationHubPledgeNotFound; else notFoundTmpl" class="page-title">
    {{ shellService.pageTitle }}
  </div>

  <ng-template #notFoundTmpl>
    <div class="not-found">
      Donation Pledge not found
    </div>
  </ng-template>

  <ng-container *ngIf="originalDonationHubPledge">

    <mat-card>
      <mat-card-title>
        Describe Your Donation
      </mat-card-title>

      <mat-card-content>
        <foodweb-donation-hub-pledge-form [formGroup]="pledgeForm"></foodweb-donation-hub-pledge-form>
      </mat-card-content>
    </mat-card>

    <div class="action-footer align-right">
      <a [routerLink]="['/donation-hub', 'pledge', originalDonationHubPledge.id]">
        <button mat-button type="button" color="warn">Cancel</button>
      </a>
      <button mat-raised-button type="submit" color="primary">Save</button>
    </div>

  </ng-container>

</form>
