<div class="donations-container">
  <div class="list-title block-label">
    {{ pageTitleService.title }}
  </div>

  <div class="row">
    <div class="col-lg-6" *ngFor="let donation of donations">
      <a [routerLink]="['/donation-details/' + donation.id]" [state]="donation" foodWebReturnLink="donation-{{ donation.id }}" class="donation-link">
        <mat-card id="donation-{{ donation.id }}" class="donation-card">
          <mat-card-header>
            <img mat-card-avatar src="/assets/{{ accountHelper.organizationFirstChar(donation.donorAccount.organization) }}.svg" alt="Donor Icon">
            <mat-card-title>{{ donation.donorAccount.organization.organizationName }}</mat-card-title>
            <mat-card-subtitle>
              <food-web-donation-status [donationStatus]="donation.donationStatus" class="donation-status"></food-web-donation-status>
            </mat-card-subtitle>
          </mat-card-header>
          <mat-card-content>
            <div class="donation-display row">
              <div class="col-sm-6">
                <div class="inline-label">Donation Type:</div>
                <div>{{ donation.donationType }}</div>
              </div>
              <div class="col-sm-6">
                <div class="inline-label">Donated:</div>
                <div>{{ donation.created | date }}</div>
              </div>
              <div class="col-sm-12">
                <div class="inline-label">Description:</div>
                <div class="donation-description">{{ donation.description }}</div>
              </div>
            </div>
          </mat-card-content>
        </mat-card>
      </a>
    </div>
  </div>

  <div class="food-web-paginator-container">
    <food-web-paginator [length]="totalCount"></food-web-paginator>
  </div>
</div>
