.donations-container {

  .donation-link {
    &:hover {
      text-decoration: none;

      .donation-card {
        box-shadow: 0px 3px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
      }
    }

    .donation-status {
      font-size: 11px;
    }

    .donation-display {

      &> div {
        margin-bottom: 12px;
      }

      .donation-description {
        white-space: nowrap;
        overflow-x: hidden;
        max-width: 100%;
        text-overflow: ellipsis;
      }
    }
  }
}