<mat-drawer-container class="left-nav-container">
  <mat-drawer [mode]="leftNavService.mode" [opened]="leftNavService.opened">
    <ul>
      <li>
        <a mat-ripple [routerLink]="['/']" (click)="_onNavClick()">
          <span><mat-icon>home</mat-icon> Home</span>
        </a>
      </li>
      <li>
        <a mat-ripple [routerLink]="['/accounts']" [queryParams]="{ accountType: 'Donor' }" (click)="_onNavClick()">
          <span><mat-icon>business</mat-icon> Donors</span>
        </a>
      </li>
      <li>
        <a mat-ripple [routerLink]="['/accounts']" [queryParams]="{ accountType: 'Receiver' }" (click)="_onNavClick()">
          <span><mat-icon>location_on</mat-icon> Receivers</span>
        </a>
      </li>
      <li *ngIf="sessionService.isDonor">
        <a mat-ripple [routerLink]="['/donate']" (click)="_onNavClick()">
          <span><mat-icon>card_giftcard</mat-icon> Donate</span>
        </a>
      </li>
      <li *ngIf="sessionService.isDonor || sessionService.isReceiver">
        <a mat-ripple [routerLink]="['/donations/my']" (click)="_onNavClick()">
          <span><mat-icon>list_alt</mat-icon>My Donations</span>
        </a>
      </li>
      <li>
        <a mat-ripple [routerLink]="['/donations']" (click)="_onNavClick()">
          <span><mat-icon>search</mat-icon>Find Donations</span>
        </a>
      </li>
    </ul>
  </mat-drawer>
  <mat-drawer-content>
    <div *ngIf="pageProgressService.showBlockingProgress" class="blocking-page-progress-indicator" [style.width]="pageProgressService.blockingProgressWidth">
      <food-web-progress-indicator
        [backdropColor]="pageProgressService.backdropColor"
        [backdropOpacity]="pageProgressService.backdropOpacity"
        [backdropVisible]="pageProgressService.backdropVisible"
        [blocking]="pageProgressService.blocking"
        [color]="pageProgressService.color"
        [diameter]="pageProgressService.diameter"
        [mode]="pageProgressService.mode"
        [strokeWidth]="pageProgressService.strokeWidth"
        [trigger]="pageProgressService.trigger"
        [value]="pageProgressService.value">
      </food-web-progress-indicator>
    </div>
    <div class="page-content container">
      <ng-content></ng-content>
    </div>
  </mat-drawer-content>
</mat-drawer-container>
