<ng-container *ngIf="!sessionService.loggedIn; else loggedInTmpl">
  <a (click)="login()">Login</a>
  <span> | </span>
  <a [routerLink]="['/signup']">Signup</a>
</ng-container>
<ng-template #loggedInTmpl>
  <foodweb-settings-menu></foodweb-settings-menu>
  <foodweb-donate-menu *ngIf="sessionService.isDonor"></foodweb-donate-menu>
  <foodweb-search-menu *ngIf="!sessionService.isDonor" [accountType]="sessionService.account.accountType"></foodweb-search-menu>
  <foodweb-notifications-menu></foodweb-notifications-menu>
</ng-template>
