<ul *ngIf="accountType === 'Donor'">
  <li>
    You will visually inspect all food for donation and confirm that there is nothing visually apparent suggesting that
    the food is not fit to consume (i.e., no bulging or leaking cans; no rotting produce; no mold on bread, etc.).
  </li>
  <li>
    You will not provide food for donation in the following circumstances:
    <ul>
      <li>
        ​Hot food that has been left within the "danger zone" (between 40 degrees F to 140 degrees F) for more than one hour
        (or will be in the danger zone for more than one hour by the time it is picked up and delivered).  
      </li>
      <li>
          Cold food that has been left in the "danger zone" over 2 hours (or will be in the danger zone for more than two hours
          by the time it is picked up and delivered).  Cold food for donation must be kept refrigerated.
      </li>
    </ul>
  </li>
  <li>
    You will not provide food for donation if you, or any of your staff who have handled the food,
    are unwell or suspect that you may be unwell.
  </li>
  <li>
    You will not provide food for donation if you are aware of, or suspect, any violations of the applicable health or food safety
    regulations that govern your establishment.
  </li>
  <li>
    After identifying food for donation, you will either separate such food from any other food at your establishment and await
    the arrival of the volunteer driver to pack up the food or, if possible, you will pack the food in sealed containers
    (separately packing hot and cold food and ensuring that you washed your hands before handling the food and wore protective
    gloves during the packing process).
  </li>
</ul>

<ul *ngIf="accountType === 'Volunteer'">
  <li>
    Upon arriving at the donating organization, you will visually inspect all food for donation and confirm
    that there is nothing visually apparent suggesting that the food is not fit to consume
    (i.e., no bulging or leaking cans; no rotting produce; no mold on bread, etc.).
  </li>

  <li>
    Before packing the food, you will wash your hands (if there is an available bathroom or sink) and then wear
    protective gloves during the packing process.
  </li>

  <li>
    Women or men with long hair must tie their hair back during the packing/handling process.
  </li>

  <li>
    Hot and cold food should be separately packed in sealed containers and placed in separate insulated bags.
  </li>

  <li>
    The vehicle in which the food is to be transported must be clean, climate-controlled, registered, and insured.
  </li>

  <li>
    Food must be delivered to the receiving organization within one (1) hour of pick-up.
  </li>

  <li>
    When dropping off the food to the receiving organization, you will not touch the food directly, but simply handle the sealed
    container(s) by providing them to the contact person at the receiving organization.
  </li>

  <li>
    You will not volunteer for any food deliveries if you are, or suspect that you are, unwell
    (i.e., have a cold, stomach upset, fever, etc.).
  </li>
</ul>
