<form [formGroup]="accountUpdateForm" *ngIf="originalAccount" class="account-form">
  <div class="row">
    <div class="col-xl-6">
      <mat-card formGroupName="account">
        <food-web-edit-save-button *ngIf="sessionService.isAdmin" [editing]="sectionEditService.editing('account')" (edit)="onEdit('account')"
          (save)="onSave('account')" controlName="account"></food-web-edit-save-button>
        <mat-card-title class="block-label">Account</mat-card-title>
        <mat-card-content>
          <div class="account-display-content row">
            <div class="col-sm-6" *ngIf="isMyAccount">
              <food-web-username formControlName="username" [editing]="sectionEditService.editing('account')"></food-web-username>
            </div>
            <div class="col-sm-6">
              <food-web-account-type formControlName="accountType" [editing]="sectionEditService.editing('account')"></food-web-account-type>
            </div>
          </div>
        </mat-card-content>
      </mat-card>
      <mat-card>
        <food-web-edit-save-button *ngIf="isMyAccount" [editing]="sectionEditService.editing('organization')" (edit)="onEdit('organization')"
          (save)="onSave('organization')" controlName="organization"></food-web-edit-save-button>
        <mat-card-title class="block-label">Organization</mat-card-title>
        <mat-card-content>
          <food-web-organization formGroupName="organization" [editing]="sectionEditService.editing('organization')"></food-web-organization>
          <div *ngIf="originalAccount && !accountHelper.isAdmin(originalAccount) && !sectionEditService.editing('organization')" class="see-donations-link">
            <a *ngIf="!isMyAccount" [routerLink]="['/donations']" [queryParams]="seeDonationsParams">See Donations</a>
            <a *ngIf="isMyAccount" [routerLink]="['/donations/my']">See My Donations</a>
          </div>
        </mat-card-content>
      </mat-card>

      <mat-card>
        <food-web-edit-save-button *ngIf="isMyAccount" [editing]="sectionEditService.editing('contactInfo')" (edit)="onEdit('contactInfo')"
          (save)="onSave('contactInfo')" controlName="contactInfo"></food-web-edit-save-button>
        <mat-card-title class="block-label">Contact Info</mat-card-title>
        <mat-card-content>
          <food-web-contact-info formGroupName="contactInfo" [contactInfo]="originalAccount?.contactInfo"
            [editing]="sectionEditService.editing('contactInfo')"></food-web-contact-info>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="col-xl-6">
      <mat-card>
        <food-web-edit-save-button *ngIf="isMyAccount" [editing]="sectionEditService.editing('operationHours')" (edit)="onEdit('operationHours')"
          (save)="onSave('operationHours')" controlName="operationHours"></food-web-edit-save-button>
        <mat-card-title class="block-label">Hours of Operation</mat-card-title>
        <mat-card-content>
          <food-web-operation-hours formArrayName="operationHours" [editing]="sectionEditService.editing('operationHours')"></food-web-operation-hours>
        </mat-card-content>
      </mat-card>

      <mat-card *ngIf="isMyAccount">
        <food-web-edit-save-button [editing]="sectionEditService.editing('password')" (edit)="onEdit('password')"
          (save)="onSave('password')"  controlName="password"></food-web-edit-save-button>
        <mat-card-title class="block-label">Password</mat-card-title>
        <mat-card-content>
          <div class="row">
            <div class="col-sm-12">
              <food-web-password formGroupName="password" [formMode]="passwordFormMode" [editing]="sectionEditService.editing('password')"></food-web-password>
            </div>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</form>

<div *ngIf="accountNotFound" class="account-not-found disclaimer">
  Account not found
</div>
