<form [formGroup]="accountUpdateForm" *ngIf="originalAccount" class="account-form">
  <div class="account-main align-center">
    <div class="page-title block-label">
      <food-web-username *ngIf="isMyAccount" formControlName="username" [editing]="sectionEditService.editing('username')"></food-web-username>
      <ng-container *ngIf="!isMyAccount">
        <div *ngIf="originalAccount.organization">
          {{ originalAccount.organization.organizationName }}
        </div>
      </ng-container>
    </div>
    <food-web-profile-img formControlName="profileImgUrl" [editable]="isMyAccount" [editing]="sectionEditService.editing('profileImgUrl')"></food-web-profile-img>
  </div>

  <div class="account-type">
    <food-web-account-type formControlName="accountType" [editing]="sectionEditService.editing('accountType')"></food-web-account-type>
  </div>

  <mat-divider></mat-divider>

  <p *ngIf="isMyAccount && !originalAccount.verified" class="account-not-verified">
    Account Not Verified:
    <button mat-button type="button" (click)="accountService.resendVerificationEmail()">Resend Verification Email</button>
  </p>

  <div class="row">
    <div class="col-xl-6">
      <mat-card *ngIf="originalAccount.accountType !== 'Volunteer'">
        <food-web-edit-save-button *ngIf="isMyAccount" [editing]="sectionEditService.editing('organization')" (edit)="onEdit('organization')"
          (save)="onSave('organization')" controlName="organization"></food-web-edit-save-button>
        <mat-card-title class="block-label">Organization</mat-card-title>
        <mat-card-content>
          <food-web-organization formGroupName="organization" [accountType]="accountUpdateForm.get('accountType').value" [editing]="sectionEditService.editing('organization')"></food-web-organization>
          <div *ngIf="originalAccount && !accountHelper.isAdmin(originalAccount) && !sectionEditService.editing('organization')" class="see-donations-link">
            <a *ngIf="!isMyAccount" [routerLink]="['/donations']" [queryParams]="seeDonationsParams">See Donations</a>
            <a *ngIf="isMyAccount" [routerLink]="['/donations/my']">See My Donations</a>
          </div>
        </mat-card-content>
      </mat-card>

      <mat-card *ngIf="originalAccount.accountType === 'Volunteer'">
        <food-web-edit-save-button *ngIf="isMyAccount" [editing]="sectionEditService.editing('volunteer')" (edit)="onEdit('volunteer')"
          (save)="onSave('volunteer')" controlName="volunteer"></food-web-edit-save-button>
        <mat-card-title class="block-label">Volunteer Name</mat-card-title>
        <mat-card-content>
          <food-web-volunteer formGroupName="volunteer" [editing]="sectionEditService.editing('volunteer')"></food-web-volunteer>
          <div *ngIf="isMyAccount && originalAccount && !accountHelper.isAdmin(originalAccount) && !sectionEditService.editing('volunteer')" class="see-donations-link">
            <a [routerLink]="['/deliveries/my']">See My Deliveries</a>
          </div>
        </mat-card-content>
      </mat-card>

      <mat-card>
        <food-web-edit-save-button *ngIf="isMyAccount" [editing]="sectionEditService.editing('contactInfo')" (edit)="onEdit('contactInfo')"
          (save)="onSave('contactInfo')" controlName="contactInfo"></food-web-edit-save-button>
        <mat-card-title class="block-label">Contact Info</mat-card-title>
        <mat-card-content>
          <food-web-contact-info formGroupName="contactInfo" [contactInfo]="originalAccount?.contactInfo"
            [editing]="sectionEditService.editing('contactInfo')"></food-web-contact-info>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="col-xl-6">
      <mat-card>
        <food-web-edit-save-button *ngIf="isMyAccount" [editing]="sectionEditService.editing('operationHours')" (edit)="onEdit('operationHours')"
          (save)="onSave('operationHours')" controlName="operationHours"></food-web-edit-save-button>
        <mat-card-title class="block-label" *ngIf="originalAccount.accountType !== 'Volunteer'">Hours of Operation</mat-card-title>
        <mat-card-title class="block-label" *ngIf="originalAccount.accountType === 'Volunteer'">Hours of Availability</mat-card-title>
        <ng-container [ngSwitch]="originalAccount.accountType" *ngIf="sectionEditService.editing('operationHours')">
          <mat-card-subtitle *ngSwitchCase="'Donor'">Fill in any times you are regularly available for donation pickup</mat-card-subtitle>
          <mat-card-subtitle *ngSwitchCase="'Receiver'">Fill in any times you are regularly available for donation drop-off</mat-card-subtitle>
          <mat-card-subtitle *ngSwitchCase="'Volunteer'">Fill in any times you would like to regularly receive delivery requests</mat-card-subtitle>
        </ng-container>
        <mat-card-content>
          <food-web-operation-hours formControlName="operationHours" [editing]="sectionEditService.editing('operationHours')"></food-web-operation-hours>
        </mat-card-content>
      </mat-card>

      <mat-card *ngIf="isMyAccount">
        <food-web-edit-save-button [editing]="sectionEditService.editing('password')" (edit)="onEdit('password')"
          (save)="onSave('password')"  controlName="password"></food-web-edit-save-button>
        <mat-card-title class="block-label">Password</mat-card-title>
        <mat-card-content>
          <div class="row">
            <div class="col-sm-12">
              <food-web-password formGroupName="password" [formMode]="passwordFormMode" [editing]="sectionEditService.editing('password')"></food-web-password>
            </div>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</form>

<div *ngIf="accountNotFound" class="account-not-found disclaimer">
  Account not found
</div>
