<div *ngIf="editable | toBoolean; else displayTmpl" class="time-edit">
  <mat-form-field [floatLabel]="floatLabels" class="fill">
    <input matInput
      [errorStateMatcher]="errorStateMatcher"
      [formControl]="formControl"
      [placeholder]="placeholder"
      [ngxTimepicker]="timePicker"
      (blur)="onTouchedCb()"
      autocomplete="off"
      readonly="true">
    <button mat-icon-button matSuffix
      *ngIf="showClearButton"
      (click)="clearTime($event)"
      color="warn"
      type="button">
      <mat-icon>clear</mat-icon>
    </button>
    <button mat-icon-button matSuffix
      [disabled]="formControl?.disabled"
      (click)="timePicker.open()"
      aria-label="Open Time Dialog"
      type="button">
      <mat-icon>alarm</mat-icon>
    </button>
    <ngx-material-timepicker #timePicker
      [defaultTime]="defaultTime | foodwebFormatTime"
      [minutesGap]="minutesGap"
      [preventOverlayClick]="preventOverlayClick | toBoolean"
    ></ngx-material-timepicker>
  </mat-form-field>
</div>

<ng-template #displayTmpl>
  <span *ngIf="value" [ngClass]="{ bold: bold | toBoolean }" class="time-display">
    {{ value }}
  </span>
</ng-template>
