@import "variables.scss";
@import "./ion-alert.scss";
@import "./ion-button.scss";
@import "./ion-card.scss";
@import "./ion-checkbox.scss";
@import "./ion-content.scss";
@import "./ion-datetime.scss";
@import "./ion-input.scss";
@import "./ion-label.scss";
@import "./ion-list.scss";
@import "./ion-popover.scss";
@import "./ion-radio.scss";
@import "./ion-toast.scss";
@import "./mat-expansion-panel.scss";
@import "./mat-form-field.scss";

html.ios {
  height: 100vh;
  overflow: hidden;
}

hr {
  background-color: rgba(0, 0, 0, .12);
}

h2.section-title,
.block-label,
.inline-label {
  color: var(--ion-text-color);
}

h2.section-title {
  padding: 0 14px;
}

.standalone-statement {
  color: var(--ion-color-step-850);
  padding-left: 14px;
  padding-right: 14px;
}

.action-footer {
  max-width: 300px;
  margin-left: auto;
  margin-right: auto;
}

.call-to-action-list > *,
.call-to-action {
  &:before {
    font-weight: bold;
    top: 9px;
  }
}

cdk-virtual-scroll-viewport {
  height: 100%;
  width: 100%;
}

.light {
  a {
    color: var(--ion-color-tertiary);
  }
}
