@import "variables.scss";

ion-card {
  margin: 0 0 20px 0;

  > foodweb-edit-save-button {
    position: absolute;
    top: 3px;
    right: 5px;
  }

  ion-card-header {
    position: relative;

    .ion-card-header-text {
      margin-top: -3px;

      .ion-card-subtitle:not(:first-child) {
        margin-top: -12px;
        margin-bottom: 10px;
      }

      @media only screen and (max-width: $mat-mobile) {
        margin-top: -2px;
      }
    }
  }

  ion-card-title,
  ion-card-content {
    position: relative;
  }

  ion-card-title {
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
    color: $accent;
    font: 500 20px Avenir;

    .mat-toolbar:first-child {
      margin: -16px 0px 0px -16px;
      max-height: 50px;
      width: calc(100% + 32px);
      justify-content: center;
      border-radius: inherit;
    }

    @media only screen and (max-width: $sm) {
      font-size: 18px;
    }

    @media only screen and (max-width: $mat-mobile) {
      font-size: 16px;
    }
  }

  ion-card-content {
    + .ion-card-actions {
      margin-top: -8px;
    }

    @media only screen and (max-width: $mat-mobile) {
      font-size: 13px;
    }
  }

  &.selectable-card:hover {
    text-decoration: none;
    box-shadow: 0px 3px 2px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
  }

  @media only screen and (max-width: $mat-mobile) {
    margin-top: 0;
    margin-bottom: 15px;
  }
}
