
    <div class="wrapper">            
        <!-- home content -->
        <section class="page_section" id="home">
        	<!--Slider-->
            <div id="main_div">
                <div id="bg_img"></div>
                <!-- <img src="./assets/cover.jpeg" alt="" class="slide_bg" /> -->
                <div class="full_slider_caption fleft">
                    <div class="container">
                        <div class="slide_title_alt">Foob Web WNY</div>
                        <!-- <div><img src="./assets/HeaderImg.jpg"></div> -->
                        <ng-container *ngIf="generalStats">
                            <div>
                                Total Donations
                                <span>{{ generalStats.totalDonations }}</span>
                            </div>
                            <div>
                                Total Meals
                                <span>{{ generalStats.totalMeals }}</span>
                            </div>
                        </ng-container>

                        <ng-container *ngIf="!generalStats">
                        <div class="slide_title">FoodWeb donations and deliveries are suspended until further notice due to the concerns surrounding the COVID-19 outbreak. We apologize for any inconvenience, and look forward to starting back up when safe to do so.

                            Thank you for your support and understanding!</div>
                        </ng-container>
                    </div>

                    <div class="container ban">
                        <div class="banner-options">
                            <div class="item shortcode_button" [routerLink]="['/signup/donor']">
                                <!-- <div class="img-wrap"><img src="./assets/images/icons/ban-opt-icon2.png" height="80" width="80" alt=""></div> -->
                                <div class="text">
                                    <div class="title">Become a Donor</div>
                                    <p>Sign up to Donate food</p>
                                </div>
                            </div>
                            <div class="item shortcode_button" [routerLink]="['/signup/receiver']">
                                <!-- <div class="img-wrap"><img src="./assets/images/icons/ban-opt-icon2.png" height="80" width="80" alt=""></div> -->
                                <div class="text">
                                    <div class="title">Become a Receiver</div>
                                    <p>Sign up to Receive food</p>
                                </div>
                            </div>
                            <div class="item shortcode_button" [routerLink]="['/signup/volunteer']">
                                <!-- <div class="img-wrap"><img src="./assets/images/icons/ban-opt-icon2.png" height="80" width="80" alt=""></div> -->
                                <div class="text">
                                    <div class="title">Become a Volunteer</div>
                                    <p>Sign up to help deliver food</p>
                                </div>
                            </div>
                        </div>
                    </div>  
                </div>


            </div>        
            <!--//Slider-->            
        </section> 

        <!-- about content-->
        <section class="page_section" id="about">
            <div class="block_header bring">
                <div class="container">
                <div class="row">
                    <h2>What is Food Web!</h2>
                    <foodweb-general-stats-card></foodweb-general-stats-card>
                    <p class="about-text">FoodWeb donations and deliveries are suspended until further notice due to the concerns surrounding the COVID-19 outbreak. We apologize for any inconvenience, and look forward to starting back up when safe to do so. Thank you for your support and understanding!</p>
                    <div class="col-md-6 bring-img"><img src="./assets/foodweb.jpeg" alt=""></div>
                    <div class="col-md-6">
                        <div>
                            <p>Hundreds of pounds of food are thrown out by local food industries.</p>
                            <p>There are more than 8,200 homeless people in Western New York.</p>
                            <p>Over 50% of the youth in the city of Buffalo live below the poverty line.</p>
                        </div>
                        <p>We are a non-profit whose goal is to facilitate the delivery of food from generous donors to those who need it the most. Through our website and community engagement, we hope to address food insecurity while also providing an avenue for citizens to give back to their community.</p>
                        <a [routerLink]="['/about']" class="shortcode_button">Learn More</a>
                    </div>
                    <div class="clear"></div>
                    <div class="section-separator"><div class="line"></div></div>   
                </div> 
                </div>
            </div>
            <div class="block_header giving">
                <div class="container">
                    <div class="row">
                        <div class="col-md-10">
                        <h2>Our mission</h2>
                        <p> is to help alleviate hunger and prevent the waste of food. With our platform and our network of volunteers, we will enable local businesses to easily and quickly donate their excess food to local charities.</p>
                        <a [routerLink]="['/fundraise']" class="shortcode_button">Make Donation</a>
                        </div>
                        <div class="col-md-2 hand"></div>
                    </div>
                </div>
            </div>
        </section>

        <!-- community content-->
        <section class="page_section" id="community">
            
        	<div class="block_header community">
                <div class="container">
                  <div class="block_header events">
                    <div class="container">
                        <h2>Upcoming Events</h2>
                        <p class="about-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="event-item">
                                    <div class="img-wrap"><a href="javascript:void(0);"><img src="./assets/images/events/img.jpg" height="240" width="370" alt=""></a></div>
                                    <div class="name">Sandwich Drive</div>
                                    <div class="date">On: <span>April 17th 2021</span></div>
                                    <p>FoodWeb's weekly sandwich drives to benefit St. Luke's Mission for Mercy continue on April 17. Please join FoodWeb in making sandwich lunches consisting of a sandwich (turkey, ham, bologna preferred), a piece of fruit, and a snack (cookie or chips) and putting it all in a Ziploc or lunch bag.  PLEASE LABEL the sandwiches so our volunteers can identify sandwiches containing perishable items.  You can drop off the sandwich lunches at any of the below drop-off centers between 1:30 pm – 2:30 pm on April 17(please note changed drop-off window).  Our volunteers will deliver to St. Luke’s.  </p>
                                    <a href="javascript:void(0);" class="shortcode_button">Learn More</a>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="event-item">
                                    <div class="img-wrap"><a href="javascript:void(0);"><img src="./assets/images/events/img.jpg" height="240" width="370" alt=""></a></div>
                                    <div class="name">Sandwich Drive</div>
                                    <div class="date">On: <span>April 10th 2021</span></div>
                                    <p>FoodWeb's weekly sandwich drives to benefit St. Luke's Mission for Mercy continues on April 10. Please join FoodWeb in making sandwich lunches consisting of a sandwich (ham, turkey, bologna preferred), a piece of fruit, and a snack (cookie or chips) and putting it all in a Ziploc or lunch bag.  PLEASE LABEL the sandwiches so our volunteers can identify sandwiches containing perishable items.  </p>
                                    <a href="javascript:void(0);" class="shortcode_button">Learn More</a>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="event-item">
                                    <div class="img-wrap"><a href="javascript:void(0);"><img src="./assets/images/events/img.jpg" height="240" width="370" alt=""></a></div>
                                    <div class="name">Sandwich Drive</div>
                                    <div class="date">On: <span>May 27th 2021</span></div>
                                    <p>FoodWeb's weekly sandwich drives to benefit St. Luke's Mission for Mercy continue on March 27.  Please join FoodWeb in making sandwich lunches consisting of a sandwich (any kind, including peanut butter and jelly), a piece of fruit, and a snack (cookie or chips) and putting it all in a Ziploc or lunch bag.  PLEASE LABEL the sandwiches so our volunteers can identify sandwiches containing perishable items.  </p>
                                    <a href="javascript:void(0);" class="shortcode_button">Learn More</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                </div>    
            </div>	                                     
        
        <!-- <div class="container"><div class="row"><div class="section-separator"><div class="line"></div></div></div></div> -->
    
            <!-- //Portfolio -->
            <div class="block_header giving portfolio-free" style="text-align:center">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12"  style="text-align:center">
                        <h2  class="title"  style="text-align:center">Free This Weekend? Become a volunteer!</h2>
                        <p>Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur.</p>
                        <a [routerLink]="['/signup/volunteer']" class="shortcode_button">Create an account</a>
                        </div>
                        <!-- <div class="col-md-2 hand"></div> -->
                    </div>
                </div>
            </div>
            <!-- <div class="container"><div class="row"><div class="section-separator"><div class="line"></div></div></div></div> -->
        </section>        
        <section class="page_section" id="news">
            <div class="block_header news">
                <div class="container">
                    <div class="row">

  
                    </div>
                </div>
            </div>

        </section>
    
        <!-- contact content -->
        <section class="page_section" id="contact">  
        	<div class="stretch contacts_block_bg">
            <div class="wrap">
            	<div class="block_header contacts">
                    <div class="container">
                        <h2>If you have questions or wish to join our team, Fill free to send us an email</h2>
                    </div>
                </div>
                <div class="container">
            		<div class="row">
                    	<div class="contact_form">
                            <div id="note"></div>
                            <div id="fields"> 
                                <form id="ajax-contact-form" action="#"> 
                                <div class="col-md-4"><div class="input-wrap"><input type="text" name="name" value="" placeholder="Your Name*" /></div></div>
                                <div class="col-md-4"><div class="input-wrap"><input type="text" name="email" value="" placeholder="Your Mail*" /></div></div>
                                <div class="col-md-4"><div class="input-wrap"><input type="text" name="subject" value="" placeholder="Subject" /></div></div>
                                <div class="col-md-12"><textarea name="message" id="message" placeholder="Enter Message Here*"></textarea></div>	
                                <div class="submit-wrap">
                                    <input type="submit" class="send_btn" value="Send Message">
                                </div>
                                </form> 
                            </div>                                                       
                        </div>
            		</div>
            	</div>
            </div>
            </div>        
        </section>              
        
        <!--footer-->
        <div class="footer">
        	<div class="container">
                <div class="row">
                    <div class="col-md-4">
                        <div class="title">Contact Info</div>
                        <p>Maecenas etos sit amet, consectetur adipiscing elit. Terminal volutpat rutrum metro amet sollicitudin interdum at vero eos et accusamus et iusto odio.</p>
                        <p>Phone: +1 (800) 756 547 12</p>
                        <p>Address: 1684 Awesome Street, New York</p>
                        <p>Email: <a href="mailto:#">info@lord’sgrace.com</a></p>
                    </div>
                    <div class="col-md-4 important_links">
                        <div class="title">Important Links</div>
                        <a [routerLink]="['/about']">About Us</a>
                        <a [routerLink]="['/fundraise']">Donate</a>
                        <!-- <p>Maecenas etos sit amet, consectetur adipiscing elit. Terminal volutpat rutrum metro <a href="javascript:void(0);">http://www.themedesigner.in</a> <br>2 hours ago</p>
                        <p>Ante tellus gravida mollis tellus neque vitae elit. Terminal volutpat rutrum metro <a href="javascript:void(0);">http://www.themedesigner.in</a> <br>2 hours ago</p> -->
                    </div>
                    <div class="col-md-4">
                        <div class="title">Newsletter Signup</div>
                        <p>Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates repudian concetur sit amet einem tellus.</p>
                        <div class="foot-letter-wrap">
                            <input type="text" placeholder="Email address" value="" name="">
                            <input type="submit" value="Go" name="">
                        </div>
                        <div class="clear"></div>
                        <ul class="social-list">
                            <li class="facebook"><a href="javascript:void(0);"></a></li>
                            <li class="twitter"><a href="javascript:void(0);"></a></li>
                            <li class="google"><a href="javascript:void(0);"></a></li>
                            <li class="dribble"><a href="javascript:void(0);"></a></li>
                            <li class="pinterest"><a href="javascript:void(0);"></a></li>
                        </ul>
                    </div>
                </div>
                <div class="foot-bottom">
                    <div class="copyrights">&copy; 2020. All Rights Reserved by Food Web WNY.</div>
                </div>
            </div>
        </div>
        <!--//footer-->          
           
    </div><!-- //wrapper --> 

    <header class="fixed-menu"></header>
