.fonts {
	font-family: 'Open Sans', sans-serif;
	font-family: 'Raleway', sans-serif;
}
#preloader {
	position:fixed;
	top:0;
	left:0;
	right:0;
	bottom:0;
	height:100%;
	background-color:#fff; /* change if the mask should have another color then white */
	z-index:99900; /* makes sure it stays on top */
}
#status {
	width:80px;
	height:80px;
	position:absolute;
	left:50%; /* centers the loading animation horizontally one the screen */
	top:50%; /* centers the loading animation vertically one the screen */
	/* background-image:url(../images/status.gif); path to your loading animation */
	background-repeat:no-repeat;
	background-position:center;
	margin:-40px 0 0 -40px; /* is width and height divided by two */
}

/* GRID */
body, html {
    padding: 0;
    margin: 0;
	overflow-x:hidden !important;
}
.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.container:before,
.container:after {
    display: table;
    content: " ";
}
.container:after {
    clear: both;
}
.row {
    margin-right: -15px;
    margin-left: -15px;
}
.row:before,
.row:after {
    display: table;
    content: " ";
}
.row:after {
    clear: both;
}
.col-md-1,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-md-10,
.col-md-11,
.col-md-12 {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}
*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

img {
	border:0;
	outline:none;
	vertical-align:top;
	max-width:100%;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-o-user-select: none;
	user-select: none;
}
iframe {border:0;
}
input,
textarea {
	outline:none !important;
	resize:none;
	-webkit-appearance: none;
}
.clear {
	clear:both;
	height:0;
	font-size:0;
}
ul {
	padding:0;
	margin:0;
}
li {
	padding:0;
	margin:0;
	list-style:none;
}
.fleft {float:left;
}
.fright {float:right;
}

.color {color:#e74c3c;
}

/** MAIN **/
body {
	color: #666666;
	background: #fff;
	font-weight:400;
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	line-height:21px;
	margin: 0;
	padding: 0;	
}
html {font-size: 100%;
}
::selection{
	background: #66bb6a;
	color: #ffffff;
}
::-moz-selection {
	background: #66bb6a;
	color: #ffffff;
}
.wrapper {overflow:hidden;
}
a {
	color: #2d2e2d;
	text-decoration:none !important;
}
a:hover { color: #76457e;
}
strong { font-weight: 700;
}
.center {text-align: center;
}
.justify {text-align: justify;
}
p {
	padding:0;
	margin:0 0 10px 0;
}

/** HEADER **/
#top {
	background:none;
	border:none;
	position:absolute;
	left:0;
	top:0px;
	width:100%!important;
	z-index:999;
}
#top header,
.fixed-menu-wrapper {
	padding: 0 0;
	background: #ffffff;
}
.fixed-menu {
	border:none;
	position:fixed;
	left:0;
	top:-100px;
	background:#fff;
	z-index:9999;
	opacity: 0;
	filter:progid:DXImageTransform.Microsoft.Alpha(opacity=0);
	width:100% !important;
	transition: all 250ms;
	-webkit-transition: all 250ms;
}
.fixed-menu.fixed_show {
	top:0;
	opacity: 1;
	filter:progid:DXImageTransform.Microsoft.Alpha(opacity=100);
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15);
}
/* Logo */
#logo {
	float:left;
	vertical-align:top;
	padding: 22px 0 0;
}


/*Menu*/
.navmenu{
	margin: 0;
	padding:0;
	float:right;
}
.navmenu ul li {
	display: inline-block;
	vertical-align:top;
	list-style: none;
    margin: 0 8px 0 9px;
    position: relative;
    padding: 0 9px;
    
}

.navmenu ul li:before {
	content: '';
	position: absolute;
	width: 0;
	bottom: 0;
	left: 0;
	height: 3px;
	background: #66bb6a;
	-webkit-transition: all 0.4s; 
	transition: all 0.4s;
}
.navmenu ul li:hover:before {
	width: 100%;
}
.navmenu ul li.active:before {
	width: 100%;
}
.navmenu ul li a {
	padding: 22px 0;
	display: inline-block;
	color: #2d2e2e;
	font-size: 14px;
	font-weight:400;
	text-decoration:none !important;
	outline:none;
	opacity:0.5;
	transition: all 300ms;
	-webkit-transition: all 300ms;
}
.navmenu li a:hover,
.navmenu li.active a {
    text-decoration: none;
    opacity:1;
    color: #66bb6a;
}
a.menu_toggler {display:none;
}
.mobile_menu_wrapper {display:none;	
}
.navmenu ul li:last-child {margin-right:0;
}
.fixed-menu .navmenu ul li a {
	color:#262626;
}

#home {
	position: relative;
}

/* Main Slider */
.banner-options {
	/* position: absolute; */
	bottom: 0;
	/* margin-left:-585px; */
	display: flex;
}
.container.ban {
	position: relative;
	padding: 0;
}
.banner-options .item {
	float: left;
	padding: 25px 0 20px 0;
	width: 390px;
	background: #66bb6a;
	margin: .5em;
    border-radius: 50px;
    flex: 1;
	text-align: center;
	cursor: pointer;
}
.banner-options .item:first-child {
	border: none;
}
.banner-options .item .img-wrap	{
	padding: 10px 15px 10px 30px;
	float: left;
}
.banner-options .item .img-wrap img {
	display: block;
	border: none;
}
.banner-options .item .text	{
	/* padding: 5px 0 0;
	width: 245px;
	float: left; */
}
.banner-options .item .title {
	font-weight: 700;
	/* color: #ffffff; */
	font-size: 18px;
	position: relative;
}
/* .banner-options .item .title:before {
	content: '';
	position: absolute;
	bottom: -6px;
	left: 0;
	width: 94px;
	height: 1px;
	background: rgba(255, 255, 255, 0.5);
} */
.banner-options .item .text p {
	padding-top:20px;
	font-size: 14px;
	/* color: #fff; */
	line-height: 21px;
}
.full_slider {
	background-position:center center;
	background-repeat:no-repeat;
}

#main_div {
	height: 100vh;
}

#bg_img {
	height: 100%;
	background-size: contain;
    background-repeat: no-repeat;
    background-color: #010101;
	background-position: right;
	filter: blur(1px);
  -webkit-filter: blur(1px);
	background-image: url("https://images.unsplash.com/photo-1587015566802-5dc157c901cf?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=933&q=80");
}
.full_slider.preloader {
	/* background-image:url(../images/preloader.gif); */
}
.full_slider_caption {
    position:absolute;
	top:12.4%;
	left:0;
	right:0;
	text-align:center;
	color: #fff;
    font-size: 18px;
    font-weight: 400;
	line-height: 24px;
    margin: 0;
    text-shadow: none;
	opacity: 1; 
	filter:progid:DXImageTransform.Microsoft.Alpha(opacity=100);	
	float:none;
}
.full_slider_caption.fleft {
	text-align:left;
}
.full_slider_caption.fright {
	text-align:right
}
.full_slider_caption.fcenter {
	text-align:center
}
.full_slider_caption img {
	width:auto !important;
	margin:0 auto;
}
.full_slider_caption.fleft img {
	margin:0 auto 0 0;
}
.full_slider_caption.fright img {
	margin:0 0 0 auto;
}
.slide_title,
.full_slider_caption p {
	margin-bottom:34px;
}
.slide_title {
	padding: 18px 30px 21px 30px;
    font-size: 30px;
    line-height: normal;
    font-family: 'Open Sans', sans-serif;
    color: white;
    float: left;
    clear: both;

}
.slide_title_alt {
    margin-bottom: 10px;
    padding: 24px 30px 15px 30px;
    font-size: 66px;
    line-height: normal;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    color: #66bb6a;
    float: left;
}
.slide-logo {
	padding-bottom:50px;	
}
.shortcode_button { 
	display:inline-block;
	margin:24px 0 5px 0;
	text-decoration:none;
	border:none;
	background-color:#66bb6a;
	color:#fff;
	transition: all 300ms;
	-webkit-transition: all 300ms;
	line-height:20px;
	font-size:14px;
	padding:7px 19px 6px 19px;
	border: 1px solid #66bb6a;
	vertical-align:top;
	text-align:center;
}
.shortcode_button:hover {
	background-color:#fff !important;
	color:#66bb6a;
}

.page_section .block_header {
	width: 100%;
	/* overflow:hidden; */
	padding-top:52px;
	padding-bottom:42px;
	text-align:left;	
}
#about .block_header {
	padding-top: 51px;
	padding-bottom: 45px;
}
.about-text {
	padding:0 10px 45px 10px;
}
.block_header.bring .col-md-6 .shortcode_button {
		margin-top: 14px;
	}
.section-separator {
	margin: 54px 0 0 0;
	padding: 0 15px;
	width: 100%;
	position: relative;
	/* background: url(../images/separator-icon.jpg) 50% 0 no-repeat; */
	height: 30px;
}
.section-separator .line {
	margin: 6px 0 0;
	position: relative;
	top: 6px;
	z-index: -1;
	height: 1px;
	background: #eaeaea;
}
#about .block_header.bring {
	padding-bottom: 34px;
}
#about .block_header.events {
	padding-top: 0;
}
#about .block_header.events .event-item {
	display: inline-block;
    margin-bottom: 10px;
    vertical-align: top;
}
#about .block_header.events .shortcode_button {
	margin-top:4px;
}

.float_box {
	display: flex;
    width: 100%;
    justify-content: space-around;
    margin: 2em;
}

.circle
    {
		flex: 1 0 100%;
		max-width: 200px;
		height: 200px;
		padding: 4em 1em;
		border-radius: 250px;
		font-size: 1em;
		font-weight: bold;
		color: white;
		/* line-height: 200px; */
		text-align: center;
		/* background: white; */
		border: 5px solid;
    }

	.circle span {
		color: #66bb6a;
		font-size: 2em;
		padding: .2em;
		display: block;
	}
  




h2 {
	line-height:35px;
	color:#2d2e2e;
	font-weight:700;
	font-size:30px;
	margin:0 0 9px 0;
	padding:0 0 10px 0;	
	position:relative;
	text-align: center;
}

.block_header.giving {
	padding-top: 41px !important;
	background: #f1f1f1;
}
.block_header.giving .hand {
	position: relative;
}
.block_header.giving .hand:before {
	content: '';
	position: absolute;
	top: -51px;
	right: -94px;
	width: 265px;
	height: 236px;
	/* background: url("./assets/images/bg-hand.png"); */
}
.block_header.giving .shortcode_button {
	margin-top:14px;
}
.block_header.giving h2 {
	text-align: left;
}
.block_header.community {
	padding-top: 42px;
	padding-bottom: 4px;
}
.block_header.community h2 {
	margin-top: 9px;
	margin-bottom: 9px;
}
.block_header.community .comm-text {
	text-align: center;
}
.pastors {
	padding: 44px 0 2px 0;
}
.pastors .item {
	text-align: center;
}
.pastors .item .info {
	border: solid #ddd;
	border-width: 0 1px 1px 1px;
}
.pastors .item .name {
	padding: 16px 0 11px 0;
	font-size: 18px;
	font-weight: 700;
	color: #2d2e2e;
}
.pastors .item .post {
	padding: 0 0 8px 0;
}
.pastors .item .text {
	padding: 0 12px;
	margin: 0 0 14px 0;
}



.header_gallery {
	margin-top:-17px;
}
.gal-text {
	text-align: center;
}
.portfolio-menu {
	padding-bottom: 10px;
	text-align: center;
}
.portfolio-menu li {
	display: inline-block;
}
.portfolio-menu li.active a {
	border:1px solid #66bb6a;
	color: #fff;
	background: #66bb6a;
}
.portfolio-menu li.active a:hover {
}
.portfolio-menu li a {
	font-size: 14px;
	color: #666666;
	transition: all 400ms;
	-webkit-transition: color 400ms;
	line-height: 28px;
	display: block;
	padding: 0 20px;
	cursor: pointer;
	border:1px solid #fff;
}
.portfolio-menu li a:hover {
	border:1px solid #66bb6a;
}
.portfolio-list {
}
.portfolio-list .item {
	margin-bottom: 24px;
}
.portfolio-list .item a {
	position: relative;
	display: inline-block;
}
.portfolio-list .item a img {
	display: block;
	width: 100%;
}
.portfolio-list .item a span {
	position: absolute;
	display: table-cell;
	height: 100%;
	width: 100%;
	background: rgba(0, 0, 0, 0.5);
	opacity: 0;
	-webkit-transition: opacity 400ms;
	transition: opacity 400ms;
}
.portfolio-list .item a span:before {
	content: '';
	margin:-16px 0 0 -16px;
	width: 32px;
	height: 32px;
	/* background: url(../images/zoom-icon.png); */
	position: absolute;
	-webkit-transition: all 400ms;
	transition: all 400ms;
	top: 50%;
	left: 50%;
	transform: scale(0,0);
	-webkit-transform: scale(0,0);
	
}
.portfolio-list .item a:hover span:before {
	transform: scale(1,1);
	-webkit-transform: scale(1, 1);
}
.portfolio-list .item a:hover span {
	opacity: 1;
}
.app-item {
	text-align: center;
}
.app-item .add-item {
	display:inline-block;
	margin:0 0 5px 0;
	text-decoration:none;
	border:none;
	background-color:#66bb6a;
	color:#fff;
	transition: all 300ms;
	-webkit-transition: all 300ms;
	line-height:20px;
	font-size:14px;
	padding:7px 19px 6px 19px;
	border: 1px solid #66bb6a;
	vertical-align:top;
	text-align:center;
	cursor: pointer;
}
.app-item .add-item:hover {
	background: #fff;
	color: #66bb6a;
}

.portfolio-free {
	padding: 47px 0 0 0;
	text-align: center;
}
.portfolio-free .title {
	padding-top: 3px;
	font-size: 30px;
	font-weight: bold;
	color: #262626;
	padding-bottom: 25px;
}
.portfolio-free p {
	margin-bottom: 0;
}

.page_section .event-item .img-wrap a {
	opacity:1;
}
.page_section .event-item .img-wrap a:hover {
	opacity:0.6;
}
.page_section .event-item .name {
	padding: 15px 0 11px 0;
	font-size: 18px;
	color: #232222;
	font-weight: 700;
}
.page_section .event-item .date {
	padding: 0 0 10px 0;
}
.page_section .event-item .date span {
	color: #2d2e2e;
}
.page_section .event-item .shortcode_button {
	margin-top: 5px;
}

.full_width img {
	width:100%;
	height:auto;
}
.pb0 {
	padding-bottom:0 !important;
}
.block_header.news {
	padding-top: 32px;
	padding-bottom: 35px;
}
.block_header.news h2 {
	text-align: left;
}
.news-tab-wrap {
	padding: 16px 0 0;
}
.news-tab-wrap .box {
	display: none;
	padding: 30px 25px 30px 30px;
	border: solid #dddddd;
	border-width: 0 1px 1px 1px;
}
.news-tab-wrap .box .shortcode_button {
	margin-bottom: 0;
}
.news-tab-wrap .box .img-wrap {
	float: left;
	padding: 0 30px 10px 0;
}
.news-tab-wrap .box .title {
	font-size: 18px;
	color: #2d2e2e;
	font-weight: 700;
	padding: 0 0 21px 0;
	display: inline-block;

}
.news-tab-wrap .box.visible {
	display: block;
	
}

.news-tab li {
	width: 190px;
	float: left;
	padding: 6px 0 5px 0;
	cursor: pointer;
	border: 1px solid #dddddd;
	text-align: center;
	color: #666;
	background: #f1f1f1;
	-webkit-transition: all 400ms;
	transition: all 400ms;
}
.news-block {
	padding: 16px 0 0;
}
.news-block .item {
	padding-bottom: 14px;
	margin-bottom: 30px;
	border-bottom: 1px solid #eaeaea;
}
.news-block .item .date {
	width: 70px;
	height: 70px;
	float: left;
}
.news-block .item:last-child {
	border: none;
	margin-bottom: 13px;
}
.news-block .item .date span {
	font-size: 12px;
	color: #fff;
	text-transform: uppercase;
	text-align: center;
	line-height: 20px;
	width: 100%;
	background: #66bb6a;
	display: block;
}
.news-block .item .date em {
	display: block;
	font-size: 30px;
	line-height: 48px;
	text-align: center;
	border: 1px solid #dddddd;
	font-style: normal;
}
.news-block .item .text {
	width: 470px;
	float: left;
	padding: 0 0 0 20px;
}
.news-block .item .text .title {
	padding-bottom: 11px;
	font-size: 18px;
	color: #2d2e2e;
	font-weight: 700;
}
.news-tab li:hover, .news-tab li.active {
	color: #2d2e2e;
	background: #fff;
}
.video-box {
	text-align: center;
}
.video-box .video-block {
	margin: 44px 0 0 ;
	position: relative;
	overflow: hidden;
	width: 100%;
}
.video-box .video-block > img {
	max-width: 100%;
	width: 100%;
	display: block;
}
.video-box .video_preview a:before {
	content: '';
	margin: -45px 0 0 -45px;
	position: absolute;
	top: 50%;
	left: 50%;
	width: 90px;
	height: 90px;
	/* background: url(../images/play-btn.png); */
	transform:scale(1,1);
	-webkit-transform:scale(1,1);
	-webkit-transition: transform 400ms;
	transition: transform 400ms;
}

.video-box .video_preview a:hover:before {
	transform:scale(1.3,1.3);
	-webkit-transform:scale(1.3,1.3);
}
.video-box .video-block .video_preview {
	position: absolute;
	left: 0px;
	top: 0px;
	z-index: 50;
}
.video-box .video-block .video_preview a {
	display: block;
}
h3 {
	line-height:35px;
	color:#262626;
	font-weight:700;
	font-size:30px;
	margin:0 0 17px 0;
	padding:0;	
}
h4 {
	line-height:25px;
	color:#262626;
	font-weight:400;
	font-size:18px;
	margin:0 0 19px 0;
	padding:0;	
}




@media (min-width: 768px) {
	.team_info {
		padding-top:120px;
		padding-bottom:70px;
		min-height:538px;
	}
	.team_avatar {
		position:absolute;
		bottom:-30%;
		width: 33.33333333333333%;
		padding-left:15px;
		padding-right:15px;
	}
	.odd .team_avatar {
		left:0;
	}
	.even .team_avatar {
		right:0;
	}
	.team.odd {
		text-align:left;
	}
	.team.even {
		text-align:right;
	}
	
	.counter_wrapper:before {
		position:absolute;
		right:-31px;
		top:2px;
		width:31px;
		height:85px;
		/* background-image:url(../images/sprite.png); */
		background-repeat:no-repeat;
		background-position:-263px -1px;
		content:'';
	}
	.last .counter_wrapper:before {
		display:none;
	}	
}


/* Isotope */
.isotope-item {
  z-index: 2;
}
.isotope-hidden.isotope-item {
  pointer-events: none;
  z-index: 1;
}

/**** Isotope CSS3 transitions ****/

.isotope,
.isotope .isotope-item {
  -webkit-transition-duration: 0.8s;
     -moz-transition-duration: 0.8s;
          transition-duration: 0.8s;
}
.isotope {
  -webkit-transition-property: height, width;
     -moz-transition-property: height, width;
          transition-property: height, width;
}

.isotope .isotope-item {
  -webkit-transition-property: -webkit-transform, opacity;
     -moz-transition-property:    -moz-transform, opacity;
          transition-property:         transform, opacity;
}

/**** disabling Isotope CSS3 transitions ****/

.isotope.no-transition,
.isotope.no-transition .isotope-item,
.isotope .isotope-item.no-transition {
  -webkit-transition-duration: 0s;
     -moz-transition-duration: 0s;
          transition-duration: 0s;
}
/* End: Recommended Isotope styles */

/* disable CSS transitions for containers with infinite scrolling*/
.isotope.infinite-scrolling {
  -webkit-transition: none;
     -moz-transition: none;
          transition: none;
}

.image-grid {
	margin-top:20px;	
}
.image-grid .container {
	position:relative;
}
.image-grid .element { 
	background:none; 
	overflow:hidden; 
	margin-bottom:30px;	
}


input.subscribe,
input.send_btn {
	display:inline-block;
	margin:13px 0 5px 0;
	text-decoration:none;
	border:none;
	background-color:#66bb6a;
	color:#fff;
	transition: all 300ms;
	-webkit-transition: all 300ms;
	line-height:20px;
	font-size:14px;
	padding:7px 19px 6px 19px;
	border: 1px solid #66bb6a;
	vertical-align:top;
	text-align:center;
	cursor: pointer;
}
input.subscribe:hover,
input.send_btn:hover {
	background-color:#fff;
	color:#66bb6a;
}
.submit-wrap {
	text-align: center;
}

@media only screen and (max-width: 992px) {
    .subscribe_block {
		max-width:inherit;
		padding:0 15px;
	}
	.subscribe_block form input[type="text"] {
		width: 100%;
	}
	.subscribe_block .fleft,
	.subscribe_block .fright {
		float:none;
	}
}
.block_header.contacts {
	text-align: center;
}
#news {
	padding-bottom: 6px;
}
#contact h2 {
	color: #2d2e2e;
	margin: 0 0 8px 0;
}
#contact h3 {
	color:#2d2e2e;
	font-weight:700;
	font-size:20px;
	margin:0 0 10px 0;
	text-transform: uppercase;
}
#contact .block_header {
	padding-top: 34px;
	padding-bottom: 46px;
}
#contact .block_header p {
color: #2d2e2e;
}


form input[type="text"],
form textarea {
	margin: 0 0 30px 0;
	padding: 5px 10px;
	width: 100%;
	height: 34px;
	border:1px solid #dddddd;
	outline:none;
	border-radius:0;
	-webkit-border-radius:0;
	box-shadow:none;
	font-size:14px;
	color:#666666;
	font-weight:400;
	font-family: 'Open Sans', sans-serif;
	line-height:normal;
}
form textarea {
	margin-bottom:17px;
	height:151px;
	width: 100%;
	padding-top:5px;
	overflow:hidden;
}

#fields .input-wrap {
	float: none;
}


/* Placeholder */
::-webkit-input-placeholder {
    opacity: 1 !important;
    color: #777777;
}

:-moz-placeholder { /* Firefox 18- */
   opacity: 1 !important;
   color: #777777;
}

::-moz-placeholder {  /* Firefox 19+ */
   opacity: 1 !important;
   color: #777777;
}

:-ms-input-placeholder {
    opacity: 1 !important;
    color: #777777;
}

/* WebKit browsers */
input:focus::-webkit-input-placeholder,
textarea:focus::-webkit-input-placeholder {
    color: transparent !important;
}

/* Mozilla Firefox 4 to 18 */
input:focus:-moz-placeholder,
textarea:focus:-moz-placeholder {
    color: transparent !important;
}

/* Mozilla Firefox 19+ */
input:focus::-moz-placeholder,
textarea:focus::-moz-placeholder {
    color: transparent !important;
}

/* Internet Explorer 10+ */
input:focus:-ms-input-placeholder,
textarea:focus:-ms-input-placeholder {
    color: transparent !important;
}

/** form valid style **/
.notification_error,
.notification_ok {
    border-radius: 3px;
	-webkit-border-radius:3px;
    margin: 0 0 22px 0;
    padding: 12px 10px 12px 35px;
	position:relative;
	text-align:left;
	line-height:22px;
	font-size:14px;
}
.notification_ok {
    border: 1px #038BD4 solid;
    color: #038BD4;
	background:#D0E3EA;
}
.notification_error {
    border: 1px #C93119 solid;
    color: #C93119;
	background:#FFCFCF;
}
.notification_error:before,
.notification_ok:before {
    content: ''; 
	width: 16px;
	height: 16px;
	position: absolute;
	left:11px;
	top:13px;		
	background-position:0 0;
	background-repeat:no-repeat;
}

.contact_form {
	width: 100%;
}
/* .notification_error:before {background-image:url(../images/error.png);
}
.notification_ok:before {background-image:url(../images/info.png);
} */

/* Footer */
.footer {
	margin: 55px 0 0;
	background:#f1f1f1;
	line-height:22px;
	padding-top:55px;
	padding-bottom:20px;
	font-size:14px;
	color:#666666;
}
.footer .title {
	padding-bottom: 20px;
	font-size: 18px;
	color: #2d2e2e;
	font-weight: 600;
}
.footer p {
	margin: 0 0 19px 0;
	color: #666666;
}
.footer p a {
	color: #666666;
}
.footer p a:hover {
	color: #76457e;
}

.footer .important_links a {
	display: block;
}

.foot-letter-wrap input[type="text"] {
	margin: 0 0 30px 0;
	padding: 5px 10px;
	width: 310px;
	height: 34px;
	border:solid #dddddd;
	border-width: 1px 0 1px 1px;
	outline:none;
	border-radius:0;
	-webkit-border-radius:0;
	box-shadow:none;
	font-size:14px;
	color:#666666;
	font-weight:400;
	font-family: 'Open Sans', sans-serif;
	line-height:normal;
	float: left;
	display: block;
}
.foot-letter-wrap input[type="submit"] {
	margin: 0 0 30px 0;
	width: 60px;
	height: 34px;
	outline:none;
	border-radius:0;
	-webkit-border-radius:0;
	box-shadow:none;
	border: none;
	font-size:14px;
	color:#fff;
	text-align: center;
	font-weight:400;
	font-family: 'Open Sans', sans-serif;
	line-height:normal;
	background: #66bb6a;
	cursor: pointer;
	float: left;
	display: block;
}
.foot-letter-wrap input[type="submit"]:hover {
	background: #76457e;
}
.footer .social-list {
	padding: 0 0 14px 0;
	margin-left: -10px;
}
.footer .social-list li {
	padding: 0 5px;
	display: inline-block;
}
.footer .social-list li a {
	width: 19px;
	height: 18px;
	/* background: url(../images/socials/sprite.png); */
	display: inline-block;
}
.footer .social-list li.facebook a {
	background-position: 0 0;
}
.footer .social-list li.facebook a:hover {
	background-position: 0 -18px;
}
.footer .social-list li.twitter a {
	background-position: -19px 0;
}
.footer .social-list li.twitter a:hover {
	background-position: -19px -18px;
}
.footer .social-list li.google a {
	background-position: -38px 0;
}
.footer .social-list li.google a:hover {
	background-position: -38px -18px;
}
.footer .social-list li.dribble a {
	background-position: -57px 0;
}
.footer .social-list li.dribble a:hover {
	background-position: -57px -18px;
}
.footer .social-list li.pinterest a {
	background-position: -76px 0;
}
.footer .social-list li.pinterest a:hover {
	background-position: -76px -18px;
}
.hide {
	opacity:0;
}

.footer .foot-bottom {
	margin-top: 35px;
	padding: 26px 0 5px 0;
	border-top: 1px solid #cacaca;
	color: #666666;
}

h6 {
	line-height:22px;
	color:#fff;
	font-weight:400;
	font-size:14px;
	margin:0 0 4px 0;
	padding:0;
	text-transform:uppercase;		
}
.clear-resp {
	clear: both;
	display: none;;
}

/* Responsive changes */
@media only screen and (max-width: 410px) {
	#home .slide_title  {
		display: none;
	}
	#home .slide_title_alt {
		padding-bottom: 20px
	}
	.foot-letter-wrap input[type="text"] {
		width: 220px;
	}
	
	
}
@media only screen and (max-width: 485px) {
	.clear-resp {
		clear: both;
		height: 20px;
		display: block;;
	}
	#about .img-wrap {
		margin: 0 auto;
	}
	.about-text {
		padding-bottom: 20px;
	}
	.block_header.bring .col-md-6.bring-img {
		margin-bottom: 20px !important;
	}
	.news-tab li {
		width: 100% !important;
	}
	.slide_title_alt {
		font-size: 28px !important;
	}
	.slide_title {
		font-size: 16px !important;
	}
}
@media only screen and (max-width: 660px) {	
	.portfolio-free .title {
		line-height: 35px;
	}
	.slide_title_alt {
		font-size: 38px;
	}
}
@media only screen and (max-width: 767px) {
	#top header {
		position: fixed;
		width: 100%;
		z-index: 999;
		top: 0;
		left:0;
		box-shadow: 0 1px 3px rgba(0, 0, 0, 0.18);
		background:#fff;
	}
	#top header nav {
		display: none !important;
	}	
	a.menu_toggler {
		display:inline-block;
		float:right;
		margin:-17px 20px 0px 0;
		border:#cfcfcf 1px solid;
		border-radius:4px;
		box-shadow:inset #fbfbfb 0 1px 0;
		width:34px;
		height:34px;
		position:absolute;
		overflow:hidden;
		right:0;
		top:50%;
	
		background-color:#efefef;
		background-image: linear-gradient(top, #f5f5f5, #e9e9e9);
		background-image: -webkit-linear-gradient(top, #f5f5f5, #e9e9e9);
		background-image: -moz-linear-gradient(top, #f5f5f5, #e9e9e9);
		background-image: -ms-linear-gradient(top, #f5f5f5, #e9e9e9);
		background-image: -o-linear-gradient(top, #f5f5f5, #e9e9e9);
	}
	a.menu_toggler:hover {
		background-color:#f5f5f5;
		background-image: linear-gradient(top, #e9e9e9, #f5f5f5);
		background-image: -webkit-linear-gradient(top, #e9e9e9, #f5f5f5);
		background-image: -moz-linear-gradient(top, #e9e9e9, #f5f5f5);
		background-image: -ms-linear-gradient(top, #e9e9e9, #f5f5f5);
		background-image: -o-linear-gradient(top, #e9e9e9, #f5f5f5);	
	}
	a.menu_toggler:before {
		content:'';
		display:block;
		position:absolute;
		left:7px;
		top:7px;
		width:20px;
		height:20px;
		background-repeat:no-repeat;
		/* background:url(../images/menu_toggler-bg.png) no-repeat;		 */
	}
	.fixed-menu,
	.fixed-menu:before,
	.fixed-menu:after {
		display:none!important;
	}
	.mobile_menu_wrapper {
		display:block;
		background:#262626;
		position: fixed;
		width: 100%;
		z-index: 999;
		top: 80px;
		left:0;
		padding:15px 40px 20px 20px;
	}
	.mobile_menu_wrapper a {
		color:#fff;
		font-size:13px;
	}
	.mobile_menu_wrapper a:hover {color:#76457e;
	}
	.service_block_bg {
		position:relative;
		left:0;
		top:0;
		bottom:auto;
		width:100%;
		z-index:10;
		height:300px;
		margin-top:40px;
	}
	.slide_info {
		margin-bottom:10px;
	}
	.slider_caption h2 {
		padding-bottom:10px;
		font-size:15px;
		line-height:25px;
	}
	.divider,
	.slider_caption .triangle,
	.slider_caption p {
		/* display:none; */
	}
	.isotope .isotope-item {
		text-align: center;
		width: 100%;
	}
	.full_slider_caption p {
		/* display:none; */
	}
	.slide_title {
		font-size: 20px;
		margin-bottom: 10px;
	}
	
	form input[type="text"], form textarea {
		width: 100%;
	}
	#fields .input-wrap {
		float: none;
	}
	#fields .input-wrap:first-child {
		padding: 0;
	}
	.pp_details { width: 100%!important;}
	.block_header.bring h2 {
		padding-right: 10px;
		padding-left: 10px;
	}
	.block_header.bring .col-md-6 {
		width: 100%;
		text-align: center;
	}
	.block_header.bring .col-md-6.bring-img {
		margin-bottom: 40px;
	}
	.event-item {
		padding-right: 10px;
		padding-left: 10px;
		margin-bottom: 30px;
		text-align: center;
	}
	.block_header.giving h2 {
		text-align: center;
	}
	.block_header.giving {
		text-align: center;
	}
	.block_header.giving .hand {
		display: none;
	}
	.pastors .item {
		margin-bottom: 40px !important;
	}
	.pastors .item .info {
		border: none;
	}
	.news-block .item .text {
		width: 90% !important;
	}
	.block_header.news .col-md-6 h2.alt {
		margin-top: 25px;
	}
	#top header {
		padding: 2px 0 20px 0;
	}
}

@media only screen and (min-width: 768px) and (max-width: 992px) {
    /* Grid */
    .testimonials-slide .img-wrap {
		margin: 0 auto 30px auto !important;
	}
    .socials-list li {
		padding: 0 0 0 10px;
	}
	.container {
        width: 760px;
    }	
    .col-md-1,
    .col-md-2,
    .col-md-3,
    .col-md-4,
    .col-md-5,
    .col-md-6,
    .col-md-7,
    .col-md-8,
    .col-md-9,
    .col-md-10,
    .col-md-11 {
        float: left;
    }
    .col-md-1 {
        width: 8.333333333333332%;
    }
    .col-md-2 {
        width: 16.666666666666664%;
    }
    .col-md-3 {
        width: 25%;
    }
    .col-md-4 {
        width: 33.33333333333333%;
    }
    .col-md-5 {
        width: 41.66666666666667%;
    }
    .col-md-6 {
        width: 50%;
    }
    .col-md-7 {
        width: 58.333333333333336%;
    }
    .col-md-8 {
        width: 66.66666666666666%;
    }
    .col-md-9 {
        width: 75%;
    }
    .col-md-10 {
        width: 83.33333333333334%;
    }
    .col-md-11 {
        width: 91.66666666666666%;
    }
    .col-md-12 {
        width: 100%;
    }
	.pastors .item {
		width: 50%;
		margin-bottom: 30px;
	}	
	.pastors .item .info {
		border: none;
	}
	.slide_info {
		margin-bottom:10px;
	}
	.slider_caption h2 {
		padding-bottom:15px;
	}
	.divider,
	.slider_caption .triangle {
		display:none;
	}
	.image-grid .element { 
		width:25%;	
	}
	.slide_title {
		font-size: 40px;
	}
	.block_header.bring .col-md-6 {
		width: 100%;
		text-align: center;
	}
	.block_header.bring .col-md-6.bring-img {
		margin-bottom: 40px;
	}
	.block_header.news .col-md-6 h2.alt {
		margin-top: 25px;
	}
	.block_header.news .col-md-6 {
		width: 100%;
	}
	.news-block .item .text {
		width: 90% !important;
	}
}

@media (min-width: 992px) {
	/* Grid */
	.container {
        width: 990px;
    }
    .col-md-1,
    .col-md-2,
    .col-md-3,
    .col-md-4,
    .col-md-5,
    .col-md-6,
    .col-md-7,
    .col-md-8,
    .col-md-9,
    .col-md-10,
    .col-md-11,
    .col-md-12 {
        float: left;
    }
    .col-md-12 {
        width: 100%;
    }
    .col-md-11 {
        width: 91.66666666666666%;
    }
    .col-md-10 {
        width: 83.33333333333334%;
    }
    .col-md-9 {
        width: 75%;
    }
    .col-md-8 {
        width: 66.66666666666666%;
    }
    .col-md-7 {
        width: 58.333333333333336%;
    }
    .col-md-6 {
        width: 50%;
    }
    .col-md-5 {
        width: 41.66666666666667%;
    }
    .col-md-4 {
        width: 33.33333333333333%;
    }
    .col-md-3 {
        width: 25%;
    }
    .col-md-2 {
        width: 16.666666666666664%;
    }
    .col-md-1 {
        width: 8.333333333333332%;
    } 
	
	.slide_info {
		margin-bottom:17px;
	}
	.slider_caption h2 {
		padding-bottom:15px;
	}
	.divider {
		display:none;
	}
	.image-grid .element { 
		width:25%;	
	}	
	.slide_title {
		font-size: 30px;
	}
	
	 
}


@media only screen and (min-width: 1200px) {
    .container {
        width: 1200px;
    }
	.divider {
		display:block;
	}
	.contact_form {
		padding-right:9x;
	}
	.slider_caption h2 {
		padding-bottom:32px;
	}
	.news-tab li {
		width: calc(100% / 3);
	}
	
}
@media only screen and (max-width: 1200px) {
    
	.news-tab li {
		width: calc(100% / 3);
	}
	.news-block .item .text {
		width: 390px;
	}
	.banner-options {
		width: 100%;
		margin-left: 0;
		cursor: pointer;
	}
	.banner-options .item {
		width: calc(100% / 3);
	}
	.banner-options .img-wrap {
		display: none;
	}
	.banner-options .text {
		padding-left: 10px !important;
	}
}

@media only screen and (max-width: 767px) {
	.news-block .item .text {
		width: 70% !important;
	}
	.circle {
		display: none;
	}

}
@media only screen and (max-width: 860px) {
	.banner-options {
		width: 500px;
		transform: translateX(0);
		margin-left: 0;
		left: 15px;
	}
	.banner-options .item {
		width: 390px;
		clear: both;
		border: none;
		padding: 15px 0 10px 0 !important;
	}
	.banner-options .img-wrap {
		display: none;
	}
	.banner-options .text {
		width: auto !important;
		padding-left: 20px !important;
	}
}

