
    <div class="wrapper">            
        <!-- home content -->
        <section class="page_section" id="home">
        	<!--Slider-->
            <div id="main_div">
                <div id="bg_img"></div>
                <div class="full_slider_caption fleft">
                    <div class="container">
                        <div class="slide_title_alt">Foob Web WNY</div>

                        <ng-container *ngIf="generalStats">
                        <div class="slide_title">
                            <p>FoodWeb aims to reduce food waste by connecting donors, receivers, and volunteer drivers using state-of-the-art technology! Please join us in our attempt to make sure that excess food gets to those who need it!</p>
                        </div>
                        <div class="float_box">
                        <ng-container *ngIf="generalStats">
                            <div class="circle"> Total Donations
                                <span>{{ generalStats.totalDonations }}</span></div>
                            <div class="circle">Total Meals
                                <span>{{ generalStats.totalMeals }}</span></div>
                        </ng-container>
                        </div>
                        </ng-container>
                    </div>

                    <div class="container ban">
                        <div class="banner-options">
                            <div class="item shortcode_button" [routerLink]="['/signup/donor']">
                                <!-- <div class="img-wrap"><img src="./assets/images/icons/ban-opt-icon2.png" height="80" width="80" alt=""></div> -->
                                <div class="text">
                                    <div class="title">Become a Donor</div>
                                    <p class="mobile-hide">Sign up to Donate food</p>
                                </div>
                            </div>
                            <div class="item shortcode_button" [routerLink]="['/signup/receiver']">
                                <!-- <div class="img-wrap"><img src="./assets/images/icons/ban-opt-icon2.png" height="80" width="80" alt=""></div> -->
                                <div class="text">
                                    <div class="title">Become a Receiver</div>
                                    <p class="mobile-hide">Sign up to Receive food</p>
                                </div>
                            </div>
                            <div class="item shortcode_button" [routerLink]="['/signup/volunteer']">
                                <!-- <div class="img-wrap"><img src="./assets/images/icons/ban-opt-icon2.png" height="80" width="80" alt=""></div> -->
                                <div class="text">
                                    <div class="title">Become a Volunteer</div>
                                    <p class="mobile-hide">Sign up to help deliver food</p>
                                </div>
                            </div>
                        </div>
                    </div>  
                </div>


            </div>        
            <!--//Slider-->            
        </section> 

        <!-- about content-->
        <section class="page_section" id="about">
            <div class="block_header bring">
                <div class="container">
                <div class="row">
                    <h2>What is Food Web!</h2>
                    <p class="about-text">FoodWeb donations and deliveries are suspended until further notice due to the concerns surrounding the COVID-19 outbreak. We apologize for any inconvenience, and look forward to starting back up when safe to do so. Thank you for your support and understanding!</p>
                    <div class="col-md-6 bring-img"><img src="./assets/foodweb.jpeg" alt=""></div>
                    <div class="col-md-6">
                        <div>
                            <p>Hundreds of pounds of food are thrown out by local food industries.</p>
                            <p>There are more than 8,200 homeless people in Western New York.</p>
                            <p>Over 50% of the youth in the city of Buffalo live below the poverty line.</p>
                        </div>
                        <p>We are a non-profit whose goal is to facilitate the delivery of food from generous donors to those who need it the most. Through our website and community engagement, we hope to address food insecurity while also providing an avenue for citizens to give back to their community.</p>
                        <a [routerLink]="['/about']" class="shortcode_button">Learn More</a>
                    </div>
                    <div class="clear"></div>
                    <div class="section-separator"><div class="line"></div></div>   
                </div> 
                </div>
            </div>
            <div class="block_header giving">
                <div class="container">
                    <div class="row">
                        <div class="col-md-10">
                        <h2>Our mission</h2>
                        <p> is to help alleviate hunger and prevent the waste of food. With our platform and our network of volunteers, we will enable local businesses to easily and quickly donate their excess food to local charities.</p>
                        <a [routerLink]="['/fundraise']" class="shortcode_button">Make Donation</a>
                        </div>
                        <div class="col-md-2 hand"></div>
                    </div>
                </div>
            </div>
        </section>

        <!-- community content-->
        <section class="page_section" id="community">
            
        	<div class="block_header community">
                <div class="container">
                  <div class="block_header events">
                    <div class="container">
                        <h2>Upcoming Events</h2>
                        <div class="row">
                            <ng-container *ngIf="donations.length > 0">
                                <div class="col-md-4" *ngFor="let donation of donations">
                                    <div class="event-item">
                                        <div class="img-wrap"><a [routerLink]="viewAccount(donation.id)"><img src="./assets/images/events/img.jpg" height="240" width="370" alt=""></a></div>
                                        <div class="name">{{donation.donorAccount.organization.name}}</div>
                                        <div class="date">Event Time: <span>{{donation.pickupWindowStart | date: 'MMM d,  h a'}} - {{donation.pickupWindowEnd | date: 'h a'}}</span></div>
                                        <p>{{donation.description}}</p>
                                        <a [routerLink]="viewAccount(donation.id)"  class="shortcode_button">View Event</a>
                                    </div>
                                </div>
                            </ng-container>

                            <ng-container *ngIf="donations.length == 0" >
                                <div class="right-alined">
                                    <p>No events currently upcoming, Start an event today to help those in need!</p>
                                    <a [routerLink]="['/signup/donor']"  class="shortcode_button">Create Event</a>
                                </div>
                            </ng-container>
                        </div>
                    </div>
                </div>
                </div>    
            </div>	                                     
    
            <!-- //Call to action - volunteer -->
            <div class="block_header giving portfolio-free" style="text-align:center">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12"  style="text-align:center">
                        <h2  class="title"  style="text-align:center">Free This Weekend? Become a volunteer!</h2>
                        <p>Interesting in helping with donation events? We are always looking for volunteers to help with deliverying meals to those in need! If you free to help start by creating an account by clicking the button below.</p>
                        <a [routerLink]="['/signup/volunteer']" class="shortcode_button">Create an account</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>        
    
        <!-- contact content -->
        <section class="page_section" id="contact">  
        	<div class="stretch contacts_block_bg">
            <div class="wrap">
            	<div class="block_header contacts">
                    <div class="container">
                        <h2>If you have questions or wish to join our team, Fill free to send us an email</h2>
                    </div>
                </div>
                <div class="container">
            		<div class="row">
                        <foodweb-support-info></foodweb-support-info>
            		</div>
            	</div>
            </div>
            </div>        
        </section>              
        
        <!--footer-->
        <div class="footer">
        	<div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <div class="title">Contact Info</div>
                        <p>Nonprofit Organization</p>
                        <p>Email: <a href="mailto:#">inquiries@wnyfoodweb.com</a></p>
                    </div>
                    <div class="col-md-6 important_links">
                        <div class="title">Important Links</div>
                        <a [routerLink]="['/about']">About Us</a>
                        <a [routerLink]="['/fundraise']">Donate</a>
                        <a [routerLink]="['/signup/donor']">Become a donor</a>
                        <a [routerLink]="['/signup/receiver']">Become a receiver</a>
                        <a [routerLink]="['/signup/volunteer']">Become a volunteer</a>
                    </div>
                </div>
                <div class="foot-bottom">
                    <div class="copyrights">&copy; 2020. All Rights Reserved by Food Web WNY.</div>
                </div>
            </div>
        </div>
        <!--//footer-->          
           
    </div><!-- //wrapper --> 

    <header class="fixed-menu"></header>
