<google-map
  [height]="height"
  [width]="width"
  [center]="mapService.mapCenter"
  [options]="options"
>
  <map-marker *ngFor="let latLngWaypoint of mapService.latLngWaypoints" [position]="latLngWaypoint"></map-marker>
</google-map>

<ng-container *ngIf="!displayMapOnly">
  <mat-accordion displayMode="flat">
    <mat-expansion-panel>
      <mat-expansion-panel-header>Map Options</mat-expansion-panel-header>
      <food-web-map-options [optionsForm]="optionsForm"></food-web-map-options>
    </mat-expansion-panel>
    <mat-expansion-panel *ngIf="mapService.latLngWaypoints.length > 2">
      <mat-expansion-panel-header>Directions to Donor</mat-expansion-panel-header>
      <food-web-direction-steps [directions]="mapService.directions" filter="Donor"></food-web-direction-steps>
    </mat-expansion-panel>
    <mat-expansion-panel *ngIf="mapService.latLngWaypoints.length > 1">
      <mat-expansion-panel-header>Directions to Receiver</mat-expansion-panel-header>
      <food-web-direction-steps [directions]="mapService.directions" filter="Receiver"></food-web-direction-steps>
    </mat-expansion-panel>
  </mat-accordion>
</ng-container>
