@import "variables.scss";

.contact-info-container {
  .contact-info-display {
    .col-sm-12, .col-sm-6, .col-sm-5, .col-sm-7 {
      margin-bottom: 12px;
    }

    .d-inline-block {
      vertical-align: top;
    }

    .email {
      word-break: break-all;
      word-break: break-word;
    }
  }
}
