@import "../../../styles/constants.scss";

$title-font-size: 16px;
$icon-size: 38px;

.notifications-container {

  position: relative;
  max-width: 960px;
  margin-left: auto;
  margin-right: auto;

  @media only screen and (max-width: $sm) {
    position: absolute;
    width: 100vw;
    left: calc(50% - 50vw);
    margin: -20px 0 0;
    overflow-x: hidden;
  }

  .notifications-title {
    @media only screen and (max-width: $sm) {
      width: 100%;
      margin: 0;
      padding-top: 7px;
      background-color: white;
    }
  }

  .mat-list {
    padding-top: 0;
    width: 100%;
    border-radius: 5px;

    @media only screen and (max-width: $sm) {
      border-radius: 0;
    }

    .mat-line {
      margin-left: -8px;
    }

    .notification {
      background-color: white;

      @media only screen and (max-width: $sm) {
        margin-left: -8px;
        width: calc(100% + 16px);
      }

      &:first-child {
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;

        @media only screen and (max-width: $sm) {
          border-radius: 0;
        }
      }

      &:last-child {
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;

        .mat-divider {
          display: none;
        }

        @media only screen and (max-width: $sm) {
          border-radius: 0;
        }
      }

      .icon {
        width: $icon-size;
        height: $icon-size;
        font-size: $icon-size;
      }

      .title {
        font-size: $title-font-size;
        font-weight: bold;
        color: $accent-darkest;

        @media only screen and (max-width: 400px) {
          font-size: $title-font-size - 2px;
        }
      }

      .subtitle {
        font-size: $title-font-size - 3px;
        color: #666;
        margin-top: -6px;
        margin-bottom: 3px;

        @media only screen and (max-width: 400px) {
          font-size: $title-font-size - 4px;
        }
      }

      .body {
        position: relative;
        font-size: $title-font-size - 3px;
        line-height: $title-font-size - 1px;
        height: ($title-font-size - 1px) * 2;
        overflow: hidden;
        white-space: normal;

        &.fade-bottom:after {
          height: $title-font-size;
        }

        @media only screen and (max-width: 400px) {
          font-size: $title-font-size - 4px;
          line-height: $title-font-size - 2px;
        }
      }

      .mat-divider {
        @media only screen and (max-width: $sm) {
          display: none;
        }
      }

      &:hover, &:focus {
        .body.fade-bottom:after {
          background-image: none;
        }
      }
    }
  }

}
