<div class="notifications-container">
  <div *ngIf="!notificationsMenu" class="notifications-title page-title block-label">
    Notifications
  </div>

  <mat-action-list>
    <button mat-list-item class="notification" *ngFor="let notification of notifications">
      <img mat-list-icon class="icon" *ngIf="notification.notificationIconUrl"
        [src]="notification.notificationIconUrl" alt="{{ notification.notificationTitle }} notification icon">
      <div mat-line class="title" *ngIf="notification.notificationTitle" [innerHTML]="notification.notificationTitle"></div>
      <div mat-line class="subtitle" *ngIf="notification.notificationSubtitle" [innerHTML]="notification.notificationSubtitle"></div>
      <p #body mat-line class="body" [ngClass]="{ 'fade-bottom': shouldFadeBottom(body) }"
        [innerHTML]="notification.notificationBody" *ngIf="notification.notificationBody"></p>
      <mat-divider></mat-divider>
    </button>
  </mat-action-list>
</div>
