@import "variables.scss";

footer {
  bottom: 0;
  width: 100%;
  height: $footer-height;
  text-align: center;
  padding-top: 10px;
  background-color: $content-background;

  small {
    @media screen and (max-width: $sm) {
      font-size: x-small;
    }
  }
}
