<div>
  <div>Welcome to FoodWeb!</div>
  <div>
    Please verify your new account by clicking
    <a href="{{ env.SERVER_HOST_ADDRESS }}/signup-verification?verificationToken={{ verificationToken }}">here</a>.
  </div>
</div>
