<div>
  <div><strong>{{ donation.donorAccount.organization.organizationName }}</strong> has submitted a new donation:</div>
  <p class="donation-description">{{ donation.description }}</p>
  <hr>
  <p>
    Follow this <a href="{{ env.SERVER_HOST_ADDRESS }}/donation-details/{{ donation.id }}">link</a> to view the donation.
    You may also claim the donation at this link.
  </p>
</div>
