<div>The following donation from <strong>{{ donorName }}</strong> is no longer avialble:</div>
<p class="donation-description">{{ donation.description }}</p>
<hr>
<p>
  It has been claimed by another receiving organization: <strong>{{ receiverName }}</strong>.
</p>
<p>
  If the donation becomes available again, we will send you another message.
</p>
<p>
  Feel free to contact
  <a href="mailto:{{ env.SUPPORT_EMAIL }}">FoodWeb</a> with any questions.
</p>
