<div class="email-footer" align="center">
  <table class="fill" border="0" cellspacing="0" cellpadding="0">
    <tr>
      <td class="center" align="center">
        <a href="{{ env.SERVER_HOST_ADDRESS }}">
          <img height="50" src="{{ env.PRODUCTION_HOST_ADDRESS }}/assets/IconImgSm.png" alt="FoodWeb Icon">
        </a>
        <div>&copy; {{ year }} WNY Food Web, Inc.</div>
      </td>
    </tr>
  </table>
</div>
