<footer
  align="center"
  style="
    background-color: rgb(236, 235, 235);
    border-top: 1px solid darkgray;
    margin-top: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center;
  "
>
  <table width="100%" border="0" cellspacing="0" cellpadding="0">
    <tr>
      <td align="center" style="text-align: center;">
        <a href="{{ env.SERVER_HOST_ADDRESS }}">
          <img height="50" src="{{ env.PRODUCTION_HOST_ADDRESS }}/assets/IconImgSm.png" alt="FoodWeb Icon">
        </a>
        <div>Food Web &copy; {{ year }}</div>
      </td>
    </tr>
  </table>
</footer>
