<p>
  If you have requested a password reset for your Food Web account <strong>{{ account.username }}</strong>, then click this
  <a href="{{ env.SERVER_HOST_ADDRESS }}/password-reset?username={{ account.username }}&resetToken={{ resetToken }}">link</a>
  to reset your password.
</p>
<p>
  Otherwise, if this is a mistake, then ignore this email.
</p>
