<p>You have successfully reset your Food Web password.</p>
<p>
  If you did not perform a password reset, then contact Food Web immediately at
  <a href="mailto:{{ env.SUPPORT_EMAIL }}">{{ env.SUPPORT_EMAIL }}</a>.
</p>
