<StackLayout [formGroup]="formGroup" *ngIf="editable | toBoolean; else readonlyTimeRange" class="time-range-form">
  <GridLayout rows="auto" columns="*,*">
    <foodweb-app-time
      #startTime
      row="0"
      col="0"
      editable="true"
      formControlName="startTime"
      [allowClear]="allowClear"
      [defaultTime]="defaultStartTime"
      [errorStateMatcher]="formGroup.rangeErrStateMatcher"
      [floatLabels]="floatLabels"
      [minutesGap]="minutesGap"
      [placeholder]="startPlaceholder"
      [preventOverlayClick]="preventOverlayClick"
      (ngModelChange)="formGroup.fillMissingRangePart()">
    </foodweb-app-time>
    <foodweb-app-time
      #endTime
      row="0"
      col="1"
      editable="true"
      formControlName="endTime"
      [allowClear]="allowClear"
      [defaultTime]="defaultEndTime"
      [errorStateMatcher]="formGroup.rangeErrStateMatcher"
      [floatLabels]="floatLabels"
      [minutesGap]="minutesGap"
      [placeholder]="endPlaceholder"
      [preventOverlayClick]="preventOverlayClick"
      (ngModelChange)="formGroup.fillMissingRangePart()">
    </foodweb-app-time>
  </GridLayout>
  <Label
    *ngIf="formGroup.hasError('timeRangeOrder')"
    [text]="formGroup.getError('timeRangeOrder')"
    class="text-danger"></Label>
</StackLayout>

<ng-template #readonlyTimeRange>
  <StackLayout orientation="horizontal">
    <foodweb-app-time
      [bold]="bold"
      [editable]="false"
      [value]="value.startTime"></foodweb-app-time>
    <Label class="display-to" text="-"></Label>
    <foodweb-app-time
      [bold]="bold"
      [editable]="false"
      [value]="value.endTime"></foodweb-app-time>
  </StackLayout>
</ng-template>
