<div class="alert-dialog-container">
  <mat-toolbar [color]="color" *ngIf="message.title">
    <h1 mat-dialog-title>{{ message.title }}</h1>
    <button mat-icon-button type="button" class="close-button" mat-dialog-close>
      <mat-icon aria-label="Close">close</mat-icon>
    </button>
  </mat-toolbar>
  <button mat-icon-button *ngIf="!message.title" type="button" class="close-button" mat-dialog-close>
    <mat-icon aria-label="Close">close</mat-icon>
  </button>

  <div mat-dialog-content class="alert-dialog-body" *ngIf="isBodyTemplateRef">
    <ng-container [ngTemplateOutlet]="message.body"></ng-container>
  </div>
  <div mat-dialog-content class="alert-dialog-body" *ngIf="!isBodyTemplateRef" [innerHTML]="message.body"></div>

  <div mat-dialog-actions>
    <div class="align-right">
      <ng-container *ngFor="let response of message.responses">
        <button mat-button *ngIf="response.buttonType === 'mat-button' && response.cdkFocusPrimary" cdkFocusInitial
        type="button" [color]="response.color" [mat-dialog-close]="response.value">
          <span [innerHTML]="response.text"></span>
        </button>
        <button mat-button *ngIf="response.buttonType === 'mat-button' && !response.cdkFocusPrimary"
        type="button" [color]="response.color" [mat-dialog-close]="response.value">
          <span [innerHTML]="response.text"></span>
        </button>
        <button mat-raised-button *ngIf="response.buttonType === 'mat-raised-button' && response.cdkFocusPrimary" cdkFocusInitial
        type="button" [color]="response.color" [mat-dialog-close]="response.value">
          <span [innerHTML]="response.text"></span>
        </button>
        <button mat-raised-button *ngIf="response.buttonType === 'mat-raised-button' && !response.cdkFocusPrimary"
        type="button" [color]="response.color" [mat-dialog-close]="response.value">
          <span [innerHTML]="response.text"></span>
        </button>
      </ng-container>
    </div>
  </div>
</div>
