<header class="site-header">
  <mat-toolbar color="primary" class="site-title-container">
    <img src="/assets/IconImg.png" alt="Food Web Icon" class="site-icon">
    <span class="site-title">Food Web</span>
    <div class="non-blocking-page-progress-indicator" *ngIf="pageProgressService.showNonBlockingProgress">
      <food-web-progress-indicator
        [backdropColor]="pageProgressService.backdropColor"
        [backdropOpacity]="pageProgressService.backdropOpacity"
        [backdropVisible]="pageProgressService.backdropVisible"
        [blocking]="pageProgressService.blocking"
        [color]="pageProgressService.color"
        [diameter]="pageProgressService.diameter"
        [mode]="pageProgressService.mode"
        [strokeWidth]="pageProgressService.strokeWidth"
        [trigger]="pageProgressService.trigger"
        [value]="pageProgressService.value">
      </food-web-progress-indicator>
    </div>
  </mat-toolbar>
  <div class="page-title-container">
    <button mat-icon-button class="sidenav-toggle-button" (click)="leftNavService.toggle()" [attr.aria-expanded]="leftNavService.opened">
      <mat-icon aria-label="Toggle Navigation Menu">menu</mat-icon>
    </button>
    <h1 class="page-title">{{ pageTitleService.title }}</h1>
    <span class="session-links">
      <ng-container *ngIf="!sessionService.loggedIn">
        <a [routerLink]="" (click)="login()">Login</a>
        <span> | <a [routerLink]="['signup']">Signup</a></span>
      </ng-container>
      <ng-container *ngIf="sessionService.loggedIn">
        <span><a [routerLink]="['account']">Account</a> | </span>
        <a [routerLink]="['logout']" (click)="sessionService.logout()">Logout</a>
      </ng-container>
    </span>
  </div>
</header>
