@import "constants.scss";

.settings-button-container {
  display: inline-block;
  vertical-align: top;
  height: 100%;

  button {
    $button-width: 40px;
    min-width: $button-width;
    width: $button-width;
    padding: 0;
    height: 100%;

    foodweb-profile-img {
      display: inline-block;
      margin-top: 1px;
      cursor: pointer;
    }
  }
}

.settings-menu-content {
  padding: 0;
  margin-top: -8px;
  margin-bottom: -8px;

  button {
    color: $accent-darkest;

    .ng-fa-icon,
    .mat-icon {
      margin-top: -2px;
      margin-right: 7px;
    }

    .ng-fa-icon {
      padding-left: 2px;
      width: 24px;
    }
  }
}
