@import "constants.scss";

.settings-button-container {
  display: inline-block;
  vertical-align: top;
  height: 100%;

  button {
    $button-width: 35px;
    min-width: $button-width;
    width: $button-width;
    padding: 0;
    height: 100%;

    .ng-fa-icon {
      display: inline-block;
      $icon-size: 20px;
      font-size: $icon-size;
      width: $icon-size;
      height: $icon-size;
      vertical-align: top;
    }
  }
}

.settings-menu-content {
  padding: 0;
  margin-top: -8px;
  margin-bottom: -8px;

  button {
    color: $accent-darkest;

    .mat-icon {
      margin-top: -2px;
      margin-right: 7px;
    }
  }
}
