<div [formGroup]="optionsForm" class="directions-options-container row">
  <div class="origin-options-container col-sm-6">
    <label id="origin-options-title" class="inline-label">Show directions from: </label>
    <mat-radio-group formControlName="useVolunteerCurrentPos" aria-labelledby="origin-options-title">
      <mat-radio-button [value]="false">My Home</mat-radio-button>
      <mat-radio-button [value]="true">Current Location</mat-radio-button>
    </mat-radio-group>
  </div>

  <div class="display-options-container col-sm-6">
    <label class="inline-label">Display route: </label>
    <div class="checkbox-group">
      <mat-checkbox formControlName="displayRouteToDonor">{{ originDonorRouteName }} <span class="line donor"></span></mat-checkbox>
      <mat-checkbox formControlName="displayRouteToReceiver">Donor to Receiver <span class="line receiver"></span></mat-checkbox>
    </div>
  </div>
</div>
