<div class="list-title block-label">
  {{ pageTitleService.title }}
</div>

<div class="row">
  <div class="col-lg-6" *ngFor="let account of accounts">
    <mat-card id="account-{{ account.id }}">
      <mat-card-title>
        <a [routerLink]="['/account']" [queryParams]="{ id: account.id }" [state]="account" foodWebReturnLink="account-{{ account.id }}">
          {{ account.organization.organizationName }}
        </a>
      </mat-card-title>
      <mat-card-content>
        <food-web-contact-info [contactInfo]="account.contactInfo"></food-web-contact-info>
      </mat-card-content>
    </mat-card>
  </div>
</div>

<div class="food-web-paginator-container">
  <food-web-paginator [length]="totalCount"></food-web-paginator>
</div>
