.mat-dialog-title {
  padding: 10px 24px;
  margin: 0 -24px;
  background-color: #EFEFEF;
  text-align: center;
}

.mat-dialog-content {
  padding-top: 5px;
}

.submit-buttons {
  width: 100%;
  text-align: center;
  margin-bottom: 24px;

  button {
    min-width: 100px;
  }

  button:first-child {
    margin-right: 7px;
  }
}
