<ul *ngIf="accountType === 'Donor'">
  <li>
    You will visually inspect all food for donation and confirm that there is nothing visually apparent suggesting that
    the food is not fit to consume (i.e., no bulging or leaking cans; no rotting produce; no mold on bread, etc.).
  </li>
  <li>
    You will not provide food for donation in the following circumstances:
    <ul>
      <li>
        ​Hot food that has been left within the "danger zone" (between 40 degrees F to 140 degrees F) for more than one hour
        (or will be in the danger zone for more than one hour by the time it is picked up and delivered).
      </li>
      <li>
          Cold food that has been left in the "danger zone" over 2 hours (or will be in the danger zone for more than two hours
          by the time it is picked up and delivered).  Cold food for donation must be kept refrigerated.
      </li>
    </ul>
  </li>
  <li>
    You will not provide food for donation if you, or any of your staff who have handled the food,
    are unwell or suspect that you may be unwell.
  </li>
  <li>
    You will not provide food for donation if you are aware of, or suspect, any violations of the applicable health or food safety
    regulations that govern your establishment.
  </li>
  <li>
    After identifying food for donation, you will either separate such food from any other food at your establishment and await
    the arrival of the volunteer driver to pack up the food or, if possible, you will pack the food in sealed containers
    (separately packing hot and cold food and ensuring that you washed your hands before handling the food and wore protective
    gloves during the packing process).
  </li>
</ul>

<ul *ngIf="accountType === 'Volunteer'">
  <li>
    You are physically healthy and able to make a food donation and/or delivery.
  </li>

  <li>
    If you are delivering or transporting food, your vehicle is clean and safe and you are packing the food in a manner that protects the food from contamination
    (i.e., food is placed in a box, or insulated bag, or is individually bagged).  Your vehicle must also be registered and insured, if being used to make a FoodWeb delivery.
  </li>

  <li>
    You will wash your hands and tie long hair back before handling food.
  </li>

  <li>
    If you are making a food delivery, you must deliver to the recipient organization within one hour of receiving or making the food for donation,
    or you must appropriately store any perishable food in the refrigerator until delivery.
  </li>
</ul>
