<GridLayout [formGroup]="dateTimeForm" columns="*,*" rows="auto">
  <Label *ngIf="primaryLabel" [text]="primaryLabel" class="primary-label"></Label>

  <foodweb-app-date
    *ngIf="editing || !excludeDateDisplay"
    [allowClear]="allowClear"
    [bold]="boldDate"
    [date]="dateTime"
    [defaultDate]="defaultDate"
    [editing]="editing"
    [errorStateMatcher]="errorStateMatcher"
    [floatLabels]="floatLabels"
    [maxDate]="maxDate"
    [minDate]="minDate"
    [minWidth]="minDateWidth"
    [placeholder]="datePlaceholder"
    col="0"
    formControlName="date"
    row="0"
  ></foodweb-app-date>

  <foodweb-app-time
    *ngIf="editing || !excludeTimeDisplay"
    [allowClear]="allowClear"
    [bold]="boldTime"
    [defaultTime]="defaultTime"
    [editing]="editing"
    [errorStateMatcher]="errorStateMatcher"
    [floatLabels]="floatLabels"
    [minutesGap]="minutesGap"
    [placeholder]="timePlaceholder"
    [time]="dateTime | foodwebFormatTime"
    col="1"
    formControlName="time"
    row="0"
  ></foodweb-app-time>
</GridLayout>
