<GridLayout [formGroup]="dateTimeForm" [rows]="rowsSchema" columns="*,*">

  <StackLayout *ngIf="primaryLabel" class="primary-label-container nt-input" column="0" row="0">
    <Label [text]="primaryLabel" class="primary-label"></Label>
  </StackLayout>

  <foodweb-app-date #dateField
    column="0"
    formControlName="date"
    [allowClear]="allowClear"
    [bold]="boldDate"
    [defaultDate]="defaultDate"
    [editable]="editable"
    [editableToggle]="editableToggle"
    [errorStateMatcher]="errorStateMatcher"
    [floatLabels]="floatLabels"
    [hint]="dateHint"
    [inlineColumnSchema]="inlineColumnSchema"
    [label]="dateLabel"
    [letterSpacing]="letterSpacing"
    [lineHeight]="lineHeight"
    [maxDate]="maxDate"
    [minDate]="minDate"
    [minWidth]="minDateWidth"
    [orientation]="orientation"
    [readonlyOrientation]="readonlyOrientation"
    [row]="dateTimeFieldRow"
    [textAlignment]="textAlignment"
    [textDecoration]="textDecoration"
    [textTransform]="textTransform"
    [visible]="dateVisible"
    [whiteSpace]="whiteSpace">
    <StackLayout class="error">
      <ng-content select=".date-error"></ng-content>
    </StackLayout>
  </foodweb-app-date>

  <foodweb-app-time #timeField
    column="1"
    formControlName="time"
    [allowClear]="allowClear"
    [bold]="boldTime"
    [defaultTime]="defaultTime"
    [editable]="editable"
    [editableToggle]="editableToggle"
    [errorStateMatcher]="errorStateMatcher"
    [floatLabels]="floatLabels"
    [hint]="timeHint"
    [inlineColumnSchema]="inlineColumnSchema"
    [label]="timeLabel"
    [letterSpacing]="letterSpacing"
    [lineHeight]="lineHeight"
    [minutesGap]="minutesGap"
    [nextFocus]="nextFocus"
    [orientation]="orientation"
    [readonlyOrientation]="readonlyOrientation"
    [row]="dateTimeFieldRow"
    [textAlignment]="textAlignment"
    [textDecoration]="textDecoration"
    [textTransform]="textTransform"
    [visible]="editable && !excludeTimeDisplay"
    [whiteSpace]="whiteSpace">
    <StackLayout class="error">
      <ng-content select=".time-error"></ng-content>
    </StackLayout>
  </foodweb-app-time>

</GridLayout>
