<div class="notifications page">
  <div class="notifications-title page-title">
    Notifications
  </div>

  <mat-action-list>
    <mat-divider></mat-divider>
    <ng-container *ngFor="let notification of listQueryService.items">
      <foodweb-notification
        [notification]="notification"
        (flag)="notificationService.toggleNotificationFlaggedState($event)"
        (select)="notificationService.handleNotificationSelect($event)">
      </foodweb-notification>
      <mat-divider></mat-divider>
    </ng-container>
  </mat-action-list>

  <foodweb-paginator [length]="listQueryService.totalCount" [pageSizeOptions]="[
    notificationService.defaultReadLimit,
    notificationService.defaultReadLimit * 2,
    notificationService.defaultReadLimit * 4
  ]"></foodweb-paginator>
</div>
