<div class="notifications page">
  <div class="notifications-title page-title">
    Notifications
  </div>

  <mat-action-list>
    <mat-divider></mat-divider>
    <ng-container *ngFor="let notification of notifications">
      <foodweb-notification
        [notification]="notification"
        (flag)="handleNotificationFlagToggle($event)"
        (select)="handleNotificationSelect($event)">
      </foodweb-notification>
      <mat-divider></mat-divider>
    </ng-container>
  </mat-action-list>

  <foodweb-paginator [length]="totalCount" [pageSizeOptions]="pageSizeOptions"></foodweb-paginator>
</div>
