<mat-sidenav-container class="left-nav-container">
  <mat-sidenav
    [mode]="shellService.leftNavMode"
    [ngClass]="{ sticky: shellService.sticky }"
    [fixedInViewport]="true"
    [fixedTopGap]="fixedTopGap"
    [opened]="shellService.leftNavOpened"
    (openedChange)="shellService.leftNavOpened = $event">
    <ng-content select=".left-nav-items"></ng-content>
  </mat-sidenav>
  <mat-sidenav-content #sidenavContent>
    <div *ngIf="pageProgressService.showBlockingProgress" class="blocking-page-progress-indicator">
      <foodweb-progress-indicator
        [backdropColor]="pageProgressService.backdropColor"
        [blocking]="pageProgressService.blocking"
        [color]="pageProgressService.color"
        [diameter]="pageProgressService.diameter"
        [trigger]="pageProgressService.trigger">
      </foodweb-progress-indicator>
    </div>
    <ng-content></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>
