<mat-sidenav-container class="left-nav-container" [foodwebWindowSize]="windowSizeThreshPx" (thresholdCross)="leftNavService.deriveStateFromWindowSize(window.innerWidth)">
  <mat-sidenav
    [mode]="leftNavService.mode"
    [ngClass]="{ sticky: leftNavService.sticky }"
    [fixedInViewport]="true"
    [fixedTopGap]="fixedTopGap"
    [opened]="leftNavService.opened"
    (openedChange)="leftNavService.opened = $event">
    <ng-content select=".left-nav-items"></ng-content>
  </mat-sidenav>
  <mat-sidenav-content #sidenavContent>
    <div *ngIf="pageProgressService.showBlockingProgress" class="blocking-page-progress-indicator">
      <foodweb-progress-indicator
        [backdropColor]="pageProgressService.backdropColor"
        [blocking]="pageProgressService.blocking"
        [color]="pageProgressService.color"
        [diameter]="pageProgressService.diameter"
        [trigger]="pageProgressService.trigger">
      </foodweb-progress-indicator>
    </div>
    <div class="page-content">
      <ng-content></ng-content>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
