@import "../../../web/src/styles/constants.scss";

$input-background       : #f6fff6;
$input-border-color     : #cbcbcb;
$input-error-background : #fff8f8;
$input-placeholder-color: #888;
$input-gutter-width     : 16;

$ns-danger-color: #cc0011;
