@import "constants.scss";

.dialog-panel {
  background: white;
  height    : 350;
  padding   : 10;
  width     : 300;

  .dialog-title {
    color     : $accent-darker;
    font-size : 18;
    padding   : 5 0;
    text-align: center;
  }

  .dialog-actions {
    horizontal-alignment: center;
    orientation         : horizontal;
    padding-top         : 5;
  }
}
