@import "constants.scss";

.block-label {
  color      : $accent-darkest;
  font-weight: bold;
}

.inline-label {
  color      : $accent;
  font-weight: bold;

  &+* {
    margin-left: 7;
  }
}

.readonly-textfield {
  margin-left: 15;
  margin-bottom: 10;
}
