@import "~@nativescript/theme/core";
@import "~@nativescript/theme/blue";

@import "constants.scss";

@import "button.scss";
@import "dialog.scss";
@import "drawer.scss";
@import "fields.scss";
@import "icon.scss";
@import "label.scss";
@import "page.scss";
@import "tabs.scss";
@import "text-input.scss";

.bold {
  font-weight: bold;
}

.bolder {
  font-weight: bolder;
}

.boldest {
  font-weight: 900;
}

.donor {
  color: $donor-color;
}

.donor-fill {
  background-color: $donor-color;
  color: black;
}

.donor-border {
  border-width: 1;
  border-color: $donor-color;
}

.receiver {
  color: $receiver-color;
}

.receiver-fill {
  background-color: $receiver-color;
  color: black;
}

.receiver-border {
  border-width: 1px;
  border-color: $receiver-color;
}

.volunteer {
  color: $volunteer-color;
}

.volunteer-fill {
  background-color: $volunteer-color;
  color: white;
}

.volunteer-border {
  border-width: 1;
  border-color: $volunteer-color;
}
