<foodweb-page-list class="donation-hub-pledges">

  <div class="page-title">
    {{ shellService.pageTitle }}
  </div>

  <div class="row">
    <div class="col-lg-6" *ngFor="let pledge of listQueryService.items">
      <foodweb-donation-hub-pledge-teaser [pledge]="pledge"></foodweb-donation-hub-pledge-teaser>
    </div>
  </div>

  <div *ngIf="listQueryService.noneFound" class="not-found">
    <p *ngIf="!myPledges">
      Could Not Find Any Donation Pledges.
    </p>
    <p *ngIf="myPledges">
      Looks Like You Do Not Have Any Upcoming Donation Pledges.<br>
      Feel Free to <a [routerLink]="['/donation-hub', 'list']" class="bold">Pledge</a> a Donation Any Time!
    </p>
  </div>

  <foodweb-paginator [length]="listQueryService.totalCount"></foodweb-paginator>

</foodweb-page-list>
