<foodweb-page-list class="donation-hub-pledges">

  <foodweb-page-list-title>{{ pageTitleService.title }}</foodweb-page-list-title>

  <foodweb-page-list-content>
    <div class="col-lg-6" *ngFor="let pledge of listQueryService.items">
      <foodweb-donation-hub-pledge-teaser [pledge]="pledge"></foodweb-donation-hub-pledge-teaser>
    </div>
  </foodweb-page-list-content>

  <foodweb-page-list-empty *ngIf="listQueryService.noneFound">
    <p *ngIf="!myPledges">
      Could Not Find Any Donation Pledges.
    </p>
    <p *ngIf="myPledges">
      Looks Like You Do Not Have Any Upcoming Donation Pledges.<br>
      Feel Free to <a [routerLink]="['/donation-hub', 'list']" class="bold">Pledge</a> a Donation Any Time!
    </p>
  </foodweb-page-list-empty>

  <foodweb-paginator [length]="listQueryService.totalCount"></foodweb-paginator>

</foodweb-page-list>
