<food-web-filter-list class="deliveries" listItemsLabel="Deliveries" [totalCount]="totalCount">
  <food-web-filter-list-title>{{ pageTitleService.title }}</food-web-filter-list-title>

  <food-web-filter-list-content>
    <div class="col-lg-6" *ngFor="let donation of donations">
      <a [routerLink]="deliveryHelper.deliveryDetailsRouterLink(donation)" [state]="donation" class="no-hover">
        <mat-card id="donation-{{ donation.id }}" class="selectable-card">
          <mat-card-header>
            <img mat-card-avatar [src]="donation.donorAccount.profileImgUrl" alt="{{ donationHelper.donorName(donation) }} Profile Image">
            <mat-card-title>{{ donationHelper.donorName(donation) }}</mat-card-title>
            <mat-card-subtitle>
              <food-web-donation-status [donationStatus]="donation.donationStatus" class="donation-status"></food-web-donation-status>
            </mat-card-subtitle>
          </mat-card-header>
          <mat-card-content>
            <div class="delivery-display row">
              <div class="col-sm-6">
                <div class="inline-label">Delivery Window Start:</div>
                <div><food-web-date-time [dateTime]="donation.pickupWindowStart" [boldTime]="true"></food-web-date-time></div>
              </div>
              <div class="col-sm-6">
                <div class="inline-label">Delivery Window End:</div>
                <div><food-web-date-time [dateTime]="donation.pickupWindowEnd" [boldTime]="true"></food-web-date-time></div>
              </div>
              <div class="col-sm-6">
                <div class="inline-label">Pick-up:</div>
                <br><food-web-address [contactInfo]="donation.donorAccount.contactInfo"></food-web-address>
              </div>
              <div class="col-sm-6">
                <div class="inline-label">Drop-off:</div>
                <br><food-web-address [contactInfo]="donation.claim.receiverAccount.contactInfo"></food-web-address>
              </div>
            </div>
          </mat-card-content>
        </mat-card>
      </a>
    </div>
  </food-web-filter-list-content>

  <food-web-filter-list-filters>
    <food-web-delivery-filters [myDeliveries]="myDeliveries" (filter)="filterDeliveries($event)"></food-web-delivery-filters>
  </food-web-filter-list-filters>
</food-web-filter-list>