.deliveries {

  .deliveries-toolbar {
    text-align: right;
    margin-top: -10px;
    margin-bottom: 10px;
    font-weight: bold;
  }

  .selectable-card {
    .donation-status {
      font-size: 11px;
    }

    .delivery-display {

      &> div {
        margin-bottom: 12px;
      }

      .donation-description {
        white-space: nowrap;
        overflow-x: hidden;
        max-width: 100%;
        text-overflow: ellipsis;
      }

      food-web-address {
        padding-left: 7px;
      }
    }
  }

  .mat-drawer {
    width: 320px;
  }
}
