<foodweb-filtered-list class="deliveries">

  <foodweb-filtered-list-title>{{ myDeliveries ? 'My Deliveries' : 'Deliveries' }}</foodweb-filtered-list-title>

  <foodweb-filtered-list-toolbar listItemsLabel="Deliveries">
    <foodweb-search-bar
      placeholder="Search Deliveries..."
      [formControl]="filtersForm.get('fullTextQuery')"
      (search)="updateFilterQueryParams(filtersForm.value)"
    ></foodweb-search-bar>
  </foodweb-filtered-list-toolbar>

  <foodweb-filtered-list-content>
    <div class="col-lg-6" *ngFor="let donation of donations">
      <foodweb-delivery-teaser [donation]="donation"></foodweb-delivery-teaser>
    </div>
  </foodweb-filtered-list-content>

  <foodweb-filtered-list-empty *ngIf="noneFound">
    Could Not Find Any Deliveries
  </foodweb-filtered-list-empty>

  <foodweb-paginator [length]="totalCount"></foodweb-paginator>

  <foodweb-list-filters>
    <foodweb-delivery-filters
      [formGroup]="filtersForm"
      [myDeliveries]="myDeliveries"
      (clear)="filtersForm.resetFacetFilters()"
      (filter)="updateFilterQueryParams($event)"
    ></foodweb-delivery-filters>
  </foodweb-list-filters>

</foodweb-filtered-list>
