@import '../../../../styles/constants.scss';

.operation-hours-container {

  .operation-hours-form {
    position: relative;
    max-width: 325px;

    &:not(:first-child) {
      border-top: 1px solid #DDD;
    }

    .delete-button {
      position: absolute;
      right: 0px;
      top: 2px;
      width: 20px;
      height: 20px;
      font-size: 18px;
      line-height: 18px;
    }

    .weekday-field {
      display: inline-block;
      width: 125px;
      padding-right: 20px;
      margin-bottom: 8px;
    }

    .time-fields-container {
      display: inline-block;

      .time-field {
        display: inline-block;
        width: 100px;
        padding-right: 20px;
      }
    }
  
    .operation-hours-order-error {
      font-size: 12px;
      margin-top: -18px;
    }
  }
}
