<Button text="app-edit-save-button works!" class="btn btn-primary"></Button>

<!-- <div class="edit-save-button-container">
  <ng-container *ngIf="!editable">
    <button mat-icon-button *ngIf="!useButtonText" type="button" color="primary" class="edit-button" matTooltip="Edit" (click)="setEditing(true)">
      <mat-icon>edit</mat-icon>
    </button>
    <button mat-raised-button *ngIf="useButtonText" type="button" color="primary" class="edit-button" (click)="setEditing(true)">
      {{ editText }}
    </button>
  </ng-container>
  <ng-container *ngIf="editable">
    <ng-container *ngIf="!useButtonText">
      <button mat-icon-button type="button" *ngIf="!noCancelEdit" color="warn" class="cancel-button" matTooltip="Cancel Edit" (click)="setEditing(false)">
        <mat-icon>cancel</mat-icon>
      </button>
      <button mat-icon-button type="submit" color="primary" class="save-button" (click)="saveValue()" matTooltip="Save Edit" [disabled]="isSaveDisabled">
        <mat-icon>save</mat-icon>
      </button>
    </ng-container>
    <ng-container *ngIf="useButtonText">
      <button mat-button type="button" *ngIf="!noCancelEdit" color="warn" class="cancel-button" (click)="setEditing(false)">
        {{ cancelText }}
      </button>
      <button mat-raised-button type="submit" color="primary" class="save-button" (click)="saveValue()" [disabled]="isSaveDisabled">
        {{ saveText }}
      </button>
    </ng-container>
  </ng-container>
</div> -->
