<StackLayout class="edit-save-button-container">
  <ng-container *ngIf="!editable; else editableTmpl">
    <Button *ngIf="!useButtonText; else editButtonTxtTmpl" class="btn edit-button" (tap)="setEditing(true)">
      <FormattedString>
        <Span text="&#xf044;" class="nt-icon fas"></Span>
      </FormattedString>
    </Button>
    <ng-template #editButtonTxtTmpl>
      <Button [text]="editText" class="btn edit-button text" (tap)="setEditing(true)"></Button>
    </ng-template>
  </ng-container>
  <ng-template #editableTmpl>
    <ng-container *ngIf="!useButtonText; else cancelSaveButtonTxtTmpl">
      <Button *ngIf="!noCancelEdit" class="btn cancel-button" (tap)="setEditing(false)">
        <FormattedString>
          <Span text="&#xf057;" class="nt-icon fas"></Span>
        </FormattedString>
      </Button>
      <Button class="btn save-button" (tap)="saveValue()">
        <FormattedString>
          <Span text="&#xf0c7;" class="nt-icon fas"></Span>
        </FormattedString>
      </Button>
    </ng-container>

    <ng-template #cancelSaveButtonTxtTmpl>
      <Button *ngIf="!noCancelEdit" [text]="cancelText" class="btn cancel-button text" (tap)="setEditing(false)"></Button>
      <Button [text]="saveText" class="btn save-button text" (tap)="saveValue()"></Button>
    </ng-template>
  </ng-template>
</StackLayout>
