<mat-card class="general-stats-card">
  <mat-card-content>
    <table>
      <tr>
        <td class="inline-label">Number of Donations:</td>
        <td class="stat-value">
          <food-web-progress-indicator [trigger]="!showStatValues"
            [blocking]="true" [backdropVisible]="false" [diameter]="18" [strokeWidth]="2"></food-web-progress-indicator>
          <ng-container *ngIf="showStatValues">
            <ng-container *ngIf="generalStats">{{ generalStats.totalDonations }}</ng-container>
            <ng-container *ngIf="!generalStats">N/A</ng-container>
          </ng-container>
        </td>
      </tr>
      <tr>
        <td class="inline-label">Total Meals Delivered:</td>
        <td class="stat-value">
          <food-web-progress-indicator [trigger]="!showStatValues"
            [blocking]="true" [backdropVisible]="false" [diameter]="18" [strokeWidth]="2"></food-web-progress-indicator>
          <ng-container *ngIf="showStatValues">
            <ng-container *ngIf="generalStats">{{ generalStats.totalMeals }}</ng-container>
            <ng-container *ngIf="!generalStats">N/A</ng-container>
          </ng-container>
        </td>
      </tr>
    </table>
  </mat-card-content>
</mat-card>
