@import "constants.scss";

.left-nav-container {
  .mat-nav-list a {
    color: $accent-darkest;

    .mat-icon,
    .ng-fa-icon {
      display: inline-block;
      width: 30px;
      box-sizing: border-box;
    }

    .mat-icon {
      font-size: 22px;
      height: 22px;
      vertical-align: middle;
      margin-top: -4px;
    }

    .ng-fa-icon {
      padding-left: 2px;
    }

    span {
      display: inline-block;
    }
  }

  .blocking-page-progress-indicator {
    position: fixed;
    z-index: 100;
    top: 0;
    height: 100%;
    width: calc(100vw - #{$left-nav-width});

    @media only screen and (max-width: $md) {
      width: 100vw;
    }
  }

  .page-content {
    min-height: 100%;
    position: relative;
    padding-top: $page-vert-pad;
    padding-bottom: $page-vert-pad;
  }
}
