<mat-drawer-container class="left-nav-container">
  <mat-drawer [mode]="leftNavService.mode" [opened]="leftNavService.opened" (openedChange)="leftNavService.opened = $event" [ngClass]="{ sticky: leftNavService.sticky }">
    <mat-nav-list>
      <a mat-list-item [routerLink]="['/']" (click)="_onNavClick()">
        <span><mat-icon>home</mat-icon> <span>Home</span></span>
      </a>
      <a mat-list-item *ngIf="sessionService.isDonor" [routerLink]="['/donor/donate']" (click)="_onNavClick()">
        <span><fa-icon [icon]="faHandHoldingHeart"></fa-icon> <span>Donate</span></span>
      </a>
      <a mat-list-item *ngIf="sessionService.isDonor || sessionService.isReceiver" [routerLink]="['/donation/list/my']" (click)="_onNavClick()">
        <span><fa-icon [icon]="faGifts"></fa-icon> <span>My Donations</span></span>
      </a>
      <a mat-list-item *ngIf="sessionService.isVolunteer" [routerLink]="['/delivery/list/my']" (click)="_onNavClick()">
        <span><mat-icon>place</mat-icon> <span>My Deliveries</span></span>
      </a>
      <a mat-list-item *ngIf="sessionService.isReceiver" [routerLink]="['/donation/list']"
        [queryParams]="donationHelper.findDonationsQueryParams(sessionService.account)" (click)="_onNavClick()">
        <span><mat-icon>search</mat-icon> <span>Find Donations</span></span>
      </a>
      <a mat-list-item *ngIf="sessionService.isVolunteer" [routerLink]="['/delivery/list']"
        [queryParams]="donationHelper.findDonationsQueryParams(sessionService.account)" (click)="_onNavClick()">
        <span><mat-icon>search</mat-icon> <span>Find Deliveries</span></span>
      </a>
      <a mat-list-item [routerLink]="['/account/list']" [queryParams]="{ accountType: 'Donor' }" (click)="_onNavClick()">
        <span><mat-icon>{{ constantsService.ACCOUNT_TYPE_ICONS['Donor'] }}</mat-icon> <span>Donors</span></span>
      </a>
      <a mat-list-item [routerLink]="['/account/list']" [queryParams]="{ accountType: 'Receiver' }" (click)="_onNavClick()">
        <span><mat-icon>{{ constantsService.ACCOUNT_TYPE_ICONS['Receiver'] }}</mat-icon> <span>Receivers</span></span>
      </a>
      <a mat-list-item [routerLink]="['/fundraise']" (click)="_onNavClick()">
        <span><fa-icon [icon]="faDonate"></fa-icon> <span>Fund Us</span></span>
      </a>
      <a mat-list-item [routerLink]="['/about']" (click)="_onNavClick()">
        <span><mat-icon>info</mat-icon> <span>About Us</span></span>
      </a>
    </mat-nav-list>
  </mat-drawer>
  <mat-drawer-content #drawerContent>
    <div *ngIf="pageProgressService.showBlockingProgress" class="blocking-page-progress-indicator" [style.width]="pageProgressService.blockingProgressWidth">
      <food-web-progress-indicator
        [backdropColor]="pageProgressService.backdropColor"
        [backdropOpacity]="pageProgressService.backdropOpacity"
        [backdropVisible]="pageProgressService.backdropVisible"
        [blocking]="pageProgressService.blocking"
        [color]="pageProgressService.color"
        [diameter]="pageProgressService.diameter"
        [mode]="pageProgressService.mode"
        [strokeWidth]="pageProgressService.strokeWidth"
        [trigger]="pageProgressService.trigger"
        [value]="pageProgressService.value">
      </food-web-progress-indicator>
    </div>
    <div class="page-content">
      <ng-content></ng-content>
    </div>
  </mat-drawer-content>
</mat-drawer-container>
