<mat-drawer-container class="left-nav-container">
  <mat-drawer [mode]="leftNavService.mode" [opened]="leftNavService.opened" (openedChange)="leftNavService.opened = $event" [ngClass]="{ sticky: leftNavService.sticky }">
    <ng-content select=".left-nav-items"></ng-content>
  </mat-drawer>
  <mat-drawer-content #drawerContent>
    <div *ngIf="pageProgressService.showBlockingProgress" class="blocking-page-progress-indicator" [style.width]="pageProgressService.blockingProgressWidth">
      <foodweb-progress-indicator
        [backdropColor]="pageProgressService.backdropColor"
        [backdropOpacity]="pageProgressService.backdropOpacity"
        [backdropVisible]="pageProgressService.backdropVisible"
        [blocking]="pageProgressService.blocking"
        [color]="pageProgressService.color"
        [diameter]="pageProgressService.diameter"
        [mode]="pageProgressService.mode"
        [strokeWidth]="pageProgressService.strokeWidth"
        [trigger]="pageProgressService.trigger"
        [value]="pageProgressService.value">
      </foodweb-progress-indicator>
    </div>
    <div class="page-content">
      <ng-content></ng-content>
    </div>
  </mat-drawer-content>
</mat-drawer-container>
