.organization-container {

  .organization-form {

    .organization-info-ctrl {
      overflow-y: hidden;
      min-height: 18px;
    }
  }

  .organization-display {

    .display-content {
      margin-top: 10px;
      padding-left: 20px;
    }
  }
}
