.organization-container {

  .organization-form {

    .organization-info-ctrl {
      overflow-y: hidden;
      min-height: 18px;
    }
  }

  .organization-display {

    .d-inline-block {
      vertical-align: top;
    }

    .col-sm-12:not(:last-child) {
      margin-bottom: 12px;
    }
  }
}
