<div class="progress-indicator-container" *ngIf="trigger">
  <ng-container *ngIf="blocking">
    <div class="progress-spinner-backdrop" *ngIf="!excludeBackdrop" [style.backgroundColor]="backdropColor"></div>
    <mat-progress-spinner
      [color]="color"
      [diameter]="diameter"
      [style.marginTop.px]="-diameter / 2" style.left="calc(50% - {{ diameter / 2 }}px)"
      class="progress-spinner"></mat-progress-spinner>
  </ng-container>
  <ng-container *ngIf="!blocking">
    <mat-progress-bar [color]="color" [mode]="progressBarMode" [value]="value" class="progress-bar"></mat-progress-bar>
  </ng-container>
</div>
