<div class="progress-indicator-container" *ngIf="trigger">
  <ng-container *ngIf="blocking">
    <div class="progress-spinner-backdrop" *ngIf="backdropVisible" [style.backgroundColor]="backdropColor" [style.opacity]="backdropOpacity"></div>
    <mat-progress-spinner [color]="color" [diameter]="diameter" [mode]="mode" [style.marginTop.px]="-diameter / 2" style.left="calc(50% - {{ diameter / 2 }}px)"
      [strokeWidth]="strokeWidth" [value]="value" class="progress-spinner"></mat-progress-spinner>
  </ng-container>
  <ng-container *ngIf="!blocking">
    <mat-progress-bar [color]="color" [mode]="mode" [value]="value" [style.height.px]="strokeWidth" class="progress-bar"></mat-progress-bar>
  </ng-container>
</div>
