<form [formGroup]="donationHubForm" class="donation-hub-registration-form page" (submit)="save()">

  <div *ngIf="!donationHubNotFound; else notFoundTmpl" class="page-title">
    {{ shellService.pageTitle }}
  </div>

  <ng-template #notFoundTmpl>
    <div class="not-found">
      Donation Hub not found
    </div>
  </ng-template>

  <ng-container *ngIf="originalDonationHub">

    <mat-card>
      <mat-card-title>
        Let Us Know Your Availability
      </mat-card-title>

      <mat-card-content>
        <foodweb-date
          floatLabels="never"
          formControlName="dropOffDate"
          placeholder="Drop-off Date"
          [dateFilter]="filterDateSaturday"
          [editable]="true"
          [minDate]="minRegisterDate">
        </foodweb-date>
      </mat-card-content>
    </mat-card>

    <mat-card>
      <mat-card-title>Give Volunteers Drop-Off Instructions</mat-card-title>
      <mat-card-content>
        <mat-form-field class="fill" floatLabel="never">
          <textarea matInput formControlName="dropOffInstructions" placeholder="Drop-Off Instructions"></textarea>
        </mat-form-field>
      </mat-card-content>
    </mat-card>

    <mat-card>
      <mat-card-title>Contact Info</mat-card-title>
      <mat-card-content>
        <foodweb-contact-info formGroupName="contactOverride" [editable]="true"></foodweb-contact-info>
      </mat-card-content>
    </mat-card>

    <div class="action-footer align-right">
      <a [routerLink]="['/donation-hub', originalDonationHub.id]">
        <button mat-button type="button" color="warn">Cancel</button>
      </a>
      <button mat-raised-button type="submit" color="primary">Save</button>
    </div>

  </ng-container>

</form>
