<header foodWebStickyHeader [mainHeader]="mainHeader" [subHeader]="subHeader">
  <div class="inner-header">
    <mat-toolbar color="primary" class="main-header-section" #mainHeader>
      <a [routerLink]="['/']" class="site-title">
        <img [src]="siteIconUri" alt="{{ siteTitle }} Icon" class="site-icon">
        <span>{{ siteTitle }}</span>
      </a>
      <div class="non-blocking-page-progress-indicator" *ngIf="pageProgressService.showNonBlockingProgress">
        <foodweb-progress-indicator
          [backdropColor]="pageProgressService.backdropColor"
          [backdropOpacity]="pageProgressService.backdropOpacity"
          [backdropVisible]="pageProgressService.backdropVisible"
          [blocking]="pageProgressService.blocking"
          [color]="pageProgressService.color"
          [diameter]="pageProgressService.diameter"
          [mode]="pageProgressService.mode"
          [strokeWidth]="pageProgressService.strokeWidth"
          [trigger]="pageProgressService.trigger"
          [value]="pageProgressService.value">
        </foodweb-progress-indicator>
      </div>
    </mat-toolbar>
    <div class="sub-header-section" #subHeader>
      <button mat-button class="sidenav-toggle-button" (click)="leftNavService.toggle()" [attr.aria-expanded]="leftNavService.opened">
        <img src="./assets/IconImgSm.png" alt="Food Web Icon" class="site-icon">
        <mat-icon aria-label="Toggle Navigation Menu">menu</mat-icon>
      </button>
      <h1 class="page-title">{{ pageTitleService.title }}</h1>
      <span class="header-right">
        <ng-content></ng-content>
      </span>
    </div>
  </div>
</header>
