<foodweb-event-card [featuredEvent]="featuredEvent">
  <mat-card-actions *ngIf="!hideActions">
    <div class="align-right">
      <button mat-button *ngIf="!hideDelete"
        foodwebConfirmButton
        type="button"
        color="warn"
        (clickConfirm)="deleteEvent.emit()"
        confirmTitle="Confirm Delete"
        confirmMessage="Are you sure you want to permanently delete the event?"
      >Delete</button>
      <a *ngIf="!hideEdit" class="edit-link" routerLink="/event/edit/{{ featuredEvent.id }}" [state]="{ featuredEvent: featuredEvent }">
        <button mat-raised-button type="button" color="primary">Edit</button>
      </a>
      <a *ngIf="!hideViewRegistrations" class="view-registrations-link" routerLink="/event/registrations/{{ featuredEvent.id }}">
        <button mat-raised-button type="button" color="primary">View Registrations</button>
      </a>
    </div>
  </mat-card-actions>
</foodweb-event-card>
