<div class="volunteer-container" [foodwebDisplayEditTransition]="editable" [form]="volunteerFormTmpl" [display]="volunteerDisplay">
  <div #volunteerFormTmpl class="row volunteer-form" [formGroup]="volunteerForm" [attr.aria-hidden]="!editable">
    <div class="col-sm-12">
      <ion-item [ngClass]="{ 'with-err-msg': volunteerForm.fullNameErrorMsg }">
        <ion-label color="secondary">Full Name:</ion-label>
        <ion-input type="text" inputmode="text" formControlName="fullName" autocomplete="off" autocapitalize="words"></ion-input>
        <div class="ion-form-error" *ngIf="volunteerForm.fullNameErrorMsg">
          {{ volunteerForm.fullNameErrorMsg }}
        </div>
      </ion-item>
    </div>
  </div>

  <div #volunteerDisplay class="volunteer-display row" [attr.aria-hidden]="editable">
    <div class="col-sm-6">
      <div class="inline-label">Full Name:</div>
      <div class="d-inline-block">{{ value.firstName }}</div>
    </div>
    <div class="col-sm-6">
      <div class="inline-label">Attended Training:</div>
      <div class="d-inline-block">
        <span *ngIf="value.signedAgreement" class="check-yes">
          <mat-icon>check</mat-icon> <span>Yes</span>
        </span>
        <span *ngIf="!value.signedAgreement" class="cross-no">
          <mat-icon>close</mat-icon> <span>No</span>
        </span>
      </div>
    </div>
  </div>
</div>
