<div class="operation-hours-container">
  <ng-container *ngIf="editing">
    <div *ngFor="let operationHoursForm of formArray.controls; let idx = index" class="operation-hours-form-container">
      <div [formGroup]="operationHoursForm" class="operation-hours-form">
        <button mat-icon-button color="warn" type="button" class="delete-button" (click)="removeOperationHours(idx)">
          <mat-icon [inline]="true">clear</mat-icon>
        </button>
        <div class="weekday-field">
          <mat-form-field class="fill no-pad" floatLabel="never">
            <mat-select placeholder="Weekday" class="accent" formControlName="weekday">
              <mat-option *ngFor="let weekday of constantsService.WEEKDAYS; let i = index" [value]="weekday">{{ weekday }}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="time-fields-container">
          <div class="time-field">
            <mat-form-field class="fill" floatLabel="never">
              <input matInput placeholder="Start Time" [ngxTimepicker]="startTimePicker" autocomplete="off"
                formControlName="startTime" [errorStateMatcher]="timeFieldErrStateMatcher">
              <ngx-material-timepicker #startTimePicker [minutesGap]="5" [defaultTime]="'9:00 AM'" [preventOverlayClick]="true"></ngx-material-timepicker>
            </mat-form-field>
          </div>
          <div class="time-field">
            <mat-form-field class="fill" floatLabel="never">
              <input matInput placeholder="End Time" [ngxTimepicker]="endTimePicker" autocomplete="off"
                formControlName="endTime" [errorStateMatcher]="timeFieldErrStateMatcher">
              <ngx-material-timepicker #endTimePicker [minutesGap]="5" [defaultTime]="'5:00 PM'" [preventOverlayClick]="true"></ngx-material-timepicker>
            </mat-form-field>
          </div>
        </div>
        <mat-error *ngIf="operationHoursForm.hasError('timeRangeOrder')" class="operation-hours-error">
          {{ operationHoursForm.getError('timeRangeOrder') }}
        </mat-error>
        <mat-error *ngIf="operationHoursForm.hasError('allOrNothing')" class="operation-hours-error">
          {{ operationHoursForm.getError('allOrNothing') }}
        </mat-error>
      </div>
    </div>
    <div class="add-button-container">
      <button mat-button type="button" color="primary" class="no-pad" (click)="addOperationHours()" [disabled]="formArray.invalid">
        <mat-icon>add</mat-icon>
        <span>Add</span>
      </button>
    </div>
  </ng-container>

  <ng-container *ngIf="!editing">
    <table class="operation-hours-display">
      <tr *ngFor="let operationHours of operationHoursArr">
        <td>
          <div class="inline-label">{{ operationHours.weekday }}:</div>
        </td>
        <td>{{ operationHours.startTime | foodWebFormatTime }}</td>
        <td>&nbsp;-&nbsp;</td>
        <td>{{ operationHours.endTime | foodWebFormatTime }}</td>
      </tr>
    </table>
  </ng-container>
</div>
