@import "variables.scss";

.subject-container,
.action-buttons {
  position: relative;
  max-width: $quill-doc-max-width;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.subject-container {
  .mat-form-field {
    position: absolute;
    top: 68px;
    z-index: 2;
    padding-left: $quill-doc-padding;
    padding-right: $quill-doc-padding;

    @media only screen and (max-width: $quill-tooblar-single-line-min-width - 1px) {
      top: 95px;
    }

    @media only screen and (max-width: $quill-doc-max-width) {
      top: 0;
    }

    @media only screen and (max-width: $sm) {
      padding-left: $quill-doc-horz-padding-mobile;
      padding-right: $quill-doc-horz-padding-mobile;
    }

    @media only screen and (max-width: $mat-mobile) {
      top: 7px;
    }
  }
}

.action-buttons {
  .action-buttons-inner {
    position: absolute;
    top: -$quill-doc-padding;
    right: 5px;

    .test-message-button {
      font-size: 18px;

      .ng-fa-icon {
        vertical-align: -3px;
      }
    }

    @media only screen and (max-width: $quill-doc-max-width) {
      top: -45px
    }
  }
}

.mat-drawer {
  width: 320px;

  @media only screen and (max-width: $mat-mobile) {
    width: 100vw;
  }
}
