label {
    font-weight: bold;
    font-size: 22px;
    padding-bottom: 0px;
    margin-bottom: 0px;
}

h2 {
    font-weight: bold;
}

.link-content {
    cursor: pointer;
    cursor: hand;
    display: inline-block;
    padding-right: 40px;
}

.link-content:hover {
    color: green;
    text-decoration: underline;
}

span {
    font-size: 20px;
    display: block;
    min-height: 50px;
}

span > i {
    display: none;
    position: absolute;
    margin-left: 3px;
    margin-top: 5px;
}

span:hover > i {
    display: inline-block;
}

input:not(.form-control) {
    width: 100%;
}

.full-width {
    width: 100%;
}

.input-infix {
    width: 100%;
    padding-right: 30px;
    position: absolute;
    transform: translateY(-20px);
}

.select-infix {
    position: absolute;
}

.select-infix md-select {
    transform: translateY(-20px);
}

.select-infix i {
    transform: translateY(-3px);
}

input:not(.form-control), md-select {
    margin-top: 0px;
    font-size: 20px;
}

md-icon {
    cursor: pointer;
    cursor: hand;
}
