:host {
  .account-type-header {
    margin-bottom: 30px;
  }

  .mat-card-subtitle {
    margin-bottom: 10px;
    font-weight: 500;
  }

  .mat-slide-toggle {
    margin-bottom: 18px;
  }

  hr {
    margin-bottom: 30px;
  }

  .submit-button-container {
    button {
      min-width: 100px;
    }
  }
}
