@import '../../../../styles/constants.scss';

:host {
  .account-type-header {
    margin-bottom: 30px;
  }

  .mat-card-subtitle {
    margin-bottom: 10px;
    font-weight: 500;
  }

  .operation-hours-section {
    max-width: 50%;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    transition: max-width 0.5s ease-in-out;

    &.full-width {
      max-width: 100%;
    }

    @media only screen and (max-width: $lg) {
      max-width: 100%;
    }
  }

  hr {
    margin-bottom: 30px;
  }

  .submit-button-container {
    button {
      min-width: 100px;
    }
  }
}
