<foodweb-filtered-list class="accounts" listItemsLabel="Accounts" [totalCount]="totalCount">
  <foodweb-filtered-list-title>{{ pageTitleService.title }}</foodweb-filtered-list-title>

  <foodweb-filtered-list-toolbar>
    <foodweb-search-bar
      placeholder="Search Accounts..."
      [formControl]="accountFilters.filtersForm.get('fullTextQuery')"
      (search)="filterAccounts(accountFilters.filtersForm.toAccountReadRequest())"
    ></foodweb-search-bar>

    <a [routerLink]="['/account/compose-message']" queryParamsHandling="preserve" class="compose-message-link">
      <button mat-button type="button" matTooltip="Compose Message">
        <mat-icon>email</mat-icon>
      </button>
    </a>
  </foodweb-filtered-list-toolbar>

  <foodweb-filtered-list-content>
    <div class="col-lg-6" *ngFor="let account of accounts">
      <foodweb-account-teaser [account]="account" [addressFirst]="true" [hasEmailSubtitle]="true"></foodweb-account-teaser>
    </div>
  </foodweb-filtered-list-content>

  <foodweb-list-filters>
    <foodweb-admin-account-filters #accountFilters [activeFilters]="activeFilters" (filter)="filterAccounts($event)"></foodweb-admin-account-filters>
  </foodweb-list-filters>
</foodweb-filtered-list>
