<div *ngIf="!signupComplete" class="container">

    <form ngNativeValidate (submit)="signupUser($event)">
        <h2 class="center-text">What Type of User Are You</h2>
        <hr>
        <div class="row center-text">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="is-business" class="checkbox-label no-select">
                        Business <input type="radio" id="is-business" name="account-type" class="checkbox" value="business" required (click)="setAppUserType('business')">
                    </label>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="is-personal" class="checkbox-label no-select">
                        Personal <input type="radio" id="is-personal" name="account-type" class="checkbox" value="personal" required (click)="setAppUserType('personal')">
                    </label>
                </div>
            </div>
        </div>

        <ng-container *ngIf="appUserTypeSelected">
            <br><br><br><br>

            <h2 class="center-text">What Will You Be Doing</h2>
            <hr>
            <div class="row center-text">
                <div class ="col-md-4">
                    <div class="form-group">
                        <label for="donor" class="checkbox-label no-select">
                            Donating <input type="radio" id="donor" name="account-function" class="checkbox" required (click)="setAppUserFunction('donor')">
                        </label>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="receiver" class="checkbox-label no-select">
                            Receiving <input type="radio" id="receiver" name="account-function" class="checkbox" required (click)="setAppUserFunction('receiver')">
                        </label>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="both" class="checkbox-label no-select">
                            Both <input type="radio" id="both" name="account-function" class="checkbox" required (click)="setAppUserFunction('both')">
                        </label>
                    </div>
                </div>
            </div>
            <br><br><br><br>
        </ng-container>

        <ng-container *ngIf="appUserTypeSelected && appUserFunctionSelected">
            <h2 class="center-text">Credentials and Contact Info</h2>
            <hr>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="email">{{emailLabel}}:</label>
                        <input type="email" id="email" name="email" class="form-control" [(ngModel)]="appUserSignupInfo.email" required autocomplete="on">
                    </div>

                    <div class="form-group">
                        <label for="password">Password:</label>
                        <input type="password" id="password" name="password" class="form-control" [(ngModel)]="appUserSignupInfo.password" required>
                    </div>

                    <div *ngIf="isBusiness" class="form-group">
                        <label for="organization-name">Organization Name:</label>
                        <input type="text" id="organization-name" name="organization-name" class="form-control" [(ngModel)]="appUserSignupInfo.organizationName" required autofocus autocomplete="on">
                    </div>

                    <div class="form-group">
                        <label for="first-name">{{firstNameLabel}}:</label>
                        <input type="text" id="first-name" name="first-name" class="form-control" [(ngModel)]="appUserSignupInfo.firstName" required autofocus autocomplete="on">
                    </div>

                    <div class="form-group">
                        <label for="last-name">{{lastNameLabel}}:</label>
                        <input type="text" id="last-name" name="last-name" class="form-control" [(ngModel)]="appUserSignupInfo.lastName" required autocomplete="on">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="address">Street Address:</label>
                        <input type="text" id="address" name="address" class="form-control" [(ngModel)]="appUserSignupInfo.address" required>
                    </div>

                    <div class="form-group">
                        <label for="city">City:</label>
                        <input type="text" id="city" name="city" class="form-control" [(ngModel)]="appUserSignupInfo.city" required>
                    </div>

                    <div class="form-group">
                        <label for="state">State:</label>
                        <select id="state" name="state" class="form-control" [(ngModel)]="appUserSignupInfo.state">
                            <option *ngFor="let state of stateList" [value]="state">{{state}} </option>
                        </select>
                    </div>

                    <div class="form-group">
                        <label for="zip">ZIP Code:</label>
                        <input type="text" id="zip" name="zip" class="form-control" maxlength="5" [(ngModel)]="appUserSignupInfo.zip" required>
                    </div>
                    
                    <div class="form-group">
                        <label for="phone">Phone Number:</label>
                        <input type="text" id="phone" name="phone" class="form-control" [(ngModel)]="appUserSignupInfo.phone" minlength="12" maxlength="12" placeholder="xxx-xxx-xxxx" required>
                    </div>
                </div>

                <button type="submit" class="btn btn-default">Submit</button>
            </div>
        </ng-container>
    </form>
    <div *ngIf="signupError != null" id="signup-error">{{signupError}}</div>
</div>


<div *ngIf="signupComplete" class="container">
    <p>
        Thank-you for joining Food Web!
    </p>
    <br>
    
    <p *ngIf="isBusiness">
        We will contact you by phone to verify your signup. Please allow up to 2 business days to receive a call from us.
    </p>
    <p *ngIf="!isBusiness">
        A confirmation link will be sent to you via email. Please follow the link to confirm your signup.
    </p>
</div>
