<div *ngIf="!signupComplete" class="container">

    <form ngNativeValidate (submit)="signupUser($event)">
        <h2 class="center-text">What Type of User Are You</h2>
        <hr>
        <md-radio-group class="row center-text" required>
            <div class="col-md-6">
                <md-radio-button name="accountType" value="business" (click)="setAppUserType('business')">
                    Business
                </md-radio-button>
            </div>
            <div class="col-md-6">
                <md-radio-button name="accountType" value="personal" (click)="setAppUserType('personal')">
                    Personal
                </md-radio-button>
            </div>
        </md-radio-group>

        <ng-container *ngIf="appUserTypeSelected">
            <br><br><br><br>

            <h2 class="center-text">What Will You Be Doing</h2>
            <hr>
            <md-radio-group class="row center-text" required>
                <div class="col-md-4">
                    <md-radio-button name="accountFunction" value="donor" (click)="setAppUserFunction('donor')">
                        Donating
                    </md-radio-button>
                </div>
                <div class="col-md-4">
                    <md-radio-button name="accountFunction" value="receiver" (click)="setAppUserFunction('receiver')">
                        Receiving
                    </md-radio-button>
                </div>
                <div class="col-md-4">
                    <md-radio-button name="accountFunction" value="both" (click)="setAppUserFunction('both')">
                        Both
                    </md-radio-button>
                </div>
            </md-radio-group>
            <br><br><br><br>
        </ng-container>

        <ng-container *ngIf="appUserTypeSelected && appUserFunctionSelected">
            <h2 class="center-text">Credentials and Contact Info</h2>
            <hr>
            <div class="row">
                <div class="col-md-6">
                    <md-input-container class="form-group">
                        <input mdInput [placeholder]="emailLabel" type="email" name="username" [(ngModel)]="appUserSignupInfo.email" required autocomplete="off">
                    </md-input-container>

                    <md-input-container class="form-group">
                        <input mdInput placeholder="Password" type="password" name="password" [(ngModel)]="password" required autocomplete="new-password">
                    </md-input-container>

                    <md-input-container class="form-group" *ngIf="isBusiness">
                        <input mdInput placeholder="Organization Name" name="organizationName" [(ngModel)]="appUserSignupInfo.organizationName" required>
                    </md-input-container>

                    <md-input-container class="form-group">
                        <input mdInput [placeholder]="firstNameLabel" name="fname" [(ngModel)]="appUserSignupInfo.firstName" required>
                    </md-input-container>

                    <md-input-container class="form-group">
                        <input mdInput [placeholder]="lastNameLabel" name="lname" [(ngModel)]="appUserSignupInfo.lastName" required>
                    </md-input-container>
                </div>

                <div class="col-md-6">
                    <md-input-container class="form-group">
                        <input mdInput placeholder="Street Address" name="address" [(ngModel)]="appUserSignupInfo.address" required>
                    </md-input-container>

                    <md-input-container class="form-group">
                        <input mdInput placeholder="City" name="city" [(ngModel)]="appUserSignupInfo.city" required>
                    </md-input-container>

                    <div class="form-group">
                        <md-select name="state" placeholder="State" [(ngModel)]="appUserSignupInfo.state" required>
                            <md-option *ngFor="let stateStr of stateList" [value]="stateStr">{{stateStr}}</md-option>
                        </md-select>
                    </div>

                    <md-input-container class="form-group">
                        <input mdInput placeholder="ZIP Code" name="zip" maxlength="5" [(ngModel)]="appUserSignupInfo.zip" required>
                    </md-input-container>
                    
                    <md-input-container class="form-group">
                        <input mdInput placeholder="Phone" name="phone" [(ngModel)]="appUserSignupInfo.phone" minlength="12" maxlength="12" required>
                    </md-input-container>
                </div>

                <button md-raised-button color="primary" class="button-md" type="submit">Submit</button>
            </div>
        </ng-container>
    </form>
    <div *ngIf="signupError != null" id="signup-error">{{signupError}}</div>
</div>


<div *ngIf="signupComplete" class="container">
    <p>
        Thank-you for joining Food Web!
    </p>
    <br>
    
    <p *ngIf="isBusiness">
        We will contact you by phone to verify your signup. Please allow up to 2 business days to receive a call from us.
    </p>
    <p *ngIf="!isBusiness">
        A confirmation link will be sent to you via email. Please follow the link to confirm your signup.
    </p>
</div>
