#signup-error {
	text-align: center;
    color: red;
    font-weight: bold;
    font-size: 20px;
}

label, md-radio-group {
    font-weight: bold;
    font-size: 22px;
}

h2 {
    font-weight: bold;
}

.button-md {
    margin-left: 15px;
}

md-input-container, md-select {
    width: 100%;
}

md-select {
    margin-bottom: 20px;
}
