<div *ngIf="editable | toBoolean; else readonlyTmpl" class="date-edit">
  <mat-form-field [floatLabel]="floatLabels" (click)="datePicker.open()" class="fill">
    <input matInput
      [matDatepickerFilter]="dateFilter"
      [errorStateMatcher]="errorStateMatcher"
      [formControl]="formControl"
      [matDatepicker]="datePicker"
      [max]="maxDate"
      [min]="minDate"
      [placeholder]="placeholder"
      (blur)="onTouchedCb()"
      autocomplete="off"
      readonly="true">
    <button mat-icon-button matSuffix
      *ngIf="showClearButton"
      (click)="clearDate($event)"
      color="warn"
      type="button">
      <mat-icon>clear</mat-icon>
    </button>
    <mat-datepicker-toggle matSuffix [for]="datePicker"></mat-datepicker-toggle>
    <mat-datepicker #datePicker></mat-datepicker>
  </mat-form-field>
</div>

<ng-template #readonlyTmpl>
  <span [ngClass]="{ bold: bold | toBoolean }" [style.minWidth]="minWidth" class="date-display">
    {{ value | foodwebFormatDate }}
  </span>
</ng-template>
