<mat-dialog-content>
  <p class="dialog-message">{{ config.dialogMessage }}</p>

  <food-web-account-select
    [formControl]="accountCtrl"
    [accountType]="config.accountType"
    [placeholder]="config.selectPlaceholder"
    [filterPlaceholder]="config.filterPlaceholder"
  ></food-web-account-select>
</mat-dialog-content>

<mat-dialog-actions>
  <div class="fill align-right">
    <button mat-button type="button" color="warn" (click)="dialogRef.close(null)">Cancel</button>
    <button mat-raised-button
      [disabled]="accountCtrl.invalid"
      type="button"
      color="primary"
      (click)="dialogRef.close(accountCtrl.value)"
    >Submit</button>
  </div>
</mat-dialog-actions>
