<foodweb-hybrid-header defaultBackHref="/home">
  <ion-title>{{ accountListLabelService.pageTitle }}</ion-title>
</foodweb-hybrid-header>

<ion-content>

  <foodweb-hybrid-filtered-list
    [disabled]="listQueryService.loading"
    [itemCount]="listQueryService.items.length"
    (loadMore)="handleLoadMore($event)"
    (refresh)="handleRefresh($event)">

    <!-- <foodweb-filtered-list-toolbar listItemsLabel="Accounts">
      <foodweb-search-bar
        [placeholder]="searchPlaceholder"
        [formControl]="filtersForm.get('fullTextQuery')"
        (search)="updateFilterQueryParams(filtersForm.toAccountReadRequest())"
      ></foodweb-search-bar>
    </foodweb-filtered-list-toolbar> -->

    <div *ngIf="listQueryService.noneFound" class="standalone-statement">
      Could Not Find Any Accounts.
    </div>

    <foodweb-hybrid-account-teaser
      *ngFor="let account of listQueryService.items"
      [account]="account"
      [addressFirst]="true"
      [hasEmailSubtitle]="true">
    </foodweb-hybrid-account-teaser>

    <!-- <foodweb-list-filters>
      <foodweb-account-filters
        [formGroup]="filtersForm"
        (clear)="filtersForm.resetFacetFilters()"
        (filter)="updateFilterQueryParams(filtersForm.toAccountReadRequest())"
      ></foodweb-account-filters>
    </foodweb-list-filters> -->

  </foodweb-hybrid-filtered-list>

</ion-content>
