<div [formGroup]="dateTimeForm" [ngClass]="{ 'editable': editable | toBoolean, 'inline-fields': inlineFields | toBoolean }" class="date-time-form">
  <div *ngIf="primaryLabel" class="primary-label">
    {{ primaryLabel }}
  </div>

  <foodweb-date
    *ngIf="(editable | toBoolean) || !(excludeDateDisplay | toBoolean)"
    [allowClear]="allowClear"
    [bold]="boldDate"
    [value]="value"
    [defaultDate]="defaultDate"
    [editable]="editable"
    [errorStateMatcher]="errorStateMatcher"
    [floatLabels]="floatLabels"
    [maxDate]="maxDate"
    [minDate]="minDate"
    [minWidth]="minDateWidth"
    [placeholder]="datePlaceholder"
    formControlName="date"
  ></foodweb-date>

  <foodweb-time
    *ngIf="(editable | toBoolean) || !(excludeTimeDisplay | toBoolean)"
    [allowClear]="allowClear"
    [bold]="boldTime"
    [defaultTime]="defaultTime"
    [editable]="editable"
    [errorStateMatcher]="errorStateMatcher"
    [floatLabels]="floatLabels"
    [minutesGap]="minutesGap"
    [placeholder]="timePlaceholder"
    [value]="value | foodwebFormatTime"
    formControlName="time"
  ></foodweb-time>
</div>
