<div *ngIf="editing" [formGroup]="dateTimeForm" class="date-time-form" [ngClass]="{ 'inline-fields': inlineFields }">
  <div class="date-field">
    <mat-form-field class="fill" [floatLabel]="floatLabels" (click)="datePicker.open()">
      <input matInput
       [matDatepicker]="datePicker"
       [min]="minDate"
       [placeholder]="datePlaceholder"
       autocomplete="off"
       readonly="true"
       formControlName="date"
       [errorStateMatcher]="errorStateMatcher">
      <mat-datepicker-toggle matSuffix [for]="datePicker"></mat-datepicker-toggle>
      <mat-datepicker touchUi #datePicker ></mat-datepicker>
    </mat-form-field>
  </div>

  <div class="time-field">
    <mat-form-field class="fill" [floatLabel]="floatLabels">
      <input matInput
       [placeholder]="timePlaceholder"
       [ngxTimepicker]="timePicker"
       autocomplete="off"
       readonly="true"
       formControlName="time"
       [errorStateMatcher]="errorStateMatcher">
      <button mat-icon-button type="button" matSuffix aria-label="Open Time Dialog" (click)="timePicker.open()">
        <mat-icon>alarm</mat-icon>
      </button>
      <ngx-material-timepicker #timePicker [minutesGap]="5" [defaultTime]="defaultTime"></ngx-material-timepicker>
    </mat-form-field>
  </div>
</div>

<div *ngIf="!editing" class="date-time-display d-inline-block">
  <span class="date" *ngIf="!excludeDateDisplay" [ngClass]="{ bold: boldDate }" [style.minWidth]="minDateWidth">
    {{ dateTime | foodWebFormatDate }} &nbsp;
  </span>
  
  <span class="time" *ngIf="!excludeTimeDisplay" [ngClass]="{ bold: boldTime }">
    {{ dateTime | foodWebFormatTime }}
  </span>
</div>
