<div [formGroup]="dateTimeForm" [ngClass]="{ 'editing': editing, 'inline-fields': inlineFields }" class="date-time-form">
  <div *ngIf="primaryLabel" class="primary-label">
    {{ primaryLabel }}
  </div>

  <foodweb-date
    *ngIf="editing || !excludeDateDisplay"
    [allowClear]="allowClear"
    [bold]="boldDate"
    [date]="dateTime"
    [defaultDate]="defaultDate"
    [editing]="editing"
    [errorStateMatcher]="errorStateMatcher"
    [floatLabels]="floatLabels"
    [maxDate]="maxDate"
    [minDate]="minDate"
    [minWidth]="minDateWidth"
    [placeholder]="datePlaceholder"
    formControlName="date"
  ></foodweb-date>

  <foodweb-time
    *ngIf="editing || !excludeTimeDisplay"
    [allowClear]="allowClear"
    [bold]="boldTime"
    [defaultTime]="defaultTime"
    [editing]="editing"
    [errorStateMatcher]="errorStateMatcher"
    [floatLabels]="floatLabels"
    [minutesGap]="minutesGap"
    [placeholder]="timePlaceholder"
    [time]="dateTime | foodWebFormatTime"
    formControlName="time"
  ></foodweb-time>
</div>
