@import "variables.scss";

.date-time-form {
  &.inline-fields {
    $inline-field-padding: 15px;

    .primary-label {
      font-size: 13px;
      font-family: Roboto, "Helvetica Neue", sans-serif;
      line-height: 18px;
      color: rgba(0, 0, 0, 0.54);
      margin-bottom: -15px;
    }

    foodweb-date,
    foodweb-time {
      display: inline-block;
      box-sizing: border-box;
    }

    foodweb-date {
      padding-right: $inline-field-padding;
    }

    &.editable {
      foodweb-date,
      foodweb-time {
        width: 50%;
      }

      foodweb-time {
        padding-left: $inline-field-padding;
      }
    }
  }
}
