<div class="container-fluid">
    <div id="receivers-row" class="row">
        <div class="col-md-0 col-lg-3 no-pad" id="filters">
            <app-food-listings-filters header="Search Filters" [formGroup]="foodListingsFiltersComponent.filtersForm" #foodListingsFilters>
            </app-food-listings-filters>
        </div>

        <div id="food-listings" class="col-md-12 col-lg-9">
            <app-food-listings header="Available Food" #foodListings>
                <ng-container details-modal-footer>
                    <button md-raised-button color="primary" class="button-md" (click)="claimSelectedFoodListing()">Claim</button>
                </ng-container>
            </app-food-listings>
        </div>
    </div>
</div>