#details-img {
    float: left;
}

/* When the screen gets small and the filters panel goes into mobile mode, then center the food listings */
@media only screen and (max-width: 1200px) {
    #food-listings {
        float: none;
        padding-left: 40px;
        margin-left: auto;
        margin-right: auto;
    }
}
