:host {
	flex-grow: 1;
    display: flex;
    text-align: center;
	justify-content: center;
	align-items: center;
}

#details-img {
    display: inline-block;
    vertical-align: top;
}

#food-types-container {
    max-width: 350px !important;
}

.link-content {
    margin-top: 5px;
    margin-bottom: 5px;
    text-align: right;
    float: right;
}

.food-listing-container {
    margin-left: 0px !important;
    padding-left: 0px !important;
    max-width: 100% !important;
    overflow-x: hidden !important;
}

::ng-deep .modal-backdrop.fade.show {
    opacity: 1 !important;
    background-color: #444;
}

::ng-deep .food-details > .modal-dialog {
    width: 100%;
    max-width: 100%;
    padding-right: 20px; /* In small screen, this will make spacing on left and right equal! */
}

/* Big screen */
@media (min-width: 1450px) {
    ::ng-deep .food-details > .modal-dialog {
        max-width: 1400px;
    }
}

/* Medium screen */
@media (min-width: 576px) {
    ::ng-deep .food-details > .modal-dialog {
        padding-right: 30px;
        padding-left: 30px;
    }
}
