<span id="food-details">
<ng-template #detailsHTML let-c="close" let-d="dismss">

    <div class="modal-header">

        <h5 class="modal-title">{{foodListing.foodTitle}}</h5>
        <button type="button" class="modal-close" aria-label="Close" (click)="c('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
        
    </div>

    <div class="modal-body">

        <!-- Standard modal body -->
        <div *ngIf="!showConfirmDialog" class="food-listing-container">
    
            <div class="food-listing-img-container">
                <img *ngIf="foodListing.imgUrl != null" [src]="foodListing.imgUrl"/>
            </div>
    
            <div [ngClass]="{ 'food-listing-contents': (foodListing.imgUrl != null) }">
    
                <div>
                    <h5>Donated By:</h5>
                    <ng-container *ngIf="foodListing.donorOrganizationName != null">
                        {{foodListing.donorOrganizationName}}
                    </ng-container>
                    <ng-container *ngIf="foodListing.donorOrganizationName == null">
                        {{foodListing.donorFirstName}} {{foodListing.donorLastName}}
                    </ng-container>
                </div>
                <br>

                <div>
                    <h5>Description:</h5>
                    {{foodListing.foodDescription}}
                </div>
                <br>
                
                <div id="food-types-container">
                    <h5>Present Food Types:</h5>
                    <app-food-types [ngModel]="foodListing.foodTypes" [displayOnly]="true" [condensedDisplay]="true" [numColumns]="2"></app-food-types>
                </div>
                <br>
                
                <div>
                    <h5>Available Until:</h5>
                    {{foodListing.availableUntilDate}}
                </div>
    
                <ng-content select="[food-listing-info]"></ng-content>
            </div>
    
        </div>

        <!-- Confirm modal body -->
        <ng-container *ngIf="showConfirmDialog">
            <ng-content select="[confirm-modal-body]"></ng-content>
        </ng-container>

    </div>
    
    <div class="modal-footer">
        
        <!-- Standard modal footer -->
        <ng-container *ngIf="!showConfirmDialog">
            <ng-content select="[details-modal-footer]"></ng-content>
        </ng-container>

        <!-- Confirm modal footer -->
        <ng-container *ngIf="showConfirmDialog">
            <ng-content select="[confirm-modal-footer]"></ng-content>
        </ng-container>

        <!-- Only close button is hard coded in dialog. All others are transcluded in from parent component -->
        <button md-raised-button color="primary" class="button-md" (click)="c('Close')">Close</button>

    </div>

</ng-template>
</span>
