<div class="alert-dialog-container">
  <mat-toolbar [color]="color" *ngIf="alert.title">
    <h1 mat-dialog-title>{{ alert.title }}</h1>
    <button mat-icon-button *ngIf="!dialogRef.disableClose" type="button" class="close-button" mat-dialog-close>
      <mat-icon aria-label="Close">close</mat-icon>
    </button>
  </mat-toolbar>
  <button mat-icon-button *ngIf="!alert.title" type="button" class="close-button" mat-dialog-close>
    <mat-icon aria-label="Close">close</mat-icon>
  </button>

  <div mat-dialog-content class="alert-dialog-body" [innerHTML]="alert.message"></div>

  <div mat-dialog-actions>
    <div class="align-right">
      <button mat-button *ngIf="" type="button" color="warn" [mat-dialog-close]="false">
        <span [innerHTML]="alert.cancelButton"></span>
      </button>
      <button mat-button *ngIf="alert.confirmButton" type="button" color="action.color" [mat-dialog-close]="true" cdkFocusInitial>
        <span [innerHTML]="alert.confirmButton"></span>
      </button>
    </div>
  </div>
</div>
