<div class="home page">
  <div class="row">
    <div class="col-md-4 col-sm-6">
      <a [routerLink]="['/account/list']" [queryParams]="{ accountType: 'Donor' }" class="card-link">
        <mat-card matRipple>
          <mat-card-title class="align-center">Search Donors</mat-card-title>
          <mat-card-content>
            <mat-icon class="fill-icon" color="donor">{{ constantsService.ACCOUNT_TYPE_ICONS['Donor'] }}</mat-icon>
          </mat-card-content>
        </mat-card>
      </a>
    </div>
    <div class="col-md-4 col-sm-6">
      <a [routerLink]="['/account/list']" [queryParams]="{ accountType: 'Receiver' }" class="card-link">
        <mat-card matRipple>
          <mat-card-title class="align-center">Search Receivers</mat-card-title>
          <mat-card-content>
            <mat-icon class="fill-icon" color="receiver">{{ constantsService.ACCOUNT_TYPE_ICONS['Receiver'] }}</mat-icon>
          </mat-card-content>
        </mat-card>
      </a>
    </div>
    <div class="col-md-4 col-sm-6">
      <a [routerLink]="['/account/list']" [queryParams]="{ accountType: 'Volunteer' }" class="card-link">
        <mat-card matRipple>
          <mat-card-title class="align-center">Search Volunteers</mat-card-title>
          <mat-card-content>
            <mat-icon class="fill-icon" color="volunteer">{{ constantsService.ACCOUNT_TYPE_ICONS['Volunteer'] }}</mat-icon>
          </mat-card-content>
        </mat-card>
      </a>
    </div>
    <div class="col-md-4 col-sm-6">
      <a [routerLink]="['/donation/list']" class="card-link">
        <mat-card matRipple>
          <mat-card-title class="align-center">Search Donations</mat-card-title>
          <mat-card-content>
            <fa-icon [icon]="faGifts" class="fill-icon"></fa-icon>
          </mat-card-content>
        </mat-card>
      </a>
    </div>
    <div class="col-md-4 col-sm-6">
      <a [routerLink]="['/account/list']" class="card-link">
        <mat-card matRipple>
          <mat-card-title class="align-center">Search Accounts</mat-card-title>
          <mat-card-content>
            <mat-icon class="fill-icon">people_alt</mat-icon>
          </mat-card-content>
        </mat-card>
      </a>
    </div>
    <div class="col-md-4 col-sm-6">
      <a [routerLink]="['/delivery/list']" class="card-link">
        <mat-card matRipple>
          <mat-card-title class="align-center">Search Deliveries</mat-card-title>
          <mat-card-content>
            <mat-icon class="fill-icon">pin_drop</mat-icon>
          </mat-card-content>
        </mat-card>
      </a>
    </div>
    <div class="col-md-4 col-sm-6">
      <a [routerLink]="['/donation/list']" class="card-link">
        <mat-card matRipple>
          <mat-card-title class="align-center">Create Donation</mat-card-title>
          <mat-card-content>
            <mat-icon class="fill-icon">post_add</mat-icon>
          </mat-card-content>
        </mat-card>
      </a>
    </div>
    <div class="col-md-4 col-sm-6">
      <a [routerLink]="['/account/list']" class="card-link">
        <mat-card matRipple>
          <mat-card-title class="align-center">Create Account</mat-card-title>
          <mat-card-content>
            <mat-icon class="fill-icon">person_add</mat-icon>
          </mat-card-content>
        </mat-card>
      </a>
    </div>
    <div class="col-md-4 col-sm-6">
      <a [routerLink]="['/event/create']" class="card-link">
        <mat-card matRipple>
          <mat-card-title class="align-center">Create Event</mat-card-title>
          <mat-card-content>
            <fa-icon [icon]="faCalendarPlus" class="fill-icon"></fa-icon>
          </mat-card-content>
        </mat-card>
      </a>
    </div>
    <div class="col-md-4 col-sm-6">
      <a [routerLink]="['/event/list']" class="card-link">
        <mat-card matRipple>
          <mat-card-title class="align-center">Search Events</mat-card-title>
          <mat-card-content>
            <mat-icon class="fill-icon">event</mat-icon>
          </mat-card-content>
        </mat-card>
      </a>
    </div>
    <div class="col-md-4 col-sm-6">
      <a [routerLink]="['/event/registrations']" class="card-link">
        <mat-card matRipple>
          <mat-card-title class="align-center">Event Registrations</mat-card-title>
          <mat-card-content>
            <fa-icon [icon]="faClipboardList" class="fill-icon"></fa-icon>
          </mat-card-content>
        </mat-card>
      </a>
    </div>
  </div>
</div>
