@import "constants.scss";

.home {
  padding-top: 30px;

  .mat-card {
    position: relative;

    .fill-icon {
      display: inline-block;
      width: 100%;
      text-align: center;
    }

    .mat-icon.fill-icon {
      $max-font-size: 200px;
      font-size: $max-font-size; // Fallback if browser doesn't understand 'vw' unit.
      font-size: 20vw;

      @media only screen and (min-width: 1000px) {
        font-size: $max-font-size; // Set max font-size.
      }

      @media only screen and (max-width: $mat-mobile) {
        font-size: $max-font-size;
      }
    }

    .ng-fa-icon.fill-icon {
      $max-font-size: 138px;
      font-size: $max-font-size; // Fallback if browser doesn't understand 'vw' unit.
      font-size: 13.8vw;

      @media only screen and (min-width: 1000px) {
        font-size: $max-font-size; // Set max font-size.
      }

      @media only screen and (max-width: $mat-mobile) {
        font-size: $max-font-size;
      }
    }
  }

  a.card-link {
    position: relative;
    display: inline-block;
    width: 100%;

    &:hover {
      .mat-card {
        .mat-card-title {
          text-decoration: underline;
        }
      }
    }

    @media only screen and (max-width: $mat-mobile) {
      display: block;
      max-width: 320px;
      margin-left: auto;
      margin-right: auto;
    }
  }

  @media only screen and (max-width: $mat-mobile) {
    padding-top: 20px;
  }
}
