<StackLayout [foodwebAppVisibile]="editable" [formGroup]="formGroup">
  <foodweb-app-text-field
    #emailField
    formControlName="email"
    keyboardType="email"
    label="Email:"
    [nextFocus]="phoneNumberField">
    <Label *ngIf="formGroup.get('email').hasError('email')" text="Not a valid email address" class="text-danger"></Label>
  </foodweb-app-text-field>

  <foodweb-app-text-field
    #phoneNumberField
    formControlName="phoneNumber"
    keyboardType="phone"
    label="Phone Number:"
    [nextFocus]="streetAddressField">
    <Label *ngIf="formGroup.get('phoneNumber').hasError('pattern')" text="Not a valid phone number" class="text-danger"></Label>
  </foodweb-app-text-field>

  <foodweb-app-text-field
    #streetAddressField
    autocapitalizationType="words"
    formControlName="streetAddress"
    label="Street Address:"
    [nextFocus]="cityField"
  ></foodweb-app-text-field>

  <GridLayout rows="*" columns="*,auto,auto">
    <foodweb-app-text-field
      #cityField
      autocapitalizationType="words"
      formControlName="city"
      label="City:"
      orientation="vertical"
      row="0"
      col="0"
      [nextFocus]="stateField"
    ></foodweb-app-text-field>

    <foodweb-app-text-field
      #stateField
      autocapitalizationType="words"
      formControlName="stateProvince"
      label="State/Province:"
      orientation="vertical"
      row="0"
      col="1"
      width="45"
      [nextFocus]="postalField"
    ></foodweb-app-text-field>

    <foodweb-app-text-field
      #postalField
      formControlName="postalCode"
      label="Postal Code:"
      orientation="vertical"
      row="0"
      col="2"
      width="40"
      [returnKeyType]="finalReturnKeyType"
      (returnPress)="finalReturnPress.emit()">
      <Label *ngIf="formGroup.get('postalCode').hasError('pattern')" text="Not a valid postal code" class="text-danger"></Label>
    </foodweb-app-text-field>
  </GridLayout>
</StackLayout>

<StackLayout *ngIf="!editable && value">
  <ng-container *ngIf="addressFirst" [ngTemplateOutlet]="addressTmpl"></ng-container>

  <Label *ngIf="!hideEmail && value.email" (tap)="openEmail()">
    <FormattedString>
      <Span text="Email: " class="inline-label"></Span>
      <span [text]="value.email"></span>
    </FormattedString>
  </Label>

  <Label *ngIf="!hidePhone && value.phoneNumber" (tap)="openPhoneCall()">
    <FormattedString>
      <Span text="Phone Number: " class="inline-label"></Span>
      <span [text]="value.phoneNumber"></span>
    </FormattedString>
  </Label>

  <ng-container *ngIf="!addressFirst" [ngTemplateOutlet]="addressTmpl"></ng-container>
</StackLayout>

<ng-template #addressTmpl>
  <StackLayout>
    <Label text="Address:" class="inline-label"></Label>
    <foodweb-app-address [value]="value" [mapAnchorType]="addressAnchorType"></foodweb-app-address>
  </StackLayout>
</ng-template>
