<StackLayout *ngIf="editing; else readonlyTmpl" [formGroup]="formGroup">
  <foodweb-app-text-field *ngIf="true"
    formControlName="email"
    keyboardType="email"
    label="Email:"
  ></foodweb-app-text-field>
  <Label *ngIf="formGroup.get('email').hasError('email')" text="Not a valid email address"></Label>

  <foodweb-app-text-field *ngIf="true"
    formControlName="phoneNumber"
    keyboardType="phone"
    label="Phone Number:"
  ></foodweb-app-text-field>
  <Label *ngIf="formGroup.get('phoneNumber').hasError('pattern')" text="Not a valid phone number"></Label>

  <foodweb-app-text-field *ngIf="true"
    autocapitalizationType="words"
    formControlName="streetAddress"
    label="Street Address:"
  ></foodweb-app-text-field>

  <foodweb-app-text-field *ngIf="true"
    autocapitalizationType="words"
    formControlName="city"
    label="City:"
  ></foodweb-app-text-field>

  <foodweb-app-text-field *ngIf="true"
    autocapitalizationType="words"
    formControlName="stateProvince"
    label="State/Province:"
  ></foodweb-app-text-field>

  <foodweb-app-text-field *ngIf="true"
    formControlName="postalCode"
    label="Postal Code:"
  ></foodweb-app-text-field>
  <Label *ngIf="formGroup.get('postalCode').hasError('pattern')" text="Not a valid postal code"></Label>
</StackLayout>

<ng-template #readonlyTmpl>
  <ng-container *ngIf="addressFirst" [ngTemplateOutlet]="addressTmpl"></ng-container>

  <Label *ngIf="!hideEmail && contactInfo.email">
    <FormattedString>
      <Span text="Email:" class="inline-label"></Span>
      <span [text]="contactInfo.email" (tap)="openEmail()"></span>
    </FormattedString>
  </Label>

  <Label *ngIf="!hidePhone && contactInfo.phoneNumber">
    <FormattedString>
      <Span text="Phone Number:" class="inline-label"></Span>
      <span [text]="contactInfo.phoneNumber" (tap)="openPhoneCall()"></span>
    </FormattedString>
  </Label>

  <ng-container *ngIf="!addressFirst" [ngTemplateOutlet]="addressTmpl"></ng-container>
</ng-template>

<ng-template #addressTmpl>
  <Label text="Address:"></Label>
  <foodweb-app-address [contactInfo]="contactInfo" [mapAnchorType]="addressAnchorType"></foodweb-app-address>
</ng-template>
