<GridLayout columns="*" rows="auto" [foodwebAppVisibile]="visible">
  <foodweb-app-focus-mask #focusMask
    column="0"
    row="0"
    [enabled]="editable"
    (focusTap)="showTimeDialog(timeTextField)">
    <!-- Make readonly with editable style so that only focus mask can get focus (important on Android) -->
    <foodweb-app-text-field #timeTextField
      autoCorrect="false"
      editable="false"
      keyboardType="datetime"
      [displayValue]="value | foodwebFormatTime"
      [formControl]="formControl"
      [hint]="hint"
      [inlineColumnsSchema]="inlineColumnSchema"
      [label]="label"
      [letterSpacing]="letterSpacing"
      [lineHeight]="lineHeight"
      [orientation]="currentOrientation"
      [readonlyKeepEditableStyles]="textFieldHasEditableStyles"
      [requiredErrorMsg]="requiredErrorMsg"
      [textAlignment]="textAlignment"
      [textDecoration]="textDecoration"
      [textOverride]="formControl.value | foodwebFormatTime"
      [textTransform]="textTransform"
      [whiteSpace]="whiteSpace">
      <StackLayout class="error">
        <ng-content select=".error"></ng-content>
      </StackLayout>
    </foodweb-app-text-field>
  </foodweb-app-focus-mask>

  <StackLayout *ngIf="editableToggle" class="editable-toggle-container pull-right" column="0" row="0">
    <foodweb-app-edit-save-button
      [control]="formControl"
      [editable]="editable"
      (edit)="setEditable($event)"
      (save)="save.emit($event)"></foodweb-app-edit-save-button>
  </StackLayout>
</GridLayout>
