@import "variables.scss";

.donation-hub-display {
  &> div {
    margin-bottom: 12px;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.mat-card-actions.donation-hub-actions {
  display: block;

  > a > button {
    width: 110px;
    margin: 0 10px;
  }

  &.single-action {
    > a > button {
      width: 220px;
    }
  }
}
