<mat-card id="donation-hub-{{ donationHub.id }}" class="teaser donation-hub-teaser">
  <mat-card-content>
    <div class="donation-hub-display row">
      <div class="col-md-6 col-12">
        <foodweb-contact-info [value]="donationHub.contactOverride" [hideEmail]="true" [hidePhone]="true"></foodweb-contact-info>
      </div>
      <div class="col-md-6 col-12">
        <div class="inline-label">Drop-Off Window:</div>
        <div><foodweb-date-time-range [boldTime]="true" [startDateTime]="donationHub.dropOffWindowStart" [endDateTime]="donationHub.dropOffWindowEnd"></foodweb-date-time-range></div>
      </div>
    </div>
  </mat-card-content>
  <mat-card-actions class="donation-hub-actions" [ngClass]="{ 'single-action': hideDonateButton }">
    <a [routerLink]="['/donation-hub', donationHub.id]" class="no-hover">
      <button mat-raised-button type="button" class="compact" color="accent">View Details</button>
    </a>
    <a *ngIf="!hideDonateButton" [routerLink]="['/donation-hub', donationHub.id, 'pledge', 'create']">
      <button mat-raised-button type="button" class="compact" color="primary">Donate</button>
    </a>
  </mat-card-actions>
</mat-card>
