@import "constants.scss";

:host {
  .account-main {
    margin-bottom: 20px;

    .username-title {
      font-weight: bold;
      font-size: 24px;
      margin-bottom: 10px;
    }

    .profile-img-card {
      display: inline-block;
      text-align: center;
      margin-bottom: 0px;
      padding: 0px;
      vertical-align: top;
      width: 150px;
      height: 150px;
    }
  }

  .account-type {
    text-align: center;
    margin-bottom: 6px;
  }

  .account-not-verified {
    text-align: center;
    color: $warn;
    font-weight: bold;

    button {
      color: #007BFF;
      padding: 0 10px;
    }
  }

  .operation-hours-section {
    max-width: 50%;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    transition: max-width 0.25s ease-in-out;

    &.full-width {
      max-width: 100%;
    }

    @media only screen and (max-width: $lg) {
      max-width: 100%;
    }
  }

  mat-divider {
    margin-bottom: 20px;

    @media only screen and (max-width: $sm) {
      margin-top: 12px;
    }
  }

  .see-donations-link {
    margin-top: 10px;
  }

  .account-not-found {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
  }
}
