@import "constants.scss";

:host {
  .account-main {
    margin-bottom: 20px;

    .username-title {
      font-weight  : bold;
      font-size    : 24px;
      margin-bottom: 10px;
    }

    .profile-img-container {
      display       : inline-block;
      text-align    : center;
      margin-bottom : 0px;
      padding       : 0px;
      vertical-align: top;
    }
  }

  .account-type {
    text-align   : center;
    margin-bottom: 6px;
  }

  .account-not-verified {
    text-align : center;
    color      : $warn;
    font-weight: bold;

    button {
      color  : #007BFF;
      padding: 0 10px;
    }
  }

  .mat-accordion {
    .mat-expansion-panel {
      background-color: transparent;
      box-shadow      : none;

      .mat-expansion-panel-header {
        background-color: rgba(0, 0, 0, 0.04);
        border-bottom   : 1px solid rgba(0, 0, 0, 0.07);
        border-left     : 1px solid rgba(0, 0, 0, 0.05);
        border-right    : 1px solid rgba(0, 0, 0, 0.05);
        border-top      : 1px solid rgba(0, 0, 0, 0.045);
        max-height      : 48px;
        font-size       : 16px;
        font-weight     : bold;
        color           : $accent-darker;

        &:hover,
        &:focus {
          background-color: rgba(0, 0, 0, 0.06);
        }
      }

      .mat-divider {
        display: none;
      }

      .mat-card-title {
        margin-top   : 0;
        margin-bottom: 15px;
      }

      .account-section-content {
        margin: 20px 0 -16px -38px;
        width : calc(100% + 76px);

        @media only screen and (max-width: $mat-mobile) {
          margin-bottom: -4px;
        }
      }
    }

    &.expand-all {
      .mat-expansion-panel {
        margin-top: -20px;

        .mat-expansion-panel-header {
          display: none;
        }

        .mat-divider {
          display: block;
          margin : 22px -20px;
        }
      }
    }
  }

  .operation-hours-card {
    transition: max-width 0.25s ease-in-out;

    &.full-width {
      max-width: 100%;
    }

    @media only screen and (max-width: $lg) {
      max-width: 200%;
      /* Allow size to go beyond width of container so that it can be placed over parent padding. */
    }
  }

  .operation-hours-card,
  .notification-settings-card,
  .password-card {
    max-width   : 554px;
    margin-left : auto;
    margin-right: auto;
    overflow    : hidden;
  }

  mat-divider {
    margin-bottom: 20px;

    @media only screen and (max-width: $sm) {
      margin-top: 12px;
    }
  }

  .see-donations-link {
    margin-top: 10px;
  }

  .account-not-found {
    font-size  : 24px;
    font-weight: bold;
    text-align : center;
  }
}
