<StackLayout [foodwebAppVisibile]="editable" [formGroup]="formGroup" class="password-container">
  <foodweb-app-text-field [visible]="formGroup.formMode === 'Account'"
    #oldPasswordField
    formControlName="oldPassword"
    label="Current Password:"
    secureWithoutAutofill="true"
    [nextFocus]="passwordField"
  ></foodweb-app-text-field>

  <foodweb-app-text-field
    #passwordField
    formControlName="password"
    hint="Enter at least 6 characters..."
    label="Password:"
    secureWithoutAutofill="true"
    [nextFocus]="confirmPasswordField">
    <Label
      [foodwebAppVisibile]="formGroup.get('password').hasError('pattern')"
      text="At least 6 characters required"
      class="text-danger"
    ></Label>
  </foodweb-app-text-field>

  <foodweb-app-text-field
    #confirmPasswordField
    formControlName="confirmPassword"
    hint="Repeat your password here..."
    label="Confirm Password:"
    secureWithoutAutofill="true"
    (returnPress)="finalReturnPress.emit()">
    <Label
      [foodwebAppVisibile]="formGroup.hasError('passwordConfirmMatch')"
      [text]="formGroup.getError('passwordConfirmMatch')"
      class="text-danger"
    ></Label>
  </foodweb-app-text-field>
</StackLayout>

<Label *ngIf="!editable">
  <FormattedString>
    <Span text="Password:" class="inline-label"></Span>
    <span text="******"></span>
  </FormattedString>
</Label>
