<StackLayout *ngIf="editing; else readonlyTmpl" [formGroup]="formGroup" class="password-container">
  <foodweb-app-text-field *ngIf="formGroup.formMode === 'Account'"
    formControlName="oldPassword"
    label="Current Password:"
    secure="true"
  ></foodweb-app-text-field>

  <foodweb-app-text-field *ngIf="true"
    formControlName="password"
    hint="Enter a password with at least 6 characters..."
    label="Password:"
    secure="true">
    <Label
      [visibility]="formGroup.get('password').hasError('pattern') ? 'visible' : 'collapsed'"
      text="At least 6 characters required"
      class="text-danger"
    ></Label>
  </foodweb-app-text-field>

  <foodweb-app-text-field *ngIf="true"
    formControlName="confirmPassword"
    hint="Enter your password from above..."
    label="Confirm Password:"
    secure="true">
    <Label
      [visibility]="formGroup.hasError('passwordConfirmMatch') ? 'visible' : 'collapsed'"
      [text]="formGroup.getError('passwordConfirmMatch')"
      class="text-danger"
    ></Label>
  </foodweb-app-text-field>
</StackLayout>

<ng-template #readonlyTmpl>
  <Label>
    <FormattedString>
      <Span text="Password:" class="inline-label"></Span>
      <span text="******"></span>
    </FormattedString>
  </Label>
</ng-template>
