<StackLayout *ngIf="editing; else readonlyTmpl" [formGroup]="formGroup" class="password-container">
  <ng-container *ngIf="formGroup.formMode === 'Account'">
    <Label text="Current Password:"></Label>
    <TextField formControlName="oldPassword" autocapitalizationType="none" secure="true"></TextField>
  </ng-container>

  <Label *ngIf="true" text="Password:"></Label>
  <TextField *ngIf="true" formControlName="password" autocapitalizeType="none" hint="Enter a password with at least 6 characters" secure="true"></TextField>
  <Label *ngIf="formGroup.get('password').hasError('pattern')" text="At least 6 characters required"></Label>

  <Label *ngIf="true" text="Confirm Password:"></Label>
  <TextField *ngIf="true" formControlName="confirmPassword" autocapitalizeType="none" hint="Enter your password from above" secure="true"></TextField>
  <Label *ngIf="formGroup.hasError('passwordConfirmMatch')" [text]="formGroup.getError('passwordConfirmMatch')"></Label>
</StackLayout>

<ng-template #readonlyTmpl>
  <Label>
    <FormattedString>
      <Span text="Password:" class="inline-label"></Span>
      <span text="******"></span>
    </FormattedString>
  </Label>
</ng-template>

<!-- <div class="password-container" [foodwebDisplayEditTransition]="editing" [form]="passwordForm" [display]="passwordDisplay">
  <div #passwordForm [formGroup]="formGroup" class="password-form row" [attr.aria-hidden]="!editing">
    <div class="col-sm-12" *ngIf="formGroup.formMode === 'Account'">
      <mat-form-field class="fill">
        <input matInput placeholder="Current Password" formControlName="oldPassword" type="password">
      </mat-form-field>
    </div>
    <div class="col-sm-6">
      <mat-form-field class="fill">
        <input matInput [placeholder]="passwordLabel" formControlName="password" type="password" autocomplete="new-password">
        <mat-error *ngIf="formGroup.get('password').hasError('pattern')">
          At least 6 characters required
        </mat-error>
      </mat-form-field>
    </div>
    <div class="col-sm-6">
      <mat-form-field class="fill">
        <input matInput placeholder="Confirm Password" formControlName="confirmPassword" type="password" [errorStateMatcher]="formGroup.passwordMatchErrStateMatcher">
        <mat-error *ngIf="formGroup.hasError('passwordConfirmMatch')">
          {{ formGroup.getError('passwordConfirmMatch') }}
        </mat-error>
      </mat-form-field>
    </div>
  </div>

  <div #passwordDisplay class="password-display" [attr.aria-hidden]="editing">
    <div class="inline-label">Passsword:</div>
    <div class="d-inline-block">******</div>
  </div>
</div> -->
