<StackLayout [formGroup]="formGroup">
  <Label [text]=""></Label>
  <foodweb-app-select
    editable="false"
    formControlName="weekday"
    hint="Weekday"
    hintIsDialogTitle="true"
    [items]="constantsService.WEEKDAYS"></foodweb-app-select>

  <GridLayout rows="auto" columns="*,*,45" class="time-range">
    <foodweb-app-time
      editable="true"
      formControlName="startTime"
      hint="Start Time"
      hintIsDialogTitle="true"
      row="0"
      col="0"
      [errorStateMatcher]="formGroup.timeRangeErrStateMatcher"
      [defaultTime]="defaultStartTime"
      [minutesGap]="minutesGap"></foodweb-app-time>

    <foodweb-app-time
      editable="true"
      formControlName="endTime"
      hint="End Time"
      hintIsDialogTitle="true"
      row="0"
      col="1"
      [errorStateMatcher]="formGroup.timeRangeErrStateMatcher"
      [defaultTime]="defaultEndTime"
      [minutesGap]="minutesGap"></foodweb-app-time>

    <Button text="-" class="minus-button" row="0" col="2" width="20" height="20"></Button>
  </GridLayout>

  <Label
    foodwebAppVisibile="formGroup.hasError('timeRangeOrder')"
    class="text-danger"
    [textContent]="formGroup.getError('timeRangeOrder')"></Label>
  <Label
    foodwebAppVisibile="formGroup.hasError('groupRequired')"
    class="text-danger"
    [textContent]="formGroup.getError('groupRequired')"></Label>
</StackLayout>

<!-- <div [formGroup]="formGroup" class="operation-hours-form">
  <div class="weekday-field" [style.width]="weekdayWidth" [style.padding]="weekdayPadding">
    <mat-form-field class="fill no-pad" floatLabel="never">
      <mat-select placeholder="Weekday" class="accent" formControlName="weekday">
        <mat-option *ngFor="let weekday of constantsService.WEEKDAYS; let i = index" [value]="weekday">{{ weekday }}</mat-option>
        <mat-option [value]="undefined">--</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div class="time-fields-container">
    <div class="time-field" [style.width]="timeWidth">
      <foodweb-time
        [allowClear]="allowClear"
        [defaultTime]="getDefaultStartTime(formGroup)"
        [editable]="editable"
        [errorStateMatcher]="formGroup.timeRangeErrStateMatcher"
        [minutesGap]="minutesGap"
        [preventOverlayClick]="!allowOverlayClick"
        formControlName="startTime"
        placeholder="Start Time"
      ></foodweb-time>
    </div>
    <div class="time-field" [style.width]="timeWidth">
      <foodweb-time
        [allowClear]="allowClear"
        [defaultTime]="getDefaultEndTime(formGroup)"
        [editable]="editable"
        [errorStateMatcher]="formGroup.timeRangeErrStateMatcher"
        [minutesGap]="minutesGap"
        [preventOverlayClick]="!allowOverlayClick"
        formControlName="endTime"
        placeholder="End Time"
      ></foodweb-time>
    </div>
  </div>
  <mat-error *ngIf="formGroup.hasError('timeRangeOrder')" class="operation-hours-error">
    {{ formGroup.getError('timeRangeOrder') }}
  </mat-error>
  <mat-error *ngIf="formGroup.hasError('groupRequired')" class="operation-hours-error">
    {{ formGroup.getError('groupRequired') }}
  </mat-error>
</div> -->
