<form [formGroup]="accountForm" (submit)="signup()" *ngIf="!sessionService.loggedIn">
  <div class="row">
    <div class="col-xl-12">
      <mat-card>
        <mat-card-title class="block-label">Account Type</mat-card-title>
        <mat-card-content>
          <food-web-account-type [editing]="true" formControlName="accountType"></food-web-account-type>
        </mat-card-content>
      </mat-card>
    </div>
  </div>

  <div class="row">
    <div class="col-xl-6">
      <mat-card>
        <mat-card-title class="block-label">Login Info</mat-card-title>
        <mat-card-content>
          <div class="row">
            <div class="col-sm-12">
              <food-web-username [editing]="true" formControlName="username"></food-web-username>
            </div>
            <div class="col-sm-12">
              <food-web-password [editing]="true" formMode="Signup" [formGroup]="passwordForm"></food-web-password>
            </div>
          </div>
        </mat-card-content>
      </mat-card>

      <mat-card>
        <mat-card-title class="block-label">Organization Info</mat-card-title>
        <mat-card-content>
          <food-web-organization [editing]="true" formGroupName="organization"></food-web-organization>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="col-xl-6">
      <mat-card>
        <mat-card-title class="block-label">Contact Info</mat-card-title>
        <mat-card-content>
          <food-web-contact-info [editing]="true" formGroupName="contactInfo"></food-web-contact-info>
        </mat-card-content>
      </mat-card>

      <mat-card>
        <mat-card-title class="block-label">Hours of Operation</mat-card-title>
        <food-web-operation-hours [editing]="true" formArrayName="operationHours"></food-web-operation-hours>
      </mat-card>
    </div>
  </div>

  <div class="row submit-button-container">
    <div class="col-xl-12 align-right">
      <button mat-raised-button color="primary" type="submit" [disabled]="signupForm.invalid">Submit</button>
    </div>
  </div>
</form>

<mat-card *ngIf="sessionService.loggedIn">
  <mat-card-title>Signup Successful</mat-card-title>
  <mat-card-content>
    <p>Welcome to Food Web!</p>
    <p>Please confirm your signup by clicking on the link sent to your email.</p>
  </mat-card-content>
</mat-card>
