<mat-card *ngIf="featuredEvent" class="event-card">
  <mat-card-header class="event-header">
    <div mat-card-avatar class="event-avatar">
      <mat-icon class="event-icon">event</mat-icon>
      <div *ngIf="featuredEvent.day" class="event-day">{{ featuredEvent.day }}</div>
    </div>
    <mat-card-title class="event-title">
      {{ featuredEvent.title }}
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <p class="event-description" [innerHTML]="featuredEvent.description"></p>
    <p class="event-time">
      <mat-icon>access_time</mat-icon>
      <span>{{ featuredEvent.date }}<br>{{ featuredEvent.time }}</span>
    </p>
    <p class="event-location">
      <mat-icon>location_on</mat-icon>
      <a [href]="directionsHref" target="_blank" [innerHTML]="featuredEvent.location | formatEventLocation"></a>
    </p>
    <div class="event-action-container" *ngIf="featuredEvent.signupTitle && !signupComplete">
      <food-web-progress-indicator [trigger]="eventRegistrationService.loading" [blocking]="true"></food-web-progress-indicator>
      <mat-expansion-panel (afterExpand)="onSignupPanelExpanded()">
        <mat-expansion-panel-header #expansionHeader [ngClass]="{ 'green-glow': signupPanelShouldGlow }">
          {{ featuredEvent.signupTitle }}
        </mat-expansion-panel-header>
        <form [formGroup]="formGroup" *ngIf="formGroup" (ngSubmit)="submitSignup()">
          <div>
            <mat-form-field class="fill">
              <input matInput formControlName="fullName" placeholder="Full Name" type="text">
            </mat-form-field>
          </div>
          <div>
            <mat-form-field class="fill">
              <input matInput formControlName="email" placeholder="Email" type="email">
              <mat-error *ngIf="formGroup.get('email').hasError('email')">Invalid email address</mat-error>
            </mat-form-field>
          </div>
          <div>
            <mat-form-field class="fill">
              <input matInput formControlName="phoneNumber" placeholder="Phone Number" type="text">
              <mat-error *ngIf="formGroup.get('phoneNumber').hasError('pattern')">Invalid phone number</mat-error>
            </mat-form-field>
          </div>
          <button mat-raised-button type="submit" color="primary" class="event-button">
            Submit Signup
          </button>
        </form>
      </mat-expansion-panel>
    </div>
    <p *ngIf="signupComplete" class="signup-complete-message" [innerHTML]="featuredEvent.signupCompleteMsg"></p>
    <p *ngIf="linkToEventsPage" class="events-page-link align-center">
      <a [routerLink]="['/event/list']">See All Future Events</a>
    </p>
  </mat-card-content>
</mat-card>
