<StackLayout class="nt-input" [foodwebAppVisibile]="visible">
  <Label
    #labelRef
    [foodwebAppVisibile]="label"
    [text]="label"
  ></Label>

  <TextView
    #textViewRef
    [autocapitalizationType]="autocapitalizationType"
    [autocorrect]="autocorrect"
    [editable]="editable"
    [formControl]="formControl"
    [hint]="hint"
    [keyboardType]="keyboardType"
    [letterSpacing]="letterSpacing"
    [lineHeight]="lineHeight"
    [maxLength]="maxLength"
    [returnKeyType]="returnKeyType"
    [secure]="secure"
    [text]="text"
    [textAlignment]="textAlignment"
    [textDecoration]="textDecoration"
    [textTransform]="textTransform"
    [whiteSpace]="whiteSpace"
    (blur)="blur.emit($event)"
    (focus)="focusOutput.emit($event)"
    (returnPress)="onReturnPress($event)"
    (tap)="textFieldTap.emit($event)"
    (textChange)="textChange.emit($event)"
  ></TextView>
</StackLayout>
