@import "constants.scss";

.text-view-inner {
  .nt-input {
    .label {
      padding: 7 0;
    }

    TextView {
      background-color: $input-background;
      min-height      : 45;

      &.ng-valid {
        margin-bottom: 0;
      }
    }

    .readonly-value {
      color: black;
    }

    .editable-toggle-container {
      height: 30;
    }

    &.error {
      TextView {
        background-color: $input-error-background;
      }
    }
  }

  .error-container {
    font-size: 10;
    margin   : -5 $input-gutter-width 0;
  }
}
