<StackLayout class="text-view-inner">
  <GridLayout class="nt-input" columns="*,50" rows="*,*" [foodwebAppVisibile]="visible" [ngClass]="gridNgClass">
    <Label #labelRef
      class="label"
      column="0"
      row="0"
      [foodwebAppVisibile]="label"
      [text]="label"
    ></Label>

    <TextView #textViewRef
      colSpan="2"
      column="0"
      row="1"
      [autocapitalizationType]="autocapitalizationType"
      [autocorrect]="autocorrect"
      [editable]="editable"
      [foodwebAppVisibile]="editable"
      [formControl]="formControl"
      [hint]="hint"
      [keyboardType]="keyboardType"
      [letterSpacing]="letterSpacing"
      [lineHeight]="lineHeight"
      [maxLength]="maxLength"
      [returnKeyType]="returnKeyType"
      [secure]="secure"
      [text]="text"
      [textAlignment]="textAlignment"
      [textDecoration]="textDecoration"
      [textTransform]="textTransform"
      [whiteSpace]="whiteSpace"
      (blur)="blur.emit($event)"
      (focus)="focusOutput.emit($event)"
      (returnPress)="onReturnPress($event)"
      (tap)="textFieldTap.emit($event)"
      (textChange)="textChange.emit($event)"
    ></TextView>

    <Label #readonlyRef
      class="readonly-value"
      colSpan="2"
      column="0"
      row="1"
      [foodwebAppVisibile]="!editable"
      [text]="value"></Label>

    <StackLayout *ngIf="editableToggle" class="editable-toggle-container pull-right" column="1" row="0">
      <foodweb-app-edit-save-button
        [control]="formControl"
        [editable]="editable"
        (edit)="setEditable($event)"
        (save)="save.emit($event)"></foodweb-app-edit-save-button>
    </StackLayout>
  </GridLayout>

  <StackLayout *ngIf="errorsVisible" class="error-container text-danger">
    <Label *ngIf="requiredErrorVisible; else otherErrs" [text]="requiredErrorMsg"></Label>
    <ng-template #otherErrs>
      <ng-content select=".text-danger"></ng-content>
    </ng-template>
  </StackLayout>
</StackLayout>
