<mat-card *ngIf="donation">
  <mat-card-title>Pickup Info</mat-card-title>
  <mat-card-content>
    <div class="row">
      <div *ngIf="donation.donorAccount.organization.deliveryInstructions" class="col-lg-12 col-md-6 col-sm-12">
        <div class="inline-label">Instructions:</div>
        <div class="d-inline-block">{{ donation.donorAccount.organization.deliveryInstructions }}</div>
      </div>
      <div class="col-12">
        <div class="inline-label">Pickup Window:</div>
        <foodweb-date-time-range class="d-inline-block" [value]="donation | pickupWindow" [boldTime]="true"></foodweb-date-time-range>
      </div>
      <div *ngIf="donation.claim?.delivery?.pickupTime" class="col-sm-6 col-12">
        <div class="inline-label">Picked Up:</div>
        <foodweb-date-time class="d-inline-block" [value]="donation.claim.delivery.pickupTime" [boldTime]="true"></foodweb-date-time>
      </div>
    </div>
  </mat-card-content>
</mat-card>
