<div *ngIf="originalDonation" class="donation-details-container">
  <form [formGroup]="donationForm" class="donation-details-form">
    <mat-card>
      <mat-card-header>
        <img mat-card-avatar src="/assets/IconImg.png" alt="FoodWeb Icon">
        <mat-card-title>
          <ng-container *ngIf="!editing">Donation Details</ng-container>
          <ng-container *ngIf="editing">Donation Update</ng-container>
        </mat-card-title>
        <mat-card-subtitle>
          <strong class="donation-details-subtitle">{{ originalDonation?.donorAccount.organization.organizationName }}</strong>
          <food-web-donation-status [donationStatus]="originalDonation?.donationStatus" class="donation-status"></food-web-donation-status>
        </mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <div class="donation-primary-label"></div>
        <food-web-donation-form *ngIf="editing" [formGroup]="donationForm" class="donation-form"></food-web-donation-form>
        <div *ngIf="!editing" class="readonly-donation row">
          <div class="col-sm-12 donation-description-container">
            <hr>
            <span>{{ originalDonation.description }}</span>
            <hr>
          </div>
          <div class="col-md-4 col-sm-6">
            <div class="inline-label">Submitter Name:</div>
            <div>{{ originalDonation.donorFirstName }} {{ originalDonation.donorLastName }}</div>
          </div>
          <!-- <div class="col-md-4 col-sm-6">
            <div class="inline-label">Donation Type:</div>
            <div>{{ originalDonation.donationType }}</div>
          </div> -->
          <div class="col-md-4 col-sm-6">
            <div class="inline-label">Estimated Meal Count:</div>
            <div>{{ originalDonation.estimatedNumFeed }}</div>
          </div>
          <div *ngIf="myDonation" class="col-md-4 col-sm-6">
            <div class="inline-label">Estimated Value:</div>
            <div>${{ originalDonation.estimatedValue | number:'1.2-2' }}</div>
          </div>
          <div class="col-md-4 col-sm-6">
            <div class="inline-label">Donated:</div>
            <div>
              <food-web-date-time [dateTime]="originalDonation.createTimestamp"></food-web-date-time>
            </div>
          </div>
          <div *ngIf="myDonation" class="col-md-4 col-sm-6">
            <div class="inline-label">Last Updated:</div>
            <div>
              <food-web-date-time [dateTime]="originalDonation.updateTimestamp"></food-web-date-time>
            </div>
          </div>
        </div>
      </mat-card-content>
      <mat-card-actions *ngIf="!editing" [hidden]="!actions.hasActionButtons" class="align-right">
        <food-web-donation-detail-actions #actions
          [donation]="originalDonation"
          [myAccount]="sessionService.account"
          [editing]="editing"
          [valid]="donationForm.valid"
          (action)="onDonationAction($event)"
        ></food-web-donation-detail-actions>
      </mat-card-actions>
    </mat-card>

    <mat-card *ngIf="editing">
      <mat-card-title>Pickup Window</mat-card-title>
      <mat-card-content>
        <food-web-date-time-range formControlName="pickupWindow" [initEndDateToday]="true" [required]="true"></food-web-date-time-range>
      </mat-card-content>
    </mat-card>

    <div *ngIf="editing" class="action-footer align-right">
      <food-web-donation-detail-actions
        [donation]="originalDonation"
        [myAccount]="sessionService.account"
        [editing]="editing"
        (action)="onDonationAction($event)"
      ></food-web-donation-detail-actions>
    </div>
  </form>
  
  <ng-container *ngIf="!editing">
    <div class="row">
      <div class="pickup-information-container" [ngClass]="{
        'col-lg-6': !!originalDonation.receiverAccount,
        'col-lg-12': !originalDonation.receiverAccount
      }">
        <mat-card>
          <mat-card-title>Pickup Info</mat-card-title>
          <mat-card-content>
            <div class="row">
              <div *ngIf="originalDonation.donorAccount.organization.deliveryInstructions" class="col-sm-12">
                <div class="inline-label">Instructions:</div>
                <div class="d-inline-block">{{ originalDonation.donorAccount.organization.deliveryInstructions }}</div>
              </div>
              <div class="col-sm-6">
                <div class="inline-label">Pickup Window Start:</div>
                <food-web-date-time [dateTime]="deliveryHelper.getPickupWindow(originalDonation).startDateTime" [boldTime]="true">
                </food-web-date-time>
              </div>
              <div class="col-sm-6">
                <div class="inline-label">Pickup Window End:</div>
                <food-web-date-time [dateTime]="deliveryHelper.getPickupWindow(originalDonation).endDateTime" [boldTime]="true">
                  </food-web-date-time>
              </div>
            </div>
          </mat-card-content>
        </mat-card>
      </div>
      <div *ngIf="originalDonation.receiverAccount" class="col-lg-6">
        <mat-card class="drop-off-information-container">
          <mat-card-title>Drop-Off Info</mat-card-title>
          <mat-card-content>
            <div class="row">
              <div *ngIf="originalDonation.receiverAccount.organization.deliveryInstructions" class="col-sm-12">
                <div class="inline-label">Instructions:</div>
                <div class="d-inline-block">{{ originalDonation.receiverAccount.organization.deliveryInstructions }}</div>
              </div>
              <!-- <div class="col-sm-6">
                <div class="inline-label">Window Start:</div>
                <div class="d-inline-block">{{ originalDonation.dropOffWindowStart | date:'short' }}</div>
              </div>
              <div class="col-sm-6">
                <div class="inline-label">Window End:</div>
                <div class="d-inline-block">{{ originalDonation.dropOffWindowEnd | date:'short' }}</div>
              </div> -->
            </div>
          </mat-card-content>
        </mat-card>
      </div>
      <div class="donor-info-container" [ngClass]="{
        'col-lg-6': !!originalDonation.receiverAccount,
        'col-lg-12': !originalDonation.receiverAccount
      }">
        <mat-card>
          <mat-card-header>
            <img mat-card-avatar src="/assets/{{ accountHelper.organizationFirstChar(originalDonation.donorAccount.organization) }}.svg" alt="Donor Icon">
            <mat-card-title>Donor</mat-card-title>
            <mat-card-subtitle class="account-name">{{ donationHelper.donorName(originalDonation) }}</mat-card-subtitle>
          </mat-card-header>
          <mat-card-content>
            <food-web-contact-info [contactInfo]="originalDonation.donorAccount.contactInfo"></food-web-contact-info>
          </mat-card-content>
          <mat-card-actions class="align-right">
            <div class="align-right">
              <a [routerLink]="donationHelper.donorDetailsRouterLink(originalDonation)">
                <button mat-raised-button type="button" color="primary">View Account</button>
              </a>
            </div>
          </mat-card-actions>
        </mat-card>
      </div>
      <div *ngIf="originalDonation.receiverAccount" class="receiver-info-container col-lg-6">
        <mat-card>
          <mat-card-header>
            <img mat-card-avatar src="/assets/{{ accountHelper.organizationFirstChar(originalDonation.receiverAccount.organization) }}.svg" alt="Receiver Icon">
            <mat-card-title>Receiver</mat-card-title>
            <mat-card-subtitle class="account-name">{{ donationHelper.receiverName(originalDonation) }}</mat-card-subtitle>
          </mat-card-header>
          <mat-card-content>
            <food-web-contact-info [contactInfo]="originalDonation.receiverAccount.contactInfo"></food-web-contact-info>
          </mat-card-content>
          <mat-card-actions>
            <div class="align-right">
              <a [routerLink]="donationHelper.receiverDetailsRouterLink(originalDonation)">
                <button mat-raised-button type="button" color="primary">View Account</button>
              </a>
            </div>
          </mat-card-actions>
        </mat-card>
      </div>

      <div *ngIf="originalDonation.delivery" class="deliverer-info-container col-lg-6">
        <mat-card>
          <mat-card-header>
            <img mat-card-avatar src="/assets/{{ accountHelper.organizationFirstChar(originalDonation.receiverAccount.organization) }}.svg" alt="Receiver Icon">
            <mat-card-title>Deliverer</mat-card-title>
            <mat-card-subtitle class="account-name">{{ donationHelper.delivererName(originalDonation) }}</mat-card-subtitle>
          </mat-card-header>
          <mat-card-content>
            <food-web-contact-info [contactInfo]="originalDonation.receiverAccount.contactInfo" [hideAddress]="true"></food-web-contact-info>
          </mat-card-content>
          <mat-card-actions>
            <div class="align-right">
              <a [routerLink]="donationHelper.delivererDetailsRouterLink(originalDonation)">
                <button mat-raised-button type="button" color="primary">View Account</button>
              </a>
            </div>
          </mat-card-actions>
        </mat-card>
      </div>
    </div>
  </ng-container>
</div>

<div *ngIf="donationNotFound" class="page-title block-header">
  <strong>Donation not found</strong>
</div>
