<GridLayout class="alert-dialog">
  <StackLayout class="alert-dialog-content">
    <StackLayout class="alert-dialog-header">
      <Label *ngIf="alert.title" class="title" [text]="alert.title"></Label>
    </StackLayout>

    <Label class="alert-dialog-body" [text]="alert.message"></Label>

    <StackLayout *ngIf="alert.actions" class="alert-dialog-actions" orientation="horizontal">
      <Button *ngFor="let action of alert.actions" class="action" [text]="action.text" (tap)="close(action.value)"></Button>
    </StackLayout>
  </StackLayout>

  <AbsoluteLayout>
    <Button class="close-button" (tap)="close()">
      <FormattedString>
        <Span text="&#xf00d;" class="nt-icon fas"></Span>
      </FormattedString>
    </Button>
  </AbsoluteLayout>
</GridLayout>
