<div class="container">
    <h1>Donor Form</h1>
    <hr>

    <div *ngIf="!submitted" class="row">
        <div class="col-md-5">
            <label>Upload Image</label>
            <img-cropper [image]="this" [settings]="cropperSettings"></img-cropper>
        </div>

        <div class="col-md-7">
            <form [formGroup]="foodForm" (ngSubmit)="onSubmit(foodForm)">

                <div class="form-group">
                    <label>Food Types</label>
                    <app-food-types [initiallyChecked]="false" [numColumns]="2" [required]="true" [extraValidation]="forceValidation" #FoodTypesComponent></app-food-types>
                    <!--<div class="alert alert-danger" [hidden]="!shouldFireRequireValidation(foodForm.controls.foodType)">At least one Food Type is required</div>-->
                </div>

                <div class="form-group">
                    <label>Perishable</label><br>
                    <md-radio-group [ngClass]="{'warn-foreground': !isValid(perishable)}" formControlName="perishable" required>
                        <label for="perishable-yes-check" id="perishable-yes" class="perishable-label no-select">
                            <md-radio-button name="perishable" id="perishable-yes-check" [value]="true">Yes</md-radio-button>
                        </label>
                        <label for="perishable-no-check" class="perishable-label no-select">
                            <md-radio-button name="perishable" id="perishable-no-check" [value]="false">No</md-radio-button>
                        </label>
                        <!--<div class="warn-foreground inline-error" [hidden]="isValid(perishable)">*</div>-->
                    </md-radio-group>
                </div>

                <div class="form-group">
                    <label for="foodDescription">Description</label>
                    <div>
                        <md-input-container class="input-group" floatPlaceholder="never">
                            <textarea mdInput mdTextareaAutosize id="foodDescription" placeholder="Describe donation here"
                             formControlName="foodDescription" required></textarea>
                        </md-input-container>
                    </div>
                </div>

                <div class="form-group">
                    <label for="expirationDate">Expiration Date</label>
                    <div>
                        <md-input-container class="input-group" floatPlaceholder="never">
                            <input mdInput id="expirationDate" [mdDatepicker]="picker" placeholder="mm/dd/yyyy" formControlName="expirationDate" required>
                            <md-datepicker-toggle mdSuffix [for]="picker"></md-datepicker-toggle>
                            <md-datepicker touchUi="true" #picker opened="true"></md-datepicker>
                        </md-input-container>
                    </div>
                </div>

                <button md-raised-button color="primary">Submit</button>

            </form>
        </div>
    </div>


    <div *ngIf="submitted">
        <h2>Thank-you for submitting the following:</h2>

        <div class="row">
            <div class="col-md-2">Food Type</div>
            <div class="col-md-10 pull-left">{{ foodTypesComponent.getSelectedFoodTypes() }}</div>
        </div>

        <div class="row">
            <div class="col-md-2">Description</div>
            <div class="col-md-10 pull-left">{{ foodForm.controls.foodDescription.value }}</div>
        </div>

        <div class="row">
            <div class="col-md-2">Perishabe</div>
            <div class="col-md-10 pull-left">{{ (foodForm.controls.perishable.value === true) ? 'true' : 'false' }}</div>
        </div>

        <div class="row">
            <div class="col-md-2">Expiration Date</div>
            <div class="col-md-10 pull-left">{{ foodForm.controls.expirationDate.value | dateFormatter }}</div>
        </div>
        <br>

        <button md-raised-button color="primary" (click)="submitted=false">Donate Again</button>
    </div>
</div>