h4 {
    font-weight: bold;
}

img {
    max-width: 100%;
}

#perishable-yes {
    margin-right: 20px;
}

.extra-bottom-margin {
    margin-bottom: 30px;
}

.food-types-container {
    max-width: 400px;
}

md-form-field, md-input-container {
    width: 100%;
}

::ng-deep .mat-horizontal-content-container {
    padding-left: 0px !important;
    padding-right: 0px !important;
}

.inline-error, md-form-field, md-input-container {
    font-size: 20px;
}

:host ::ng-deep .mat-form-field-infix {
    border: none;
    cursor: text;
}

.inline-error {
    line-height: 20px;
    vertical-align: top;
}

button.mat-raised-button.mat-primary.file-upload-button {
    border-radius: 0%;
}

.crop-sample-container {
    text-align: center;
}

.crop-container, .crop-sample-container {
    display: inline-block;
    vertical-align: top;
}

.units-input {
    display: inline-block;
}

#donation-summary, #thankyou-text {
    font-size: 18px;
}

::ng-deep .mat-horizontal-stepper-header-container {
    height: 0px;
    visibility: hidden;
}

/* Custom mobile formatting */
@media screen and (max-width: 1024px) {

    .mobile-center {
        text-align: center;
    }

}
