<div class="container">
    <h1>Donor Form</h1>
    <hr>

    <div [hidden]="submitted" class="row">

        <div class="col-md-5" [style.min-width]="(cropperSettings.canvasWidth + 30) + 'px'">
            <button md-raised-button color="primary" class="button-md file-upload-button" [style.width]="cropperSettings.canvasWidth + 'px'"
             (click)="hiddenFileInput.click()">Upload Image</button>
            <!-- This is an invisible file input triggerd by above button -->
            <div class="file-upload" style="display:none;">
                <input #hiddenFileInput id="custom-input" type="file" (change)="fileChangeListener($event)">
            </div>
            <img-cropper #cropper [image]="this" [settings]="cropperSettings"></img-cropper>

            <!-- Sample of actual result cropped image -->
            <div *ngIf="this.image != null" class="crop-sample-container" [style.width]="cropperSettings.canvasWidth + 'px'">
                <label>Crop Result</label>
                <img [src]="this.image" [width]="cropperSettings.croppedWidth" [height]="cropperSettings.croppedHeight">
            </div>
        </div>

        <div class="col-md-7">
            <form [formGroup]="foodForm" (ngSubmit)="onSubmit(foodForm, $event)">

                <div class="form-group">
                    <label for="foodTitle">Title</label>
                    <md-input-container class="input-group" floatPlaceholder="never">
                        <textarea #foodTitle mdInput mdTextareaAutosize id="foodTitle" placeholder="Short Description"
                                    formControlName="foodTitle" [errorStateMatcher]="isInvalid.bind(this)" required [maxlength]="foodTitleMaxLength"></textarea>
                        <md-hint align="end">{{foodTitle.value.length}} / {{foodTitleMaxLength}}</md-hint>
                    </md-input-container>
                </div>

                <div class="form-group">
                    <label for="availableUntilDate">Available Until</label>
                    <md-input-container class="input-group" floatPlaceholder="never">
                        <input #availableUntilDate mdInput id="availableUntilDate" [mdDatepicker]="picker" placeholder="mm/dd/yyyy"
                            formControlName="availableUntilDate" [errorStateMatcher]="isInvalid.bind(this)" required>
                        <md-datepicker-toggle mdSuffix [for]="picker"></md-datepicker-toggle>
                        <md-datepicker touchUi="true" #picker opened="true"></md-datepicker>
                    </md-input-container>
                </div>

                <div class="form-group">
                    <label>Food Types</label>
                    <app-food-types [initiallyChecked]="false" [numColumns]="2" [required]="true" [extraValidation]="forceValidation" #FoodTypesComponent></app-food-types>
                    <!--<div class="alert alert-danger" [hidden]="!shouldFireRequireValidation(foodType)">At least one Food Type is required</div>-->
                </div>

                <div class="form-group">
                    <label>Perishable</label><br>
                    <md-radio-group #perishable [ngClass]="{'warn-foreground': isInvalid(perishable)}" formControlName="perishable" required>
                        <label for="perishable-yes-check" id="perishable-yes" class="perishable-label no-select">
                            <md-radio-button name="perishable" id="perishable-yes-check" [value]="true">Yes</md-radio-button>
                        </label>
                        <label for="perishable-no-check" class="perishable-label no-select">
                            <md-radio-button name="perishable" id="perishable-no-check" [value]="false">No</md-radio-button>
                        </label>
                        <!--<div class="warn-foreground inline-error" [hidden]="!isInvalid(perishable)">*</div>-->
                    </md-radio-group>
                </div>

                <div class="form-group">
                    <label for="foodDescription">Description</label>
                    <md-input-container class="input-group" floatPlaceholder="never">
                        <textarea #foodDescription mdInput mdTextareaAutosize id="foodDescription" placeholder="Long Description"
                                  formControlName="foodDescription" [errorStateMatcher]="isInvalid.bind(this)"></textarea>
                    </md-input-container>
                </div>

                <button md-raised-button type="submit" color="primary" class="button-md">Submit</button>

            </form>
        </div>
    </div>


    <div *ngIf="submitted">
        <h2>Thank-you for submitting the following:</h2>

        <div class="row">
            <div class="col-md-2">Title</div>
            <div class="col-md-10 pull-left">{{ foodTitle.value }}</div>
        </div>

        <div class="row">
            <div class="col-md-2">Food Type(s)</div>
            <div class="col-md-10 pull-left">{{ foodTypesComponent.getSelectedFoodTypes() }}</div>
        </div>

        <div class="row">
            <div class="col-md-2">Description</div>
            <div class="col-md-10 pull-left">{{ foodDescription.value }}</div>
        </div>

        <div class="row">
            <div class="col-md-2">Perishabe</div>
            <div class="col-md-10 pull-left">{{ (perishable.value === true) ? 'Yes' : 'No' }}</div>
        </div>

        <div class="row">
            <div class="col-md-2">Available Until</div>
            <div class="col-md-10 pull-left">{{ availableUntilDate.value | dateFormatter }}</div>
        </div>
        <br>

        <button md-raised-button color="primary" class="button-md" (click)="donateAgain()">Donate Again</button>
        <button md-raised-button color="primary" class="button-md" >Edit Donation</button>
    </div>
</div>