<div class="volunteer-container">
  <div *ngIf="editing" class="row volunteer-form" [formGroup]="formGroup">
    <div class="col-sm-6">
      <mat-form-field class="fill">
        <input matInput placeholder="First Name" formControlName="firstName" type="text" autocomplete="off">
      </mat-form-field>
    </div>
    <div class="col-sm-6">
      <mat-form-field class="fill">
        <input matInput placeholder="Last Name" formControlName="lastName" type="text" autocomplete="off">
      </mat-form-field>
    </div>
  </div>

  <div *ngIf="!editing" class="volunteer-display row">
    <div class="col-sm-12">
      <div class="inline-label">Name:</div>
      <div class="d-inline-block">{{ formGroup.get('firstName').value }} {{ formGroup.get('lastName').value }}</div>
    </div>
  </div>
</div>
