<h3>Deliveries</h3>
<hr>


<!-- This is the Food Listings (generated via loop) -->
<ng-container *ngFor="let delivery of deliveries; let i = index">

    <div class="deliver-container">

        <div class="deliver-img-container">
            <img *ngIf="deliveryFoodListing.imgUrl != null" [src]="deliveryFoodListing.imgUrl"/>
        </div>

        <div [ngClass]="{ 'deliver-contents': (foodListing.imgUrl != null) }">
            <h4 class="link-content deliver-title space-bottom">
                <a (click)="showDetails(i)" title="Click for Details">{{ foodListing.foodTitle }}</a>
            </h4>

            <div class="row small-description">

                <div class="col-lg-6 col-md-12" style="max-width:300px">
                
                    <div class="space-bottom">
                        <b>Donor</b><br>
                        <span class="inline-block">{{ deliveryFoodListing.donorOrganizationName }}</span><br>
                        <span>{{ deliveryFoodListing.donorOrganizationAddress }}</span><br>
                        <span>
                            {{ deliveryFoodListing.donorOrganizationCity }}, {{ deliveryFoodListing.donorOrganizationState }}
                        </span>
                    </div>

                    <div class="space-bottom">
                        <b>Total Driving Distance:</b>
                        <div class="inline-block">
                            {{ deliveryFoodListing.donorDrivingDistance + deliveryFoodListing.donorToReceiverDrivingDistance }}
                        </div>
                    </div>

                </div>

                <div class="col-lg-6 col-md-12">

                    <div class="space-bottom">
                        <b>Receiver</b><br>
                        <span class="inline-block">{{ deliveryFoodListing.receiverOrganizationName }}</span><br>
                        <span>{{ deliveryFoodListing.receiverOrganizationAddress }}</span><br>
                        <span>
                            {{ deliveryFoodListing.receiverOrganizationCity }}, {{ deliveryFoodListing.receiverOrganizationState }}
                        </span>
                    </div>

                </div>

            </div>            
        </div>

    </div>
    <hr>
    
</ng-container>


<!-- This is our modal popup. It is separated into its own (child) component.
     Simply pass down transcluded HTML into this child component here! -->
<!--<deliver-dialog #DeliverDialogComponent>

    <ng-container confirm-modal-body>
        <ng-content select="[confirm-modal-body]"></ng-content>
    </ng-container>

    <ng-container details-modal-footer>
        <ng-content select="[details-modal-footer]"></ng-content>
    </ng-container>
    
    <ng-container confirm-modal-footer>
        <ng-content select="[confirm-modal-footer]"></ng-content>
    </ng-container>

</deliver-dialog>-->
