<header>
    <img id="logo" class="navbar-brand" src="./assets/HeaderImg.jpg" [routerLink]="['/home']">

    <nav class="navbar navbar-toggleable-sm navbar-inverse bg-inverse no-select">
        <button type="button" class="navbar-toggler navbar-toggler-right" (click)="isExpanded = !isExpanded" [attr.aria-expanded]="!isExpanded" aria-controls="navbarContent">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" [ngbCollapse]="!isExpanded">
            <ul class="navbar-nav mr-auto">
                <a class='nav-link' [routerLink]="['/home']"><li class="nav-item">Home</li></a>
                <a class='nav-link' [routerLink]="['/donor']"><li class="nav-item">Donor</li></a>
                <a class='nav-link' [routerLink]="['/receiver']"><li class="nav-item">Receiver</li></a>
            </ul>

            <ul class="navbar-nav navbar-right">
                <a *ngIf="sessionStorage.getItem('name') === null" class='nav-link' (click)="showLogin()"><li class="nav-item">Login</li></a>
                <a *ngIf="sessionStorage.getItem('name') === null" class='nav-link' [routerLink]="['/signup']"><li class="nav-item">Signup</li></a>
                <a *ngIf="sessionStorage.getItem('name') !== null" class='nav-link'><li class="nav-item">{{sessionStorage.getItem('name')}}</li></a>
                <a *ngIf="sessionStorage.getItem('name') !== null" class='nav-link' (click)="logout()"><li class="nav-item">Logout</li></a>
            </ul>
        </div>
    </nav>
</header>
<div id="vertSpacer"></div>