<nav class="navbar navbar-toggleable-sm navbar-inverse bg-inverse">
    <button type="button" class="navbar-toggler navbar-toggler-right" (click)="isExpanded = !isExpanded" [attr.aria-expanded]="!isExpanded" aria-controls="navbarContent">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar-brand" [routerLink]="['/home']">Connect Food</div>

    <div class="collapse navbar-collapse" id="navbarContent" [ngbCollapse]="!isExpanded">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item"><a class='nav-link' [routerLink]="['/home']">Home</a></li>
            <li class="nav-item"><a class='nav-link' [routerLink]="['/donor']">Donor</a></li>
            <li class="nav-item"><a class='nav-link' [routerLink]="['/receiver']">Receiver</a></li>
        </ul>
        <ul class="navbar-nav navbar-right">
            <li *ngIf="localStorage.getItem('username') === null" class="nav-item"><a id='loginButton' class='nav-link' (click)="showConfirm()">Login</a></li>
            <li *ngIf="localStorage.getItem('username') !== null" class="nav-item"><a class='nav-link'>{{localStorage.getItem('username')}}</a></li>
        </ul>
    </div>
</nav>