<foodweb-hybrid-header defaultBackHref="..">
  <ion-title>Operation Hours</ion-title>
  <ion-buttons slot="end">
    <ion-button fill="clear" [disabled]="accountForm.pristine" (click)="save()">Save</ion-button>
  </ion-buttons>
</foodweb-hybrid-header>

<ion-content>
  <form [formGroup]="accountForm">
    <ion-card class="form-card">
      <ion-card-content>
        <foodweb-hybrid-operation-hours
          formGroupName="operationHours"
          [editable]="true">
        </foodweb-hybrid-operation-hours>
      </ion-card-content>
    </ion-card>
  </form>
</ion-content>
