<div [formGroup]="operationHoursForm" class="operation-hours-form">
  <div class="weekday-field">
    <ion-item>
      <ion-label position="floating" color="secondary">Operating Weekday</ion-label>
      <ion-select formControlName="weekday">
        <ion-select-option *ngFor="let weekday of constantsService.WEEKDAYS; let i = index" [value]="weekday">{{ weekday }}</ion-select-option>
        <ion-select-option [value]="undefined">--</ion-select-option>
      </ion-select>
    </ion-item>
  </div>
  <div class="time-fields-container">
    <div class="time-field">
      <foodweb-hybrid-time
        [allowClear]="allowClear"
        [editable]="editable"
        [errorStateMatcher]="operationHoursForm.timeRangeErrStateMatcher"
        [minutesGap]="minutesGap"
        formControlName="startTime"
        label="Start Time">
      </foodweb-hybrid-time>
    </div>
    <div class="time-field">
      <foodweb-hybrid-time
        [allowClear]="allowClear"
        [editable]="editable"
        [errorStateMatcher]="operationHoursForm.timeRangeErrStateMatcher"
        [minutesGap]="minutesGap"
        formControlName="endTime"
        label="End Time">
      </foodweb-hybrid-time>
    </div>
  </div>
  <div *ngIf="operationHoursForm.hasError('timeRangeOrder')" class="operation-hours-error ion-form-error">
    {{ operationHoursForm.getError('timeRangeOrder') }}
  </div>
  <div *ngIf="operationHoursForm.hasError('groupRequired')" class="operation-hours-error ion-form-error">
    {{ operationHoursForm.getError('groupRequired') }}
  </div>
</div>
