<app-slick-left-panel [buttonTitle]="header" [ignoreClicksOutsidePanel]="picker.opened" [ignoreOutsideClickInId]="picker.id">
    
    <h2>{{header}}</h2>
    <hr>
    <div [formGroup]="filtersForm">

        <!-- Any additional filters will be transclused here -->
        <ng-content select="[top]"></ng-content>

        <h4>Food Types:</h4>
        <app-food-types #FoodTypesComponent></app-food-types>
        <br>

        <h4>Expiration Date:</h4>
        <md-input-container floatPlaceholder="never" (click)="picker.open()">
            <input mdInput [mdDatepicker]="picker" placeholder="mm/dd/yyyy" formControlName="earliestExpireDate" readonly="true">
            <md-datepicker-toggle mdSuffix [for]="picker"></md-datepicker-toggle>
            <md-datepicker touchUi="true" #picker></md-datepicker>
        </md-input-container>
        <br>

        <h4>Perishability:</h4>
        <div>
            <label class="checkbox-compress">
                <md-checkbox formControlName="perishable">Perishable</md-checkbox>
            </label>
            <br>
            <label class="checkbox-compress">
                <md-checkbox formControlName="notPerishable">Not Perishable</md-checkbox>
            </label>
        </div>

        <!-- Any additional filters will be transclused here -->
        <ng-content select="[botton]"></ng-content>

    </div>
    <hr>

</app-slick-left-panel>
