<app-slick-left-panel>
    <h2>{{title}}</h2>
    <hr>
    <div [formGroup]="filtersForm">

        <h4>Acceptable Food Types:</h4>
        <app-food-types #FoodTypesComponent></app-food-types>
        <br>

        <h4>Minimum Expiration:</h4>
        <ngb-datepicker #dp formControlName="minExpireAfterDays" (navigate)="date = $event.next"></ngb-datepicker>
        <br><br>

        <!--<h4>Maximum Distance:</h4>
        <div ngbRadioGroup name="radioBasic" formControlName="maxDistance">
            <label class="btn btn-primary">
                <input type="radio" [value]="0">{{distVals[0]}}
            </label>
            <label class="btn btn-primary">
                <input type="radio" [value]="1">{{distVals[1]}}
            </label>
            <label class="btn btn-primary">
                <input type="radio" [value]="2">{{distVals[2]}}
            </label>
        </div>

        <h4>Must Fit in a:</h4>
        <div ngbRadioGroup name="radioBasic" formControlName="maxQuantity">
            <label class="btn btn-primary">
                <input type="radio" [value]="0">{{quantityVals[0]}}
            </label>
            <label class="btn btn-primary">
                <input type="radio" [value]="1">{{quantityVals[1]}}
            </label>
            <label class="btn btn-primary">
                <input type="radio" [value]="2">{{quantityVals[2]}}
            </label>
        </div>-->

        <h4>Acceptable Perishability:</h4>
        <div>
            <label class="checkbox-compress">
                <input type="checkbox" formControlName="perishable"> Perishable
            </label>
            <br>
            <label class="checkbox-compress">
                <input type="checkbox" formControlName="notPerishable"> Not Perishable
            </label>
        </div>

        <!-- Any additional filters will be transclused here -->
        <ng-content></ng-content>

    </div>
    <hr>
</app-slick-left-panel>
