<app-slick-left-panel [buttonTitle]="header" [ignoreClicksOutsidePanel]="picker.opened" [ignoreOutsideClickInId]="picker.id" [maxWidth]="maxWidth">
    
    <h3>{{header}}</h3>
    <hr>
    <div [formGroup]="filtersForm">

        <!-- Any additional filters will be transclused here -->
        <ng-content select="[top]"></ng-content>

        <h5>Food Types:</h5>
        <app-food-types formControlName="foodTypes" title="Only food falling into the checked categories will appear."></app-food-types>
        <br>

        <h5>Available After:</h5>
        <md-input-container title="Only food available on or after this date will appear." floatPlaceholder="never" (click)="picker.open()">
            <input mdInput [mdDatepicker]="picker" placeholder="mm/dd/yyyy" formControlName="availableAfterDate" readonly="true">
            <md-datepicker-toggle mdSuffix [for]="picker"></md-datepicker-toggle>
            <md-datepicker touchUi="true" #picker></md-datepicker>
        </md-input-container>
        <br>

        <h5>Perishability:</h5>
        <div>
            <label class="checkbox-compress">
                <md-checkbox title="Check this if food that needs refrigeration should appear." formControlName="perishable">Perishable</md-checkbox>
            </label>
            <br>
            <label class="checkbox-compress">
                <md-checkbox title="Check this if food that does not need refrigeration should appear." formControlName="notPerishable">Not Perishable</md-checkbox>
            </label>
        </div>

        <!-- Any additional filters will be transclused here -->
        <ng-content select="[bottom]"></ng-content>

    </div>

</app-slick-left-panel>
