<div class="signup-verification page">
  <mat-card>
    <mat-card-title>Signup Verification {{ verifySuccess ? 'Successful' : errMessage ? 'Failed' : '' }}</mat-card-title>
    <mat-card-content>
      <foodweb-progress-indicator [trigger]="signupVerificationService.loading" [blocking]="true"></foodweb-progress-indicator>
      <div *ngIf="verifySuccess">
        <p>Signup verification was successful! You can now take full advantage of the Food Web platform.</p>
        <p>Click <a [routerLink]="['/home']">here</a> to return to the home page.</p>
      </div>
      <div *ngIf="!verifySuccess && errMessage">
        <p>{{ errMessage }}</p>
        <p>Feel free to contact us at <a href="mailto:{{ supportEmail }}">{{ supportEmail }}</a> for assistance.</p>
      </div>
    </mat-card-content>
  </mat-card>
</div>
