<div class="create-event page">
  <div class="row">
    <div class="col-md-6" [hidden]="eventCreateComplete">
      <foodweb-admin-featured-event-form #formComponent
        formTitle="Create Event"
        [featuredEvent]="savedFeaturedEvent"
        [excludeDelete]="true"
        (save)="createEvent($event)"
      ></foodweb-admin-featured-event-form>
    </div>
    <div class="event-demo col-md-6">
      <foodweb-admin-event-card
        [featuredEvent]="formComponent.featuredEventForm.value"
        [hideActions]="!eventCreateComplete"
        [hideDelete]="true"
      ></foodweb-admin-event-card>
    </div>
  </div>
</div>
