:host {
	flex-grow: 1;
    display: flex;
    text-align: center;
	justify-content: center;
	align-items: center;
}

#login-form {
    max-width: 400px;
}

md-form-field {
    font-size: 25px;
    width: 100%;
}

#login-button-div {
    text-align: right;
}

.modal-footer {
    max-height: 40px;
}

.link-content {
    margin-top: 5px;
    margin-bottom: 5px;
    text-align: right;
    float: right;
}

#login-button {
    min-width: 125px;
}

#login-err {
    padding-top: 10px;
    text-align: center;
    width: 100%;
}

#recovery-response-message {
    text-align: left;
}
