	
	<div class="modal-dialog">
		<div class="modal-content">
				
			<div class="modal-header">
					<div *ngIf="loginModel.forgotPassword">
						<h1 class="modal-title">{{loginModel.header}}</h1>
					</div>
					<div *ngIf="!loginModel.forgotPassword">
						<h1 class="modal-title">{{loginModel.header}}</h1>
					</div>
				<button type="button" class="close" (click)="close()" >&times;</button>
			</div>
				<div class="modal-body">
					<form ngNativeValidate (submit)="loginUser($event)">
						<div class="input">
							<label>Email</label>
							<input name="Username" [(ngModel)]="loginModel.username" type="text" required autofocus>
						</div>
						<div class="input" *ngIf="!loginModel.forgotPassword">
							<label>Password</label>
							<input name="Password" [(ngModel)]="loginModel.password" type="password" required>
						</div>
						<div class="input" *ngIf="!loginModel.forgotPassword">
							<input type="submit" value="{{loginModel.submitButtonText}}">
						</div>
						<div class="input" *ngIf="loginModel.forgotPassword">
							<input type="submit" value="{{loginModel.submitButtonText}}">
						</div>
						<div style="text-align:center" *ngIf="!loginModel.forgotPassword">
							<a (click)="loginModel.recoverPasswordForm()">Forgot your password? Click here.</a>
						</div>
					</form>
					</div>
				</div>

		<div class="modal-footer">
			<p *ngIf="loginModel.loginError" id="loginErr">Incorrect login information. Please Try Again.</p>
		</div>
