:host {
	flex-grow: 1;
    display: flex;
    text-align: center;
	justify-content: center;
	align-items: center;
}

#login-form {
    max-width: 400px;
}

md-form-field {
    font-size: 25px;
    width: 100%;
}

.modal-header {
    background-color: #222222;
    color: white;
}

#login-button-div {
    text-align: right;
}

.close {
    position: absolute;
    top: 0px;
    right: 0px;
    color: white;
	display: block;
    border-radius: 50%;
    font-size: 40px;
    margin: 0px;
    padding: 0px;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    outline: none;
    -webkit-transition: -webkit-transform .8s ease-in-out;
    transition: transform .8s ease-in-out;
}

.close:hover {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
}

.modal-footer {
    max-height: 40px;
}

.link-content {
    margin-top: 5px;
    margin-bottom: 5px;
    text-align: right;
    float: right;
}

#login-button {
    min-width: 125px;
}

#login-err {
    padding-top: 10px;
    text-align: center;
    width: 100%;
}

#recovery-response-message {
    text-align: left;
}
