:host {
	flex-grow: 1;
    display: flex;
    text-align: center;
	justify-content: center;
	align-items: center;
}

md-form-field {
    font-size: 25px;
    width: 100%;
}

.modal-header {
    background-color: #222222;
    color: white;
}

#login-div {
    text-align: right;
}

.close {
    color: white;
	display: block;
    border-radius: 50%;
    font-size: 40px;
    margin: 0px;
    padding: 0px;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    outline: none;
    -webkit-transition: -webkit-transform .8s ease-in-out;
    transition: transform .8s ease-in-out;
}

.close:hover {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
}

#loginErr {
	text-align: center;
	color: red;
}
