<div class="modal-dialog">
	<div class="modal-content">
		<div class="modal-header">
			<h1 class="modal-title">Sign In</h1>
			<button type="button" class="close" (click)="close()" >&times;</button>
		</div>
		<div class="modal-body">
			<form ngNativeValidate (submit)="loginUser($event)">
				<div class="input">
					<label>Username</label>
					<input name="Username" [(ngModel)]="loginModel.username" type="text" required autofocus>
				</div>
				<div class="input">
					<label>Password</label>
					<input name="Password" [(ngModel)]="loginModel.password" type="password" required>
				</div>
				<div class="input">
					<input type="submit" value="Login">
				</div>
			</form>
		</div>
		<div class="modal-footer">
			<p *ngIf="loginModel.loginError" id="loginErr">Incorrect login information. Please Try Again.</p>
		</div>
	</div>
</div>
