<label class="profile-img" for="profile-img-input" matRipple [matRippleDisabled]="!editable" [ngClass]="{ editable: editable }">
  <div
    *ngIf="usePlaceholder; else profileImgTmpl"
    [style.backgroundColor]="placeholder.backgroundColor"
    [style.color]="placeholder.color"
    [style.font-size.px]="fontSize"
    [style.height.px]="size"
    [style.line-height.px]="fontSize"
    [style.padding.px]="placeholderPadding"
    [style.width.px]="size"
    class="profile-img-placeholder">
    {{ placeholder.letter }}
  </div>

  <ng-template #profileImgTmpl>
    <img [src]="value" alt="Profile Image">
  </ng-template>

  <ng-container *ngIf="editable">
    <div class="edit-background"></div>
    <div class="edit-text">
      <mat-icon>edit</mat-icon>Edit
    </div>
  </ng-container>
</label>
<input id="profile-img-input" type='file' (change)="onSelectFile($event)" [disabled]="!editable">
