<label class="profile-img" for="profile-img-input" matRipple [matRippleDisabled]="!editable" [ngClass]="{ editable: editable }">
  <div #placeholderElement *ngIf="usePlaceholder; else profileImgTmpl"
    [style.backgroundColor]="placeholder.backgroundColor"
    [style.color]="placeholder.color"
    [style.fontSize.px]="placeholderElement.clientWidth * 0.67"
    class="profile-img-placeholder">
    <ng-container *ngIf="placeholder.letter; else defaultTmpl">
      {{ placeholder.letter }}
    </ng-container>
    <ng-template #defaultTmpl>
      <img [src]="default" alt="FoodWeb Icon">
    </ng-template>
  </div>

  <ng-template #profileImgTmpl>
    <img [src]="value" alt="Profile Image">
  </ng-template>

  <ng-container *ngIf="editable">
    <div class="edit-background"></div>
    <div class="edit-text">
      <mat-icon>edit</mat-icon>Edit
    </div>
  </ng-container>
</label>
<input id="profile-img-input" type='file' (change)="onSelectFile($event)" [disabled]="!editable">
