<mat-sidenav-container class="filter-list" [autosize]="true">
  <mat-sidenav-content>
    <div class="page container">

      <ng-content select="food-web-filter-list-title"></ng-content>

      <div class="filter-list-toolbar">
        <ng-content select="food-web-filter-list-toolbar-items"></ng-content>
        <button mat-button type="button" matTooltip="Search & Filter {{ listItemsLabel }}" class="filter-button" (click)="filterListService.opened = !filterListService.opened">
          <mat-icon>search</mat-icon>
          <mat-icon>filter_list</mat-icon>
        </button>
      </div>

      <ng-content select="food-web-filter-list-content"></ng-content>

      <div *ngIf="totalCount; else noneFound" class="food-web-paginator-container">
        <food-web-paginator [length]="totalCount"></food-web-paginator>
      </div>

      <ng-template #noneFound>
        <p class="none-found">
          Could not find any {{ listItemsLabel }}
        </p>
      </ng-template>

    </div>
  </mat-sidenav-content>

  <mat-sidenav [opened]="filterListService.opened" (openedChange)="this.filterListService.opened = $event" mode="over" position="end" [autoFocus]="false">
    <ng-content select="food-web-filter-list-filters"></ng-content>
  </mat-sidenav>
</mat-sidenav-container>
