@import "constants.scss";

.filter-list {
  .filter-list-toolbar {
    text-align: right;
    margin-top: -10px;
    margin-bottom: 10px;
    font-weight: bold;
  }

  .none-found {
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    color: $accent;

    @media only screen and (max-width: $mat-mobile) {
      font-size: 18px;
    }
  }

  .mat-drawer {
    width: 320px;
  }
}
