@import "constants.scss";

.filter-list {
  .filter-list-toolbar {
    text-align: right;
    margin-top: -10px;
    margin-bottom: 10px;
    font-weight: bold;

    .filter-button {
      min-width: 0;
      padding-left: 5px;
      padding-right: 5px;
    }
  }

  .none-found {
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    color: $accent;

    @media only screen and (max-width: $mat-mobile) {
      font-size: 18px;
    }
  }

  .mat-drawer {
    width: 320px;

    .close-button {
      position: absolute;
      top: 3px;
      right: 0;
  
      @media only screen and (max-width: $mat-mobile) {
        top: 2px;
      }
    }

    @media only screen and (max-width: $mat-mobile) {
      width: 100vw;
    }
  }
}
