<header>
  <mat-toolbar color="primary" class="main-header-section">
    <a [routerLink]="['/']" class="site-title">
      <img [src]="siteIconUri" alt="{{ siteTitle }} Icon" class="site-icon">
      <span>{{ siteTitle }}</span>
    </a>

    <button mat-button class="sidenav-toggle-button" (click)="leftNavService.toggle()" [attr.aria-expanded]="leftNavService.opened">
      <img src="./assets/IconImgSm.png" alt="Food Web Icon" class="site-icon">
      <mat-icon aria-label="Toggle Navigation Menu">menu</mat-icon>
    </button>

    <span class="header-navigation-container">
      <ng-content></ng-content>
    </span>

    <span class="header-actions-container">
      <ng-content select=".actions"></ng-content>
    </span>

    <div class="non-blocking-page-progress-indicator" *ngIf="pageProgressService.showNonBlockingProgress">
      <foodweb-progress-indicator
        [backdropColor]="pageProgressService.backdropColor"
        [blocking]="pageProgressService.blocking"
        [color]="pageProgressService.color"
        [diameter]="pageProgressService.diameter"
        [trigger]="pageProgressService.trigger">
      </foodweb-progress-indicator>
    </div>
  </mat-toolbar>
</header>
