<header class="header">
  <mat-toolbar color="primary" class="main-header-section">
    <a [routerLink]="['/']" class="site-icon-title">
      <img [src]="siteIconUri" alt="{{ siteTitle }} Icon" class="site-icon">
      <h1 class="site-title" [ngClass]="{ 'with-sub': !!pageTitleService.title }">
        <div class="main">{{ siteTitle }}</div>
        <div class="sub" *ngIf="pageTitleService.title">{{ pageTitleService.title }}</div>
      </h1>
    </a>

    <button mat-button class="sidenav-toggle-button" (click)="shellService.toggleLeftNav()" [attr.aria-expanded]="shellService.leftNavOpened">
      <img src="./assets/IconImgSm.png" alt="Food Web Icon" class="site-icon">
      <mat-icon aria-label="Toggle Navigation Menu">menu</mat-icon>
    </button>

    <span class="header-nav-container">
      <ng-content select=".header-nav"></ng-content>
    </span>

    <span class="header-actions-container">
      <ng-content select=".header-action"></ng-content>
    </span>

    <div class="non-blocking-page-progress-indicator" *ngIf="pageProgressService.showNonBlockingProgress">
      <foodweb-progress-indicator
        [backdropColor]="pageProgressService.backdropColor"
        [blocking]="pageProgressService.blocking"
        [color]="pageProgressService.color"
        [diameter]="pageProgressService.diameter"
        [trigger]="pageProgressService.trigger">
      </foodweb-progress-indicator>
    </div>
  </mat-toolbar>
</header>
