<StackLayout class="operation-hours-form">
  <GridLayout rows="auto" columns="*,auto" class="weekday-header">
    <Label
      row="0" col="0"
      [text]="weekday"
      class="block-label weekday-label"></Label>
    <Button
      row="0" col="1"
      text="+"
      class="add-time-range"
      (tap)="formArray.push()"></Button>
  </GridLayout>

  <StackLayout class="time-range-list">
    <GridLayout rows="auto" columns="*,30" *ngFor="let timeRangeForm of formArray.controls; let idx = index">
      <foodweb-app-time-range
        row="0" col="0"
        class="time-range"
        defaultStartTime="9:00 AM"
        defaultEndTime="5:00 PM"
        floatLabels="never"
        [allowClear]="allowClear"
        [editable]="editable"
        [formGroup]="timeRangeForm"
        [minutesGap]="minutesGap"
        [preventOverlayClick]="!allowOverlayClick"
        [timeWidth]="timeWidth"></foodweb-app-time-range>
      <StackLayout row="0" col="1">
        <Button
          [foodwebAppVisibile]="formArray.canRemoveAt(idx)"
          text="-"
          class="remove-time-range"
          (tap)="formArray.removeAt(idx)"></Button>
      </StackLayout>
    </GridLayout>
  </StackLayout>
</StackLayout>

<!-- <div class="operation-hours-form">
  <div class="weekday-header">
    <div class="block-label">{{ weekday }}</div>
    <button mat-icon-button (click)="addTimeRange()" class="add-time-range" matTooltip="Add Hours" type="button">
      <mat-icon>add</mat-icon>
    </button>
  </div>

  <ul class="time-range-list">
    <li *ngFor="let timeRangeForm of formArray.controls; let idx = index" class="time-range-item">
      <foodweb-time-range
        defaultStartTime="9:00 AM"
        defaultEndTime="5:00 PM"
        floatLabels="never"
        [allowClear]="allowClear"
        [editable]="editable"
        [formGroup]="timeRangeForm"
        [minutesGap]="minutesGap"
        [preventOverlayClick]="!allowOverlayClick"
        [timeWidth]="timeWidth"></foodweb-time-range>
      <button mat-icon-button *ngIf="canShowRemoveButton(idx)" (click)="removeTimeRange(idx)" class="remove-time-range" matTooltip="Remove Hours" type="button">
        <mat-icon>close</mat-icon>
      </button>
    </li>
  </ul>
</div> -->
