<div class="home-container has-side-content">
  <div class="main-content">
    <mat-card>
      <mat-card-title class="block-label">
        Who Are We
      </mat-card-title>
      <mat-card-content>
        <blockquote class="stats-quote">
          <div>Hundreds of pounds of food are thrown out by local food industries.</div>
          <div>There are more than 8,200 homeless people in Western New York.</div>
          <div>Over 50% of the youth in the city of Buffalo live below the poverty line.</div>
        </blockquote>
        FoodWeb is our attempt to bridge the gap. We want to take food from those who have too much of it and deliver it to those who need it the most.
        Through our website and community engagement, we hope to address food insecurity while also providing an avenue for citizens to give back to their community.
      </mat-card-content>
    </mat-card>

    <mat-card>
      <mat-card-title class="block-label">
        What Makes Us Unique
      </mat-card-title>
      <mat-card-content>
        Most organizations that target food insecurity do so through donations run by word-of-mouth, rely on long standing relationships, and plan deliveries months in advanced.
        Through the use of technology, we hope to make the process of donating food quick, easy and accessible to anyone.
      </mat-card-content>
    </mat-card>

    <mat-card>
      <mat-card-title class="block-label">
        How We Operate
      </mat-card-title>
      <mat-card-content>
        <ol class="op-list">
          <li>Donating organizations upload a description of their donation.</li>
          <li>Our system automatically finds a local charity as a recipient.</li>
          <li>The charity confirms that they wish to receive the donation.</li>
          <li>A driver is automatically scheduled for pickup & delivery.</li>
        </ol>
        <p>
          Donors are protected from liability through the <i>Bill Emerson Good Samaritan Food Donation Act</i> and can claim deductions based on the amount of food they donate.
          FoodWeb and our community-based drivers do our best to ensure prompt and safe transportation of food so that it remains safe to eat.
        </p>
      </mat-card-content>
    </mat-card>
  </div>

  <div class="side-content">
    <mat-card>
      <mat-card-title class="block-label">
        Help Us Out
      </mat-card-title>
      <mat-card-content>
        <p>
          If you have questions or wish to join our team,
          <strong><a href="mailto:inquiries@wnyfoodweb.com">Email Us</a></strong>.
        </p>
        <p>
          Or, <strong><a [routerLink]="['/fundraise']">Fund Us</a></strong> using our secure payment gateway.
        </p>
      </mat-card-content>
    </mat-card>

    <food-web-general-stats-card></food-web-general-stats-card>
  </div>
</div>
