@import "constants.scss";
@import "../../../../../../web/src/app/donation-shared/child-components/donation-form/donation-form.component.scss";

.block-label {
  margin: 12px 0 5px;
}

.send-notifications-toggle {
  vertical-align: -2px;
  margin-right: 15px;
}
