<div class="edit-event page">
  <div class="row">
    <div class="col-md-6">
      <food-web-featured-event-form #formComponent
        formTitle="Edit Event"
        [featuredEvent]="featuredEvent"
        (save)="saveEvent($event)"
        (delete)="deleteEvent(featuredEvent)"
      ></food-web-featured-event-form>
    </div>
    <div class="event-demo col-md-6">
      <food-web-admin-event-card [featuredEvent]="formComponent.featuredEventForm.value" [hideActions]="true"></food-web-admin-event-card>
    </div>
  </div>
</div>
