

<!-- <a [href]="mapAnchor" target="_blank" class="address-anchor" *ngIf="!!mapAnchor; else addressContent">
  <ng-container [ngTemplateOutlet]="addressContent"></ng-container>
</a>

<ng-template #addressContent>
  <div class="address d-inline-block">
    <div *ngIf="contactInfo.streetAddress">{{ contactInfo.streetAddress }}</div>
    <div>
      <div class="d-inline-block" *ngIf="contactInfo.city">{{ contactInfo.city }},&nbsp;</div>
      <div class="d-inline-block" *ngIf="contactInfo.stateProvince">{{ contactInfo.stateProvince }}&nbsp;</div>
      <div class="d-inline-block" *ngIf="contactInfo.postalCode">{{ contactInfo.postalCode }}</div>
    </div>
  </div>
<ng-template> -->
