<form [formGroup]="editForm" *ngIf="!donationNotFound; else donationNotFoundTmpl" class="donation-details-form">
  <div class="block-label page-title">
    {{ pageTitleService.title }}
  </div>

  <mat-card class="donation-edit">
    <mat-card-content>
      <food-web-donation-form [formGroup]="editForm" class="donation-form"></food-web-donation-form>
    </mat-card-content>
  </mat-card>

  <mat-card>
    <mat-card-title>Pickup Window</mat-card-title>
    <mat-card-content>
      <food-web-date-time-range [formGroup]="editForm.get('pickupWindow')" [editing]="true"></food-web-date-time-range>
    </mat-card-content>
  </mat-card>

  <mat-card>
    <mat-card-title>Contact Info</mat-card-title>
    <mat-card-content>
      <food-web-contact-info [formGroup]="editForm.get('donorContactOverride')" [editing]="true"></food-web-contact-info>
    </mat-card-content>
  </mat-card>

  <div class="align-right">
    <food-web-edit-save-button
      [useButtonText]="true"
      [editing]="true"
      [disableSave]="!editForm.valid"
      [control]="editForm"
      (edit)="cancelEdit()"
      (save)="saveDonation()"
    ></food-web-edit-save-button>
  </div>
</form>

<ng-template #donationNotFoundTmpl>
  <div class="page-title block-header">
    <strong>Donation Not Found</strong>
  </div>
</ng-template>
