<div class="password-container" [foodwebDisplayEditTransition]="editable" [form]="passwordFormTmpl" [display]="passwordDisplay">
  <div #passwordFormTmpl [formGroup]="passwordForm" class="password-form row" [attr.aria-hidden]="!editable">
    <div class="col-sm-12" *ngIf="passwordForm.formMode === 'Account'">
      <ion-item>
        <ion-label color="secondary">Current Password:</ion-label>
        <ion-input type="password" inputmode="password" formControlName="oldPassword"></ion-input>
      </ion-item>
    </div>
    <div class="col-sm-6">
      <ion-item [ngClass]="{ 'with-err-msg': passwordForm.passwordErrorMsg }">
        <ion-label color="secondary">{{ passwordLabel }}:</ion-label>
        <ion-input type="password" inputmode="password" formControlName="password" autocomplete="new-password"></ion-input>
        <div class="ion-form-error" *ngIf="passwordForm.passwordErrorMsg">
          {{ passwordForm.passwordErrorMsg }}
        </div>
      </ion-item>
    </div>
    <div class="col-sm-6">
      <ion-item [ngClass]="{ 'with-err-msg': passwordForm.hasError('passwordConfirmMatch') }">
        <ion-label color="secondary">Confirm Password:</ion-label>
        <ion-input type="password" inputmode="password" formControlName="confirmPassword" autocomplete="new-password"></ion-input>
        <div class="ion-form-error" *ngIf="passwordForm.hasError('passwordConfirmMatch')">
          {{ passwordForm.getError('passwordConfirmMatch') }}
        </div>
      </ion-item>
    </div>
  </div>

  <div #passwordDisplay class="password-display" [attr.aria-hidden]="editable">
    <div class="inline-label">Password:</div>
    <div class="d-inline-block">******</div>
  </div>
</div>
