<div class="password-container" [foodwebDisplayEditTransition]="editable" [form]="passwordForm" [display]="passwordDisplay">
  <div #passwordForm [formGroup]="formGroup" class="password-form row" [attr.aria-hidden]="!editable">
    <div class="col-sm-12" *ngIf="formGroup.formMode === 'Account'">
      <ion-item formField="oldPassword">
        <ion-label color="secondary">Current Password:</ion-label>
        <ion-input type="password" inputmode="password" formControlName="oldPassword"></ion-input>
      </ion-item>
    </div>
    <div class="col-sm-6">
      <ion-item formField="password" [errorMsg]="formGroup.passwordErrorMsg">
        <ion-label color="secondary">{{ passwordLabel }}:</ion-label>
        <ion-input type="password" inputmode="password" formControlName="password" autocomplete="new-password"></ion-input>
      </ion-item>
    </div>
    <div class="col-sm-6">
      <ion-item formField="confirmPassword" [error]="formGroup.getError('passwordConfirmMatch')">
        <ion-label color="secondary">Confirm Password:</ion-label>
        <ion-input type="password" inputmode="password" formControlName="confirmPassword" autocomplete="new-password"></ion-input>
      </ion-item>
    </div>
  </div>

  <div #passwordDisplay class="password-display" [attr.aria-hidden]="editable">
    <div class="inline-label">Passsword:</div>
    <div class="d-inline-block">******</div>
  </div>
</div>
