<div class="organization-container" [formGroup]="formGroup" [foodWebDisplayEditTransition]="editing" [form]="organizationForm" [display]="organizationDisplay">
  <div #organizationForm class="row organization-form" [attr.aria-hidden]="!editing">
    <div class="col-sm-12">
      <mat-form-field class="fill">
        <input matInput placeholder="Organization Name" formControlName="name" type="text" autocomplete="off">
      </mat-form-field>
    </div>
    <div class="col-sm-12">
      <mat-form-field class="fill">
        <textarea matInput placeholder="Tell us about your organization" formControlName="description"
          matTextareaAutosize matAutosizeMinRows="1" class="organization-info-ctrl"></textarea>
      </mat-form-field>

      <mat-form-field class="fill">
        <textarea matInput [placeholder]="deliveryInstrLabel" formControlName="deliveryInstructions"
          matTextareaAutosize matAutosizeMinRows="1" class="organization-info-ctrl"></textarea>
      </mat-form-field>

      <ng-container *ngIf="accountType === 'Receiver'">
        <foodweb-receiver [formGroup]="formGroup.get('receiver')" [editing]="editing"></foodweb-receiver>
      </ng-container>
    </div>
  </div>

  <div #organizationDisplay class="organization-display row">
    <div class="col-sm-12">
      <div class="inline-label">Organization Name:</div>
      <div class="d-inline-block">{{ formGroup.get('name').value }}</div>
    </div>
    <div *ngIf="formGroup.get('description').value" class="col-sm-12">
      <div class="inline-label">Organization Info:</div>
      <div class="d-inline-block">{{ formGroup.get('description').value }}</div>
    </div>
    <div *ngIf="formGroup.get('deliveryInstructions').value" class="col-sm-12">
      <div *ngIf="accountType === 'Donor'; else receiverBlock" class="inline-label">Instructions for Pickup:</div>
      <ng-template #receiverBlock>
        <div class="inline-label">Instructions for Drop-Off:</div>
      </ng-template>
      <div class="d-inline-block">{{ formGroup.get('deliveryInstructions').value }}</div>
    </div>
    <div *ngIf="accountType === 'Receiver'" class="col-sm-12">
      <foodweb-receiver [formGroup]="formGroup.get('receiver')"></foodweb-receiver>
    </div>
  </div>
</div>
