<div class="filtered-list-toolbar">
  <table>
    <tr>
      <td>
        <ng-content select="foodweb-search-bar"></ng-content>
      </td>
      <td>
        <ng-content select="foodweb-filtered-list-toolbar"></ng-content>
      </td>
      <td [hidden]="excludeFilterButton"> <!-- Always include in DOM for :last-child CSS rule. -->
        <button mat-button
          type="button"
          class="filter-button"
          matTooltip="Filter & Sort {{ filteredListService.listItemsLabel }}"
          (click)="filteredListService.opened = !filteredListService.opened">
          <mat-icon>filter_list</mat-icon>
        </button>
      </td>
    </tr>
  </table>
</div>
