@import "constants.scss";

.filtered-list-toolbar {
  > table {
    text-align: right;
    margin-top: -10px;
    margin-bottom: 10px;
    width: 100%;
    font-weight: bold;

    @media only screen and (max-width: $sm) {
      margin-bottom: 0;
    }

    > tr > td {
      vertical-align: top;

      &:empty {
        display: none;
      }

      &:last-child {
        width: 36px;

        .filter-button {
          vertical-align: top;
          margin-top: -2px;
          min-width: 0;
          padding-left: 5px;
          padding-right: 5px;

          .mat-icon {
            font-size: 25px;
            color: $accent-darker;
          }

          @media only screen and (max-width: $sm) {
            margin-top: -5px;
          }

          @media only screen and (max-width: $mat-mobile) {
            margin-top: -6px;
          }
        }
      }

      @media only screen and (max-width: $md) {
        padding-top: 0;
      }
    }
  }
}
