<button mat-icon-button type="button" class="settings-button" matTooltip="Settings" [matMenuTriggerFor]="settingsMenu" *ngIf="sessionService.loggedIn">
  <foodweb-profile-img [value]="sessionService.accountProfileImg" [size]="{ lg: 28, md: 23 }"></foodweb-profile-img>
</button>

<mat-menu #settingsMenu="matMenu" class="header-submenu">
  <mat-nav-list>
    <a mat-list-item [routerLink]="['/account/my']" class="account">
      <mat-icon>supervisor_account</mat-icon> Account
    </a>
    <a mat-list-item [routerLink]="['/']" (click)="authService.logout()" class="logout">
      <mat-icon>power_settings_new</mat-icon> Logout
    </a>
  </mat-nav-list>
</mat-menu>
