<div class="container">
    <h1>Donor Form</h1>
    <hr>
    <div *ngIf="!submitted" class="row">
        <div class="col-md-5">
            <label>Upload Image</label>
            <img-cropper [image]="this" [settings]="cropperSettings"></img-cropper>
        </div>
        <div class="col-md-7">
            <form [formGroup]="foodForm" (ngSubmit)="onSubmit(foodForm)">
                <div class="form-group">
                    <label for="foodType">Food Type</label>
                    <select class="form-control" formControlName="foodType">
                        <option *ngFor="let foodT of foodTypeOptions" [value]="foodT">{{foodT}}</option>
                    </select>
                    <div class="alert alert-danger" [hidden]="!shouldFireRequireValidation(foodForm.controls.foodType)">Food Type is required</div>
                </div>
                <div class="form-group">
                    <label for="perishable">Perishable</label>
                    <input type="checkbox" formControlName="perishable">
                </div>
                <div class="form-group">
                    <label for="foodDescription">Description</label>
                    <textarea class="form-control" formControlName="foodDescription"></textarea>
                    <div class="alert alert-danger" [hidden]="!shouldFireRequireValidation(foodForm.controls.foodDescription)">Description is required</div>
                </div>
                <div class="form-group">
                    <label for="expirationDate">Expiration Date</label>
                    <div class="input-group">
                        <input class="form-control" placeholder="yyyy-mm-dd" formControlName="expirationDate" ngbDatepicker #d="ngbDatepicker">
                        <div class="input-group-addon" (click)="d.toggle()" >
                            <img src="img/calendar-icon.svg" style="width: 1.2rem; height: 1rem; cursor: pointer;"/>
                        </div>
                    </div>
                    <div class="alert alert-danger" [hidden]="!shouldFireRequireValidation(foodForm.controls.expirationDate)">Expiration Date is required</div>
                </div>

                <button type="submit" class="btn btn-default">Submit</button>
            </form>
        </div>
    </div>

    <div *ngIf="submitted">
        <h2>Thank-you for submitting the following:</h2>
        <div class="row">
            <div class="col-md-2">Food Type</div>
            <div class="col-md-10 pull-left">{{ foodForm.controls.foodType.value }}</div>
        </div>
        <div class="row">
            <div class="col-md-2">Description</div>
            <div class="col-md-10 pull-left">{{ foodForm.controls.foodDescription.value }}</div>
        </div>
        <div class="row">
            <div class="col-md-2">Perishabe</div>
            <div class="col-md-10 pull-left">{{ (foodForm.controls.perishable.value == true) ? 'true' : 'false' }}</div>
        </div>
        <div class="row">
            <div class="col-md-2">Expiration Date</div>
            <div class="col-md-10 pull-left">{{ foodForm.controls.expirationDate.value | dateFormatter }}</div>
        </div>
        <br />
        <button class="btn btn-default" (click)="submitted=false">Donate Again</button>
    </div>
</div>