<div class="container">
    <div *ngIf="!submitted">
        <h1>Food Form</h1>
        <form [formGroup]="foodForm" (ngSubmit)="onSubmit(foodForm)">
            <div class="form-group">
                <label for="name">Name</label>
                <input type="text" class="form-control" formControlName="name" />
                <div class="alert alert-danger" [hidden]="foodForm.controls.name.valid">Name is required</div>
            </div>
            <div class="form-group">
                <label for="quantity">Quantity</label>
                <input type="text" class="form-control" formControlName="quantity" />
                <div class="alert alert-danger" [hidden]="foodForm.controls.quantity.valid">Quantity is required</div>
            </div>
            <div class="form-group">
                <label for="location">Location</label>
                <input type="location" class="form-control" formControlName="location" />
                <div class="alert alert-danger" [hidden]="foodForm.controls.location.valid">Location is required</div>
            </div>
            <div class="form-group">
                <label for="pornp">Perishability</label>
                <select class="form-control" formControlName="pornp">
                  <option *ngFor="let p of pornp" [value]="p">{{p}}</option>
                </select>
                <div class="alert alert-danger" [hidden]="foodForm.controls.pornp.valid">Perishability is required</div>
            </div>
            <div class="form-group">
                <label for="rornr">Refrigeration</label>
                <select class="form-control" formControlName="rornr">
                  <option *ngFor="let p of rornr" [value]="p">{{p}}</option>
                </select>
                <div class="alert alert-danger" [hidden]="foodForm.controls.rornr.valid">Refrigeration is required</div>
            </div>

            <button type="submit" class="btn btn-default" [disabled]="!foodForm.valid">Submit</button>
        </form>
    </div>

    <div *ngIf="submitted">
        <h2>You submitted the following:</h2>
        <div class="row">
            <div class="col-md-2">Name</div>
            <div class="col-md-10 pull-left">{{ submittedModel.name }}</div>
        </div>
        <div class="row">
            <div class="col-md-2">Quantity</div>
            <div class="col-md-10 pull-left">{{ submittedModel.quantity }}</div>
        </div>
        <div class="row">
            <div class="col-md-2">Location</div>
            <div class="col-md-10 pull-left">{{ submittedModel.location }}</div>
        </div>
        <div class="row">
            <div class="col-md-2">Perishability</div>
            <div class="col-md-10 pull-left">{{ submittedModel.pornp }}</div>
        </div>
        <div class="row">
            <div class="col-md-2">Refrigeration</div>
            <div class="col-md-10 pull-left">{{ submittedModel.rornr }}</div>
        </div>
        <br />
        <button class="btn btn-default" (click)="submitted=false">Edit</button>
    </div>
</div>