@import './constants.scss';
@import '~@angular/material/theming';

@include mat-core();
@include angular-material-theme($light-theme);

.mat-snack-bar-container {
  &.mat-alert-info {
    background-color: #d9edf7;
    color: #31708f;
  }
  
  &.mat-alert-success {
    background-color: #dff0d8;
    color: #3c763d;
  }
  
  &.mat-alert-warn {
    background-color: #fcf8e3;
    color: #8a6d3b;
  }
  
  &.mat-alert-danger {
    background-color: #f2dede;
    color: #a94442;
  }
}

.cdk-overlay-pane {

  @media only screen and (max-width: 360px) {
    max-width: 95vw !important;
  }

  .mat-dialog-container {
    .mat-alert-info {
      background-color: $primary;
      color: $accent-darkest;
    }
    
    .mat-alert-success {
      background-color: $primary-lighter;
      color: black;
    }
    
    .mat-alert-warn {
      background-color: #dfa645;
      color: white;
    }
    
    .mat-alert-danger {
      background-color: $warn;
      color: white;
    }
  
    .mat-button {
      &.mat-alert-info {
        background-color: transparent;
        color: $primary-darker;
      }
      
      &.mat-alert-success {
        background-color: transparent;
        color: $primary;
      }
      
      &.mat-alert-warn {
        background-color: transparent;
        color: #dfa645;
      }
      
      &.mat-alert-danger {
        background-color: transparent;
        color: $warn;
      }
    }
  }
}

.no-pad.mat-button {
  padding: 0px;
}

.no-pad {
  &.mat-button {
    padding: 0px;
  }

  &.mat-form-field {
    .mat-form-field-wrapper {
      padding-bottom: 0px;
    }

    .mat-form-field-underline {
      bottom: 0px;
    }
  }
}

button {
  outline: none !important;
}

.mat-card {
  margin-bottom: 20px;

  @media only screen and (max-width: $xs) {
    margin-bottom: 10px;
  }
}

.mat-drawer-container {
  height: calc(100% - #{$header-height});

  @media only screen and (max-width: $xs) {
    height: calc(100% - #{$header-height-xs});
  }

  .mat-drawer {
    width: $left-nav-width;
    min-height: 100%;
    box-shadow: 1px 0px 5px 1px rgba(0, 0, 0, 0.5);
  }

  .mat-drawer-content {
    background-color: #EFEFEF;
  }
}

.mat-dialog-container {
  position: relative;
  border-radius: inherit;

  form {
    border-radius: inherit;
  }

  .mat-toolbar:first-child {
    margin: -24px -24px 12px -24px;
    width: calc(100% + 48px);
    max-height: 60px;
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
  }
}

.mat-dialog-container {
  .close-button {
    position: absolute;
    top: 1px;
    right: 1px;
    width: 26px;
    height: 26px;
    line-height: 24px;
    font-size: 24px;
    outline: none;
  }
}

.mat-snack-bar-container {
  .close-button {
    position: absolute;
    top: 1px;
    right: 1px;
    width: 18px;
    height: 18px;
    line-height: 18px;
    font-size: 18px;
    outline: none;
  }
}

.timepicker {

  @media only screen and (max-height: 700px) {
    position: fixed !important;
    top: $header-height;

    .timepicker__header {
      padding: 10px 15px !important;
    }

    .timepicker__body {
      padding: 10px 5px !important;
    }

    .timepicker__actions {
      padding: 10px 15px !important;
    }
  }

  .timepicker__header, .clock-face__clock-hand, .clock-face__number > .active {
    background-color: $primary !important;
  }

  .timepicker-button {
    color: $primary !important;
  }
}
