@import "variables.scss";

.quill-editor-page {
  position: relative;
  width: 100%;

  quill-editor {
    position: relative;
    display: block;
    width: 100%;

    .ql-toolbar.ql-snow {
      position: sticky;
      top: 0;
      z-index: 20;
      background-color: #f4f4f4;
      width: 100%;
      border-top: none;
      border-right: none;
      border-left: none;
      padding: 15px 15px 10px;
      text-align: center;

      > * {
        text-align: left;
      }
    }

    .ql-container {
      position: relative;
      background-color: white;
      max-width: $quill-doc-max-width;
      margin: 20px 0;
      margin-left: auto;
      margin-right: auto;
      padding: 0;

      .ql-editor {
        min-height: calc(100vh - #{$header-height} - 93px);
        box-sizing: border-box;
        padding: $quill-doc-padding;

        p {
          margin-top: 0;
          margin-bottom: 1rem;
        }

        &.ql-blank::before {
          padding-left: $quill-doc-padding - 15px;

          @media only screen and (max-width: $sm) {
            padding-left: $quill-doc-horz-padding-mobile - 15px;
          }
        }

        @media only screen and (max-width: $quill-tooblar-single-line-min-width - 1px) {
          min-height: calc(100vh - #{$header-height} - 118px);
        }

        @media only screen and (max-width: $quill-doc-max-width) {
          min-height: calc(100vh - #{$header-height});
        }

        @media only screen and (max-width: $mat-mobile) {
          min-height: calc(100vh - #{$header-height-mobile} );
          padding-left: $quill-doc-horz-padding-mobile;
          padding-right: $quill-doc-horz-padding-mobile;
        }
      }

      @media only screen and (max-width: $quill-doc-max-width) {
        margin: 0;
      }
    }

    .ql-toolbar.ql-snow + .ql-container.ql-snow {
      border: 1px solid #ccc;

      @media only screen and (max-width: $quill-doc-max-width) {
        border: none;
      }
    }
  }
}
