<form [formGroup]="filtersForm" class="donation-filters" (ngSubmit)="filter.emit(filtersForm.value)">
  <food-web-filter-list-filters-title [primary]="true">
    Donation Filters
  </food-web-filter-list-filters-title>

  <button mat-icon-button type="button" class="close-button" (click)="filterListService.opened = false">
    <mat-icon aria-label="Close">close</mat-icon>
  </button>

  <mat-form-field class="fill">
    <mat-select placeholder="Donation Status" formControlName="donationStatus">
      <mat-option *ngFor="let status of constantsService.DONATION_STATUSES" [value]="status">{{ status }}</mat-option>
      <mat-option [value]="null">--</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field class="fill">
    <input matInput placeholder="Donor Organization" formControlName="donorOrganizationName">
  </mat-form-field>

  <div class="row">
    <div class="col-6">
      <mat-form-field class="fill">
        <input matInput placeholder="Donor Last Name" formControlName="donorLastName">
      </mat-form-field>
    </div>

    <div class="col-6">
      <mat-form-field class="fill">
        <input matInput placeholder="Donor First Name" formControlName="donorFirstName">
      </mat-form-field>
    </div>
  </div>

  <div class="toggles-container">
    <mat-slide-toggle [checked]="filtersForm.expired" (change)="filtersForm.expired = $event.checked" formControlName="expired">Include Expired Donations</mat-slide-toggle>
  </div>

  <food-web-filter-list-filters-title>
    Delivery Window Filters
  </food-web-filter-list-filters-title>

  <div class="row">
    <div class="col-12">
      <food-web-date-time primaryLabel="Overlap Start" [editing]="true" [inlineFields]="true" floatLabels="never" formControlName="deliveryWindowOverlapStart" [minDate]="null"></food-web-date-time>
    </div>
    <div class="col-12">
      <food-web-date-time primaryLabel="Overlap End" [editing]="true" [inlineFields]="true" floatLabels="never" formControlName="deliveryWindowOverlapEnd" [minDate]="null"></food-web-date-time>
    </div>
  </div>

  <food-web-filter-list-filters-title>Sort Options</food-web-filter-list-filters-title>

  <div class="row">
    <div class="col-8">
      <mat-form-field class="fill">
        <mat-select placeholder="Sort By" formControlName="sortBy">
          <mat-option *ngFor="let sortByOpt of sortByOpts" [value]="sortByOpt.value">
            {{ sortByOpt.name }}
          </mat-option>
          <mat-option [value]="null">--</mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div class="col-4">
      <mat-form-field class="fill">
        <mat-select placeholder="Order" formControlName="sortOrder">
          <mat-option value="ASC">ASC</mat-option>
          <mat-option value="DESC">DESC</mat-option>
          <mat-option [value]="null">--</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>

  <food-web-filter-list-filters-buttons (clear)="filtersForm.reset()"></food-web-filter-list-filters-buttons>
</form>
