@import "constants.scss";

.donation-filters {

  .close-button {
    position: absolute;
    top: 3px;
    right: 0;

    @media only screen and (max-width: $mat-mobile) {
      top: 2px;
    }
  }

  .toggles-container {
    padding-bottom: 8px;

    .mat-slide-toggle {
      margin-bottom: 5px;
    }
  }
}
