<form [formGroup]="filtersForm" class="donation-filters" (ngSubmit)="filter.emit(filtersForm.value)">
  <foodweb-page-list-filters-title [primary]="true">
    Donation Filters
  </foodweb-page-list-filters-title>

  <mat-form-field class="fill">
    <mat-select placeholder="Donation Status" formControlName="donationStatus">
      <mat-option *ngFor="let status of constantsService.DONATION_STATUSES" [value]="status">{{ status }}</mat-option>
      <mat-option [value]="null">--</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field class="fill">
    <input matInput placeholder="Donor Organization" formControlName="donorOrganizationName">
  </mat-form-field>

  <div class="row">
    <div class="col-6">
      <mat-form-field class="fill">
        <input matInput placeholder="Donor Last Name" formControlName="donorLastName">
      </mat-form-field>
    </div>

    <div class="col-6">
      <mat-form-field class="fill">
        <input matInput placeholder="Donor First Name" formControlName="donorFirstName">
      </mat-form-field>
    </div>
  </div>

  <div class="toggles-container">
    <mat-slide-toggle
      [checked]="filtersForm.expired"
      (change)="filtersForm.expired = $event.checked"
      formControlName="expired">
      Include Expired Donations
    </mat-slide-toggle>
  </div>

  <foodweb-page-list-filters-title>
    Delivery Window Filters
  </foodweb-page-list-filters-title>

  <div class="row">
    <div class="col-12">
      <foodweb-date-time
        [allowClear]="true"
        [allowUndefTime]="true"
        [editable]="true"
        [inlineFields]="true"
        [minDate]="null"
        floatLabels="never"
        formControlName="deliveryWindowOverlapStart"
        primaryLabel="Overlap Start"
      ></foodweb-date-time>
    </div>
    <div class="col-12">
      <foodweb-date-time
        [allowClear]="true"
        [allowUndefTime]="true"
        [editable]="true"
        [inlineFields]="true"
        [minDate]="null"
        floatLabels="never"
        formControlName="deliveryWindowOverlapEnd"
        primaryLabel="Overlap End"
      ></foodweb-date-time>
    </div>
  </div>

  <foodweb-page-list-sort [formGroup]="filtersForm" [sortByOpts]="filtersForm.sortByOpts"></foodweb-page-list-sort>

  <foodweb-page-list-filters-footer (clear)="clear.emit()"></foodweb-page-list-filters-footer>
</form>
