<foodweb-hybrid-header [defaultBackHref]="defaultBackHref">
  <ion-title>{{ pageTitle }}</ion-title>
  <ion-buttons slot="end">
    <ion-button *ngIf="canAccessAddAction" [routerLink]="['/', 'donation', addActionRouteSegment]" fill="clear">
      <ion-icon name="add-circle"></ion-icon>
    </ion-button>
    <ion-button fill="clear" (click)="filterMenu.toggle()">
      <ion-icon name="filter-circle"></ion-icon>
    </ion-button>
  </ion-buttons>
</foodweb-hybrid-header>

<ion-content id="page">

  <foodweb-hybrid-page-list
    class="donations"
    [disabled]="listQueryService.loading"
    [itemCount]="listQueryService.items.length"
    (loadMore)="listQueryService.loadMore({ complete: $event.target.complete })"
    (refresh)="listQueryService.refresh({ complete: $event.target.complete, showLoader: false })">

    <div *ngIf="showChooseDonation" class="standalone-statement">
      Choose a donation to claim.
    </div>

    <form [formGroup]="filtersForm" (ngSubmit)="listQueryService.refresh()">
      <ion-searchbar placeholder="Search Donations..." formControlName="fullTextQuery"></ion-searchbar>
    </form>

    <div *ngIf="listQueryService.noneFound" class="not-found">
      Could not find any donations.
    </div>

    <foodweb-hybrid-donation-teaser
      *ngFor="let donation of listQueryService.items"
      [donation]="donation">
    </foodweb-hybrid-donation-teaser>

  </foodweb-hybrid-page-list>

</ion-content>

<ion-menu #filterMenu contentId="page" side="end">
  <ion-header>
    <ion-toolbar color="tertiary">
      <ion-title class="fill">Donation Filters</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>

    <form [formGroup]="filtersForm" (ngSubmit)="listQueryService.refresh()" class="item-margins">
      <foodweb-hybrid-page-list-filters-section>
        <ion-item>
          <ion-label position="floating" color="secondary">Donation Status</ion-label>
          <ion-select formControlName="donationStatus">
            <ion-select-option *ngFor="let status of constantsService.DONATION_STATUSES" [value]="status">{{ status }}</ion-select-option>
            <ion-select-option [value]="null">--</ion-select-option>
          </ion-select>
        </ion-item>
      </foodweb-hybrid-page-list-filters-section>

      <foodweb-hybrid-page-list-filters-section>
        <ion-item>
          <ion-label position="floating" color="secondary">Organization Name</ion-label>
          <ion-input formControlName="donorOrganizationName"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating" color="secondary">Donor Last Name</ion-label>
          <ion-input formControlName="donorLastName"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating" color="secondary">Donor First Name</ion-label>
          <ion-input formControlName="donorFirstName"></ion-input>
        </ion-item>
      </foodweb-hybrid-page-list-filters-section>

      <foodweb-hybrid-page-list-filters-section>
        <ion-item>
          <ion-label color="secondary">Include Expired</ion-label>
          <ion-toggle formControlName="expired"></ion-toggle>
        </ion-item>
        <foodweb-hybrid-date-time
          [allowClear]="true"
          [allowUndefTime]="true"
          [editable]="true"
          [minDate]="null"
          formControlName="deliveryWindowOverlapStart"
          label="Delivery Window Start"
          labelPosition="floating">
        </foodweb-hybrid-date-time>
        <foodweb-hybrid-date-time
          [allowClear]="true"
          [allowUndefTime]="true"
          [editable]="true"
          [minDate]="null"
          formControlName="deliveryWindowOverlapEnd"
          label="Delivery Window End"
          labelPosition="floating">
        </foodweb-hybrid-date-time>
      </foodweb-hybrid-page-list-filters-section>

      <foodweb-hybrid-page-list-sort [formGroup]="filtersForm" [sortOptions]="donationSortOptionsService.options"></foodweb-hybrid-page-list-sort>

      <foodweb-hybrid-page-list-filters-footer (clear)="filtersForm.resetFacetFilters()" (submit)="filterMenu.close()"></foodweb-hybrid-page-list-filters-footer>
    </form>

  </ion-content>
</ion-menu>
