<foodweb-hybrid-header defaultBackHref="..">
  <ion-title>{{ pageTitle }}</ion-title>
  <ion-buttons *ngIf="canAccessAddAction" slot="end">
    <ion-button [routerLink]="['/', 'donation', addActionRouteSegment]" fill="clear">
      <ion-icon name="add-circle"></ion-icon>
    </ion-button>
  </ion-buttons>
</foodweb-hybrid-header>

<ion-content>

  <foodweb-hybrid-filtered-list
    class="donations"
    [disabled]="listQueryService.loading"
    [itemCount]="listQueryService.items.length"
    (loadMore)="handleLoadMore($event)"
    (refresh)="handleRefresh($event)">

    <!-- <foodweb-filtered-list-toolbar listItemsLabel="Donations">
      <foodweb-search-bar
        placeholder="Search Donations..."
        [formControl]="filtersForm.get('fullTextQuery')"
        (search)="updateFilterQueryParams(filtersForm.value)"
      ></foodweb-search-bar>
    </foodweb-filtered-list-toolbar> -->

    <div *ngIf="showChooseDonation" class="standalone-statement">
      Choose a donation to claim.
    </div>

    <div *ngIf="listQueryService.noneFound" class="standalone-statement">
      Could not find any donations.
    </div>

    <foodweb-hybrid-donation-teaser
      *ngFor="let donation of listQueryService.items"
      [donation]="donation">
    </foodweb-hybrid-donation-teaser>

    <!-- <foodweb-list-filters>
      <foodweb-donation-filters
        [formGroup]="filtersForm"
        (clear)="filtersForm.resetFacetFilters()"
        (filter)="updateFilterQueryParams($event)"
      ></foodweb-donation-filters>
    </foodweb-list-filters> -->

  </foodweb-hybrid-filtered-list>

</ion-content>
