Donated By:
<b *ngIf="foodListing.donorOrganizationName != null">
    {{foodListing.donorOrganizationName}}
</b>
<b *ngIf="foodListing.donorOrganizationName == null">
    {{foodListing.donorFirstName}} {{foodListing.donorLastName}}
</b>
<br>
Present food types:
<ng-container *ngFor="let foodType of foodListing.foodTypes; let i = index;">
    <b>
        {{foodType}}<ng-container *ngIf="i !== (foodListing.foodTypes.length - 1)">,</ng-container>
    </b>
</ng-container>
<br>
Available Until: <b>{{foodListing.availableUntilDate}}</b>
