@import "constants.scss";

.operation-hours-form {
  position: relative;

  .weekday-field {
    display: inline-block;
    width: 125px;
    padding-right: 20px;
    margin-bottom: 8px;
  }

  .time-fields-container {
    display: inline-block;

    @media only screen and (max-width: 410px) {
      display: block;
    }

    .time-field {
      display: inline-block;
      width: 110px;
      padding-right: 20px;
    }
  }

  .operation-hours-error {
    font-size: 12px;
    margin-top: -18px;
  }
}
