<div [formGroup]="formGroup" class="operation-hours-form">
  <div class="weekday-field">
    <mat-form-field class="fill no-pad" floatLabel="never">
      <mat-select placeholder="Weekday" class="accent" formControlName="weekday">
        <mat-option *ngFor="let weekday of constantsService.WEEKDAYS; let i = index" [value]="weekday">{{ weekday }}</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div class="time-fields-container">
    <div class="time-field">
      <mat-form-field class="fill" floatLabel="never">
        <input matInput placeholder="Start Time" [ngxTimepicker]="startTimePicker" autocomplete="off" readonly="true"
          formControlName="startTime" [errorStateMatcher]="formGroup.timeRangeErrStateMatcher">
        <button mat-icon-button type="button" matSuffix aria-label="Open Time Dialog" (click)="startTimePicker.open()">
          <mat-icon>alarm</mat-icon>
        </button>
        <ngx-material-timepicker #startTimePicker
          [minutesGap]="5"
          [defaultTime]="getDefaultStartTime(formGroup)"
          [preventOverlayClick]="true"
        ></ngx-material-timepicker>
      </mat-form-field>
    </div>
    <div class="time-field">
      <mat-form-field class="fill" floatLabel="never">
        <input matInput placeholder="End Time" [ngxTimepicker]="endTimePicker" autocomplete="off" readonly="true"
          formControlName="endTime" [errorStateMatcher]="formGroup.timeRangeErrStateMatcher">
        <button mat-icon-button type="button" matSuffix aria-label="Open Time Dialog" (click)="endTimePicker.open()">
          <mat-icon>alarm</mat-icon>
        </button>
        <ngx-material-timepicker #endTimePicker
          [minutesGap]="5"
          [defaultTime]="getDefaultEndTime(formGroup)"
          [preventOverlayClick]="true"
        ></ngx-material-timepicker>
      </mat-form-field>
    </div>
  </div>
  <mat-error *ngIf="formGroup.hasError('timeRangeOrder')" class="operation-hours-error">
    {{ formGroup.getError('timeRangeOrder') }}
  </mat-error>
  <mat-error *ngIf="formGroup.hasError('allOrNothing')" class="operation-hours-error">
    {{ formGroup.getError('allOrNothing') }}
  </mat-error>
</div>
