@import "../../../../../../web/src/app/account-shared/child-components/account-creation-form/account-creation-form.component.scss";

hr {
  margin-top: 0;
}

.operation-hours-section {
  ion-card-header {
    padding-bottom: 5px;
  }

  .foodweb-operation-hours-info {
    display: block;
    padding-left: 8px;
  }
}

.form-footer-buttons {
  ion-button {
    margin-left : 15px;
    margin-right: 15px;
  }
}
