<ion-header>
  <foodweb-hybrid-header [hideBackHref]="true">
    <ion-label>Notifications</ion-label>
  </foodweb-hybrid-header>
</ion-header>

<ion-content foodwebHybridListPage [page]="page" (loadMore)="handleLoadMore($event)" (refresh)="handleRefresh($event)" class="notifications">
  <ion-virtual-scroll #virtualScroll [items]="notifications" approxItemHeight="70px">
    <foodweb-hybrid-notification
      *virtualItem="let item"
      [notification]="item"
      (flag)="notificationService.toggleNotificationFlaggedState($event)"
      (select)="notificationService.handleNotificationSelect($event)">
    </foodweb-hybrid-notification>
  </ion-virtual-scroll>
</ion-content>
