<div class="password-reset page">
  <form *ngIf="!passwordResetComplete" [formGroup]="passwordResetForm" (submit)="submit()">
    <mat-card>
      <mat-card-title>
        Enter New Password
      </mat-card-title>
      <mat-card-content>
        <foodweb-password [formGroup]="passwordResetForm" [editing]="true"></foodweb-password>
      </mat-card-content>
      <mat-card-actions class="align-right">
        <button mat-raised-button color="primary" type="submit" [disabled]="passwordResetForm.invalid">Submit</button>
      </mat-card-actions>
    </mat-card>
  </form>

  <mat-card *ngIf="passwordResetComplete">
    <mat-card-title>
      Password Reset Complete
    </mat-card-title>
    <mat-card-content>
      <p>The password reset was successful.</p>
      <p>
        You are now logged in. Follow this <a [routerLink]="['/home']">link</a> to return home.
      </p>
    </mat-card-content>
  </mat-card>
</div>
